[2019-03-06 13:33] bmahloch commented on #420
We started seeing this same error on 2/28/2019. There were no changes made to the environment. It's been happening 3 - 5 times per day and forces us to restart our AppService to reconnect.

We are currently working on a patch that will isolate all the signalr related startup into its own function with the hope that we can "self-heal" these drops without interrupting user sessions.

Is there any qu

[2019-03-07 04:21] vicancy commented on #420
We’ve identified an issue in our load-balancer that it reloads frequently which leads to persistent connections drop. We’ve rolled out the hotfixes to all the impacted instances.

[2019-03-07 14:38] jsheetzati commented on #395
This seems resolved now.

https://github.com/Azure/azure-signalr/issues/420#issuecomment-470379249

[2019-03-07 14:38] #395 closed

[2019-03-07 15:14] fabiano commented on #420
@vicancy We are not seeing errors in our logs anymore. Thank you again for your help.

[2019-03-08 01:11] BinarySo1o opened #428 "Clients in one geographic region unable to maintain connections until service restarted via portal"
We experienced an issue starting ~17:20 UTC where javascript clients in one geographic region experienced intermittent timeouts when negotiating and starting connections. When these clients were able to connect, they would disconnected almost immediately with a message of "Internal server error."

System errors were observed in the metrics for the service leading us to restart it at 19:26, resolvi

[2019-03-08 14:14] #381 closed

[2019-03-11 02:51] vicancy commented on #420
I am closing the issue. Please reopen it when there are still issues.

[2019-03-11 02:51] #420 closed

[2019-03-11 03:44] vicancy commented on #428
"Internal server error" can be caused by Azure SignalR Service or app server side error. For both detailed errors are not exposed to client side. Could you email me your instance name and subscription id so that I can check if there were anything abnormal from service side?

[2019-03-12 06:21] BinarySo1o commented on #428
Requested information sent 👍

[2019-03-12 10:56] marcin-dardzinski opened #429 "Username and role claims name is changed"
I'm having trouble making authenticated requests to Azure SignalR. I have my role and name claim names set as in https://github.com/Azure/azure-signalr/issues/223.
[code]

The access token issued for my client app looks like this:
[code]

The token contains `sub` and `role` claims. However, in the hub, my claims principal looks like this.

![debug](https://user-images.githubusercontent.com/2558433

[2019-03-13 10:39] Hypnobrew opened #430 "Question: Do you have to use ARR Affinity for wss to work reliable?"
We are experience 404 occasionally when the client is trying to connect to the SignalR Service via websockets. Negotiating works fine and downgrading to long polling seems fine.

We are not using ARR Affinity because we have a completely stateless application.

Do we have to use ARR Affinity for stickyness somehow for websockets to work reliable?

[2019-03-13 20:43] jasonkirby commented on #420
@vicancy We're seeing the same Microsoft.Azure.SignalR.Common.ServiceConnectionNotActiveException errors from the host app communication to the Azure SignalR service periodically (and most of the other error messages noted above are recorded by the clients connected to the host).  We just had 2 events in the last hour that dumped all the connections off.  Did the hotfixes that were made apply to e

[2019-03-14 02:23] vicancy commented on #430
Could you check https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#random-404-returned-for-client-requests to see if it covers your scenario? If not, could you email me one HAR file when 404 took place?

[2019-03-14 02:55] #419 closed

[2019-03-14 03:54] vicancy commented on #429
Probably related to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/550, JWT has a default [ClaimTypeMapping](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/ClaimTypeMapping.cs#L50) to transform incoming claims to long standard claims, so when your request comes into Azure

[2019-03-14 07:29] vicancy commented on #420
@jasonkirby All the influenced instances should be patched already. Would you minding sending me your instance name for a check?

[2019-03-14 07:57] vicancy commented on #428
Looks like a bug for ASP.NET SignalR support that resources are not correctly disposed when exceptional cases take place. We are actively investigating the root cause and will get you updated once we have any findings.

[2019-03-15 12:47] Hypnobrew commented on #430
Yes, most likely we experience this issue: https://github.com/Azure/azure-signalr/issues/346

We do send an `access_token` to authenticate a user against our backend.
Would it solve the problem if we use another key instead of `access_token`?
Is it possible to set at specific name for this token using `accessTokenFactory` in javascript?

[2019-03-15 13:07] Hypnobrew commented on #430
Hmm, does not look like I can change the key when using a `accessTokenFactory`: https://github.com/aspnet/AspNetCore/blob/095c1c1759daef34e18a94c86236e4f02644ebe9/src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts#L44

Guess I just have to wait for the fix in the issue https://github.com/Azure/azure-signalr/issues/346 ?

[2019-03-15 14:28] jasonkirby commented on #420
@vicancy I sent you an email yesterday with the requested info.

[2019-03-15 14:42] nmehlei commented on #348
I would find this also very useful, for the same reasons as @kroymann already described. According to #192 , it's already possible to re-use the same Azure SignalR Service for different App Services (and thus environments) as long as the hub names are different. With a setter for a prefix (or something similar) this could be improved upon.

[2019-03-15 19:37] rhux commented on #275
Hi, sorry for the long delay.  We've tried limiting the claims in the ClaimsProvider, for example doing the following:
`.AddAzureSignalR(options =>
            {
                options.ClaimsProvider = context => new[]
                                  {
                                      new Claim(ClaimTypes.NameIdentifier, context.User.Claims.Single(c => c.Type == "sub").Value)

[2019-03-18 02:55] #345 closed

[2019-03-18 02:57] vwxyzh commented on #387
Service was updated, group name was up to 1024 characters.

[2019-03-18 02:57] #387 closed

[2019-03-18 05:33] vicancy commented on #425
We are actively working on improving the stability of the AspNet support. We plan to make AspNet SignalR support generally available on April.

[2019-03-18 05:38] vicancy commented on #275
`new Claim(ClaimTypes.NameIdentifier, context.User.Claims.Single(c => c.Type == "sub").Value` means the user is using `sub` claim as its user id.
You can check if it works as expected inside `OnConnectedAsync`:
[code]

Could you provide more information about it? Is `SendToUser` sending message to all the users?

[2019-03-18 06:37] vicancy opened #439 "Strange new message about multiple service endpoints"
Microsoft.Azure.SignalR.ServiceEndpointManager[1]
2 endpoints to https://northstardevsignalr.service.signalr.net found, use the one https://northstardevsignalr.service.signalr.net

https://github.com/SignalR/SignalR/issues/4335

We changed the configuration read behavior https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/ServiceOptionsSetup.cs#L41 which introduced in this

[2019-03-18 09:25] JialinXin commented on #428
@BinarySo1o Looks all the failed requests have authentication failure which block connection creation. Would you check server trace if there's related logs?

[2019-03-19 02:42] JialinXin commented on #428
@BinarySo1o Would like to double check about the time? Is the incident around March 8th 17:00 PM UTC? The errors around that time are all client authentication failures which is marked as user errors. It's not matching the description. I'm wondering we're looking into wrong time range. Would you help check?

[2019-03-19 09:13] vicancy commented on #429
We are not able to roll out the fix as this breaks currently working scenario. Meanwhile, in our SDK, we enabled outbound ClaimTypeMapping, which means long claim types will be automatically transformed to short claim types when communicating with Azure Service, so we rely on this auto-transforming to make users using old SDK work.

[2019-03-19 12:20] ntrpnr opened #444 "Add method Groups.RemoveFromAllGroupsAsync(string connectionId)"
Would it be possible to implement a method which takes the connection id as parameter, and removes the client from all groups?

The alternative is to keep track of assigned groups in the hub, but if you have multiple connections to your Azure SignalR back plane, this becomes much harder.

If we can just remove all groups from a connection globally in Azure SignalR it would be great.

[2019-03-19 13:53] jasonkirby commented on #420
@vicancy Errors are ongoing.  Did you need any further info?

[2019-03-19 14:23] hempe opened #445 "System.Net.Http.HttpRequestException: Response status code does not indicate success: 401 (Unauthorized)."
I think the documentation in the [Troubleshooting Guide](https://github.com/Azure/azure-signalr/blob/4b25abd60b74a9d78569d0f3d01145bc84f989a2/docs/tsg.md#403-returned-for-client-requests) is not correct or not complete.
We set the AccessTokenLifetime to 30 minutes and got a 401 on the C# client side, instead of a 403.

[code]

[2019-03-20 03:18] bbowman commented on #301
Is there any way to get the OnConnected / Disconnected in a serverless ASRS implementation? (Would need some sort of post back I assume on the REST surface?)

[2019-03-20 03:24] vicancy commented on #420
Hi Jason @jasonkirby , I noticed that all your server connections came from one app server. Could you check if there were any events took place from app server side such as app server restart, IIS recycle, high CPU usage, etc? When server connection drops, client will experience connection drops.

I looked into the latest events of your instance. I can see twice all server connection drops on 2019

[2019-03-20 03:26] vicancy commented on #445
401 should not be caused by setting `AccessTokenLifetime`. Could you provide more details how you get 401? What is the detailed error message of your 401?

[2019-03-20 05:09] vwxyzh commented on #301
@bbowman No for now, we are considering to enhance serverless, but it not in our plan yet.

[2019-03-20 15:06] hempe commented on #445
Ok, for testing I set it now to 1 Minute and exactly after a minute HubConnection.Closed gets fired on the client side.

And this is everything I get. (@vicany Is there a way I can get the response body?)
[code]

About the client software
- .Net Framework 4.6.1
- Microsoft.AspNetCore.SignalR.Client v1.1.0
- HttpTransportType set to ServerSentEvents.

About the server software
- We use a custom aut

[2019-03-20 19:15] jasonkirby commented on #420
Hi @vicancy ,

Regarding number 1, I'm not seeing anything in the Application insight logs / metrics of the App server at that time, perhaps I'm not looking in the right place or right way.

The clients do have reconnection code and will typically recover on their own.  I do need to get the random time delay added back in however as I lost that with some refactoring I did a couple weeks back.

The

[2019-03-21 02:45] vicancy commented on #445
Oh my bad, definitely it should be 401 Unauthorized. Thanks for reporting the issue.

[2019-03-21 02:59] vicancy commented on #420
Hi @jasonkirby We are actively investigating the issue, will let you updated once we have any findings.

[2019-03-21 03:32] vicancy commented on #420
Hi @jasonkirby is there any other connection related errors observed from your app server side during that 5.5 hours? AzureSignalRNotConnectedException happens when client negotiates with app server however app server finds no server connections available.

Could you help to verify that
1. within these 5.5 hours, is there any log indicating that the SDK is trying to reconnect to the Azure Service?

[2019-03-21 03:40] #445 closed

[2019-03-21 03:45] vicancy commented on #429
We plan to fix this issue by adding back the original claims if it has been converted, and in the meanwhile keep backward compatibility.

So if your incoming claims are:

[code]

The claims you receive from hub will be:

[code]
@marcin-dardzinski Do you have any concerns with this fix?

[2019-03-21 04:42] #439 closed

[2019-03-21 06:01] marcin-dardzinski commented on #429
No, thank you very mucb

[2019-03-21 08:08] vicancy commented on #430
You can also workaround it by not using `access_token` for your app auth.

[2019-03-21 14:07] steverash commented on #348
I needed this, so have done the work and created a pull request.

#449

Works in the way that @kroymann describes.

[2019-03-21 18:15] jasonkirby commented on #420
Hi @vicancy I have sent you an email with a zipped CSV dump of the log tables from that 5.5 hour time period.

Let me know if you need anything else, or if there is some specific logging that I have missed.

Thanks

[2019-03-21 19:52] jasonkirby commented on #420
@vicancy I just sent another email containing the local client exceptions from the HubConnection.Closed event handler.  I just realized I had those filtered out in the previous custom log dump and they may be useful.

[2019-03-21 19:58] DavidMCarek opened #450 "All connections killed after timeout."
While debugging my website that uses the Microsoft.Azure.SignalR.AspNet 1.0.0-preview1-10275 package, I noticed that if you add a breakpoint inside a hub call and wait 30+ seconds all connections get killed and an error message appears in the console.
![image](https://user-images.githubusercontent.com/8696647/54780667-b73d6880-4bf0-11e9-8687-5be274041c54.png)

The only way I've found to recover fr

[2019-03-22 05:55] vicancy commented on #402
1.0.7 solves the `Failed writing message. Aborting connection.` issue.

[2019-03-22 07:37] Hypnobrew commented on #430
That is not an option at the moment. We will await the enhancement in #346 .
Thank you!

[2019-03-22 07:37] #430 closed

[2019-03-22 12:46] DavidMCarek commented on #450
I am closing this since I noticed a fix in the most recent release and I will creating a new issue for the negotiate endpoint issue that I was having on the latest release.

[2019-03-22 12:46] #450 closed

[2019-03-22 13:12] johnrutherford commented on #402
@vicancy, thanks. We'll try it out.

[2019-03-22 19:24] DavidMCarek opened #452 "500 on negotiate when deployed to load balanced servers"
Currently I am using Microsoft.Azure.SignalR.AspNet.1.0.0-preview1-10330 and when I deploy to load balanced servers I get a 500 in the browser when the /signalr/negotiate endpoint is hit. The really confusing part of this is that it works locally just fine. I tried a setup with 2 iis app pools running the same website and it worked great. I also was able to get this working on the load balanced se

[2019-03-25 08:08] vicancy commented on #452
The changes in 10330 is that it throws early when the app server is not connected to the Azure Service. For 10275, even if the app server is not connected to the Azure Service, the client not throw when /negotiate but throw on /connect. Could you make sure that your app server is connected to the Azure SignalR Service?

[2019-03-25 10:00] vicancy commented on #402
Correction: 1.0.8 includes the fix, we are releasing 1.0.8 in 2 days.

[2019-03-25 14:50] DavidMCarek commented on #452
I checked the Azure portal and looks like there's no connection to the app server when the site is spun up on the load balanced server. Is there anything in particular that I need to call to make that connection other than app.MapAzureSignalR or do you think its more likely an infrastructure issue since the code seems to work locally?

[2019-03-26 01:25] vicancy commented on #452
Does the load balancer allow web-socket connections? Some proxy need special configuration to enable websocket feature.

[2019-03-26 01:55] DavidMCarek commented on #452
Since the solution was working on 10275 I assume the websocket connections are working just fine on the server but I'll double check tomorrow.

[2019-03-26 12:23] yosigolan commented on #402
Hey.
i am seeing the same issue.
upgraded to 1.0.8 and it didn't solved the issue. this bug started to happen in my environment on 23.3.19.
since than it happens every few hours and in order to solve it i need to restart the azure signal r service.
these are the errors i get in the log (on local env and production server):
`
WebSocket closed by the server. Close status NormalClosure.
Connection "a

[2019-03-27 06:30] vicancy commented on #402
Hi @yosigolan Any other logs? "PingTimeout" can happen sometime when the Azure Service is reloading or switching to other running pods. Could you send me through email your app server side log when the issue took place and during the period that the connection was not able to reconnect?

[2019-03-27 09:06] yosigolan commented on #402
@vicancy it happen again this night. this is how it looks from your side:
![image](https://user-images.githubusercontent.com/18391088/55063058-df5d1980-507f-11e9-8ae0-bab9468cdbd3.png)

and this are the errors from my side:

[gae_app_module_id_apps-web-service_version_id_20190326t154926__logs__2019-03-27T09-43.txt](https://github.com/Azure/azure-signalr/files/3012342/gae_app_module_id_apps-web-ser

[2019-03-28 15:17] ernestotw85 opened #466 "Calling Signalr Rest Api endpoint form postman"
I am calling https://[myaccount].service.signalr.net/api/v1/hubs/[myhub] endpoint from postman, the request and response seems to be fine because it's getting 202 Accepted http status code. The problem is that any client connectred to the hub in Azure SignalR Service do not  receive the message.

this is the data about my request

url POST https://[myaccount].service.signalr.net/api/v1/hubs/[myhub

[2019-03-28 15:30] realwanpengli commented on #466
Is the client method named "broadcastMessage", and receives 2 strings?

[2019-03-28 15:36] realwanpengli commented on #466
By the way, [Management SDK](https://github.com/Azure/azure-signalr/tree/dev/src/Microsoft.Azure.SignalR.Management) just released for Azure SignalR Service. It can be used in serverless environment. You can use this SDK to manage your SignalR clients connected to your Azure SignalR Service directly such as broadcast messages. samples can be found [here](https://github.com/aspnet/AzureSignalR-samp

[2019-03-28 15:43] DavidMCarek commented on #452
Just updated to the latest version and I'm still having the same issue. Its working locally but when it gets deployed I get a 500 in my network tab when the request to signalr/negotiate is executed. If I navigate to the url for that request I get the error message "Azure SignalR Service is not connected yet, please try again later.". I also see no connections made to the signalr service on the azu

[2019-03-28 15:47] ernestotw85 commented on #466
@realwanpengli I am going to check all your suggestions. below my client side code

<script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message) {

[2019-03-28 16:30] realwanpengli commented on #466
@ernestotw85  Since you get 202, your messages should be sent successfully. You can use this [chatroom](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoom) sample to verify that messages sent successfully so that clients can receive messages.

You should double check your client side code.

p.s. Hub name is "chat" in chatroom sample.

[2019-03-28 18:31] ernestotw85 commented on #466
I am using Chatroom sample. I opened two clients and the communication between these clients works fine . I can see the messages in both sides. then I created a POST request to send a message to both client using REST API endpoint from Azure SignalR service using Postman. If I go to one of the clients and inspect the objects this is the results

![Capture](https://user-images.githubusercontent.com

[2019-03-29 03:55] realwanpengli commented on #466
[Azure SignalR REST API](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#rest-api-in-azure-signalr-service) only support ASP.NET **CORE** SignalR applications.

You are using the asp.net chat room sample.

You can use this [asp.net core chat room sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoom) instead.

[2019-03-30 06:46] Jun2014 commented on #452
We see exactly same error when we deploy app server to azure cloud service, version 10275 doesn't have this issue.

[2019-03-31 11:40] yosigolan commented on #402
The issue happen to me again today. this time i noticed it happen when the server connection number increased. there are situations in my system that the services move from one server to another. in these situations, for a short time the connection number is doubled since during the transition the service runs on both of the servers. once the server connection was increased the connection drop. it

[2019-04-01 02:39] sladewasinger commented on #402
I'm having similar issues. I've had to make a signalr service 3 times now because they eventually fail and my web server can't connect to them. I receive similar errors as the OP.

@yosigolan, 20 connections is the max for the free tier.

[2019-04-01 03:08] vicancy commented on #402
We are actively investigating the issue that **under some conditions the server connection drops and not able to automatically reconnect back until user manually restart the Azure Service.**

@sladewasinger Are you seeing the same issue?

[2019-04-01 04:59] vicancy commented on #402
Hi @yosigolan For the server connection count showing 0 in portal starting from 2019-03-27T02:34:53 UTC, that is caused by a bug introduced in when upgrading our metrics reporting system that the metrics data was not successfully sent to the portal. After you restarted the service, the issue was mitigated. I checked your instance, during that period from 2019-03-27T02:34:53+00:00 to 2019-03-27T03:

[2019-04-01 05:01] vicancy commented on #402
Hi @sladewasinger , as explained above, there was an issue in metrics display in the Azure portal, restart the Azure Service can solve the display problem. But according to your description, your issue is not resolved after 3 times restart? Could you share with me more details about your issue? You can email me the time range when error occurred, your instance name and the detailed error you saw f

[2019-04-01 07:04] yosigolan commented on #402
@vicancy Thanks.
still my servers ware not able to connect.
regarding the max 10 server connections on the free tier, i had cases where i saw in the metrics 25 and 30 servers connected. how is that so? also, when the connection is bane due to max connection limit, what is the error code?
i think it should be documented, currently the documentation only mention the clients connections limitis.

Tha

[2019-04-01 07:11] vicancy commented on #402
@yosigolan Connection limits are client+server connections in total, that is 20.

[2019-04-01 07:15] yosigolan commented on #402
@vicancy thanks for the clarifying. i think it should be stated in the pricing doc as i didn't understand it that way.
is there a way to configure the server connections number (default is 5)?

Thanks Yosi

[2019-04-01 13:31] torhovland commented on #258
We're also getting a lot of HTTP 429 on negotiation requests. This happens even when we have stayed well below 20 server connections for the last few hours, and far below 20.000 messages per day. Are there any other limits I need to be aware of, such as connection requests per minute, or similar?

[2019-04-01 13:35] #466 closed

[2019-04-01 13:36] ernestotw85 commented on #466
Thank you @realwanpengli

[2019-04-01 21:24] sladewasinger commented on #402
@vicancy The signalr service randomly shuts down and sends an error to all connected clients. You can see in the image below, right around 1500 hours is where the message count dropped to 0. Usually the service will eventually recover and the clients can reconnect.

The javascript clients get this error: **signalr.js:1881 Error: Connection disconnected with error 'Error: Server returned an error o

[2019-04-02 02:06] vicancy commented on #402
@yosigolan yeah, please refer to https://github.com/Azure/azure-signalr/blob/dev/docs/use-signalr-service.md#connectioncount

[2019-04-02 04:03] Jun2014 opened #468 "Need faster way to send message directly to signalr service other than REST API"
Currently seems the only way to directly sending message to signalr service is to call REST api, we try to send multiple message in parallel, which takes about 200ms. Compared to directly sending to redis pub/sub channel, which takes about 20ms.
One reason we guess is calling REST API needs to create new connection, while sending to redis reuses connection.

[2019-04-02 05:08] Jun2014 opened #469 "Only one in multiple application server instances in one cloud service connects to signalr service"
1. Stop cloud service which hosts my application server, restart signalr service. From signalr service, the connection is 0.
2. Start cloud service which has 1 instance. Wait a few (10+) minutes, no connection was seem on signalr service side. When I have a client connects to application server, I see there're 15 server connections and 1 client connection on signalr service side.
3. Scale cloud se

[2019-04-02 06:09] vicancy commented on #452
Could you add the following to `web.config` to enable trace for the underlying server connection to see what's the error connecting to Azure Service from cloud service? @Jun2014 @DavidMCarek

[code]

[2019-04-02 06:46] yosigolan commented on #402
@vicancy Thank you.

[2019-04-02 15:38] petkoo55 commented on #108
Hello xscript,

Was that fixed also within Microsoft.Azure.SignalR.AspNet SDK? Because I am still getting null from Hub.Context.GetHttpContext().

[2019-04-02 17:56] Jun2014 commented on #469
This issue turns out an issue on our side, sorry for confusion, closing this issue.

[2019-04-02 17:56] #469 closed

[2019-04-02 19:41] DavidMCarek commented on #452
This is the error in the trace.

[2019-04-03 01:18] vicancy commented on #452
Thanks @DavidMCarek for your help, this looks like the root cause for no server connection connected and this 500 error. Could you try adding the following assembly rebinding to the web.config to see if the issue is mitigated? In the meanwhile, I will check why the new version has this issue, seems similar to https://stackoverflow.com/questions/48520188/could-not-load-file-or-assembly-system-runti

[2019-04-03 01:29] vicancy commented on #468
We released a preview version of management API which supports direct websocket connection to the service, the documentation is still in review, please check https://github.com/Azure/azure-signalr/pull/451

[2019-04-03 03:12] xscript commented on #108
@vicancy could you help confirm on this?

[2019-04-03 03:55] vicancy opened #473 "[ASP.NET]Preserve client request information in Hub's Context"
User's getting `null` from `Hub.Context.GetHttpContext()`

Dependent on ASP.NET client 2.4.1 https://github.com/SignalR/SignalR/issues/4353

[2019-04-03 03:56] vicancy commented on #108
No its not, created an issue https://github.com/Azure/azure-signalr/issues/473 to track it.

[2019-04-03 08:57] petkoo55 commented on #473
Thank you Vicancy,

I am using standard SignalR so that I am creating cookies on client side (website) and also via hubConnection.CookieContainer.Add (desktop app)... When you fix it will be these cookies also available on server side? Because currently I tried to use hub.Context.Request to get cookies but there is cross-domain issue.

[2019-04-03 13:14] DavidMCarek commented on #452
Adding the binding redirect fixes the issue, thanks! Will this issue be fixed in the next release?

[2019-04-03 21:50] Jun2014 opened #474 "IServiceManager.CreateHubContextAsync throws ArgumentNullException when loggerFactory is null"
We are using Microsoft.Azure.SignalR.Management.1.0.0-preview1-10351.

We have below code:

            IServiceManager _serviceManager = new ServiceManagerBuilder()
                .WithOptions(option =>
                {
                    option.ConnectionString = connectionString;
                    option.ServiceTransportType = ServiceTransportType.Persistent;
                })

[2019-04-04 00:20] Jun2014 commented on #468
Thank you. I tried management API with direct websocket connection, it's much faster. I'm using 1.0.0-preview1-10351 for below sample Desktop .net test app which simply send message to a group. But my client doesn't receives the message.
And from the Azure portal snapshots below, I saw inbound traffic, but no message.
Can you help provide any way to diagnose further? Thanks.

[code]

![image](http

[2019-04-04 01:33] vicancy commented on #468
@realwanpengli can you take a look?

[2019-04-04 05:27] Jun2014 commented on #468
I tried to run UT ServiceHubContextE2EFacts.SendToGroupTest() with my own signalr service connection string, and the test failed at ServiceHubContextE2EFacts.cs line 136 with Message: Assert.Equal() Failure
Expected: 2
Actual:   0

And below is output:

[code]

[2019-04-04 07:33] realwanpengli commented on #468
Communicated with @Jun2014

The SignalR Service is in default mode.

I will handle HubConnection.Closed in UT since the client connections are closed before publishing messages.

[2019-04-04 08:47] realwanpengli commented on #474
It is a bug, will be fixed in next release. You can use [Microsoft.Extensions.Logging.LoggerFactory](https://github.com/aspnet/Logging/blob/master/src/Microsoft.Extensions.Logging/LoggerFactory.cs) to workaround for now.

[2019-04-04 19:21] Jun2014 commented on #468
After change service mode to classic mode, the UT was passing. But the app server mode seems not working.

Below is repro step:
1. Add below code to AspNet.ChatSample.CSharpClient to boardcast a message using management SDK. Or we can create another app to send the message.
[code]
2. Start AspNet.ChatSample.SelfHostServer
3. Start AspNet.ChatSample.CSharpClient. We don't see above message from CSh

[2019-04-05 05:43] Jun2014 opened #476 "Call hub's method failed with InvalidOperationException"
We have asp owin app server connects to signalr service. After running for a few hours, our client failed to connect to our hub with below error. I check signalr service side, apparently there's no connections, but assume app server will retry to connect, which seems doesn't happen.

[code]

there're spam of such exceptions:

![image](https://user-images.githubusercontent.com/8303320/55605792-f6a8

[2019-04-05 22:23] Jun2014 opened #477 "Randomly see HttpClientException 404 Not Found"
We randomly see our C# client connects to app server, and see below exception randomly.

[code]

[2019-04-08 03:05] realwanpengli commented on #468
The management SDk is based on ASP.Net Core SignalR. Your client is based on Asp.Net. They are independent to each other. Please use ASP.Net Core SignalR client instead.

[2019-04-08 03:28] vicancy commented on #476
Which version of SDK are you using? Before [10330](https://github.com/Azure/azure-signalr/releases/tag/aspnet-1.0.0-preview1-10330) there is a bug in the SDK that under some circumstances the SDK fails to reconnect

[2019-04-08 03:29] vicancy commented on #477
Could you send me your instance name and the time when 404 happened for me to have a check? There are several cases when 404 can happen, please see https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#random-404-returned-for-client-requests

[2019-04-08 06:37] Jun2014 commented on #476
I was using 10275, will update to latest and try again, thanks.

[2019-04-08 09:06] JialinXin commented on #428
@BinarySo1o It's been over a month and not getting a response. Are you still facing the errors?
@sobelito Saw your thumbs up and feel free to provide information if you have met similar problems.

[2019-04-09 03:06] #474 closed

[2019-04-10 05:30] vicancy opened #480 "Custom ConnectionString in ServiceOptions configure is not respected"
Regression bug:
When ConnectionString is defined in configuration settings, as well as configured when
[code]

Instead of using the `customValue`, both value will be preserved and the app enters mutli-endpoint mode.

This issue exists in SDK for both ASP.NET and ASP.NET Core one.

[2019-04-10 14:09] tomaszlubocki commented on #258
HI All, Im getting exactly the same issue lot of negotiation problem. I call the AzureSignalR from AzureFunc which triggered by storage queue trigger.

[2019-04-11 12:56] dwlodarz commented on #258
Any update on this issue? I'm experiencing very same problem

[2019-04-11 15:10] tomaszlubocki commented on #258
I solved my problem. Since yesterday all my messages reached the destination. The key was https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-internals

The client -sever relation is 1:1 from perspective of the client, and I had two servers one of them was not negotiating properly.

Solution : using azure func with serverrless Azure SignalR Component, in the web part I have singal

[2019-04-12 09:41] #468 closed

[2019-04-12 17:17] Jun2014 commented on #477
Can't repro now, closing this issue.

[2019-04-12 17:17] #477 closed

[2019-04-12 17:18] Jun2014 commented on #476
Can't repro this issue, closing

[2019-04-12 17:18] #476 closed

[2019-04-12 17:42] Jun2014 opened #485 "Signalr service outage and App server not auto-reconnect"
We have .net core signalr app (hooked with signalr service) running in app service environment. It's running pretty well for almost 2 days, and we see an issue yesterday night, and want to seek your help to further investigate.

From app server, the first weird event shown in app insight starting at 4/12/2019, 5:53:55 AM PST.
![image](https://user-images.githubusercontent.com/8303320/56055295-036e

[2019-04-12 19:41] Jun2014 opened #486 "Scale signalr service causing all clients disconnect"
We first have 2 Unit of signalr service running, and have all clients connect to our app server & signalr service.
We scale signalr service to 5 Unit from 2 Unit. During this process, all our clients disconnect. We expect clients should not disconnect, especially we scale up.

The environment we're on:
app server: Microsoft.Azure.SignalR 1.0.8. Running on 1 instance of S1 app service plan.
signalr

[2019-04-13 05:23] joeuy commented on #414
Are there updates on timeline?

[2019-04-15 03:46] JialinXin commented on #428
I'm closing this issue without any feedback for over a month. Feel free to open a new one and at me if you encounter similar problem in the future.

[2019-04-15 03:46] #428 closed

[2019-04-15 08:33] vicancy commented on #485
Hi Jun2014, for such incidents, you can open a ticket in Azure portal to get Azure support team involved to take a look at the incident. Or you can email me your instance name and the exact time range of the issue for me to take a look if there were any events during that time.

[2019-04-16 07:38] Jun2014 opened #488 "Invoke hub's method which throw ArgumentException, client gets HubException: An unexpected error occurred"
We have a method on hub:
[code]
Now client invokes this method, and get back a generic exception which doesn't help client to diagnose this error.
[code]

We're using Microsoft.AspNetCore.SignalR 1.1.0 on server, and Microsoft.AspNetCore.SignalR.Client 1.1.0 on client.

[2019-04-16 15:31] BrennanConroy commented on #488
https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.2#handle-errors

TLDR: Sending the exception info back to the client is considered insecure as you could accidentally leak data. If you want to see the exception on the client then either throw a `HubException` or set `EnableDetailedErrors` on the server.

[2019-04-16 15:45] johnrutherford commented on #401
@vicancy Is there a timeline for implementing a fix for this issue? We are still getting thousands of these errors in our logs every day.

[2019-04-17 01:43] vicancy commented on #401
Hi @johnrutherford, we are not seeing such issue from our daily long run tests. Could you provide more information about your repro case? Is it broadcast, echo, or group send that such error message occurs? It will be great if you can provide a minimum project that can repro the issue.

[2019-04-17 02:30] vicancy commented on #452
Hi @DavidMCarek, what Azure service are you using to deploy the app server? Is it `Cloud service (classic)`? I'd like to verify the fix.

[2019-04-17 09:17] DavidMCarek commented on #452
Yep we had it set on classic.

[2019-04-18 03:37] #373 closed

[2019-04-18 07:49] Jun2014 commented on #488
This works, thanks.

[2019-04-18 07:49] #488 closed

[2019-04-20 01:33] jrmcdona commented on #122
@xscript how do we generate the name Identier claim in TypeScript with a Azure function negotiate function method?

[2019-04-20 01:36] jrmcdona opened #493 "Include NameIdentifier claim in Azure function negotiate method using TypeScript"
How do we include NameIdentifier claim in Azure function negotiate method using TypeScript?

I am calling negotiate API from an Angular app that has an authenticated user.  When I generate an access token my negotiate method, I am not sure how to add in nameIdentifier.

I will be using REST API to send message to single clients.

[2019-04-20 03:19] xscript commented on #122
@JialinXin could you help answer this question?

[2019-04-20 11:03] JialinXin commented on #493
@jrmcdona are you using [Azure SignalR function extension binding](https://github.com/Azure/azure-functions-signalrservice-extension)?
We provide an attribute UserId in SignalRConnectionInfo for negotiate use. See https://github.com/Azure/azure-functions-signalrservice-extension/blob/dev/src/SignalRServiceExtension/SignalRConnectionInfoAttribute.cs#L21-#L32.

So you can assign this value in functi

[2019-04-20 11:06] JialinXin commented on #122
Sure. @jrmcdona Answered in your issue #493.

[2019-04-20 11:19] jrmcdona commented on #493
@JialinXin So in order to populate "userId": "{headers.x-ms-signalr-userid}" with a value we need to add App service authentication to our Azure function?

In your sample,  I do not see where the userId value gets set.    Thanks for your help!

[2019-04-20 13:22] JialinXin commented on #493
@jrmcdona  Yeah. You did it in the right way. You can name `x-ms-signalr-userid` as you like, just to make sure to pass it in function binding signalRConnectionInfo UserId during negotiate. Then it will generate AccessToken based on it and build connection with Azure SignalR Service. And later when client send message to user/groups via RestApi, the same AccessToken will be used.
We put the set pa

[2019-04-20 13:27] jrmcdona commented on #493
@JialinXin  cool, I was able to get it working!

[2019-04-20 13:41] pelwu opened #494 "Failed to complete negotiation, 404 response"
i'm using @aspnet/signalr v1.1.4 and Microsoft.Azure.SignalR v1.0.8
While trying to establish a handshake I receive 204 status code after OPTIONS request:

![options](https://user-images.githubusercontent.com/35611387/56457855-df9bbc80-6380-11e9-9716-8ac7a0e91c02.png)

After that comes POST request which ends with 404:

![post](https://user-images.githubusercontent.com/35611387/56457787-fab9fc80-6

[2019-04-20 13:43] pelwu commented on #494
I've tried to test the connection with various tools e.g. websockets.org echo and i'm always getting the same result - 404.

[2019-04-20 17:25] jrmcdona commented on #493
@JialinXin one additional thing.  Do you feel this is secure enough?  Or do we need another level of security in the Function apps?

I don't want anybody to grab endpoints from the client side and generate all of the necessary tokens to be able to hit the Azure SignalR service.

Thanks

[2019-04-20 23:42] anthonychu commented on #493
From what I can tell, this is not secure.

Even without thinking about SignalR, how does your function app authenticate it’s users (how does it know the user is who they say they are)?

[2019-04-21 01:53] jrmcdona commented on #493
@anthonychu I agree.   This is for a 1st party Microsoft app and I think the Authentication providers are not made for 1st party apps.   I would say certainly Microsoft Account is not.      I think it may be easier once we get Azure AD converged endpoints rolled out for 1st party but they are not.

Let me know if you know anything more about this topic.

I will see if I can get some auth going in

[2019-04-21 17:59] pelwu commented on #494
HAR file:
[errors.txt](https://github.com/Azure/azure-signalr/files/3101455/errors.txt)

[2019-04-22 01:01] jrmcdona commented on #493
@anthonychu @JialinXin  So I am looking more into this for AAD.    Since this is an API call we do not want to use App service authentication.  Instead we would be using Bearer token authentication, something l[ike this](https://blog.wille-zone.de/post/secure-azure-functions-with-jwt-token/).   Unless I am missing somthing?  Something like this:  https://blog.wille-zone.de/post/secure-azure-functi

[2019-04-22 04:07] vicancy commented on #494
For your client, the `WSurl` should still be your app server's URL instead of using the URL of Azure SignalR service `....service.signalr.net`. With Azure SDK used in your app server, app server will return a redirect response to Azure SignalR when the client connects to it.

[2019-04-22 06:32] anthonychu commented on #493
Because SignalRConnectionInfo is an input binding, what you are hoping to do is a bit awkward but possible.

- Pass in the user id via header like described [above](https://github.com/Azure/azure-signalr/issues/493#issuecomment-485092991) and set the `userId` prop on the input binding
- In the function validate if the caller really is `userId`:
    - Yes: return the connection info from the bindin

[2019-04-22 06:58] chenkennt commented on #493
Right now the userId in function.json isn't really useful, as in a real scenario you shouldn't trust whoever the client claim he is. In a real world scenario your negotiate should be protected by some authentication mechanism by yourself and in the negotiate you should get the identity from the authenticated user and put it to the SignalR access token. Take the JWT token way you mentioned as an ex

[2019-04-22 08:13] #480 closed

[2019-04-22 10:59] pelwu commented on #494
Ok, I modified the URL and started getting CORS errors, so I modified my back-end:

[code]

but still API response headers look like this:

and I'm getting this error:

[2019-04-22 11:19] pelwu commented on #494
Issue to be closed. I had Origins specified in my Azure WebService. Thank You for help.
May I recommend to put the conclusion of this directly into docs (concerning SignalR url).

[2019-04-23 14:23] johnjbateman opened #497 "[Error]Connection "..." to the service was dropped"
This is related to [this](https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#️todoclient-side-connection-drop) link:

We have been seeing this error:

`Connection "[guid]" to the service was dropped.`

All Exceptions in the stack [here](https://gist.github.com/johnjbateman/bd3cb662c95d6fad6144d76006c2c243)

I have checked the app logs and it was during random times, but most occurred with

[2019-04-23 14:56] johnjbateman commented on #497
Timestamps and resource names: [link](https://gist.github.com/johnjbateman/fd51738c5f584c5a5d76db19a0f7b3d9)

[2019-04-23 20:01] jrmcdona commented on #493
@chenkennt @anthonychu
Hello,  I am trying this with C# and I am unable to Negotiate with SignalR.
In my function I am manually validating the AAD Bearer token sent in the headers.
This also give me the ClaimsPrincipal if the user is authorized and allows me to get the Name Identifier.

Once that is done, I am trying to GenerateAccessToken based on:

[https://github.com/aspnet/AzureSignalR-samples

[2019-04-24 08:14] stebbo opened #498 "Asp.net (4.6.1) client doesn't receive messages when they are not sent from the server serving the web site"
Messages sent directly to Azure SignalR Service (e.g from Functions / Console Apps) are not delivered to connected Asp.net clients

**Steps to reproduce**

- Open the ChatRoom Asp.net sample (not Asp.net Core)
- Configure your Azure SignalR connection string and run the sample.
- Open the Serverless sample and configure the Server to connect to the same Azure SignalR Hub as the ChatRoom
- Run the

[2019-04-24 14:43] johnjbateman commented on #420
Also experiencing this issue in #497

[2019-04-24 14:44] johnjbateman commented on #497
@vicancy Also experiencing this issue similar to #420.  I emailed you just now information.

[2019-04-25 02:55] vicancy commented on #498
Please not that serverless/or REST API does **NOT** support ASP.NET SignalR as Serverless only support the ASP.NET Core SignalR data protocols.

If you'd like the serverless functionality, please use the new ASP.NET Core SignalR clients.

[2019-04-25 03:36] vicancy commented on #452
Hi @DavidMCarek what `netframework` version is your project?

[2019-04-25 03:56] DavidMCarek commented on #452
I'm pretty sure we are using .net 4.6.2

[2019-04-25 09:03] stebbo commented on #498
Ok, sad to hear that. It wasn't obvious in the docs.
And to be crystal clear, the only serverless component in my scenario is the Console App that sends the message. The *intended* reciever of that message is **NOT** serverless. I thought this would be supported, either by having Azure SignalR sending the message directly to the browser through the web sockets connection that was just established,

[2019-04-25 16:01] laurence-accurx opened #500 "Build error when adding with Nunit test project"
I'm getting this error when I add an NUnit test project and point it to my asp net core (2.2) application using Azure SignalR:

_Assembly 'WebApplication4' with identity 'WebApplication4, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' uses 'Microsoft.AspNetCore.SignalR.Core, Version=1.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' which has a higher version than referenced assemb

[2019-04-26 03:07] vicancy commented on #500
Thanks for reporting this. Yes, this is because we are using `1.0.0` version SignalR, and we need to keep it as `1.0.0` so that the Service SDK can work for all versions of SignalR. Please use assembly rebinding to solve the issue.

[2019-04-26 03:28] #452 closed

[2019-04-26 03:39] vicancy commented on #498
It is claimed in the REST API document, https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#rest-api-in-azure-signalr-service.

For now, we don't have plan to support REST API/serverless for ASP.NET

[2019-04-26 15:01] laurence-accurx commented on #500
Thanks - have added this as a fix locally. Why does this work okay with just the web application project but when you add an Nunit test project the build error occurs?

[2019-04-28 03:35] vicancy commented on #112
The issue is fixed by providing a user claim prefix to preserve the user claims and convert it back when regenerating the claims for http requests. https://github.com/Azure/azure-signalr/pull/465/files

[2019-04-28 03:35] #112 closed

[2019-04-28 23:30] jrmcdona commented on #493
I needed to use the URL of the Hub and not the Endpoint.
`                var sigRConnToken = _serviceUtils.GenerateAccessToken(connectionInfo.Url, principal.Identity.Name);
`
So my audience was wrong on the token.

[2019-04-28 23:30] #493 closed

[2019-04-28 23:38] anthonychu commented on #493
@jrmcdona If you’re using C#, you can also use the binding to generate the token with a user ID like this: https://gist.github.com/ErikAndreas/72c94a0c8a9e6e632f44522c41be8ee7

It might be better than doing this yourself in case anything changes in the future.

[2019-04-29 07:34] vicancy commented on #425
1.0.0 is released.

[2019-04-29 07:34] #425 closed

[2019-04-30 02:25] vicancy commented on #452
The latest 1.0.0 should've fixed the issue.

[2019-04-30 06:28] AbhisheNandika opened #514 "After Upgraded to Azure Signalr from Asp.Net Signalr still not working"
I had followed the steps as mentioned in the below url
https://devblogs.microsoft.com/aspnet/announcing-asp-net-signalr-2-4-0-preview-1/

First message when I call the send method from client side it's working but second message on wards  it's not working.

Kindly help me to fixed this issue

[2019-04-30 09:31] vicancy commented on #514
Is it reproduce-able? Is it possible for you to provide a simple project that can reproduce the issue? Any detailed error messages shown when the message failed to be sent?

[2019-04-30 17:24] AbhisheNandika commented on #514
By mistake I closed this issue. I will get back to you on Thursday.

[2019-05-01 13:43] TobySanders opened #516 "Add Streaming Support to Azure SignalR"
Currently the signalR streaming feature is available in AspNetCore signalR but not in signalR service. according to [this article](https://devblogs.microsoft.com/aspnet/azure-signalr-service-now-supports-asp-net/) it is unavailable for compatibility reasons however it's an incredibly useful feature and would add a lot of value to the signalR service; are there plans to implement this in the future

[2019-05-01 14:48] davidfowl commented on #516
ASP.NET SignalR isn't getting any new features (aka streaming), the support in the server is mostly compatibility with existing applications. All future investment is in ASP.NET Core SignalR.

[2019-05-01 14:50] davidfowl opened #517 "Azure SignalR broken in preview6"
This is a placeholder issue for when we ship preview6 (which is a while away) but we made a breaking change that affects routing which breaks Azure SignalR:

![image](https://user-images.githubusercontent.com/95136/57022986-b2070c80-6be5-11e9-81aa-a90f54bac11d.png)

We just need to re-compile against the newer API (it's source compatible).

[2019-05-02 09:19] TobySanders commented on #516
Thank you for the reply, David, that's definitely understandable; in which case (although this may be a separate issue) are there any plans to make ASP.NET Core SignalR usable on Azure SignalR Service or will it always remain as ASP.NET

[2019-05-02 15:15] davidfowl commented on #516
Azure SignalR supports both.

[2019-05-03 10:56] AbhisheNandika commented on #514
Hi Vicancy,
Thanks for your reply,

I am trying to upgrade from Asp.net Signalr to Azure Signalr in Asp.net MVC5 project.

By three simple steps we upgraded to Azure Signalr  using below link
https://github.com/Azure/azure-signalr/blob/dev/docs/use-signalr-service.md

we saw using the browser networking, It was connected with the new service.

It's calling to onconnected in Hub class later we didn

[2019-05-03 15:00] TobySanders commented on #516
Yeah looking back through the documentation I definitely missed that, apologies.
At the risk of going on a tangent could I explain my scenario and potentially be pointed in the right direction?

I have an ASP.NET Core 2.2 web application which has initialises SignalR in the startup as
[code]

` app.UseAzureSignalR(routes => routes.MapHub<StreamHub>("/streamhub"));`

nuget packages are:

- Microsof

[2019-05-03 15:35] BrennanConroy commented on #516
Client to Server streaming is a new feature in 3.0. So the only way you will be able to use it is if you use the 3.0.0-preview builds of AspNetCore.

[2019-05-03 18:48] BrennanConroy commented on #516
Not sure what you mean here. The only parts of SignalR that target .net standard are things used by the client.

I'm curious as to why you are putting your Hub in a library?

[2019-05-05 03:00] vicancy commented on #514
Is it possible for you to provide a simple project that can reproduce the issue?

[2019-05-06 19:17] munozrickT4S opened #518 "Minor wording issue in FAQ"
The second bullet point in the "Default / Serverless / Classic?" second of the FAQ isn't clear:

All clients must _what_? I'm guessing it should be "all clients must **connect** in serverless mode.", but I won't assume to know exactly what the writer actually meant.

[2019-05-06 21:41] alexiordan opened #519 "Received close message with an error: "ServerOffline""
Suddenly .Net UWP Client gets disconnected.

From client log it seems that server encountered some issues. However other clients connected to same server did not hit the same issues.

Any ideas why?

Sorry for the long log...  File version is also available if needed.
[code]

[2019-05-07 06:21] TobySanders commented on #516
I guess it's a symptom of habit, the hub was moved to a library to separate out business logic which, at the time, we considered SignalR to be. Based on the responses here I'm getting the impression that SignalR should instead be used on the same level as a controller

Closing this due to my misunderstanding, Thank you for the help

[2019-05-07 06:21] #516 closed

[2019-05-07 08:23] vicancy commented on #519
Any server side error log such as `Connection "..." to the service was dropped`?
This `ServerOffline` error code indicates that the server connection carrying this client is dropped. Such server connection drop are generally transient ones, they can happen when the service deploys, underlying Azure infra maintenance happens, or intermediate network issues. As a best practice, we suggest client sid

[2019-05-07 10:08] alexiordan commented on #519
Unfortunately I don't have server logs from that day anymore.

It is nice to see that there is an explanation for such behavior.
I have a reconnect logic, but thank you for sharing that sample resource.

If will happen more frequently than I will reopen this.

Thank you!

[2019-05-07 10:08] #519 closed

[2019-05-09 02:57] JialinXin commented on #517
Pending update for KoreBuild updating to preview6.

[2019-05-09 17:02] davidfowl commented on #517
It's broken differently now as we changed the signature but the fix is trivial 😄

[2019-05-09 21:05] alexiordan opened #525 "Client cannot reconnect although ping was working fine"
Client got disconnected.
While pings to www.google.com worked flawlessly, attempts to connect to SignalR service failed with  _A connection with the server could not be established_ error.

Server side logs don't show anything abnormal.
Other clients didn't disconnect in that period of time.

What could cause such behavior?
Client log fragment below:
[code]

[2019-05-09 23:54] jrmcdona opened #526 "this.hubConnection.on("UpdatedMissions".. is firing many times"
Hello, I am using Azure SignalR REST API to send message to the client.  My client is an Angular app.    We have a Azure SignalR service.   From our backedn service we issues Rest API call to the user.
Like so:

[code]

I have three different methods I am listening for and two are working well, however,  when I fire UpdatedMissions from the REST API.  The client receives the message many times.
[c

[2019-05-10 06:05] vicancy commented on #525
How many clients met such error? You can email me the time when the issue took place, and your instance name so that I can check from the service side log to see if there were anything abnormal.

[2019-05-10 06:12] realwanpengli commented on #526
Is the same send-to-user rest api used for `UpdatedProfile` and `UpdatedMissions`. If so, they are equivalent. If `UpdatedProfile` works well, `UpdatedMissions` should works well too.

Could you tell me how many times the listener `UpdatedMissions` is registered for one hub connection?
Assume that you call rest api for 1 time, if you always get 16 times for each message, you might register 16 time

[2019-05-10 06:20] realwanpengli commented on #526
You can try our new [Management SDK](https://www.nuget.org/packages/Microsoft.Azure.SignalR.Management) to send messages in your backend service.
You don't have to build the request. The interface is almost the same with `IHubContext` and more efficient to use `Persistent` mode which establish a websocket connection to communicate with SignalR service.
[Introduction to this SDK](https://github.com

[2019-05-10 07:07] alexiordan commented on #525
1 client only. I sent over the e-mail required details.
I also mentioned in e-mail, but I'll post here also for future reference:

**1. Time the issue took place**
9th of May 2019 between 09:49 UTC and 10:21 UTC.

I first encountered a disconnect at 9:49 UTC. I was able to successfully reconnect to SignalR Service at 10:21 UTC
My reconnect logic makes retries at following intervals:

- 2 s
- 4 s
-

[2019-05-10 09:04] vicancy commented on #525
So sounds like the client is having trouble connecting to both Azure Log Analytics and Azure SignalR between 09:49 UTC and 10:21 UTC.

From service side log, we can see one client ended normally on 2019-05-09T09:49:45 UTC, we can also see continuously client requests coming in at 2019-05-09T10:00:16, 2019-05-09T10:00:24.... So I am wondering if the network issue happens from the client side, or in

[2019-05-10 09:59] andrekiba opened #529 "Can't connect in Xamarin.Forms Android"
I'm trying to connect to Azure SignalR Service from a Xamarin.Forms app that targets only Android for now. I use an Azure Function with SignalR binding (negotiate) to retrieve the correct url and token. The fuction returns the correct data with a status 200.
But then during `hubconnection.StartAsync()` i always receive this error:
**"Unable to connect to the server with any of the available transp

[2019-05-10 10:08] realwanpengli commented on #529
"myurl" should be the Url in the body of negotiate response rather than the address of the negotiate function

[2019-05-10 10:09] alexiordan commented on #525
Thank you for taking a look.
When you say:

1. You are talking about other clients, right?

It would be hard to reproduce.
However we can ping both to google.com and something_in_azure.net, to see whether both fail or not.

2. Just to see there is something in between, that keeps the client from reaching the server, ping should be as effective, right?
We'll try to enable tracert if offline for lon

[2019-05-10 10:13] realwanpengli commented on #529
"myurl" should be the hub url.
For example, if your negotiate function's address is https://abc.def/hub/negotiate , "myurl" should be https://abc.def/hub

[2019-05-10 11:00] andrekiba commented on #529
not the hub url (the hub url is already known using the azure signalr binding and it is specified in a function app settings (local.settings.json if you test in local)). As you said this must be the url where you can find the negotiate function...and it is
https://docs.microsoft.com/it-it/azure/azure-functions/functions-bindings-signalr-service

[2019-05-10 13:15] jrmcdona commented on #526
@realwanpengli  Let me take a look.  This morning it seems to be working as expected which is weird, because all day yesterday it was not.   I will monitor it and also take a look at the Management SDK.

[2019-05-13 05:07] realwanpengli commented on #529
What I mean is https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-serverless-development-config#configuring-a-client-connection . But it is great if you are sure you know the way to connect signalr service.

Could you tell me :
* the speed of connecting - how many signalr clients is trying to establish connections to signalr service?
* total connections and the duration when the

[2019-05-13 07:58] vicancy commented on #525
Yes

Just realized that ping/tracert is blocked by azure. You can use [tcping](https://elifulkerson.com/projects/tcping.php)

Not aware of that. If your client is having issue accessing all azure services, try opening a support ticket in azure portal to the Azure network team.

[2019-05-14 08:17] andrekiba commented on #529
I investigated the problem more in depth and it seems related to the **System.IO.Pipelines** package.
If I reference only the **Microsoft.AspNetCore.SignalR.Client** package then I have this error:

If I try to install directly the last version of **System.IO.Pipelines** nuget package then I have the previous error:

As already said this happens only for Android, iOS works great.
I'll send you an

[2019-05-14 08:20] andrekiba commented on #529
the other strange thing is that **System.IO.Pipelines** seems to start from version 4.5.0 in nuget...

[2019-05-14 16:19] davidfowl commented on #517
cc @vijayrkn

[2019-05-15 07:41] spooky commented on #279
does this switch the protocol type system wide? if so, is there a way to limit this switch just for signalr?

[2019-05-17 13:07] tebeco opened #535 "AzureSignalR Proxy support for ServiceEndpoint connection"
This issue has been created to address Hub connectivity throught a proxy,
I've been wondering about it before so i tried to provide a PR #534

## Context :
* The goal of this pull request is to run an application hosting a `Hub` and `AddAzureSignalR`
* As part of a company that still refuse to use transparent proxy we have to explicitly "point" at the proxy for outgoing request
* This is done unde

[2019-05-17 14:59] NArnott commented on #402
This seems to be happening twice a week for us, forcing us to restart our service that connected to Azure SignalR.

[code]

We're currently using Microsoft.Azure.SignalR version 1.0.9. This is on a Standard Tier, 1 unit Azure SignalR instance.

This is our startup code:

[code]

[2019-05-17 20:36] majum opened #536 "Unable to connect Azure SignalR service (keep getting 500 and 429 - too many requests)"
I have been using SignalR working/serving on my local computer (self-hosted) for months without any problem. I need to go production and decided to use Azure's SignalR service.

There is no source/documentation/stackoverflow topic/github samples left I have not checked. I keep getting "500 - internal server error" and "(429) too many requests". I don't know which is occurred when.

Tried on local

[2019-05-20 04:15] realwanpengli commented on #529
Hi @andrekiba  I didn't receive your email, and if I only referenced `Microsoft.AspNetCore.SignalR.Client` for version `1.1.0`, but I couldn't reproduce the error. All things works well in my Xamarin.Forms Android app. Could you provide app server log and more information like your azure signalr service name?

[2019-05-20 04:18] realwanpengli commented on #529
Did you installed the `System.IO.Pipelines` package [here](https://www.nuget.org/packages/System.IO.Pipelines/)? The latest is `4.5.3` since 4 months ago.

[2019-05-20 06:56] vicancy commented on #536
How many hubs do you have? SDK side initiates `(N hub count + 1) * ServiceOptions.ConnectionCount` server connections to the Azure Service when app starts, refer to [Server Connections](https://github.com/Azure/azure-signalr/blob/dev/docs/internal.md#server-connections) for details. The connection limitation counts for `client connection + server connection`. You can try set `ConnectionCount` to 1

[2019-05-20 07:11] andrekiba commented on #529
Mail sent few minutes ago, sorry for the delay.
Yes I tried to install System.IO.Pipelines 4.5.3 but it doesn't work.

[2019-05-20 07:46] alexiordan commented on #519
I get this kind of error daily at around `2019-05-20T01:35:24.303Z`
Several clients got same kind of error, and afterwards reconnected.
1. Is this something planned to happen each day at that hour so I shouldn't consider it error?
2. There are many such errors. About 30 errors per client between '2019-05-20T01:35:23.767 - 2019-05-20T01:35:27.185.
[code]

[2019-05-20 08:44] vicancy commented on #519
Hi @alexiordan , client connections can drop for various errors. Please refer to https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#%EF%B8%8Ftodoclient-connection-drop for troubleshooting guidance. If there were no events from your app server side, please send me an email about the period the issue took place and your Azure SignalR instance name for me to check from service side.

[2019-05-20 10:37] alexiordan commented on #519
There are no `Connection "..." to the service was dropped` errors.
However there are calls to OnDisconnected at 2019-05-20T01:35:23.

On those OnDisconnected my app crashed - I will fix that.

But why where all those clients disconnecting?
I've sent you an e-mail with required information.

[2019-05-20 17:24] majum commented on #536
I have 3 hubs.

Everything started working today without me doing anything. However, on [iOS SignalR Client](https://github.com/AutosoftDMS/SignalR-Swift) I am still getting `ResponseValidationFailureReason` with http `400`. Is there any way to see detailed reason on server side if client is misdoing/misinterpreting something (might be a version issue) so I can confirm blame client?

[2019-05-21 05:31] vicancy commented on #536
client first negotiate with your app server, so may be you can log something you are interested from the incoming client request.

[2019-05-21 08:07] realwanpengli commented on #526
Great to hear that it worked. Close the issue due to no more comments for more than 1 week.

[2019-05-21 08:07] #526 closed

[2019-05-21 08:16] realwanpengli commented on #529
Got it. Thanks. I cannot see any connection in your azure signalr service in May. Could you double check that you provide the correct signalr service resource name?

[2019-05-21 08:20] vicancy commented on #519
Network issues can also cause client connection drops. Where are the clients hosted? If the clients are not in a stabled network environment, it is normal that they experience disconnect.

[2019-05-21 10:26] alexiordan commented on #519
Clients are in diverse environments. Some are connected over 4G modems, while others wired. There are different ISPs involved.
I cannot believe it is a coincidence that 4 clients as described above got disconnected at same time...

[2019-05-21 11:04] alexiordan commented on #519
As we speak there is a lot of instabillity server side. Many clients receive
`Error: Server timeout (10000.00ms) elapsed without receiving a message from the server.`
I have set the server to send pings each 4 seconds with a 10 seconds timeout interval. And during last hour most of my clients encountered such errors.

[2019-05-21 14:19] alexiordan opened #539 "Orphaned connection"
For some reasons, rarely the Hub doesn't get notified about a client disconnect. Today it happened related to some issues ( I don't know if they are network or server related) that caused several disconnects (10-20 times) between 09:30 - 11:00 UTC aprox.

Are there any means to know that a specific connection is no longer active?

[2019-05-21 21:34] rstropek opened #540 "Regular client disconnects using REST API"
## Description

I have written a demo app in Go that uses the [Azure SignalR REST API](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md) to broadcast messages to JavaScript clients regularly (e.g. every second). The app's code is available [here](https://github.com/rstropek/golang-samples/tree/master/azure-signalr-server).

## Problem

Every approx. 15 seconds, the JavaScript clien

[2019-05-22 06:45] rstropek commented on #540
The [documentation](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-internals) says: *These connections [to clients] will remain connected to the SignalR Service all the time. If a server connection is disconnected for network issue, all clients that are served by this server connection disconnect...*. I guess this is the reason for the behavior I am seeing.

Guess my question

[2019-05-22 06:51] realwanpengli commented on #540
Hi @rstropek , could you tell me what's the service mode of your signalr service (In `Azure_Portal/Your_SignalR_Service_Page/Settings`)? Your scenario is serverless, the service mode should be `Serverless`.

[2019-05-22 11:11] rstropek commented on #540
Thank your for pointing that out. Will check and get back to you.

[2019-05-22 14:09] rstropek commented on #540
Good point. The setting was indeed on *Default* instead of *Serverless*. I switched it to *Serverless* now. Here is the current setting in the Azure portal:

![image](https://user-images.githubusercontent.com/2341573/58181259-c2be1600-7cab-11e9-8fea-5edc3b4a1bdb.png)

Unfortunately, the behavior is still the same. Here is a screenshot of the browser's console window showing the error that occurs e

[2019-05-22 14:16] rstropek commented on #540
Ok, I simply wasn't patient enough 😂🤣. I created a brand new service and it worked. Then I switched back to the old one - and it work there now, too. So I guess the change of the setting took a while until it became active. Now the Go sample works as expected. Thank you for reminding me on having to change that flag.

Greetings,
Rainer.

[2019-05-22 14:16] #540 closed

[2019-05-24 06:27] tebeco opened #546 "[DOC] Can't find sharding.md in dev branch"
Hello,

We are trying to check our software resiliency and i found this PR : #359
It was merged on march the 4th
![image](https://user-images.githubusercontent.com/2266487/58307060-cbbefc80-7dfd-11e9-9224-8ff7d9271689.png)

it contains [the file sharding.md](https://github.com/vicancy/azure-signalr/blob/dd84de02a66c6d197cf8d3845ded3319ab761bb4/docs/sharding.md) but i can't find it in `dev` branch,

[2019-05-24 09:16] realwanpengli commented on #286
Already prerelease in nuget: https://www.nuget.org/packages/Microsoft.Azure.SignalR.Management

[2019-05-24 16:16] vijayrkn commented on #517
If the fix is available, Is there a private package available to test? We dont have much time left for Preview6.

[2019-05-28 01:59] vicancy commented on #546
https://github.com/Azure/azure-signalr/blob/dev/docs/sharding.md

[2019-05-28 02:29] vicancy commented on #376
`ClaimsProvider` are for Hubs only. You can consider Service as a proxy and it just pass the claims inside `ClaimsProvider` to your Hub.

[2019-05-28 02:59] JialinXin commented on #517
@vijayrkn We're working on this. We found a few more interface changes in latest preview6 which requires Azure SignalR SDK update accordingly. We'll publish a new package when fixed all and keep you updated.

[2019-05-28 03:18] davidfowl commented on #517
Is there a branch I can look at?

[2019-05-28 03:27] JialinXin commented on #517
Thank you @davidfowl , please check branch [jixin/preview6](https://github.com/Azure/azure-signalr/tree/jixin/preview6) for sdk side changes.

[2019-05-28 05:40] tebeco commented on #546
my bad the navigation took me to your account fork.
I'm not sure how i did not see that

[2019-05-28 05:40] #546 closed

[2019-05-28 06:39] vicancy commented on #539
One related bug https://github.com/Azure/azure-signalr/issues/416

[2019-05-28 07:24] JialinXin commented on #517
@davidfowl Install latest .NET core sdk and the protocol issue is not exists anymore. But still we'll fix the add fallback protocol check in runtime.

[2019-05-28 07:36] spooky commented on #279
targeting .net 4.7 in web.config also works and doesn't require forcing TLS 1.2 in code (provided that it can be negotiated)
related link: https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#if-your-app-targets-net-framework-47-or-later-versions

[2019-05-28 08:42] JialinXin commented on #517
@vijayrkn [`1.1.0-corepreview6-00000`](https://www.myget.org/feed/azure-signalr-dev/package/nuget/Microsoft.Azure.SignalR/1.1.0-corepreview6-00000) is published to MyGet to unblock your tests. Please let me know if you meet any problem.
Keep the issue open until it's catching up with cicd.

[2019-05-28 14:35] vijayrkn commented on #517
@phil-allen-msft

Can you please try this package and see if you run into any issues?

[2019-05-29 12:41] #514 closed

[2019-05-30 18:35] Aluui commented on #134
@sonumalik1990 can you please post your full solution for us? or link to the ARM template you used in creating your
1. SignalR service
2. Azure function for SignalR
3. connecting the azure function to the signalR service

[2019-05-30 20:41] phil-allen-msft commented on #517
I've tried out the scenarios and everything seems fine.

[2019-05-31 08:02] alexiordan opened #556 "Every night around 01:11 UTC clients receive errors when sending data"
Every night around 01:11 UTC clients that send data to server encounter following error:

[code]
The stack is this:
[code]
In the server side log of the appservice I did not find any errors.
It happens every day at that time. Is this some planned restart of the SignalR Service?

[2019-06-01 01:56] davidfowl commented on #517
There may be one more late change to react to @JialinXin

[2019-06-03 02:44] JialinXin commented on #517
@davidfowl Thanks for the update. Will follow up on this.

[2019-06-03 04:54] vicancy commented on #556
No there is no planned restart for SignalR Service. Is it possible that Web App has planned restarts?

[2019-06-03 09:42] alexiordan commented on #556
I just looked in Azure under "Diagnose and solve problems" - "Web App Restarted" and I haven't seen any restart there.
For 2 days now it seems that time is no longer 01:11 UTC, but 01:50 UTC.

[2019-06-03 16:56] choronz commented on #274
You can set the claim for 'exp' in the JWT token directly if you are using the
[Rest Api](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#using-rest-api) to send messages.

[2019-06-04 01:11] myarotskaya opened #558 "WebSocket connection ttl for serverless mode"
According to the documentation the client will be receiving Ping messages from the SignalR service after successful HandshakeRequest. How long lives a connection in case when client would'n send any Ping requests to the server?

[2019-06-04 12:56] tbuha opened #559 "Serverless Mode. Connected/Disconnected users"
Hi there,

I'm going to use Azure Functions and Azure SignalR in Serverless Mode.
How to determine that user is connected to Azure SignalR? Is there any API to get connected users(with UserId) to Azure SignalR?

Thanks, Taras

[2019-06-04 13:05] albertxavier100 commented on #559
Hi @tbuha . All REST API can be found [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md). No query api for connected users.

[2019-06-04 13:12] realwanpengli commented on #559
Hi @tbuha All REST API can be found [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md). No query api for connected users.

[2019-06-04 13:15] realwanpengli commented on #558
Hi @myarotskaya , for [signalr client (version >= 1.1.0)](https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Client/1.1.0), signalr client always send ping.

[2019-06-04 14:02] tbuha commented on #559
@realwanpengli  thanks for the reply.

Does it mean that I cant do completely serverless approach?
And to get Connected/Disconnected Azure SignalR clients I still need to implement Hub in the App Service with
public override Task OnConnectedAsync();
public override async Task OnDisconnectedAsync(Exception exception);

What will be the best approach?

[2019-06-04 14:18] realwanpengli commented on #559
@tbuha , welcome. That's right.

[2019-06-04 15:27] vicancy commented on #274
For security concerns, extend TTL is not encouraged. We have a detailed explanation and suggested solution in https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#solution-2

[2019-06-05 05:21] myarotskaya commented on #558
@realwanpengli thanks for the reply! But my question is about the case when I'm not using SignalR client. Does SignalR service close a connection if it doesn't receive any Ping messages from client?

[2019-06-05 15:12] tebeco commented on #535
@vicancy
Thx for the merge in master and the release of `1.0.10`, works like a charm with our Anonymous proxy.
Will test it in the next days with a Kerberos one / DefaultCredential to see how it behave.

Closing the issue  (Thx a lot ... really)

[2019-06-05 15:12] #535 closed

[2019-06-06 16:49] marshall76963 opened #561 "XML Parsing Error: not well-formed"
Hi

We are receiving the following error in the Firefox console when initiating a connection to SignalR:

[code]

I am aware that this was known about in previous versions of SignalR as described here: https://github.com/aspnet/SignalR/issues/1106, however we are getting this with the latest `Microsoft.Azure.SignalR.AspNet` NuGet package (version 1.0.10) on Azure using ASP.Net.

Whilst as far as I

[2019-06-07 00:49] myarotskaya commented on #558
hey @realwanpengli any updates on this?

[2019-06-07 03:45] realwanpengli commented on #558
@myarotskaya  Sorry for the delay. The connection timeout is 30 seconds without receiving Ping messages.

[2019-06-07 05:47] myarotskaya commented on #558
But I tried to connect to the SignalR service without sending Ping messages from the client side and the web socket connection was alive during at least 6 hours (the server haven't closed it)

[2019-06-07 08:14] albertxavier100 commented on #558
You said you don't use SignalR client, so how do you establish the connection?

[2019-06-07 09:40] myarotskaya commented on #558
@albertxavier100 you can connect to Azure SignalR service without SignalR client using the following url: `wss://[signalRServiceName]/client?hub=[hubName]&accessToken=[accessToken]` and after that send [Handshake request](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/docs/specs/HubProtocol.md#overview). In browser it looks like:
[code]

[2019-06-07 14:22] realwanpengli commented on #558
@myarotskaya Sorry , I checked the ping message timeout for server connection instead of client connection. There is no timeout for client connection.

[2019-06-07 15:53] BrennanConroy commented on #558
@myarotskaya In SignalR 1.0.0 clients didn't send pings to the server and the server didn't timeout clients for not pinging regularly. In 1.1.0 the clients start sending pings and to preserve back-compat the server would only start observing timing out clients if they sent a ping in the first place.

So in your case because you never send a ping, the server wont start the timeout logic.

[2019-06-09 13:41] myarotskaya commented on #558
@BrennanConroy Ok, I get it. Thank you for the reply! But how long will live a connection in case if client starts to send ping messages and then stops to do it? After which period of time the server supposed to terminate this connection?

[2019-06-10 07:53] vicancy commented on #561
Repro-ed with Firefox. Thanks for reporting it.

[2019-06-10 08:08] vicancy commented on #556
Any server side log during that period? You can also email me the affect instance name for me to check if there were anything abnormal from service side.

[2019-06-10 08:09] vicancy commented on #561
We plan to fix this issue in the upcoming service update, which is planed on the end of June.

[2019-06-10 15:41] BrennanConroy commented on #558
~30 seconds

[2019-06-11 01:21] myarotskaya commented on #558
Hmm I just tried to send Ping message from a client side - the established connection wasn't closed after 30 seconds 🤔
![image](https://user-images.githubusercontent.com/3490828/59236747-1330ef80-8c2a-11e9-8773-31ab25b44858.png)

[2019-06-11 02:00] BrennanConroy commented on #558
Whats the version of SignalR you're using on the server?

[2019-06-11 02:23] myarotskaya commented on #558
I'm using Azure SignalR Service

[2019-06-11 03:15] BrennanConroy commented on #558
Oh are you doing serverless? I don't know then. @vicancy

[2019-06-11 08:31] vicancy commented on #558
@myarotskaya When using Azure SignalR Service, service does not terminate the connection even if the client starts to ping, for backward compatibility concerns. For now, ping messages from client are just ignored by the service.

cc @BrennanConroy

[2019-06-12 05:21] myarotskaya commented on #558
@vicancy thanks for the reply! In this case, is there any plans to support Ping messages from the client and terminate a connection once the server stops to receive them?

[2019-06-12 05:57] vicancy commented on #558
It's not yet in the plan. We can add the feature to the plan if there is a strong need for this. May I know your main scenario for this and your concern if this feature is not there?

[2019-06-12 07:56] myarotskaya commented on #558
Actually I don't have a case right now but it's [a part of HubProtocol](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/docs/specs/HubProtocol.md#ping-aka-keep-alive). Why it was designed like this in the first place? I mean why SignalR server supports Pings from the client? For which scenarios it might gonna need?

[2019-06-12 08:48] vicancy opened #566 "Change endpoint status Online/Offline to push mode"
1. In current implementation, every client `/negotiate` request enumerates all the endpoint online status and creates a new array.
2. User has requirements to monitor the endpoint status when it is changed

[2019-06-14 09:54] myarotskaya commented on #558
@BrennanConroy maybe you could help me? I just want to have an idea why would I need to send pings from the client and why it doesn't make sense for Azure SignalR Service

[2019-06-14 15:13] BrennanConroy commented on #558
It is so the server can better detect when a client is no longer connected. If the client never sends a ping and pulls the ethernet or power cable from their computer, then it can take many minutes for the server to know that the client is no longer there.

App developers like to know when clients are gone as soon as possible, so pings helps close that gap.

[2019-06-17 01:05] myarotskaya commented on #558
@BrennanConroy thank you for the clarification! But why there are no plans to support pings from clients in Azure SignalR Service as well? @vicancy

[2019-06-17 02:21] vicancy commented on #558
Thanks @BrennanConroy for the explanation.

Hi @myarotskaya Yeah we should support that. Adding to backlog for triage.

[2019-06-17 03:21] vicancy commented on #558
@myarotskaya As for serverless case, Azure SignalR maintains the lifetime of client connections. So for now, the only impact for lacking client ping timeout check is that Azure SignalR detect client connections later and thus consumes more resource to maintain already disposed client connections.

This feature can be useful when we allow OnDisconnect event hook (which is work in progress) with Ser

[2019-06-17 03:57] myarotskaya commented on #558
@vicancy thanks for the explanation and adding to the backlog! I have one more question (it's not related to Pings but still about connection lifetime): can client send `Close` message to the server? I see in the [documentation](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/docs/specs/HubProtocol.md#overview) that `Close` message can be sent by Caller and Callee (`Sender` column) bu

[2019-06-17 04:58] realwanpengli commented on #559
Close the issue since already resolved and over 1 week.

[2019-06-17 04:58] #559 closed

[2019-06-17 05:26] vicancy commented on #559
Hi @tbuha, we are now working in progress to add EventGrid hook to serverless scenarios so that you can get notified with `Connect` and `Disconnect` events.

It will be available for all regions around early July.

cc @realwanpengli  @zackliu

[2019-06-19 09:07] JontyMC opened #572 "Is adding to groups persistent?"
I'm using serverless and adding users to groups via the REST API. Does group membership persist beyond connection closing? IE, do I need to register to the groups every time a user connects or only once? I can't find this information in the docs anywhere.

[2019-06-20 03:27] vicancy commented on #572
Yes, when using serverless, we *guarantee* persistency of "users to group relationship" for **7 days**.

[2019-06-21 15:26] PalashBorhan commented on #559
Hello @vicancy, It's good to have this. I have this reported [here in github](https://github.com/Azure/azure-functions-signalrservice-extension/issues/54) as well. Any thoughts if this can be done using Azure Functions binding?

[2019-06-25 14:18] CepaNiya commented on #566
I'm trying to set up multiple service instances base on [Resiliency and disaster recovery](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-disaster-recovery)
To test it, I deleted the primary service resource and experienced the mentioned issue. I implemented a workaround to resolve it. This solved my client side connection to the secondary/online signalr service. But when I t

[2019-06-26 02:10] vicancy commented on #566
Hi @nikolasur

As [Resiliency and disaster recovery](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-disaster-recovery) stated, the disaster recovery uses `active-active` pattern, which means, for different regions, there are both "app server" -> "azure service" pairs. The connection between "app server" and "azure service" within one region should be always `primary`, and con

[2019-06-26 04:55] curtisconner commented on #194
OK guys I am also stuck with the same issue

Here is my configure code
public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<Dx1Configuration>(Configuration.GetSection("Dx1Configuration"));
            services.Configure<IdentityServerConfiguration>(Configuration.GetSection("Authentication:IdentityServer"));
            services.AddScoped<Dx1Repository

[2019-06-26 05:21] davidfowl commented on #194
The exception message explains what the problem is, specifically:

[code]

You haven't called  `UseAzureSignalR` as a replacement for `UseSignalR` in the Configure method.

[2019-06-26 06:50] curtisconner commented on #194
Doh, thanks.  amazing the number of hours you waste when the answer is right there.  Again thanks

[2019-06-27 05:28] JialinXin commented on #517
preview6 version release and close the issue.

[2019-06-27 05:28] #517 closed

[2019-06-27 09:01] nikolasur commented on #566
Hi @vicancy, Thank you for the response, for now there is no other issues/questions. I will set both endpoint as primary, and return the endpoint in same region by default in custom router.

[2019-06-27 10:52] hodgezappa opened #581 "Sometimes my signalr .net client's InvokeAsync method works and sometimes it doesn't."
I have a .net core 2.2 project which has an Azure signalR service hub, in my startup.cs i have set it up like this:

[code]

I have a .net client project which is a winform app (.net 4.6.1), it sets up the connection like :

[code]
when it starts up I call:

`await connection.StartAsync();`
and can see the state is Connected.

I then want to call a method on the hub from the client so i do this in

[2019-06-27 15:14] Olusheenor commented on #194
I have similar issue but on AspNetcore UseSignalR

[2019-06-27 20:26] kwasak opened #582 "Implementing Hub Class"
I'm using serverless with ASP.NET Core SignalR, and I'm wondering, how would I use my own hub implementation?

[code]
The Hub returned from ServiceManager builds is implmentated as an internal class of ServiceHubContext.
How would I implement and use my own Hub logic, similar to below, instead?

[code]

It's worth noting, the documentation states [business logic should be in your hub classes](http

[2019-06-28 07:35] hodgezappa commented on #581
After some more digging i think this is because i'm using an Azure signalR service. I've added a new method which is sometimes hits successfully but sometimes fails with - HubException: Method does not exist.

[2019-06-28 08:05] vicancy commented on #581
It occurs when you use Azure SignalR Service for different web apps with different application name, or web app with different versions, one web app contains the method however the other one not.

[2019-06-28 08:37] hodgezappa commented on #581
hmm, i only have one web app and i'm running all this locally in dev mode with visual studio at the moment

[2019-06-28 08:51] hodgezappa commented on #581
Actually, you've made me realize that other devs are using my service with their instances too, their instances don't have this new method in, so when it works it's hitting me code, when it fails it's hitting theirs! This is probably what's happening. Thanks

[2019-06-28 09:32] hodgezappa commented on #581
Yep, i've set up a new service so i'm the only one calling that and there's no problems now. Thanks for pointing my brain in the right direction!

[2019-06-28 11:28] tbuha opened #583 "Azure SignalR Negotiation. Azure Func and Azure AD authentication."
I would like to use negotiation for Angular App, based on Azure Func and Azure Active Directory authentication, with specified UserId for SignalRConnectionInfo.

How to specify UserId and Authorization Bearer token?

IHttpConnectionOptions does not have any members for http headers.
I just see only one possibility to override HttpClient, but why for such simple task I need to override the whole cl

[2019-06-29 19:31] davidfowl commented on #517
We need to do the same for preview 7 let’s open a new issue to track it

[2019-06-30 07:58] realwanpengli commented on #582
Hi @kwasak , the document for Management SDK can be found [here](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md).

You can send messages like this:
[code]

Quick start can be found [here](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md#quick-start).

Samples can be found [here](https://github.com/aspnet/AzureSignalR-samples/tree/master/sam

[2019-06-30 08:08] realwanpengli commented on #583
Hi @tbuha , take a look at this [Azure Function Chat Room Sample With Authentication
](https://github.com/Azure/azure-functions-signalrservice-extension/tree/dev/samples/chat-with-auth#azure-function-chat-room-sample-with-authentication) sample.

You can set User ID like this:
[code]

For more information, please see [document for accessing user claims](https://docs.microsoft.com/en-us/azure/app-s

[2019-06-30 16:28] tbuha commented on #583
Hi @realwanpengli

Thanks for the reply.

I have a looked on your example. Example shows separate calls for negotiate and hubConnection initialization with predefined accessToken.

In my situation I would like to use build in functionality.

Signalr js lib has an build in option to negotiate AzureSignalR SignalRConnectionInfo in IHttpConnectionOptions
`skipNegotiation?: boolean;`

Is it possible t

[2019-07-01 02:11] JialinXin opened #584 "Azure SignalR compatible with preview7"
Open a issue to track the potential compatibility issue in preview7.

[2019-07-01 02:14] JialinXin commented on #584
cc @davidfowl @vijayrkn
Let us know if you meet any problem in the coming release.

[2019-07-01 08:38] alexiordan commented on #416
Any updates on this?

[2019-07-01 09:00] JialinXin commented on #416
I'm working on this.

[2019-07-02 02:42] #581 closed

[2019-07-02 09:10] #494 closed

[2019-07-02 09:12] realwanpengli commented on #583
Hi Taras,

You can call negotiation function endpoint and wait for the access token, then add the token in` accessTokenFactory`.

For signalr js client, you can define your access token to azure signalr in [accessTokenFactory](https://docs.microsoft.com/en-us/javascript/api/@aspnet/signalr/ihttpconnectionoptions?view=signalr-js-latest#accesstokenfactory).

Azure SignalR function binding helps you

[2019-07-02 21:35] joaomatossilva opened #588 "Check Server connection state"
Hello,

In order to make a server health check I was wondering if it's possible to check if the status of the server connection to the Azure.

The `IServiceConnection` does expose those properties, but the interface (as well as implementations) are internal.

Do we have any depedency that is registered on the `IServiceCollection` that we can query for a server connection status, like number of act

[2019-07-03 07:56] unsafecode commented on #588
Same here, we often get `The connection is not active, data cannot be sent to the service` in the logs, but SDK does not fail, and health probes are useless then.

/cc @ruoccofabrizio

[2019-07-03 14:59] kwasak commented on #582
Thank you @realwanpengli

[2019-07-03 14:59] #582 closed

[2019-07-04 09:40] alarco-l opened #589 "Endpoint status always Online"
Hi,

I'm trying to understand how SignalR and Azure SignalR resiliency works according [Resiliency and disaster recovery](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-disaster-recovery) and [Sharding.md](https://github.com/Azure/azure-signalr/blob/dev/docs/sharding.md).

I have created a very dummy custom router class to be able to check my primary endpoints and there statu

[2019-07-05 08:25] #346 closed

[2019-07-05 08:30] vicancy commented on #589
When you delete your service? Is it when the app server is already running or before the service is running? For backward compatibility concerns, the endpoint initial status is `online`, and it changes to `offline` after its first try of connecting to Azure SignalR.

[2019-07-05 08:46] alarco-l commented on #589
Yes my app server is running, then I delete the signalR service.

So how the hub on app server running on azure can switch to my `secondary endpoint` if the status will not change to `offline` ?

[2019-07-05 09:42] vicancy commented on #589
It should change. Could you try the latest one `Install-Package Microsoft.Azure.SignalR -Version 1.1.0-preview1-10435 -Source https://www.myget.org/F/azure-signalr-dev/api/v3/index.json`? We made several fixes to `endpoint` after `10420`.

[2019-07-05 09:43] alarco-l commented on #589
I just edited my previous answer after some tests and I will no test with `1.1.0-preview1-10435` package.

Thanks

[2019-07-05 15:21] vicancy commented on #589
1. Running my app server, connected to `ServiceEndpointA`(primary, online) and `ServiceEndpointB`(secondary, online)
2. Connect a signalR client, redirect to `ServiceEndpointA`
3. Delete my service `ServiceEndpointA`,
~~Run a new app server~~ (no need to)
4. Connect a new signalR client, `ServiceEndpointA` should be offline now, and return `ServiceEndpointB`

[2019-07-07 17:44] Schmaga commented on #401
I am not sure if your actual issues is a similar one, but in one of my projects we received the error as well.

The reason was this: When hosting on Azure, we forgot to activate WebSockets for the Azure App Service. This was Problem part 1. This lead to SignalR trying to fall back to Long Polling, which lead to problem part 2: We also had a misconfigured Server Worker active, that would also cache

[2019-07-08 03:50] davidfowl commented on #584
Yes there are breaking changes we need to react to, lets get a new build so we can start the reaction.

[2019-07-08 06:00] JialinXin commented on #584
Thanks for reminding. Will work on this.

[2019-07-09 08:52] alarco-l commented on #589
Indeed with `1.1.0-preview1-10435` package, the dead enpoint is not marked as `online` anymore and the new signalR client is routing on the secondary enpoint.

With my understanding, the `1.1.x` package will be delivered synchronously with `netcoreapp3.0` and `aspnet core 3.0`, I'm not really sure about my assumptions.

Can you share more details about this release and if it is  really related to

[2019-07-09 09:22] JialinXin commented on #584
@vijayrkn @phil-allen-msft
Package(version number >= [1.1.0-preview1-10442](https://www.myget.org/feed/azure-signalr-dev/package/nuget/Microsoft.Azure.SignalR/1.1.0-preview1-10442)) work for preview7 is available in **MyGet** for Visual Studio integration tests before AspNetCore 3.0 preview 7 releases. Please check.

[2019-07-09 15:58] tebeco opened #593 "[PORTAL] Deleting and Recreating a backplane show log from previous instance"
Hello,

It seems that we see glitches in Azure Portal, when using an `azure signalr` backplane :
* Create an Azure SignalR backplane
* Use it for streaming
* Delete it
* Create  a blank new one with the same name/ region / resource group (not sure what how it matches)
* DO NOT use it
* go in `Activity log` in the portal

It will display logs from the previously existing instance.

It's a bit annoy

[2019-07-09 20:58] phil-allen-msft commented on #584
Checked; all appears to be well.

[2019-07-10 03:20] JialinXin commented on #593
It's by design. [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/overview)(metrics and logs on Azure portal) recognize **ResourceId** (composed by subscriptionId, resource group name and resource name, which can be find under Properties) only and it is a common issue among all Azure resources.

[2019-07-10 07:03] tebeco commented on #593
thx a lot I had no idea that behavior

it's weird that the Id could be reused like that, it feel both logic and sooooo bad
the logs will ends up with tons of false positive
will probably open a ticket to the Monitor team to see if it could at least have a boolean to erase logs while deleting a resource

[2019-07-10 07:03] #593 closed

[2019-07-11 01:44] vicancy commented on #589
Thanks for the info. @alarco-l  We will release the `1.0.11` package for `netstandard2.0` in next release, which is planned in next week.

[2019-07-11 05:33] alarco-l commented on #589
Great news ! Thanks for all your answers.
I’m closing the issue

[2019-07-11 05:33] #589 closed

[2019-07-11 13:21] alarco-l opened #594 "[Question] Does Azure Signalr supports Ackable Message ?"
Hi,

I could see on [ServiceProtocol](https://github.com/Azure/azure-signalr/blob/dev/specs/ServiceProtocol.md) and in the source code of this sdk that there is a notion of acknowledgement for both `joinGroup` and `leaveGroup` actions.

There is also a [AckMessage class](https://github.com/Azure/azure-signalr/blob/b97db853f8e2460983ec49f659784e8d6c7a2a82/src/Microsoft.Azure.SignalR.Protocols/Servi

[2019-07-11 14:59] zackliu commented on #588
If all the server connections are in `disconnected` state, you can definitely catch exceptions when calling method like `await Clients.All.SendAsync()`.
In some cases, you get a lot of logs like `The connection is not active, data cannot be sent to the service`, but there's no exception when you call  `await Clients.All.SendAsync()`. It happened when a server connection dropped but failed to clean

[2019-07-11 15:12] zackliu commented on #594
Now the ack-able operation only apply on `JoinGroup` and `LeaveGroup` as waiting for ack will definitely have a bad impact on performance and `JoinGroup` and `LeaveGroup` are not as frequent as other operations .
We don't have a clear road map about adding other ack-able actions. I know many customers have the necessary of guaranteed order or guaranteed delivery, and we're investigating a way to b

[2019-07-11 15:17] alarco-l commented on #594
@zackliu thanks for your answer.
I look forward to have the guaranteed delivery feature.

[2019-07-11 15:17] #594 closed

[2019-07-11 17:52] joaomatossilva commented on #588
We have a multi-server setup. But we wan't to check the health of each server during the individual deploy process.

Will the new SDK be able to make that check? Will it be able to run on the aspnet core 2.1 or are we forced to upgrade to 2.2 or even 3.0?

[2019-07-12 09:27] jraristi commented on #473
Are there any news about this issue? Right now we are using the workaround described here https://github.com/Azure/azure-signalr/issues/108

[2019-07-15 06:43] johnkors commented on #55
Related.

How about the _value_ of the connectionstring itself, which may include semicolons? I can always build it myself in code, just seems a bit off.

`DefaultEndpointsProtocol=https;AccountName=<some-account>;AccountKey=<key>`

[2019-07-15 13:26] tebeco opened #597 "[QUESTION] Release Synchronization with AspNetCore ?"
Hello @vicancy ,

I know this kind of question is usually hard to answer.
We plan to move from `aspnetcore2.2` to `aspnetcore3.0` + `azure signalr` at the same time.

We are currently wondering if the release of the `azure-signalr` `v1.1.x` (or maybe `v3.x`) will be aligned with the release date for both `netcoreapp3.0` / `aspnetcore3.0`, for september 2019

[2019-07-15 15:06] davidfowl commented on #55
What do you mean?

[2019-07-15 16:07] anurse commented on #55
@johnkors are you talking about an Azure SignalR connection string? The one you cited looks like Azure Storage, not Azure SignalR. Also, generally connection strings are intended to be copied from the portal and used as-is, not constructed manually.

[2019-07-16 02:03] vicancy commented on #597
Yes we are. cc @JialinXin

[2019-07-16 07:28] vicancy opened #599 "Block application start until any server connection succeeds"
For https://github.com/Azure/azure-signalr/issues/588

Sometimes the server connection never succeeds in establishing the connection to Azure Service, however user is not aware of the break until the client fails. Customers have to enable the logs to troubleshoot the issue.

[2019-07-17 03:12] vicancy commented on #473
I am afraid not, only `QueryString` and `Headers` will be preserved. @petkoo55

It will be released in next version. @jraristi

[2019-07-17 13:30] jraristi commented on #118
Looking for a solution I found this thread and I am sure you know where should I look.
Clients subscribe via REST to a group:  `https://<instance-name>.service.signalr.net/api/v1/hubs/<hub-name>/groups/<group-name>/users/<userid>`

The Javascript client is connected by `var connection = new signalR.HubConnectionBuilder(`...

The client gets broadcasted messages with: `connection.on('sendMessage',

[2019-07-18 07:50] vicancy commented on #599
Also hook into ApplicationShutdown to clean up server connections.

[2019-07-23 09:46] johnkors commented on #55
Sorry, this was the only issue I could find with any relevance - not directly related to SignalR.

Yes, this is an Azure Storage connection string. My local dev machine is a Mac using zsh. I think the issue is with my local setup on my mac, and not a general issue. I could not repro using a Linux docker build in a [repro](https://github.com/johnkors/env-repro).

[code]

Local mac env vs docker bui

[2019-07-23 14:53] anurse commented on #55
That's because `;` is a statement terminator in zsh, just like in languages like C#. So ZSH stopped parsing at the first `;`. If you quote the string, you should be able to avoid that:

[code]

[2019-07-24 02:33] JialinXin commented on #584
Pushed to Nuget(https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.1.0-preview1-10442) as well.

[2019-07-24 22:59] SamWhitby commented on #599
I'm seeing a similar issue with an integration test using an in memory server. Part of the test trying to send a message through an Azure SignalR instance. The test starts up the in memory server, fires a request at it and when the SendAsync method is called on the hub context it always throws "The connection is not active, data cannot be sent to the service."
Setting a small delay between the sta

[2019-07-25 19:54] ariosdev opened #614 "Server Connections remain open"
Hello,

I am using Microsoft Azure SignalR Management library to create a single hub which connects to Azure SignalR Service which is set to Serverless mode, currently I have only one client, client connects to ASRS with no issues, does some work and then it calls hubConnection.stop() to close the connection, however I can see in Azure Portal that server connection count keeps getting higher up to

[2019-07-26 00:12] realwanpengli commented on #614
@ariosdev

One server connection per `ServiceHubContext`, so you created 20 ServiceHubContext? Did you choose `AGGREGATION` to `MAX` in Metrics blade in Azure portal?

HubConnection.StopAsync() only stop client connections.

Call `IServiceHubContext.DisposeAsync()` to stop server connection.

FYI, Management SDK's [guide](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md

[2019-07-26 20:37] johnkors commented on #55
Neat, thanks!

[2019-07-29 05:27] davidfowl opened #615 "Implement the ITransferFormatFeature in the SDK where appropriate"
This a very low priority issue but something I noticed when reading the code. The `ITransferFormatFeature` is available specifically for text only based transports (really only Server-Sent-Events) and its used to make sure combinations like SSE + MessagePack fail (since we don't bother trying to send binary data over a text only transport). This also only happens if you explicitly choose SSE as a

[2019-07-29 19:15] ariosdev commented on #614
@realwanpengli

I opened the website in new tabs / browsers multiple times, I think that would translate to creating 20 or so ServiceHubContext, I tried calling IServiceHubContext.DisposeAsync() as suggested but it didn't help, I was still getting the same error, what helped was changing the ServiceTransportType back to Transient as I had it set to Persistent, everything seems to be working fine n

[2019-07-29 19:15] #614 closed

[2019-07-29 21:25] pablo-meyer commented on #402
@NArnott Any advances on this? we are experiencing a similar issue

[2019-07-30 04:01] vicancy commented on #402
Hi  @NArnott @pablo-meyer

As stated in https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#server-connection-drop

Too frequent connection drops are not expected, you can email me your instance name and the timestamp of the drop for me to check the root cause if you think the drops are abnormal.

[2019-07-30 08:06] realwanpengli commented on #614
@ariosdev Could you tell me what tier and unit are you using? If it is free, the concurrent connections limit (20) is easy to reach. The pricing details acn be found [here](https://azure.microsoft.com/en-us/pricing/details/signalr-service/)

Could you email me your SignalR service's resource ID, if it is true, it should be a bug, we would like to help to fix it.

[2019-07-30 11:41] #416 closed

[2019-07-30 12:34] scale-tone opened #617 "No clarity about thread safety at all. Finally, is ServiceHubContext thread-safe or not?"
All the examples of how to obtain and use IServiceHubContext instances do not go beyond a "Hello world" use case and therefore do not provide any answer on what is the recommended approach to it's instance lifecycle.
Can we have a singleton instance of it per process? If yes, will it be thread-safe? Will it automatically reconnect? What if it fails to?
If not, how costly are serviceManager.CreateH

[2019-07-30 12:46] alexiordan commented on #416
Hi @vicancy
1. When should I expect this fix to reach production?
2. This is server side only, right? I mean, is there anything should I update (nuget packages etc.)?

[2019-07-30 14:21] JialinXin commented on #416
Hi @alexiordan, the fix would be in next SDK release 1.0.12. We did the fix both in Azure SignalR service and server SDK side. ASRS side would be released in 2-3 weeks, and sever SDK release will be after that. Hopefully it would be in a month.
So when you find 1.0.12 releasing, you need to update to this version of SDK in order to apply the fix. And yes, it's server side no need client changes.

[2019-07-30 14:26] jraristi commented on #345
Is there an official documentation page where we can track this?

[2019-07-30 16:25] ariosdev commented on #614
@realwanpengli

Sure,

Free Tier
Unit / Capacity: 1
Mode: Serverless

I will email you the resource id.

[2019-07-31 19:25] Jun2014 opened #619 "Best practice to prevent DOS against signal service"
We're investigating using signalr service, one of potential issue is signalr service is easily exposed to potential DOS attack in our scenario. In our scenario, an anonymous user can request connection to our signalr service.
An attacker may easily create many connections with little cost. In this situation, other users are not able to connect to signalr service due to limited connections supporte

[2019-08-01 19:59] Mittchel opened #620 "[WebSocket] Unable to connect to server"
We've been trying to port our api's to .net core 2.2 and are experiencing issues with the Azure SignalR service and WebSockets.

For some reason we're experiencing a WebSocket exception: 'Unable to connect to the remote server'. The weird thing is that when we enable Long polling everything works fine.
We've scattered the web and tried a bunch of things but nothing has been successful yet.

I've a

[2019-08-02 06:07] vicancy commented on #620
The sample code looks good to me.

Is it the client side experiencing the WebSocket exception? Could you follow https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#tips to get the details of the failed request?

[2019-08-02 07:13] vicancy commented on #620
Details please refer to https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#troubleshooting-guide-2 #2

[2019-08-02 07:27] Mittchel commented on #620
@vicancy thanks for taking the time to dig into this one. I've followed your advice and checked the request with Fiddler. There isn't much to see except a 404 that I'm getting which isn't really new sadly. (see attachment)

I've disabled SkipNegotiation before and did it again, that indeed works, but I'm not a 100% sure that it's using websockets then. The reason for that is that If I check the tr

[2019-08-02 07:33] Mittchel commented on #620
I feel like [this issue ](https://github.com/aspnet/SignalR/issues/2329)is related. It's an issue from a year ago though and doesn't supply a solution.

Also when I'm not using Azure Signalr Service but I'm actually hosting my own by doing app.UseSignalr() it works over websockets (see attachment). So it looks like the connection to the Azure Signalr service isn't working via websockets. I know th

[2019-08-02 07:42] Mittchel commented on #620
Ooff @vicancy I think you're right on setting the SkipNegotiation to false. The first time I actually removed it entirely which worked but I didn't see the websocket request like I mentioned.

I've read the docs you provided and actually read your comment better and explicitly changed `SkipNegotiation = false` and I think it works now.

I'll do some more testing before I can close this issue.

[2019-08-02 08:15] Mittchel commented on #620
So did some more testing and it works when putting `SkipNegotation = false` but I'm not 100% sure that its using WebSockets now. I can't find it anywhere in Fiddler actually and also when I try to retrieve the transport in the api by calling: `var transportType = Context.Features.Get<IHttpTransportFeature>()?.TransportType;` it actually returns null.

When reading up on [the internals](https://doc

[2019-08-02 08:43] Mittchel commented on #620
Did some more digging and it actually works. I actually found out I had it working before when I didn't supply `SkipNegotiating` at all. I just didn't know for sure if it was using WebSockets, now I do. I'll summarize it for further readers.

`SkipNegotation` has to be set to false or left out completely and it will work. The reason why we can't see in Fiddler that it's a WebSocket connection is b

[2019-08-02 08:43] #620 closed

[2019-08-02 10:20] realwanpengli commented on #617
Hi @scale-tone Thanks for asking.

No global shared data, you can use it as static/non-static member. So no special recommendation.

Both work.

Yes, except for `ServiceHubContext` can be disposed only once.

If it fails:
* Transient Mode: No actual connection
* Persistent Mode: No, it will not reconnect, user should handle it by himself/serself. Throw exception if disconnects unexpectly.

More in

[2019-08-02 11:01] scale-tone commented on #617
Thanks @realwanpengli , much more clear now. Still more questions:

Did you mean that IClientProxy.SendCoreAsync() will start throwing exceptions in that case?

Transient Mode: Cost can be ignore -- Create an instance to call Azure SignalR's REST api to send messages.
Persistent Mode: Main cost -- Establish Websockets connections to send messages.

I assume, ServiceTransportType.Transient is the d

[2019-08-02 12:18] pablo-meyer commented on #402
Thanks @vicancy, Ill give you the info the next time this happens...

[2019-08-02 18:56] Jun2014 opened #621 "Feature request: management sdk provides way to kick user off from signalr service"
Scenario: I follow https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md to expose negotiation endpoint. The negotiation REST API will return hub endpoint and access token to clients.
Signalr service has limit of number of connections since we pre-configured number of units. So we want to protect our signalr service.
Our current idea is to limit number of connections based o

[2019-08-04 10:52] yosigolan commented on #402
Hey. i also experienced these problems few month ago when the issue was opened and it fixed. on the 26.7 it happen to me again for few hours. on the dashboard i saw are about 17 connections which prevented new client connections. restart dident solved it. eventually, it fixed by itself. i then saw it again the day after and now everything works as should.

[2019-08-05 02:55] vicancy commented on #402
@yosigolan sounds like you are hitting the 20 limit quota so that when every day starts the issue recovers?
Here has a detailed TSG on how to view client-side network traffic https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#tips

[2019-08-05 02:57] vicancy commented on #402
I am going to close this issue as the original one should be addressed.

Please open new issue providing detailed error responses from client and server when possible following https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#tips if you encounter similar issues.

Thanks

[2019-08-05 02:57] #402 closed

[2019-08-05 03:12] vicancy commented on #620
Thanks for your detailed info @Mittchel.

From my side fiddler is able to capture the network between your localhost and azure SignalR. Is there any setting/filter preventing that from your side?
![image](https://user-images.githubusercontent.com/668244/62436336-eaccf980-b771-11e9-95c7-780fc4cd527b.png)

[2019-08-05 07:30] realwanpengli commented on #617
@scale-tone Thanks for mentioning Azure Function SignalR Extension! And sorry for the wrong answer. The Management SDK already have the logic to [reconnect](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.Common/ServiceConnections/ServiceConnectionContainerBase.cs#L205)

But we only have one websockets connection in persistent mode, if one drops, there's no other connec

[2019-08-05 07:31] #286 closed

[2019-08-05 07:36] realwanpengli commented on #444
Hi @ntrpnr we published an [Azure SignalR Service Management](https://www.nuget.org/packages/Microsoft.Azure.SignalR.Management). You can use it to remove a user from all groups. You can also call [REST API](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#remove-user-from-all-groups) to remove it.
You can mark the client connection with a user name, then you can use this feature.

[2019-08-05 07:42] realwanpengli commented on #414
Hi @joeuy We added an new REST API called [remove-user-from-all-groups](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#remove-user-from-all-groups)
With this api, you can remove all previous/existing user-group mappings of the user.

[2019-08-06 18:48] Jun2014 opened #622 "Can JWT access token be reused?"
The client gets signalr service endpoint and JWT access token back, can client reuse this JWT access token to establish more than 1 connection? From the code, seems yes, want to confirm this.

[2019-08-07 09:29] bitcloud commented on #572
Where can I find that guarantee in the documentation? I would love to link to that page from our documentation.

[2019-08-08 12:07] Mittchel commented on #620
@vicancy no problem for the detailed info. Really hope this helps other people in the future as well!

I am not that familiar with fiddler to tell you which setting/filter is preventing me from seeing the network connection between localhost and Azure.

Currently I'm using the default settings (clean install of fiddler). Are you able to tell me what settings I could check?

Thanks!

[2019-08-09 01:29] ispysoftware opened #623 "[Bug] Context.GetHttpContext().Connection.RemoteIpAddress returns null"
It stopped working about 9 hours ago - it connects but doesn't relay any messages to the backend server.

I've restarted the service and even deployed a new instance of it with the same results. Something has crapped it's pants on Azure's side. This has been working for months.

[2019-08-09 05:55] ispysoftware commented on #623
seems to only be an issue on Central US

[2019-08-12 14:23] scale-tone opened #627 "Microsoft.Azure.SignalR.Management.ServiceHubContext does not reconnect with ServiceTransportType.Persistent"
Sample project is [here](https://github.com/scale-tone/AzureSignalRTest).

Steps to reproduce:
1. Get the [sources](https://github.com/scale-tone/AzureSignalRTest).
2. Put your Azure SignalR Service Connection String to [both](https://github.com/scale-tone/AzureSignalRTest/blob/master/AzureSignalRConsoleTest/appsettings.json) [appsettings.json](https://github.com/scale-tone/AzureSignalRTest/blob/m

[2019-08-12 14:26] scale-tone commented on #617
Yes, but I don't see it working. [A bug on that](https://github.com/Azure/azure-signalr/issues/627).

[2019-08-14 03:21] vicancy commented on #623
Resolved in 1.0.12

[2019-08-14 03:21] #623 closed

[2019-08-14 03:24] vicancy commented on #622
Yes, it can. Sharing token means sharing the user info, which means all the connections for this client is one user. Could you share with us your scenario to share the token?

[2019-08-14 03:26] vicancy commented on #539
We beleive 1.0.12 fixed the issue. Please reopen it if you still encounter such issue. Thanks for your support.

[2019-08-14 03:26] #539 closed

[2019-08-14 12:19] alexiordan commented on #396
@vicancy , It is happening right now on one of my clients.

Server receives data from client, but it doens't receive data from server.

Could you please take a look if you spot something server side?

I'll get to you via e-mail with Azure instance and connection details .

[2019-08-14 21:22] Jun2014 commented on #622
In our case, we supports anonymous clients. We plan to issue signalr service endpoint and JWT access token back to the client, without specifying user id or auto-generate an unique user id. So the client may use this JWT access token to connect to our signalr service, and they can build as many connections. If that's the case, no other clients may be able to connect to the signalr service, since s

[2019-08-15 02:37] realwanpengli commented on #627
Hi @scale-tone , it is a bug that will be fixed in this [pull request](https://github.com/Azure/azure-signalr/pull/630).

There's a dead lock issue. In your code, there's a infinite loop right after the `CreateServiceHubContextAsync`, `CreateServiceHubContextAsync` waits the server connection to complete initialization, but server connection initialization waits the infinite loop finish, which cau

[2019-08-15 03:04] vicancy commented on #622
Yeah, that's the challenge when you allow anonymous clients that you might reach your instance connection limits quickly.

[2019-08-15 05:17] Jun2014 commented on #622
Any idea to mitigate this? This sounds like a simple DOS.

[2019-08-15 07:19] vicancy commented on #622
You can abort the connection in Hub when OnConnectedAsync if the connections from one client exceeds your expectation using `Context.Abort()`

[2019-08-16 02:32] ispysoftware commented on #623
This bug cost us a lot of money - in lost customers and site downtime. What kind of assurances do we have that it won't happen again?  Is there a way to specify an azure signalr server version to use?

I'm extremely nervous that our platform will go down at any moment due to a botched push from your side that we have no control over and no notification that it's being "upgraded".

[2019-08-19 08:56] vicancy opened #632 "Group related options do not throw exceptions when message is lost"
Since SDK 1.0.10 we changed the group related actions to wait for the ack messages from Service to guarantee group related message order and delivery. However, when the message is lost when for example, transport layer error, SDK does not throw exceptions to the caller. So there is still chance when the message is lost silently.

[2019-08-21 05:04] vicancy opened #635 "When reach message limit, service should return 429 instead of 500"
This happens to free instances that have 20k/day message limit

[2019-08-21 17:19] hempe commented on #396
Started seeing the same.
Clients can still send messages to the server, but don't receive any.
My SignalR Services are set to Default.
Tried to send messages with User(userId) and Client(connectionId). Both just "stop" working.

[2019-08-22 01:30] vicancy commented on #396
@hempe
1. any logs from your app server side? How you invoke `User(userId)` and `Client(connectionId)`?
2. Do all clients meet the issue or some?
3. By "Clients can still send messages to the server", does the server receive the message successfully?

[2019-08-22 13:11] vkuba opened #640 "FatalExecutionEngineError"
Hi,
time to time I am getting the following exception:

Managed Debugging Assistant 'FatalExecutionEngineError'
  Message=Managed Debugging Assistant 'FatalExecutionEngineError' : 'The runtime has encountered a fatal error. The address of the error was at 0x7014b403, on thread 0x2f50. The error code is 0xc0000005. This error may be a bug in the CLR or in the unsafe or non-verifiable portions of us

[2019-08-23 03:13] zackliu commented on #632
#638

[2019-08-23 03:24] zackliu commented on #635
If customers hit the message count limit, all the server connections will be terminated. So, client connections will get 500 during app server's negotiate as there're no active server connections.
To identify the root cause, from app server's logs, there should be some critical level logs such as `Service returned handshake error: Maximum message count limit reached: 20000`
Also, for those termina

[2019-08-23 09:04] vicancy commented on #640
What is the net framework version of the project? Is it only occurring in VS? Does it throw when running the executive directly?

 Is it possible to repro the issue with a simple project?

[2019-08-23 22:08] bbowman commented on #558
Any update on this now that the serverless disconnect work appears to be done (https://devblogs.microsoft.com/aspnet/azure-signalr-service-now-supports-event-grid/)?

[2019-08-24 00:31] staff0rd opened #641 "Preview builds: The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized"
I'm trying to pull in `1.1.0-preview1-10442` into the latest version of [Crankier](https://github.com/aspnet/AspNetCore/tree/master/src/SignalR/perf/benchmarkapps/Crankier), but when I use any of the preview packages it fails on build:

Using `1.0.12` builds but fails at runtime with:

Any pointers to unblock me here appreciated - [branch here](https://github.com/staff0rd/AspNetCore/commits/upstre

[2019-08-26 05:03] zackliu commented on #558
@bbowman Ping check in `Serverless` mode haven't been done still. But now, as the blog shows, you can leverage Event Grid to receive the `OnConnected` and `OnDisconnected` whenever service detects the client status changes.

[2019-08-26 09:07] JialinXin commented on #641
@staff0rd It seems some version conflict between ASRS and this project. The first exception can be resolved by adding the FrameworkReference in this project like this:
[code]
But even server connection is setup successfully, clients seems not able to connection correct. Would you share more information about how you get detail exceptions like second one.

Besides, if you're looking for a perf test

[2019-08-26 11:03] staff0rd commented on #641
[This commit](https://github.com/aspnet/AspNetCore/commit/a62c60973919067b7e9c4b39056458dfa17780ad) shows that change but the result is the same error on build of Crankier.csproj;

The second exception can be achieved using the [original commit](https://github.com/aspnet/AspNetCore/commit/a017a1b9b775222ebb441c394c2d30d81d283cf5) and running the following command under `src/SignalR/perf/benchmarka

[2019-08-26 14:19] hempe commented on #396
@vicancy I found the issue with "Client(connectionId)" i think, I used version **1.0.11** (so sending to clients connected to the same back-end worked, but to "others" did not. I think it should be OK with **1.0.12**, but haven't tested it yet. right?

As for sending to User(userId):
1. I send with something like this, where the hubContext `IHubContext<MyHub>` is injected:
[code]
2. What kind of l

[2019-08-27 03:11] vicancy commented on #396
@hempe  thanks for looking into the issue. However, I am not aware of any such issue in SDK 1.0.11. Please open an issue if you find anything.

[2019-08-27 03:30] ccic commented on #641
netcoreapp3.0 has not yet been officially released. So, the benchmarking tool has not yet supported it. But it is our target.

Anyway, my suggestion is if you have not evaluate the Azure SignalR performance, the benchmark tool can be used for your baseline, because netcoreapp3.0 is supposed to be better than 2.1 or at least will not drop on performance, otherwise it is our perf regression.

That b

[2019-08-27 03:59] PalashBorhan opened #642 "Azure SignalR service (serverless) triggers false disconnected event"
I'm using Azure SignalR Service, EventGrid trigger binding used to get the Connected/Disconnected events. I'm seeing a case where EventGrid triggering Disconnected but from the client end, I can see it still receiving SignalR ping messages and also if I try to send any message to that client it receives successfully which means the client is actually connected. Any thoughts for this case?

[2019-08-27 04:29] PalashBorhan commented on #642
Also there is another case, the client is power off which means it's disconnected but SignalR service doesn't trigger disconnect event (Client is not properly stopped). Is there any configuration or something can be done in the service or client end to make sure the connected/disconnected events are correct?

[2019-08-27 05:21] zackliu commented on #642
Right now, the service doesn't handle ping messages from clients in serverless mode. Which means service detects disconnection events only depends on the underlying TCP close. It can have significant delay before sending `OnDisconnected`.
We have a tracking issue. #558

[2019-08-27 05:27] JialinXin commented on #641
@staff0rd I think this is due to version conflicts in AspNetCore. And refer to the workaround here https://github.com/dotnet/cli/issues/11378, I make it work with Crankier. Add below configuration in the csproj. Besides, it requires AspNetCore preview9.

[code]

![image](https://user-images.githubusercontent.com/15338714/63743227-2faa0300-c8ce-11e9-98e0-9ce5f2e41266.png)

[2019-08-27 05:28] PalashBorhan commented on #642
Thanks @zackliu, do you have any thoughts for the first case?

[2019-08-27 05:31] zackliu commented on #642
Can you comfirm the Disconnected event has the same connectionId as the client you can still use?

[2019-08-27 05:35] PalashBorhan commented on #642
Let me verify that. Will get back to you with that information.

[2019-08-27 08:28] vicancy opened #643 "SDK should not log error when on-demand connection fails to connect"
User see such error : `Id: The remote party closed the WebSocket connection without completing the close handshake.. The remote party closed the WebSocket connection without completing the close handshake..`

There is no actual impact on this exception, users can simply ignore this exception. It is our underlying on-demand server connection that failed to connect, this has no impact to user connec

[2019-08-27 13:14] vkuba commented on #640
VB project:  4.6.1
C# project:  4.6.1

It only happens during debugging - we don't have production version yet (we are trying to identify all the issues 1st). I'll try to stress test our staging environment a little bit to try to throw this exception. I can confirm that it happens 100% of the time when we change anything on .aspx page -> save -> refresh a page.  I'll try to prepare a  simple examp

[2019-08-27 15:53] escobar5 opened #646 "[ArgumentNullException: Value cannot be null. Parameter name: username]"
I'm getting an ArgumentNullException in SignalR negotiate,

It seems it has something to do with the claims I'm currently using in my project, I've tried setting a claimsprovider at initialization as the Troubleshooting Guide states:

[code]

and filtering out all my claims, but the error persist.

here is the Callstack:

[2019-08-28 12:18] vas6ili opened #647 "Potential memory leak related to SymmetricSecurityKey caching"
We've noticed a memory leak in our app after upgrading `Microsoft.IdentityModel.Tokens` to version 5.5.0. Analyzing memory dumps revealed a large number (~100K) of `SymmetricSignatureProvider` and `SymmetricSecurityKey` instances being retained by `Microsoft.IdentityModel.Tokens.CryptoProviderFactory` cache. All `SymmetricSecurityKey` objects had the same key which corresponded to Azure SignalR's

[2019-08-30 03:11] JialinXin commented on #641
@staff0rd Want to check how's it going with your tests?

[2019-09-01 13:02] staff0rd commented on #641
@ccic, that perf guide is most informative, thanks for pointing it out.

Thanks @JialinXin, the workaround with `TransitiveFrameworkReference` worked for me - is that reference type documented anywhere?

[2019-09-01 13:02] #641 closed

[2019-09-01 13:32] staff0rd commented on #641
Ah, I see [the PR](https://github.com/dotnet/sdk/pull/3221).  It seems as though `<DisableTransitiveFrameworkReferences>true</DisableTransitiveFrameworkReferences>` solves this also.

[2019-09-02 06:07] vicancy commented on #646
The callstack shows that `ArgumentNullException` throws from `WebMatrix.WebData.SimpleRoleProvider.GetRolesForUser`.

When enumerating `User.Claims` to generate the jwt token, `GetRoles` is called however the `SimpleRoleProvider` throws. I wonder if this is similar to the one described here: http://www.lhotka.net/weblog/CallingRolesGetRolesForUserInAWCFService.aspx

To prevent the issue from block

[2019-09-02 08:33] vicancy commented on #635
So the behavior is as expected and nothing needs to be changed.

[2019-09-02 08:33] #635 closed

[2019-09-02 08:34] vicancy commented on #632
Fixed in 1.0.13

[2019-09-02 08:34] #632 closed

[2019-09-02 13:32] escobar5 commented on #646
I did try to set an empty list in ClaimsProvider to see if that was the case, but I still get the error.

[2019-09-03 04:18] vicancy commented on #646
How you set an empty list? And what is the callstack of the error when you set an empty list?

[2019-09-03 20:47] escobar5 commented on #646
@vicancy You where right, I was setting an empty list but using `context.Authentication?.User.Claims.Where(...)` with a where clause that didn't return anything, I guess that line was the responsible of making the call to `WebMatrix.WebData.SimpleRoleProvider.GetRolesForUser`.

I changed it to `new Claim[]` as you suggested and it worked.

Thanks for your help

[2019-09-03 20:47] #646 closed

[2019-09-04 08:49] #378 closed

[2019-09-06 07:01] ispysoftware commented on #486
We're seeing the same thing - is this supposed to happen? When we have 50k users and we scale out we then get 50k disconnections and 50k clients simultaneously reconnecting, causing a DOS attack on our servers.  This seems like a monumental flaw in the logic.

[2019-09-06 07:49] ispysoftware commented on #486
Had this back from microsoft:

 I'v checked your question, you have a connection dropout issue while scale out.I very sorry that this dropout is by designed. It's because of the ASRS architecture. When scale out, it create a new instance with more resource to support your business. For the old resourceswill be removed. When removed, all connections will be lost. We've awared this impacted, but som

[2019-09-06 07:59] zackliu commented on #486
@ispysoftware Although connections are dropped during scaling, it's not happening suddenly. The higher unit count you're using, the total progress will be longer. You can think it as a rolling drop and reconnect.
By the way, we're improving the architecture to make the whole progress more smooth. And you can expect there will be no connection drop in some cases of scaling. E.g. Scaling from unit 1

[2019-09-06 09:43] ispysoftware commented on #486
any idea on when that will be available? We're working on a serverless architecture with installed software clients so need to get this right as updating the client code will be very difficult. I just tested here and scaling 1-2 on serverless kicks everyone off.

[2019-09-06 14:11] fjmejias commented on #559
It this EvenGridTrigger to serverless scenarios working for all regions?

[2019-09-09 02:50] #647 closed

[2019-09-09 05:04] JialinXin commented on #647
Thank you @vas6ili for providing detailed investigation. The fix will be in the coming release.

[2019-09-10 03:21] zackliu commented on #559
@fjmejias It works in all the regions and here's [the sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/EventGridIntegration) of Event Grid integration.

[2019-09-10 13:08] molekm opened #654 "CryptoProviderFactory - memory leak on Identity"
CryptoProviderFactory from Microsoft.IdentityModel.Tokens.JWT version 5.5.0 & 5.4.0

![image](https://user-images.githubusercontent.com/52691210/64616285-2cd20680-d3d4-11e9-8553-7c31accc7375.png)

I saw the other ticket that was supposed to be fixed in 5.5.0, however looks like there is still a possible memory leak in CryptoProviderFactory (InMemoryCryptoProviderCache). Both in 5.5.0 & 5.4.0.

5.3

[2019-09-11 03:07] JialinXin commented on #654
Refer to #647 . This issue is caused by a change in Microsoft.IdentityModel.Tokens.JWT version 5.5.0. The code fix is done and will be in the coming release.

[2019-09-11 06:28] #654 closed

[2019-09-12 07:15] molekm commented on #654
Well I cannot as we are using Microsoft.IdentityModel.Tokens.JWT directly.

5.3.0 is still last working version.

Is there any other github for JWT Tokens that I can create this issue ?

[2019-09-12 07:26] JialinXin commented on #654
Refer to #647. You can either disable signature provider caching in your side or provide feedback to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2019-09-13 10:45] tebeco commented on #597
oupsi, i forgot to close that one i guess

[2019-09-13 10:45] #597 closed

[2019-09-17 18:38] CalinMPopa opened #660 "Potential memory leak related to Microsoft.Azure.SignalR.AspNet.ServiceConnection"
Hello,

We are running a WebApp service that is using Azure.SignalR (Microsoft.Azure.SignalR 1.0.0)
On some VM instances the memory is steadily growing and we pinpointed it to ServiceConnection instance which is in a bad state (ErrorMessage = "PingTimeout", Status=2).

This ServiceConnection is responsible for many tasks that are waiting for activation (m_stateFlags = 0x2000400). There are also ma

[2019-09-19 07:15] vicancy commented on #660
Thanks for reporting the issue, a memory dump is very much appreciated. Thanks.

[2019-09-19 10:21] shyamal890 opened #663 "Azure SignalR Service is not connected yet, please try again later."
Here's my code. I am getting error as soon as I try and connect to server.

**Server code:**
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;
[code]

**Client code:**

[code]

Error I am getting on client when it tries to connect to server:
[code]

[2019-09-19 12:28] morganleroi opened #664 "Change message protocol with Azure Management SDK"
Hi,

I have a question regarding `Microsoft.Azure.SignalR.Management` package.

Is there a way to change the protocol (MessagePack, NewtonSoftJson, Protobuf, ...) ? (like with a 'classic' SignalR client)

After reading the code, it seems that, when we create a HubContext with `CreateHubContextAsync` there is a hardcoded `AddSignalRCore()`  so we cannot add protocol options.

https://github.com/Azu

[2019-09-19 15:55] CalinMPopa commented on #660
@vicancy - do you have or can recommend a "safe" transfer mode/place?

[2019-09-20 02:56] vicancy commented on #660
@CalinMPopa How about share it with OneDrive and emailing me `lianwei@microsoft.com` the link?

[2019-09-20 06:44] realwanpengli commented on #664
SignalR only support json and messagepack. When you use Management  SDK, SignalR client support both json and messagepack. There's no chance to change serialisation protocol. But add it as a new feature is a great idea. We welcome any PR, thanks.

[2019-09-20 07:22] momo3038 commented on #664
Thanks for your answer ! With the current Mamangement SDK how can I switch from Json to MessagePack ? When I create a hub context there is no options to choose MessagePack as the message protocol. Thanks

[2019-09-20 08:20] realwanpengli commented on #664
The management sdk always use MessagePack to send messages, the signalr service will convert to the correct protocal (only support json/messagepack) to the signalr client. So the only thing you need to care about is the signalr client's protocol. For example, you can try to use MessagePack in signlar client
[code]
[code]
and use a management sdk to send message, you will see both can receive messa

[2019-09-20 08:35] shyamal890 commented on #663
@realwanpengli @JialinXin

[2019-09-20 15:38] blawford opened #666 "Generating JWT for SignalR Service Rest API"
I am trying to create a serverless implementation of a Azure SignalR Service I have been a bit lost about how I should approach it.

The main 'broadcasts' will be from a .NET Framework project that will need to call the SignalR Service from C# code. I will also need to broadcast directly from the clients (JavaScript).

I have created a Azure Function App with a 'negotiate' function which works in

[2019-09-23 02:23] vicancy commented on #663
Please follow https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#troubleshooting-guide-3 to see what's the error from the server side when connecting to Azure SignalR. If it can be reproed from localhost, local debugging following https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#troubleshooting-guide-1 also helps.

[2019-09-23 02:30] vicancy commented on #666
Try the [Management package](https://www.nuget.org/packages/Microsoft.Azure.SignalR.Management), it is .NETStandard 2.0 and it should work for your .NET Framework project. Here is the details on how to use it : https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md

Make sure to use ASP.NET Core SignalR JavaScript client https://docs.microsoft.com/en-us/aspnet/core/signalr/ja

[2019-09-23 02:48] realwanpengli commented on #666
We don't support REST API for ASP.Net.

For ASP.Net **Core**:
Different functions for different purposes. Recommend to use [Azure Functions Bindings for Azure SignalR Service](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.SignalRService). Samples can be found [here](https://github.com/Azure/azure-functions-signalrservice-extension/tree/dev/samples).

[2019-09-23 13:20] shyamal890 commented on #663
@vicancy Server side I am not getting any errors, its only showing the following as stated earlier in the client side:

[code]

[2019-09-23 14:11] alexveya commented on #486
I have the same issue...
How can you deisgn something like that?
When you have 50k users, you need to disconnect all?
I use this service and we have a very changing number of user. Then I create an Azure Function to adapt the number of unit...
Hope you will fixed it very fast... Because migrating from 50 to 100k take a very long time...

[2019-09-23 14:28] alexiordan commented on #632
If such an exception occurs, and I handle it to retry, if eventually does not succeed, should I call `await base.OnConnectedAsync()` anymore?

[2019-09-24 01:45] vicancy commented on #632
@alexiordan  Hi Alex, I think `Hub.OnConnected` just returns `Task.CompleteTask`, you mean the group join action happens in your `OnConnected`?

[2019-09-24 01:53] vicancy commented on #663
The client side error indicates that the server failed to establish server connections with the Azure SignalR service. When app server starts, it tries to establish server connections with Azure SignalR Service, could you capture that server side traffic? For example, the below one is when I set the ConnectionString to an unexist Azure SignalR and 502 returns when I start my server side.

From con

[2019-09-24 08:01] alexiordan commented on #632
Yes, the `await Groups.AddToGroupAsync(Context.ConnectionId, systemId);` takes place in `OnConnectedAsync`.
1. Is anything wrong with that?
2. So I will just call `await base.OnConnectedAsync();` at the end.

[2019-09-24 08:47] vicancy commented on #632
Looks good to me, when `await Groups.AddToGroupAsync(Context.ConnectionId, systemId);` fails, it throws and user will fail to connect.

[2019-09-24 10:31] alexveya commented on #486
@zackliu  As I told you yestersday, I have a very high peak of users. I implemented a Azure functions to scale up. The use I have today ( one hour ago), The service was totally out ( error 500: azure signalr service is not connected yet, please try again later.)
It's not really something I can call "smooth".
I cannot know in advance how many user I will have maybe 1k, maybe 50k... I need a way to

[2019-09-24 13:22] zackliu commented on #486
@alexveya I'm now working on that improvement, but it can't be very fast as it has a lot of work to do. As I know, scaling shouldn't close all the server connections to make the service totally out. Could you send me your SignalR Service's resourceId (by email maybe), I can search the details about it.

[2019-09-24 18:43] CalinMPopa commented on #660
@vicancy - we have opened a support case with Microsoft and have uploaded the dump to the workspace that was created.

Secure File Exchange 119092422002219

[2019-09-25 10:39] alexveya commented on #486
@zackliu Today, the service is not working anymore... I get an 503 error. And cannot use it again.
I move back to 1 unit, start again to work.
Then I move again to 50k... more than one hour later, still updating.
Can you help me very quickly? It's the most important day of the year for my company!

[2019-09-25 12:05] zackliu commented on #486
@alexveya  Could you give me you `ResourceId`, thus I can dig deep for you. Waiting for your email.

[2019-09-25 13:35] ispysoftware commented on #486
This scaling issue with signalr is a massive, massive problem. If you could engineer it to actually scale to demand without disconnecting everyone you'd have a good product but as it stands from a software  engineering perspective it's a total nightmare to use. A surge in demand is exactly when you don't want your service dropping out yet this is basically built to do exactly that. How this model

[2019-09-25 14:35] alexveya commented on #486
@zackliu I wrote an email yesterday... at the email on your profile

[2019-09-29 21:20] cveld opened #673 "Warning since Microsoft.Azure.SignalR 1.1.0"
I tried to upgrade the Microsoft.Azure.SignalR package reference from version 1.1.0-preview1-10442 to 1.1.0. Unfortunately this results in the following warning:

[code]

What is your guidance?

[2019-09-30 01:23] JialinXin commented on #673
Thanks for reporting this. This is a version issue we just fixed in #670. And will be released in v1.1.1. No functional break between the 2 package of Microsoft.AspNetCore.Http.Connections.Client.

[2019-09-30 05:45] JialinXin commented on #673
The issue is fixed in the [v1.1.1](https://github.com/Azure/azure-signalr/releases/tag/v1.1.1). Please update to resolve install package warnings.

[2019-09-30 05:45] #673 closed

[2019-10-01 15:11] dmitrysamuylovpharo opened #675 "SignalR Hub failing to send a message due to connection problems"
We are running into a problem of failed SignalR message sends from within an Azure hosted WebSite based asp.net core web-service. This web-service also implements and hosts the SignalR.Hub which connects to an Azure SignalR instance. From within one of the controllers in this web-service after performing some operations we try to send a SignalR message to notify all connected clients that an impor

[2019-10-01 19:49] BrennanConroy commented on #675
I would suggest filing this issue at https://github.com/Azure/azure-signalr/issues as this looks like either an issue with the Azure SignalR Service side, or possibly the SDK side.

[2019-10-05 03:31] KKhurin commented on #675
Thanks for reporting this @dmitrysamuylovpharo.

You're correct - SDK on app server side will automatically reconnect dropped connections.
I noticed you're using an older version of Microsoft.Azure.SignalR (1.0.7.0). To eliminate some possible corner cases that have already been fixed, would you be willing to try the latest SDK bits?
If the errors still persist, then the next step would be to look

[2019-10-05 17:16] Masuzu opened #676 ".NET Core 3 migration: Hub registration"
Hello,

Should we replace the `UseAzureSignalR` call:
[code]
with
[code]
in a similar way as SignalR (https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio)?
Or do we still have to use the UseAzureSignalR method?

[2019-10-07 08:12] laurence-accurx opened #677 "Hub connection re-opens automatically after dispose called"
I'm using the management SDK to call my hub from a functions project. The code effectively looks like this with the appropriate connection string and hub name.

[code]

When I use the persistent transport type, I can see server connections leaking on Azure. When I drill into an individual transaction I see that immediately after the dispose is called and the transport stopped, it opens again,

![i

[2019-10-08 03:42] JialinXin commented on #676
Both methods work under AspNetCore 3.0.

[2019-10-08 04:06] davidfowl commented on #676
We recommend using UseEndPoints in 3.0 applications.

[2019-10-08 10:55] aloji opened #678 "Core 3.0 - Server Connections Count"
Hi,

I have implemented the service using core 3.0 and I see that the number of server connections does not follow the rule described in

https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-messages-and-connections#how-connections-are-counted

I have one application servers and define five hubs in the code.

(1 application servers * 5 hubs * 5 connections per hub) = 25 connections

[2019-10-09 16:55] dmitrysamuylovpharo commented on #675
@KKhurin Sure, I'll try updating to the latest SDKs and monitor for a bit, I'll add another post here once that's done with any news either way.

[2019-10-10 03:24] vicancy commented on #678
Thanks for reporting the issue. The document is a bit out-of-date and we will have an update on that. The initial server connection count (when app server starts) is as the document illustrated 25 connections, and while the service is running, there will adjustment to server connections (for example, on-demand created connections or connection close) for better performance and service stability. T

[2019-10-11 01:40] Masuzu commented on #676
Thank you for the answers!

[2019-10-11 01:40] #676 closed

[2019-10-11 02:53] realwanpengli commented on #677
Thanks. I'm trouble shooting

[2019-10-11 09:51] aloji commented on #678
Hi @vicancy
Thank you for your response and email support.
Regards,

[2019-10-11 09:51] #678 closed

[2019-10-11 16:00] zelsius opened #680 "[Question] Changing max size limit on WebSocket messages"
Is it not possible to adjust GlobalHost.Configuration.MaxIncomingWebSocketMessageSize and other settings under GlobalHost.Configuration in Azure SignalR?
I tried to change them, but they only seem to work when I run a local SignalR server.

[2019-10-15 01:22] vicancy commented on #680
No, it is not supported for now.

[2019-10-15 09:41] crow-ua opened #688 "Troubleshooting clients connected to Azure SignalR"
We have a production application that leverages Azure SignalR. It currently have 1k+ users.
We are noticing the amount of connections grows and sometimes is doubled from the real number. There is a chance this is caused by reconnects, webapp redeployments or ASR update events, but we want to troubleshoot the issue in more detail.
We are tracking `connectionId` for every client and want to compare

[2019-10-18 07:11] JialinXin opened #690 "Turn on sticky mode for blazor app."
Blazor App is required **Sticky** but sticky mode is by default disabled for perf concern. Customers may unaware of this and encounter randomly break.
Better to feature out a solution to improvement the experience of Blazor App users.

[2019-10-18 08:17] vicancy commented on #688
Are you using `Default` mode or `Classic` mode? For `Classic` mode, it is possible that some clients connected to serverless mode.
![image](https://user-images.githubusercontent.com/668244/67077829-a2df3f80-f1c2-11e9-8ecc-6b39ccf1c82a.png)

For now, there is no API exposed to fetch such data from ASR. We are in the process of exposing service logs from the portal, which can be useful for troublesh

[2019-10-21 08:19] tebeco opened #691 "[QUESTION] Chaos monkey - Can I Restart Azure SignalR ?"
Hello,

In an attempt to test our “resiliency and continuous deployment”, I’d love to be able to do the equivalent of the `Restart` button in the `Azure SignalR Service` in the Azure Portal.

For example in an `Azure Function` so that is could b either a Timed one or a `POST`.
I guess the `Az CLI` would probably have something but not sure if it can be ran in a `Function`.
I’m really curious on th

[2019-10-22 01:14] vicancy commented on #688
Please email me `lianwei@microsoft` your instance name and the time period when the abnormal spikes happened for me to dump the connections.

[2019-10-22 12:39] crow-ua opened #692 "Azure SignalR service IP ranges inquiry"
We are developing a solution that integrates with on-premises and need to provide IP ranges of our services to whitelist for IT admins. [Azure IP Ranges and Service Tags – Public Cloud document](https://www.microsoft.com/en-us/download/details.aspx?id=56519) does not list IP ranges for Azure SignalR. Where do we get this information?

[2019-10-22 16:50] BrennanConroy opened #693 "Fix Blazor + SignalR"
Lets discuss how and when we want to fix the issue described in https://github.com/aspnet/AspNetCore/issues/15128.

There are a few options.
We can fix the issue in a 1.1.2 patch to the SDK by checking the list of protocols for "blazorpack" and excluding it from the list of serialized messages unless it is the only protocol on the list. (This works because blazor clears the list and adds only "bla

[2019-10-23 01:57] juniwang commented on #691
Hi @tebeco,  as you said, Azure SignalR Service does have a `az signalr restart` command.

For `Functions`, we don't have a specific guidance about how to manage SignalR service. However there is a general idea. You can think of Azure `Functions` as a ordinary `App Service`, that means you can config `Service Principal` (Client Id and Client Secret) in your `Functions` config, and inside your `Fun

[2019-10-23 01:58] vicancy commented on #693
The impacted code is here https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/HubHost/ServiceLifetimeManagerBase.cs#L225

`ServiceLifetimeManager` is DI'ed in as a Singleton.

Is it that `IHubProtocolResolver.AllProtocols` only contains `blazorpack` when blazor is sending messages? Or there are more to change?

I'd prefer to fix it ASAP with a 1.1.2 patch.

[2019-10-23 02:14] juniwang commented on #692
Hi @crow-ua , we are sorry that Azure SignalR Service hasn't completed the Service Tag onboarding, that's why it's not included in the public document. The product group is actively working on this. There is no definete timeline(because serveral uncertain dependencies), but we will try our best. There are many customer reqeuests for it.

For now, the IP address for SignalR Service is randomly allo

[2019-10-23 02:58] BrennanConroy commented on #693
No, `AllProtocols` contains all protocols from DI. But we only want "blazorpack" to be used when it's the only configured protocol. So we can inject the huboptions and inspect the SupportProtocols list and exclude blazorpack except in the case that it's the only protocol listed.

[2019-10-23 03:45] vicancy commented on #693
Thanks Brennan, sounds acceptable to me.

[2019-10-23 04:40] paulpce commented on #500
We have this issue as well but with an xUnit test project and I'm not seeing a way forward.  Can you please explain how assembly rebinding would work in this instance? Have tried a [couple](https://stackoverflow.com/a/46120907) of [things](https://stackoverflow.com/a/44382926) and they didn't work, it appears that .Net Fx assembly rebinding is not supported in .net standard and core any more. How

[2019-10-23 09:45] laurence-accurx commented on #500
What has fixed it so far for me is explicitly referencing "Microsoft.AspNetCore.SignalR.Core" package version 1.1.0 in my test assembly and then in my Nunit one time set up which runs before any code I've got this

[code]

[2019-10-23 15:01] crow-ua commented on #692
Good to know. We'll list hostname of our Azure SignalR instance for now and hope it will not have big customer impact.
Let's leave this ticket open until the issue is resolved?

[2019-10-23 15:16] crow-ua commented on #688
@vicancy Thanks, will do during next production rollout if the problem persists. We don't store historical data, only latest ids are persisted in database.

[2019-10-23 23:54] juniwang commented on #692
Thanks. Will leave you know once we get it done

[2019-10-24 07:51] vicancy opened #697 "Improve the message write logic from SDK to service"
Current issues
-----------------------
1. Messages sending from server to service are pinned to fixed connections
1. Messages sending from server to service does not support partial send
1. Messages sending is coupled with the underlying websocket connection, when the websocket connection dies, messages in the pipe will fail to send out
1. The current `WriteAsync` implementation of [ServiceConnect

[2019-10-24 07:51] vicancy commented on #660
Back-pressure.

When server-side is sending a lot of messages constantly to service-side, when message sending is slow/large/blocked, other messages are waiting for the write `semaphore` to release, and more WriteMessage  requests come in and they all queued up in memory.

Mitigation is to set more server connections so that each server connection can have less burden delivering messages
[code]

B

[2019-10-25 08:36] #693 closed

[2019-10-25 10:05] marshall76963 opened #700 "ASP.Net SignalR issue with latest Microsoft.AspNetCore.Http.Connections.Client"
Hi

We are facing an issue with Asp.Net SignalR on Azure when upgrating our website to use the latest `Microsoft.AspNetCore.Http.Connections.Client` (v3.0.0) which was released recently.

We are running an ASP.Net App Service in Azure backed by an Azure SignalR instance cofigured in Default mode.

We are currently using Microsoft.AspNetCore.Http.Connections.Client version 1.1.0 in our app (which w

[2019-10-28 01:49] vicancy commented on #700
Thanks for reporting the issue. We are actively investigating the issue and will provide you an ETA soon.

[2019-10-28 02:58] #212 closed

[2019-10-29 08:35] #700 closed

[2019-10-29 09:05] Zheltov opened #708 "Error: Connection string missing required properties endpoint and accesskey. (Parameter 'connectionString')"
I am so sorry, i found error

[2019-10-29 09:13] Zheltov commented on #708
And same code works in Azure Service Fabric fine

[2019-10-29 10:15] ezyhaul opened #710 "Frequent disconnects on server side with Azure SignalR"
We have a signalR hub hosted on Azure App Service.
The connection between the hub and the Azure SignalR service is often lost and requires us to restart the hub to re-establish the connection.

From app insights we are seeing errors such as,

- Error while sending message to the service, the connection carrying the traffic is dropped. Error detail: Connection ping timeout.
- Error while sending me

[2019-10-29 12:00] #708 closed

[2019-10-29 15:32] bentmar opened #711 "Service crashes very easily with a tiny load"
Hi, im currently testing ASR running with 2 units in serverless mode. A function handles the negotiation.

Connecting 300-500 clients over 10 seconds takes the service down 99% of the time. And if it was to handle all connections, alla clients gets disconnected after a minute, when they reconnect they take it down again.

Im running a simple console app to create the connections.

The errors im ge

[2019-10-29 15:33] bentmar commented on #711
To the left: My Console app
To The right: live from function that negotiates
![ASR](https://user-images.githubusercontent.com/10244000/67783016-e1e67e00-fa69-11e9-8bb4-03b71d9da1b2.gif)

[2019-10-30 05:32] vicancy commented on #710
SDK has "reconnect" logic, and there is no need to "restart the hub to re-establish the connection".
For "connection ping timeout", what is the CPU usage of your app server during that period? Where is the app server hosted? Is the network between server and service stable?

Please email me `lianwei@microsoft.com` your instance for a further check.

[2019-10-30 08:50] zackliu commented on #711
@bentmar Can you send me your ResourceId and the issue happening time via email? I can get more details for you.

[2019-10-30 13:27] bentmar commented on #711
@zackliu thanks!

[2019-10-30 23:19] ThomasVandenbon opened #713 "Azure App Service and Function App communicating over SignalR"
I've added Azure SignalR to a web app, with one mapped hub:
`app.UseAzureSignalR(routes =>
{
    routes.MapHub<MyHub>("/MyHub");
});`
In the javascript code of this web app, I connect to this hub through the `HubConnectionBuilder`.
So far so good, I can send messages from this connection and receive them!

Next, I've added a SignalR binding to an Azure Function:
`[SignalR(
    ConnectionStringSett

[2019-10-31 03:18] JialinXin commented on #713
@ThomasVandenbon This should be able to work.

You can open browser DevTools F12 and check client side messages under Network tab like below.
![image](https://user-images.githubusercontent.com/15338714/67915105-0313af80-fbcd-11e9-84fb-6e61bbaa9927.png)

We're counting message count by MessageSize/2KB, it shows 0 may be caused by the size is too small.

* `Default` means you **must** have a server

[2019-10-31 09:03] janlesage-allphi commented on #713
@JialinXin I encountered this issue with @ThomasVandenbon and we tried several scenarios:

Scenario 1:
We make use of UseAzureSignalR with defined routes and MapHub. Eg app.UseAzureSignalR(routes => { routes.MapHub<MyHub>("/MyHub"); });
This is possible with SignalR service in Default and exposes the ".../negotiate" automagically
In the docs there is only mentioned that in order for Azure Function

[2019-10-31 10:46] PalashBorhan commented on #642
Hello @zackliu, any update for the ttl issue?

[2019-10-31 13:34] scale-tone commented on #627
@realwanpengli , any news on this?

[2019-11-01 04:28] Bijus opened #718 "Azure Functions not Listing After Deployment"
I have created the Azure Function with Azure Signal Service.

I have used following two functions

[FunctionName("negotiate")]
public static SignalRConnectionInfo GetSignalRInfo(
[HttpTrigger(AuthorizationLevel.Anonymous, "post")] HttpRequest req,
[SignalRConnectionInfo(HubName = "chat")] SignalRConnectionInfo connectionInfo)
{
return connectionInfo;
}
}

public static Task SendMessage(
[HttpTrigg

[2019-11-01 04:54] JialinXin commented on #713
@janlesage-allphi If you have server side web app, you should use `Default` or `Classic` mode. The document means if you work on ASRS with Azure Function only, then you should enable `Serverless` mode or `Classic` mode. Actually under Azure Function, you still need to target a hub.
Azure Function Example. https://github.com/Azure/azure-functions-signalrservice-extension/blob/dev/samples/simple-cha

[2019-11-01 08:09] beerdog commented on #401
We got this in AWS so it probably has nothing to do with Azure.

[2019-11-01 08:18] roy46 commented on #558
+1 for using the pings to determine client connectivity in serverless mode.

We are trying to use this feature to determine if a client is connected to show an online / last seen status in a chat app. I noticed the long polling transport type follows the documented ConnectionTimeout of 110s so this is a possible solution. However I would be great if we could use websockets instead.

As far as I ca

[2019-11-01 12:43] marshall76963 commented on #700
Hi @vicancy

Thanks for your quick work on this, it is really appreciated.  Can you confirm if this is fully fixed now or should we wait for a new release of the `Microsoft.Azure.SignalR.AspNet` library?  If the latter, are you able to provide any indication on when that might be available?

[2019-11-01 17:06] bentmar opened #720 "sending to group with groupname ending with "2" is extremely unreliable"
Very strange indeed.

-Console app sends to a specific group via servicemanager sdks (1.1.1),
-Web app acts as negotiator. adding connected clients to groups
-Console app recieves signalr messages

IF the groupname ends with 2, the number of delivered messages are only around 50% and delivered very random.

I have also tried the same but sending with a function with Microsoft.Azure.WebJobs.Extensi

[2019-11-03 15:08] Schmaga commented on #401
I did not say that it had anything to do with Azure. It occured because we had Websockets disabled which lead to the service worker bug I described.

[2019-11-04 03:16] JialinXin commented on #718
Hi @Bijus , would you take a look at [this](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-tutorial-authenticate-azure-functions#deploy-to-azure-and-enable-authentication) about deployed steps for Azure Function to Azure? Please double check the deployment target and deployment logs.

[2019-11-04 03:26] JialinXin commented on #720
Hi @bentmar, please email jixin[at]microsoft.com about your resource id and incident time. Better with your code snippet about sending group message.
We don't have any logic on parsing groupnames except for length should smaller than 1kb.

[2019-11-04 03:56] realwanpengli commented on #627
@scale-tone already fixed in #707 , should be public in next release.

[2019-11-04 11:57] kedzior-io commented on #234
We use paid tier for production and free tier for staging with with 1 app service and 2 hubs which automatically takes 20 connections on the start (5 per hub, both are asp.net so another 5 per hub)

We made a suggestion to increase that maximum limit of 20 connections. If you guys think it's a good idea and have some spare votes:
https://feedback.azure.com/forums/915436-azure-signalr-service/sugge

[2019-11-05 01:57] vicancy commented on #700
@marshall76963 we will release 1.2 this week to fix the issue.

[2019-11-06 21:58] ekaram commented on #378
Hi Vicancy, would you be able to tell us whether nodejs server is on the roadmap?  If so, the ball park timeline?  thanks in advance

[2019-11-07 12:14] tebeco opened #728 "AzureSignalR Proxy support for ServiceManager"
This issue has been created to address `ServiceManager` connectivity throught a proxy,
i tried to provide a PR #727

### Investigation
The `ServiceManager` rely on the `ServiceEndpointProvider` for connectivity
the `ServiceEndpointProvider` already `ServiceOptions` which already has Proxy support (see #535)

### Proposed fix
The idea is just to add an `IWebProxy` property to the `ServiceManagerOpt

[2019-11-08 03:36] vicancy commented on #378
HI @ekaram, no, nodejs server is not in our support plan. Could you share more about your user scenario? How about the serverless approach https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-javascript?

[2019-11-08 16:35] Arash-Sabet opened #729 "How to debug EventGrid triggered function on a localhost in Azure SignalR Services context?"
[This article ](https://devblogs.microsoft.com/aspnet/azure-signalr-service-now-supports-event-grid/)explains how to leverage Event Grid in the scope of Azure SignalR Services. How one can use [ngrok](https://ngrok.com) and configure Event Grid Subscription to use ngrok as the webhook's end point? [The other article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid

[2019-11-12 00:46] stephenvisser opened #732 "Serverless: Extremely unreliable broadcast until restart after burst of simultaneous broadcasts (10+/s)"
Background:
- Azure SignalR Service is configured Serverless
- ASP.NET Core servers (Azure App Service) use the Management API to initiate broadcast messages
- We have both regular and on-demand messages. We saw this last week and reduced a 'ping' type broadcast message from every second to every 10 seconds. We just experienced the issue again despite this change.
- In some cases, we are sending 1

[2019-11-12 05:09] ccic commented on #732
If you guess there are stability issue, could you please run this benchmark on serverless broadcast?

dotnet tool install --global Microsoft.dotnet-signalr-benchmark --version 1.0.0-preview2.19521.1

using the following YAML:
[code]

More details about the benchmark tool can be found: https://github.com/Azure/azure-signalr-bench

[2019-11-12 07:41] zackliu commented on #729
You can use ngrok to achieve this. We have a sample [here](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/EventGridIntegration#build-and-run-the-sample-locally), and I've already validated it.

[2019-11-12 10:48] laurence-accurx opened #733 "Using persistent connection with management SDK takes a lot of memory"
Hi,

I had a previous issue with the management SDK automatically re-connecting after calling `DisposeAsync()`

I upgraded to the latest package yesterday and have just tried it out. Now I find that in a simple Azure function which constructs a ServiceManager and calls `CreateHubContextAsync()` that my function app on Azure crashes and locally I find the create call takes about 30-40 seconds to re

[2019-11-12 14:37] PsMaster opened #734 "Can't connect to SRS in functions with ServiceTransportType.Persistent"
I'm using Azure functions v2 (.net core 2.2) with dependency injection and Microsoft.Azure.SignalR.Management v1.2.0.

Standard setup as in samples:
            _serviceManager = new ServiceManagerBuilder()
                .WithOptions(option =>
                {
                    option.ConnectionString = _connectionString;
                    **option.ServiceTransportType = ServiceTransportTyp

[2019-11-12 16:57] realwanpengli commented on #733
You didn't call DisposeAsync. So there's memory leak.
And using the `IServiceHubContext` in function will create and destroy one websockets connection per http request. Please take a look at this [guide](https://github.com/Azure/azure-functions-signalrservice-extension/tree/wanl/update-doc#use-signalr-service-management-sdk-in-functions), it describes the best practice about using management sdk i

[2019-11-12 16:58] laurence-accurx commented on #733
Sorry I should have clarified - in my production code I do call dispose async. This isn't to do with the dispose - as I said above, on calling createhubcontextasync my application hangs for 40 seconds and suddenly consumes over a 1GB of RAM.

[2019-11-12 17:03] Arash-Sabet commented on #729
@zackliu Thanks for the reply. There is one issue though, when a function is deployed to azure by CI/CD, the function itself is marked as "read only" on azure portal and there is no way to be able to define EventGrid subscription. How can such a subscription be added when the function is in "read only" mode?

[2019-11-12 17:09] realwanpengli commented on #734
Is the `_serviceManager.CreateHubContextAsync` put in a function?

If it is, for Presistent mode, the function will be invoked for each request, therefore the websocket connections (to signalr service) will be created and destroyed for each request. And it is easy to reach the free tire limit. I guess you might reach the limit.
To debug, pass a ILoggerFactory to CreateHubContextAsync to see the lo

[2019-11-12 17:26] realwanpengli commented on #733
Could you pass`ILoggerFactory` to `CreateHubContextAsync ` to collect the log?
And what's the request frequency and is the signalr service free or standard tier?
Could you send me your signalr service's resource id and the collected log and memory dump?
My email address is wanl[at]microsoft.com

[2019-11-12 17:38] realwanpengli commented on #734
Could you check if your signalr service reach the free tier connection limit?

[2019-11-12 17:41] laurence-accurx commented on #733
Emailing you now

[2019-11-13 09:05] laurence-accurx commented on #734
This looks similar to https://github.com/Azure/azure-signalr/issues/733 that I'm having (mine is with a standard tier not free)

[2019-11-13 10:14] PsMaster commented on #734
Did a few more tests today targeting a different SignalR service resource with standard tier, absolutely the same problem, the call is in the constructor. Added a logger with information level, seems like it's running out of memory, you can get more details if trace level is enabled but it's way too long, seems like the library is going into an infinite loop trying to read bytes from signalR. Info

[2019-11-13 10:23] realwanpengli commented on #733
We found a package is referenced by our SDK and function app which cause the issue.  We are fixing it in #735

[2019-11-13 10:25] realwanpengli commented on #734
We found a package is referenced by our SDK and function app which cause the issue.  We are fixing it in #735

[2019-11-15 05:10] vicancy commented on #733
Thanks for reporting the issue. It should be fixed in https://github.com/Azure/azure-signalr/releases/tag/v1.2.1

[2019-11-18 12:24] marshall76963 opened #740 "ASP.Net SignalR - exception with Microsoft.Extensions.Logging.EventSource v3.0.0"
When using the latest version of `Microsoft.Extensions.Logging.EventSource`  (version 3.0.0) which was released recently, SignalR for ASP.Net fails with the following exception captured in the EventLog:

[code]

We are running an ASP.Net App Service in Azure backed by an Azure SignalR instance cofigured in Default mode.

I have tested this avaing Microsoft.Azure.SignalR.AspNet versions 1.2.0 and 1

[2019-11-18 15:43] #729 closed

[2019-11-18 21:59] dmitrysamuylovpharo commented on #675
@KKhurin Hi, sorry for the delay, I updated all SDKs, in the web application hosting the SignalR hub and in the mobile clients to the latests versions. I still see the problem happening occasionally with a very similar pattern with several instances of this error each time it happens (I presume one for each client connected at the time):

Message | Error while sending message to the service, the c

[2019-11-19 11:44] marshall76963 commented on #740
Quick update - the issue persists with the latest version of `Microsoft.Extensions.Logging.EventSource` (version 3.0.1) which was released today along with a number of other extension libraries at the same version.

[2019-11-21 13:53] dbrodie122 opened #742 "Frequent connection drops due to "network instability""
Hi,

We're seeing logs on an almost daily basis like this:

`Connection to [our Azure SignalR Instance] was dropped, probably caused by network instability or service restart. Will try to reconnect after the back off period. Error detail: 9ce6b551-8cd8-4d1d-94bc-bf0e157bfa6a. Id: The remote party closed the WebSocket connection without completing the close handshake.`

17 instances this morning fr

[2019-11-21 16:16] danielenggaard opened #743 "Getting weird error"
When I try to create a new SignalR service:

I haven't done anything else than creating a new SignalR service, and then entered a random name where I got the following error. I have the free student subcription for Microsoft Azure.

[2019-11-21 16:32] danielenggaard commented on #743
It seems like Azure cant validate the name. I tried to create the service in Visual Studio and got the error:
![image](https://user-images.githubusercontent.com/44673275/69357113-d8c18900-0c84-11ea-9c14-be30df248b46.png)

[2019-11-22 05:04] KKhurin commented on #675
Thank you @dmitrysamuylovpharo for trying the latest SDK. It should automatically reconnect after getting this error so I'll have to dig deeper to see if there is a potential for not reconnecting. I'll get back with the results of the investigation.

One thing to note is that in the current design messages can queue up for a particular service connection (if the App Server is sending them faster t

[2019-11-22 10:46] crow-ua commented on #688
@vicancy It looks like we have the same issue again. Sent you email with details today.

[2019-11-22 12:20] Zenuka commented on #134
For anybody who gets here from google; I used surabhshah's [answer above](https://github.com/Azure/azure-signalr/issues/134#issuecomment-403728843) to fetch the connection string like this:
[code]
Documentation about the return object of `listkeys`: https://docs.microsoft.com/en-us/rest/api/signalr/signalr/listkeys

[2019-11-22 12:37] dmitrysamuylovpharo commented on #675
@KKhurin no, our message traffic is very low, can't possibly be this scenario, we only send a message to all the clients in response to an occasional event manually triggered by a user's action, this only happens a handful of times a day.

[2019-11-22 14:26] crow-ua commented on #688
While this may be caused by Java client reconnect side-effects, the respective out-of-the-box feature is not yet implemented:
https://github.com/aspnet/AspNetCore/issues/8711

[2019-11-23 02:46] KKhurin commented on #675
@dmitrysamuylovpharo thank you for the confirmation. I'll look further into it.

[2019-11-23 08:34] #743 closed

[2019-11-26 03:05] JialinXin commented on #742
@dbrodie122 Thanks for reporting the issue. Would you email _jixin[at]microsoft.com_ to include your SignalR ResourceId. I'll help check your resource status during the time.

[2019-11-26 13:39] dbrodie122 commented on #742
@JialinXin Great!  Thank you so much!  I'll send the email.

[2019-11-27 02:40] vicancy commented on #740
`3.0.0` removes extension method `public static ILoggerFactory AddEventSourceLogger(this ILoggerFactory factory)`

[2019-11-27 03:30] TresaL opened #745 "Timeout when add to group"
Hi,
We have a Web API (hosted in azure using app service plan) configured with ASRS. At times, we are experiencing timeouts when add connection into a group. Here is our hub method to add to group.

public async Task AddToGroup(string groupName)
        {
            await Groups.AddToGroupAsync(Context.ConnectionId, groupName);
        }

Here is the exception message
"Ack-able message Microsoft.

[2019-11-27 15:55] danielkylewood commented on #558
+1, similar issue to @roy46 above.

Any update on this?

[2019-11-28 02:19] JialinXin commented on #745
@TresaL Thanks for reporting the issue. Would you send your resourceId and time when you met the issue to _jixin[at]microsoft.com_. We'll look into this and reply you soon.

[2019-11-28 08:34] JialinXin commented on #742
@dbrodie122 Replied in the email. Please check and let me know if there's any further questions.

[2019-11-29 02:17] #740 closed

[2019-11-29 06:38] JialinXin opened #750 "[Improvement] AckMessage not throw timeout if related connection is already closed"

[2019-11-29 20:36] La-Buse opened #751 "SignalR Azure Service - Python client can send messages but not receive them"
I have a python websocket client that was previously used to establish a connection to a SignalR service hosted on a Web App. Recently I have started using Azure SignalR Service.

`            services.AddSignalR(options =>
            {
                options.MaximumReceiveMessageSize = long.MaxValue;
            }).AddAzureSignalR();`

The python client can still send messages, but not receive

[2019-11-30 05:23] JialinXin commented on #745
@TresaL I haven't got your resource information yet. But looking into one of our cases similar to your case. This might be related to client connection disconnect near the join group message which leads to ack not able to handle correctly. It won't affect live clients and we'll improve the server side logic to handle this kind of case. #750
You can check server side traces of connectionId between

[2019-12-02 08:34] TresaL commented on #745
Thanks, i’ve forwarded you resource ids. Please let me know if you don’t receive them.  I’m pretty sure the client connection was active during timeout. I noticed the client ping message traces during this error.

[2019-12-02 13:57] dbrodie122 commented on #742
Thanks so much!  @JialinXin 's response is below for anyone else with a similar issue:

"If I’m guessing right, your time zone is UTC-5 that matches the connection spike for your resource metric below. And with some investigation, the connection spikes exactly match the time our service restarts. All of the restarts are caused by dependent Redis service temporary unavailable, which will reset all

[2019-12-02 13:57] #742 closed

[2019-12-02 14:02] dmitrysamuylovpharo commented on #675
@KKhurin today got the same type of error scenario but now it is returning a slightly different error message, not sure if that's of any help:

Message | Internal server transient error. |  
-- | -- | --
Exception type | Microsoft.Azure.SignalR.Common.ServiceConnectionNotActiveException |  
Failed method | Microsoft.Azure.SignalR.ServiceConnectionBase+<WriteAsync>d__46.MoveNext |  
FormattedMessag

[2019-12-03 01:24] vicancy commented on #751
Could you try fiddler to capture the websocket traffic? As you mentioned, JavaScript client works well. Could you compare the traffic between python WebSocket client and JavaScript one to see if there is any difference? Here shares how to capture traffic: https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#tips

Also, I am interested in the python websocket client, as there is no official

[2019-12-03 05:26] KKhurin commented on #675
@dmitrysamuylovpharo this indicates an error on the service side. We can take a look at the service logs to see what is causing it - if interested in getting to the bottom of this please email the time when it happened and your "ResourceId" to <_my_git_alias_>@microsoft.com.

However more importantly I am finally seeing a bug on SDK side which would lead to the App Server to keep using the faulted

[2019-12-03 09:14] vicancy commented on #740
v1.2.2 is planned to be released next week to fix this issue. The current 1.2.2 preview package should already contain the fix.

[code]

[2019-12-04 13:20] thedeukalion opened #756 "Unable to send to Groups with NewtonsoftJsonProtocol and Azure SignalR Service"
Sending an event from API Controller to a Hub connected to Azure SignalR Service with NewtonsoftJsonProtcol as protcol throws an exception while sending messages to groups.

Error thrown:

API Controller Code:
[code]

Hub Code:
[code]

Tried with and same result:
- Opened 2 connections (one receiver, one sender)
- Used IHubContext<TestHub> with: `(Hub.Clients.Group(TestHub.GetGroupId(id)).SendAsyn

[2019-12-05 03:06] vicancy commented on #756
There is already a default "json" protocol, adding another "json" protocol leads to conflict.
Hi @BrennanConroy is there any recommendations from your side when user wants to override the existing "json" protocol?

[2019-12-05 03:33] BrennanConroy commented on #756
In 3.0 duplicate entries will now override the previous entry. So multiple "json" protocols will only use the last one registered.

I'm not sure how this all interacts with the service and the mixture of 3.0.0 and 1.1.0 package versions.

[2019-12-05 04:41] vicancy commented on #756
@BrennanConroy good to know, I will make the SDK side change to let it be consistent with this overridden behavior.

[2019-12-05 06:39] JialinXin commented on #745
@TresaL Sorry for the delay response. I've replied you details in the email. The complete fix will be releasing soon. For short workaround, please try **restart** the service.

[2019-12-06 19:50] jsheetzati commented on #756
Is there an ETA for a release of this change? This is a roadblock for our migration to .NET Core 3.1. With 2.2 EOL coming up, we would like to stay on a supported version.

[2019-12-09 02:12] #756 closed

[2019-12-09 19:38] La-Buse commented on #751
Hi @vicancy,

How can I capture the websocket traffic from the python client ? Your link shows how to capture it from the browser. As for how it is implemented, all I am doing is using the websocket-client python library and passing it the url mapped to the SignalR server app. Everytime I send a message from the python client to the SignalR host, I use the character '\x1e' which seems to be mandat

[2019-12-10 02:40] vicancy commented on #751
You can use [Fiddler](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#collect-a-network-trace-with-fiddler-preferred-option) to capture the network trace.

For SignalR, I am afraid a *websocket-client python* is not enough, it has it's own protocols:
1. [TransportProtocol](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/docs/specs/TransportProtocol

[2019-12-10 02:49] vicancy commented on #751
Please try this pretty full-featured python AspNetCore SignalR client github.com/mandrewcito/signalrcore 😄

[2019-12-10 02:52] vicancy commented on #756
The next release is planned EOW  (13th Dec. 2019)

[2019-12-12 04:50] vicancy opened #765 "Improve ASP.NET version's trace experience"
Currently datetime and some useful info such as Hub name is not included in the trace message. Need improvement.

[2019-12-12 05:29] vicancy commented on #765
Also add more details on how to add/change trace listeners in tsg

[2019-12-12 16:37] Greg15153 commented on #742
Hey @JialinXin, Is this going to be a publicly available feature we can set ourselves anytime soon? We are having the same exact problems with our error logs being spammed with the same message in all our environments. We are also on UTC-5.

[2019-12-13 02:17] JialinXin commented on #742
@Greg15153 How's frequency and down period you've experienced? Normally it should be quick and few. Would you send me email _jixin[at]microsoft.com_ for resourceId/time if you've met a lot and let me double check if there's other problems.

[2019-12-17 02:07] ccic opened #773 "Allow C# AspNet client to try Websockets"
For the issue https://github.com/SignalR/SignalR/issues/4435, c# client with net45 cannot try websockets. The c# client should fix this issue, but it is difficult for the customers who used Azure SignalR Service to update the c# client for their users. The easy way is to fix on Azure SignalR SDK, then once the SDK updates, the issue disappear.

[2019-12-17 13:39] bmeijwaard opened #776 "MissingMethodException: at Microsoft.Azure.SignalR.AuthenticationHelper.GenerateJwtBearer"
Receiving mentioned error as of today, yesterday it was working fine. Currently using Azure SignalR standard price tier set on 'Default' service mode.

The expetion is raised when using this method:

[code]

Exception:
[code]

Package.json:
[code]
Also openened issue here:
https://github.com/Azure/azure-functions-signalrservice-extension/issues/88

[2019-12-17 14:41] tjkb opened #777 "MapFallbackToController causes issue with Hub Negotiation in Core 3.0"
We are currently migrating a production SPA that leverages Azure SignalR from .Net Core 2.2 to 3.0. Our startup looks like this:

[code]

Starting the app we run into this error when the client tries to negotiate:
[code]

Without the line `endpoints.MapFallbackToController("Index", "Home");` it works, however we need this for our SPA.

In .Net Core 2.2 it was working as expected.

[2019-12-18 02:00] #773 closed

[2019-12-18 04:09] wanlwanl commented on #776
could you repro locally?

[2019-12-18 04:53] wanlwanl commented on #776
I tried to repro with your project config and function code [here](https://github.com/Azure/azure-functions-signalrservice-extension/tree/wanl/issue776/samples/simple-chat/csharp/FunctionApp%20-%20Copy), but everything works well.

Could you fork it and make it reprodusable and provide the link?

The `local.settings.sample.json` should rename to `local.settings.json` and fill all the options.

[2019-12-18 08:50] JialinXin commented on #777
@tjkb Thanks for reporting the issue. I did a check on the method `MapFallbackToController` but seems it's only available after .Net Core 3.0. From the exception message, it seems there's `Endpoint` class conflict between different libraries. Would you share more information about where dependencies you're using and how's it in the startup before and after you do the upgrade.

[2019-12-18 10:38] bmeijwaard commented on #776
After some trying I was not able to reproduce on the provided sample project, but...

I found that `Microsoft.Azure.SignalR` references `System.IdentityModel.Tokens.Jwt` v `5.5.0`.
When I downgraded my local version from `5.6.0` to below, the issue was gone. However, trying to reproduce this behaviour referencing and using some object from that package I was also not able to reproduce in the simpl

[2019-12-18 10:48] tjkb commented on #777
Yes, `MapFallbackToController` is new in .Net Core 3.0. It replaces `MapSpaFallbackRoute`.

Startup before (.Net Core 2.2)
[code]
Startup now (.Net Core 3.0)
[code]
The target framework is `netcoreapp3.0` and we use
[code]

Thanks for looking into this. Please let me know if you need more information about the our project.

[2019-12-19 04:01] wanlwanl commented on #776
Yes, `Microsoft.Azure.SignalR` references 5.5.0, but I also check `System.IdentityModel.Tokens.Jwt ` 5.6.0, it has the method `System.IdentityModel.Tokens.Jwt.JwtSecurityToken System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler.CreateJwtSecurityToken(System.String, System.String, System.Security.Claims.ClaimsIdentity, System.Nullable`1<System.DateTime>, System.Nullable`1<System.DateTime>, Syst

[2019-12-19 09:30] bmeijwaard commented on #776
"Could you print the assembly details? What's the version of it?" Is there a way to print them for all projects? Does the `*.function.deps.json` suffice, see below?

It is impossible to trace back the exact changes since there has been so many before and after the issue started to occur. I already tried to revert changes to the point where to issue wasn't there but failed to do so.

I also noticed

[2019-12-19 10:38] bmeijwaard commented on #776
Update: Everything seems to work now.
I've changed the dependency version to `5.5.0` for the packages below on all projects that included the dependencies and that did the trick.
[code]

[2019-12-19 21:28] tjkb commented on #777
@JialinXin  thanks for fixing it

[2019-12-20 06:11] #777 closed

[2019-12-23 13:25] yahorsi opened #784 "Question/Potential 3.1 Core Issue: Unable to cast object of type 'Microsoft.AspNetCore.Http.Endpoint' to type 'Microsoft.AspNetCore.Routing.RouteEndpoint'."
Hi Guys,

We're trying to migrate our ASP.NET site to 3.1 from 2.2 and got several issues with Microsoft.Azure.SignalR. Currently, when we turn on Azure SignalR on dev machines we observe following exception.

[code]

Here is our code configurign services:
[code]

And the one configures middlewares:
[code]

The package version is
[code]

[2019-12-23 14:40] yahorsi commented on #784
Just a few comments:

1. When I change code to:
1.1. Make a separate call to
[code]
1.2 Remove call endpoints.MapHub from app.UseEndpoints

The exception stops happening.
But, that is the opposite to what recommended in the various sources describing on how to migrate Azure SignalR Service to the 3.1

If I configure things as recommended:
2.1 Call AddAzureSignalR in configuring services
2.2 Remove

[2019-12-24 14:47] JialinXin commented on #784
@yahorsi Thanks for reporting the issue. It's duplicated with #777 and we've already have a fix which will be soon released with version 1.2.3 in a day or two. Please try update to this version when it's available.

[2019-12-26 05:09] JialinXin commented on #784
@yahorsi Please update to latest version 1.2.3 for the fix.

[2019-12-26 05:09] #784 closed

[2019-12-26 05:11] JialinXin commented on #777
@tjkb Just an update that version 1.2.3 is released. Please update to latest for the fix.

[2019-12-26 05:13] davidfowl commented on #777
Nice fix @JialinXin !

[2019-12-31 03:08] mbinggeli opened #791 "Error: SignalR Service is now in 'Default' service mode. Current mode works as a proxy that routes client traffic to the connected app servers. However app servers are not connected."
I am currently using SignalR in a multi-region scenario. I have a Primary EndPoint and a Secondary end-point.

[code]

I launch my web application which is an Angular app using '@microsoft/signalr';

[code]

I want to test the failure over from the Primary to the Secondary end point and when I "fail" over the Primary (by restarting it in Azure), I get an error in my browsers console log:

**Error:

[2020-01-02 05:01] vicancy commented on #791
Failover requires `active-active` topology, details please refer to https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-disaster-recovery#high-available-architecture-for-signalr-service.

For your case, there are 2 regions, `Central US` and `South Central US`, and there is an app server instance running in `Central US` taking `Central US` Azure SignalR as primary and `South Centra

[2020-01-02 20:46] mbinggeli commented on #791
Ok thank you very much for clarification!

[2020-01-02 20:46] #791 closed

[2020-01-06 18:18] kwasak commented on #622
Hello @vicancy, How would you call `Context.Abort()` in Serverless mode? I'm using Azure Functions in Serverless mode which doesn't interface with hub classes.

[2020-01-07 18:41] kwasak opened #793 "REST APIs Check User Existence Always Returns Empty Body"
The REST API that [Checks user existence in a group](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#check-user-existence-in-a-group) always returns an empty body.

This issue occurs in both of the _Check user existence in a group_ REST APIs:
- https://<instance-name>.service.signalr.net/api/v1/hubs/<hub-name>/users/<user-id>/groups/<group-name>
- https://<instance-name>.service.s

[2020-01-08 01:15] vicancy commented on #622
@kwasak For Serverless there is no such feature exposed yet, we are adding the feature and they will be available soon. (REST API for closing a connection will be available this month)

[2020-01-08 02:47] kwasak commented on #622
@vicancy thanks for letting me know, I look forward to the API!

[2020-01-09 07:06] vwxyzh commented on #793
This API is for serverless.
For in default mode:
* a group contains connections, i.e.: 0..n--0..n.
* a connection can belong to a user, i.e: 0..n--0..1.
* no relationship between user and group.

[2020-01-14 02:28] rynowak opened #794 "NegotiateMatcherPolicy cache can keep growing unbounded"
The design of `NegotiateMatcherPolicy` is pretty cool, but it's missing one detail. The collection of endpoints (and thus the endpoint instances used as keys in the cache) can change while the app is running. With the current design this can cause the matcher policy to cache an unbounded number of endpoints.

Some suggestions about how to improve this:

- Use the hub type from `HubMetadata` as the

[2020-01-14 02:50] JialinXin commented on #794
@rynowak Thanks for pointing this out and providing details.

[2020-01-14 11:49] jedjohan commented on #486
Just about to perform this scale out from 2 --> 5 units. And I really cant cause any issues for the connected users. Whats the current status of this issue ? Should I be worried, any recent stories from the trenches ?

[2020-01-16 03:09] #794 closed

[2020-01-16 18:40] marcodemagalhaes opened #799 "Microsoft.Azure.SignalR.Protocol MessagePack V2 breaking change"
Hi

When I upgraded messagepack to v2 the Microsoft.Azure.SignalR.Protocols package started to get error because it implements v1

There are plans to migrate to messagepack v2?

Thanks!

[2020-01-17 03:24] wanlwanl opened #800 "Microsoft.Azure.SignalR.Management need interface for custom protocol"
Microsoft.Azure.SignalR.Management version >= 3.x uses System.Text.Json by default, but <= 2.x uses Newtonsoft.Json. Need to provide a way to add custom protocol.

[2020-01-17 07:00] vicancy commented on #799
As https://github.com/dotnet/aspnetcore/pull/18133#issuecomment-570937428, we will follow the same practice to build MessagePack from source to prevent such issues in the future.

[2020-01-17 15:05] #733 closed

[2020-01-17 15:21] #500 closed

[2020-01-17 15:21] #677 closed

[2020-01-17 17:01] tebeco commented on #799
hello @vicancy

i've just tried to attempt the migration too here :
https://github.com/tebeco/azure-signalr/tree/msgpack-v2

* what should be the base branch ? since this SDK has a different lifetime than SignalR
* am i suppose to target `netstandard2.0` only ? or should i cross target `netcoreapp3.1` since aspnetcore3.x is only `netcoreapp3.x`
  also `netcoreapp3.x` might have extension method fo

[2020-01-17 22:02] tebeco commented on #799
I think that thank to this commit :

I'm down to this :
![image](https://user-images.githubusercontent.com/2266487/72648761-2ce2a400-397c-11ea-84bf-271c0fe3df30.png)

All error here are present because this respository explicitly depends on `MessagePackHubProtocol` from `Microsoft.AspNetCore.SignalR.Protocols.MessagePack` (v3.0.0 <== this might be a good idea to update it, at least to 3.1.0 for LT

[2020-01-21 16:40] NicolasReyDotNet opened #809 "Get connected users list in Azure SignalR serverless mode"
Hi,

how can be get he list of connected users on Azure SignalR serverless mode :
currently we handle a list in a DB based on OnConnect/OnDisconnect events, but is it enought ?
Could we directly call Azure SignalR via API and get the information ?

We plan to use this mode in production with more than 4k sockets permanently.

I use this sample implementation (with EventGrid/Azure functions) : http

[2020-01-22 05:33] Tharindu-Diluksha commented on #793
@kwasak @vwxyzh  I'm having the same problem. I have been working on SignalR service in serveless mode. I'm getting the same empty response when I check the wether my users are in a particular group using the rest API. Any update on this? Thanks

[2020-01-22 05:57] Tharindu-Diluksha commented on #793
Okay, guys, it seems like if the user is in the group it's responding with status 200 with an empty body. If not status is 400.

[2020-01-26 12:42] alexiordan commented on #556
I believe it was something about the ISP infrastructure that caused such behavior. I'll close it for now.

[2020-01-26 12:42] #556 closed

[2020-01-27 16:30] andrewpaulicek opened #810 "Getting A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond. exceptions"
We are using SignalR Service in Serverless mode with .NET Standard and also .NET Core Azure functions.

We have ` [SignalR(HubName = "broadcast")]IAsyncCollector<SignalRMessage> signalRMessages,` output binding in our Azure Functions with the latest (AFAIK)
Microsoft.Azure.WebJobs.Extensions.SignalRService version 1.0.2 package.

We have removed awaits on `AddAsync` to make the whole function run

[2020-01-27 16:38] #810 closed

[2020-01-27 16:38] andrewpaulicek commented on #810
Found [https://github.com/Azure/azure-signalr/blob/dev/docs/performance-guide.md#broadcast-through-rest-api](https://github.com/Azure/azure-signalr/blob/dev/docs/performance-guide.md#broadcast-through-rest-api). Will double check our usage against the documentation.

[2020-01-27 20:25] AnQueth opened #811 "Adding user to many groups in a primary / secondary scenario makes the user miss messages"
i was able to create this scenario by joining 1000 groups in a loop without any delay.
i have a need for many groups and noticed messages cross region were not being sent reliably.

adding a 1 ms delay between the loop of the AddToGroupAsync calls SEEMS to fix the issue but not scientifically validated lol.

I'm attaching the 2 projects. its messy poc of the issue, you can find 1 in other and othe

[2020-01-28 19:15] #811 closed

[2020-01-28 19:23] kapir opened #812 "Getting a response on the existence of a given connection"
Hi, I'm currently looking at using Azure SignalR as a centralized way for different services in a system to talk to connected clients. 😄

### My current setup

Using this structure leads to the  services pushing messages to the clients do not know about my web app that sets up the actual hub. This seems to be working very well using the onConnect and onDisconnect hooks in the web app while the ser

[2020-02-03 09:52] sven5 opened #813 "CurrentCulture changed to en-US"
Hi,

I've already opened an issue [here ](https://github.com/dotnet/aspnetcore/issues/18508).
After establishing a Azure SignalR Connection within my Blazor App the culture is suddenly changed to en-US.
Could you please look into this?
Is there any way to set set the culture for Azure SignalR service?

Thanks
Sven

[2020-02-05 23:31] tebeco commented on #799
@marcodemagalhaes
I'm a bit ahead of schedule as it is not "reviewed / merged / released"
But to be clear on the PR, as it look for now, it only "removes" the `Transitive` dependency from `Azure SignalR SDK` on `MessagePack`.
This mean that if you ever use a `SignalR Hub` + `MessagePackHubProtocol`, you will be hit by https://github.com/dotnet/aspnetcore/issues/18692
https://github.com/dotnet/aspn

[2020-02-12 02:08] vicancy commented on #812
Could you help me to understand your scenario a little bit more? Do you currently have clients stored? How you "send(and listen) to the events on the services if there are a client that wants this info"? Why "check if a connection is still alive" can help? As the check and the decision are not atomic, there will always be some cases that when check the connection is alive however when do the real

[2020-02-12 02:43] vwxyzh commented on #809
Hi,
Your solution works for most cases.
But you should realize: `OnDisconnect` event is not reliable in some rare cases, for example, if one of VM for the service instance lost the network or crashed, then we cannot send disconnected events.

Currently, we are working on forwarding serverless client messages to Azure function, it will be available in next quarter, that means your clients can send

[2020-02-12 04:25] JialinXin commented on #813
@sven5 It seems I'm not able to repro this. Following your steps in the original issue. I could make it in `German` language both w/o Step2.

Besides your steps, I've made German top language in my browser. Any further idea about how to repro your issue?

[2020-02-13 03:53] JialinXin commented on #813
Sorry, it took some delay when connected to ASRS and could be reproduced. I'm looking into this.

[2020-02-13 07:53] sven5 commented on #813
@JialinXin  Ok thank you. Otherwise I would have created a small repro sample.

[2020-02-17 09:40] #813 closed

[2020-02-18 02:40] Craig-TSS opened #825 "[QUESTION] Can one azure signalr service instance be used by multiple web app services"
Hi, I have been scouring the documentation but have not been able to find any answers to my question.

Basically what I wanted to know is if Azure SignalR (with asp.net core) can handle having multiple separate web apps sharing the same Azure SignalR Service. Let's say I have 3 web apps (A, B, C) which are built from the same code (ie they provide the same service), but they are completely indepen

[2020-02-18 02:45] davidfowl commented on #825
As long as the hub names don't overlap then yes.