[2018-03-19 07:13] davidfowl opened #8 "Make AddSignalRService an extension method on ISignalRBuilder"
Today the AddSignalR service is an extension method that sits at the top level on ISeviceCollection.

https://github.com/Azure/azure-signalr/blob/72b9745e1479149d4d1335244454fea36ef530c4/src/Microsoft.Azure.SignalR/DependencyInjectionExtensions.cs#L16

I'd expect this to hang off the SignalR builder and replace a few key services in order to function. It should end up looking something like this i

[2018-03-29 15:16] anthonychu opened #12 "HttpClient should be a singleton"
`HttpClient` is currently instantiated at every use. This will have perf issues and cause socket exhaustion at high load (such as when used in Azure Functions).

Consider using a singleton or perhaps the new [`HttpClientFactory`](https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-preview1-introducing-httpclient-factory/).

https://github.com/Azure/azure-signalr/blob/e4349387d0e728

[2018-04-04 07:44] davidfowl opened #13 "The SignalR service SDK should be a de-multiplexer that plugs at the HubConnectionHandler"
This is basically an uber issue caller for the re-design of the how the integration works. Today there's too much copied code from SignalR which is fragile and ever changing. At an extremely high level, the SignalR SDK is handling incoming messages from the SignalR service and pumping those messages into individual connections as they are received. It should be no different from those connection b

[2018-04-11 07:21] davidfowl opened #14 "UseAzureSignalR should implement /negotiate end point"
To make the integration as seamless as possible, we want the SignalR client to connect to the application like normal, but then get a negotiate response that redirects them to the service URL. UseAzureSignalR should implement minimal negotiate endpoint that does this.

The other complication is the direct websocket connection scenario. Today if you specify websockets on the client side, it will sk

[2018-04-17 14:04] ccic opened #18 "System.Web support"
After API review, we need to figure out how to support REST API and negotiation process in dot net framework.
The class CloudSignalR now is only for dot net standard, and hub route has not yet implemented in Owin project.

[2018-04-17 15:23] ccic opened #19 "Remove unnecessary libraries dependencies"
Currently, I have roughly gone through the dependencies, but not sure whether all of them are necessary. We need to remove those unnecessary when SDK is finalized.

[2018-04-19 02:25] ccic opened #20 "Apply new Service Protocol"
Service protocol needs to be updated with new design.

[2018-04-22 10:08] ccic opened #23 "Update SignalR version"
Latest SignalR gives us some benefits:
1. Use HubConnectionContext.Protocol directly
2. Use https://github.com/aspnet/SignalR/blob/968e31970e394ae78cb7cf56fa6afa863e43a8ee/src/Microsoft.AspNetCore.Http.Connections.Common/NegotiateProtocol.cs#L13 instead of defining new negotiation response.

[2018-04-22 14:15] davidfowl opened #25 "Handle expanding of new properties on OpenConnectionMessage"
We should be able to add new properties to `OpenConnectionMessage` without breaking older clients. As an example we may want to forward the remote IP address of the client to the application. We should handle this in the ServiceProtocol by skipping over things we don't understand in the array. This allows us to add things in the future while not breaking older clients (they just don't skip over th

[2018-04-22 17:21] davidfowl opened #27 "Fix the log statements in the SDK"
The log statements should follow this pattern in the SDK https://github.com/aspnet/SignalR/blob/33ee8626c8a5b853f4313a0d6cd804bbe95b5c10/src/Microsoft.AspNetCore.Http.Connections.Client/Internal/LongPollingTransport.Log.cs.  Using DefineMessage and using structured logs instead of string interpolation.

[2018-04-22 17:51] davidfowl opened #28 "Improve the performance of the REST API"
https://github.com/Azure/azure-signalr/blob/c2d078f6f043a1a8ff77e75d497c7afb9e51d3e6/src/Microsoft.Azure.SignalR/HubProxy/HubMessageSender.cs#L51-L63

Today we're serialize to all JSON and MessagePack (2 hard coded protocols), then we Base64 encode it, then we wrap it in a UTF8 JSON payload.

We should use a more efficient payload format to send this (like multipart content) or something custom th

[2018-04-23 02:49] #20 closed, assigned to nobody

[2018-04-23 04:12] davidfowl opened #29 "Performance: Remove uses of ToArray() in the SDK, we're incurring a copy here"
There are a bunch of places we use ToArray that need to be fixed.

https://github.com/Azure/azure-signalr/blob/a4c59c02565d3d65c77ec022a7fd7f0156f2bbd2/src/Microsoft.Azure.SignalR/HubHost/ServiceConnection.cs#L149

The first one is interesting, we read a message from the application pipe and we need to turn it into a `ConnectionDataMessage`. Instead of doing ToArray() we could loop over the `ReadO

[2018-04-23 05:03] #29 closed, assigned to nobody

[2018-04-23 05:26] #8 closed, assigned to ccic

[2018-04-23 05:26] #13 closed, assigned to nobody

[2018-04-23 05:26] #14 closed, assigned to nobody

[2018-04-23 10:08] #23 closed, assigned to nobody

[2018-04-24 16:18] davidfowl opened #48 "Send keep alives to the client connections"
We have to send keep alive messages to make sure the connections stay alive. To do so, SignalR uses the [IConnectionHeartbeatFeature](https://github.com/aspnet/KestrelHttpServer/blob/1655a8fd6d8b7405ce23fb925918b7c4854655bb/src/Connections.Abstractions/Features/IConnectionHeartbeatFeature.cs). We need to implement this in the SDK.

[2018-04-25 01:47] #48 closed, assigned to nobody

[2018-04-25 03:09] davidfowl opened #50 "Error on closing connection"
[code]
This logic is incorrect https://github.com/Azure/azure-signalr/blob/a7eeb831355857331bd5a51246cb8ba3de213a95/src/Microsoft.Azure.SignalR/HubHost/ServiceConnection.cs#L349. It shouldn't be calling Application.Input.Complete(), it should be completing the transport pipes.

[2018-04-25 03:43] #50 closed, assigned to nobody

[2018-04-25 11:04] xscript opened #54 "ServiceConnectionManager should not write to random service connections"
Code is here
https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/HubHost/ServiceConnectionManager.cs#L29

Two issues:
- Random connection might not be active, causing data lost.
- Create extra traffic for Redis.

[2018-04-25 14:11] xscript opened #55 "Document how to set environment variable for connection string in Linux"
Right now it is `Azure:SignalR:ConnectionString`, which is not convenient for Linux users. Because `:` is not allowed in environment variable.

[2018-04-25 19:50] analogrelay opened #56 "SignalR Service not respecting CORS preflight request"
It looks like the service isn't returning the correct response from a [CORS preflight request](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request).

The failed request is shown below:

![image](https://user-images.githubusercontent.com/7574/39269081-9c13e0ca-4886-11e8-873d-399572cd6a79.png)

Chrome is making a preflight `OPTIONS` request to the Service in order to verify that the

[2018-04-26 05:32] #27 closed, assigned to nobody

[2018-04-26 06:01] xscript opened #57 "Implement handshake process for version negotiation in SDK"
Right now we have `handshake` message in service protocol. But we didn't use it yet.
We should implement a negotiation process with `handshake` message to support versioning.

[2018-04-26 16:05] #56 closed, assigned to nobody

[2018-04-27 03:30] ccic opened #60 "Build script"
We still miss the build script to build/test all on all platforms.

A possible choice is using https://github.com/aspnet/BuildTools/tree/dev/scripts/bootstrapper
1. It is also used by SignalR, which means providing developers consistent experience.
2. It is very easy to use, just run "build.cmd" or "build.sh" to build, pack and test all.

[2018-04-27 23:44] JamesNK opened #62 "XML documentation"
Ensure that the build outputs XML documentation and public types are documented.

[2018-04-29 09:48] xscript opened #66 "`AddAzureSignalR` doesn't pick up connection string"
When used in below snippet, connection string in appsettings.json or environment variables won't be picked up.
[code]

[2018-05-01 08:52] xscript opened #69 "Auto-reconnect should stop retry when service is deleted (404 returned)"
Right now we will try to reconnect infinitely when connecting to service failed.
Per @davidfowl 's suggestion, we should handle non-retryable errors like 404 to stop reconnect.

[2018-05-02 02:01] #57 closed, assigned to nobody

[2018-05-02 02:02] #60 closed, assigned to nobody

[2018-05-02 07:10] #66 closed, assigned to nobody

[2018-05-02 10:08] #28 closed, assigned to nobody

[2018-05-02 10:08] #12 closed, assigned to nobody

[2018-05-02 10:09] #19 closed, assigned to nobody

[2018-05-03 15:34] xscript opened #76 "Provide Swagger for REST API"
Need to provide the Swagger of REST API exposed by Azure SignalR Service.

[2018-05-04 01:17] #25 closed, assigned to xscript

[2018-05-04 01:17] #62 closed, assigned to xscript

[2018-05-04 02:31] xscript opened #77 "More friendly error message when connection string is incorrect."

[2018-05-04 08:22] #77 closed, assigned to xscript

[2018-05-06 18:31] #76 closed, assigned to xscript

[2018-05-08 06:21] davidfowl opened #87 "Group add and removal should complete the task when the user is in the group"
Today we're not waiting for the connection to be added to the group before returning from the method. That's one of the SignalR contracts that isn't being respected right now by the service and sdk. It might require a protocol change to send ACKs back (like we do in redis).

[2018-05-09 08:17] davidfowl opened #89 "Anonymous users show as Authenticated"
When switching ultimate tic tac toe to use the service, it ends up treating users that aren't logged in as authenticated users.

[2018-05-09 08:35] davidfowl commented on #89
The problem seems to be the difference between 0 claims and null claims https://github.com/Azure/azure-signalr/blob/219df7a80cbacdffb9a477bb1cd15b86a1853eac/src/Microsoft.Azure.SignalR/HubHost/ServiceConnectionContext.cs#L32. This needs to treat them as the same thing.

[2018-05-09 19:27] JamesNK opened #91 "Should AuthenticationHelper be public?"
https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/Utilities/AuthenticationHelper.cs

Should this be public?

Either make internal or add documentation (and consider moving out of the Utilities directory).

[2018-05-10 01:38] xscript commented on #91
We should make it internal for now.

[2018-05-10 04:55] #91 closed

[2018-05-10 07:17] davidfowl commented on #89
This isn't fully fixed yet. The service always sends these claim types, "nbf", "exp", "aud".

[2018-05-10 07:17] #89 closed

[2018-05-11 16:19] davidfowl opened #97 "Multiple hubs are broken"
See https://github.com/aspnet/SignalR/issues/2244. The issue is that we're starting the same ServiceConnection multiple times for each hub.

[2018-05-12 15:41] #97 closed

[2018-05-13 18:03] felipecruz91 opened #99 "Visual Studio build error - current .NET SDK does not support targeting .NET Core 2.1"
Hi there!

I'd like to start contributing to this project so I have followed the [Developer Getting Started](https://github.com/Azure/azure-signalr#developer-getting-started) section.

The project seems to have been built correctly via the `build.cmd` command (click [here ](https://gist.github.com/felipecruz91/366407c7f64b7c415946b16538c64525) to see the output for more information.)

However, whe

[2018-05-14 03:43] xscript commented on #99
Thanks @felipecruz91 for reporting the issue.
`build.cmd` will install the required SDK for you. You need to add the path of that SDK to the `PATH` environment variable so that Visual Studio can use it.
By default, it is installed at `c:\Users\<username>\.dotnet\x64`

[2018-05-14 03:48] davidfowl commented on #99
We should be able to switch to the official 2.1 builds now.

[2018-05-14 16:58] felipecruz91 commented on #99
Thanks @xscript - After having added the env. variable to the `PATH`, the project now builds successfully.

However, when launching the `ChatSample` project locally, the following runtime exception is thrown:

`An unhandled exception of type 'System.IO.FileLoadException' occurred in System.Private.CoreLib.dll
Could not load file or assembly 'System.Memory, Version=4.1.0.0, Culture=neutral, PublicK

[2018-05-17 13:12] #99 closed

[2018-05-19 07:07] #18 closed

[2018-05-19 07:07] davidfowl opened #101 "ASP.NET SignalR Support"
This is an issue to track supporting ASP.NET SignalR as part of the SignalR Azure Service.

[2018-05-23 06:21] xscript opened #104 "MultiUserDataMessage has incorrect message type, causing exception when ServiceProtocol parsing it"
https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.Protocols/ServiceProtocol.cs#L275

[2018-05-23 06:56] davidfowl commented on #104
tests!

[2018-05-25 05:46] #104 closed

[2018-05-25 08:57] yigitgursoy opened #108 "Unable to pass information from the client to the hub"
Context.GetHttpContext() returns the HttpContext in SignalR mode, but returns null in AzureSignalR mode. Therefore I can't read any QueryString or custom Http Header values in the OnConnectedAsync() method of the Hub. I'm using the following code to create the connection.

[code]

Is there any way to pass information from the client to the hub using the AzureSignalR service?

[2018-05-25 14:32] xscript commented on #108
Yes, the headers are not passed through from client to server. We will need some discussion to decide whether to support it.
A work around is to create a separate hub method and call this method to send information once the client is connected.

[2018-05-25 14:45] bogdanilin opened #109 "REST api - group name starting with a number is invalid"
According to the swagger document, the group parameter must contain only alphanumeric characters or underscore. However, if the group name starts with a number, the call returns BadRequest.

[2018-05-25 15:02] xscript commented on #109
Yes, group name must start with alphabetic characters. We will add it to swagger.

[2018-05-29 08:06] xscript commented on #55
Answered by https://github.com/MicrosoftDocs/azure-docs/issues/8989
Close this one.

[2018-05-29 08:06] #55 closed

[2018-05-29 09:10] xscript opened #112 "Custom `exp` claim will be overridden by Service SDK"
The access token generated by SDK will have below claims by default:
- `aud`
- `exp`
- `iat`
- `nbf`

When users have their own claims, there might be conflicts.

- Multiple `aud` claims will become an array, so there is no conflict.
- Custom `exp` will be overridden by Service SDK. The default expiration time is [one hour](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.Signal

[2018-05-30 05:56] davidfowl opened #113 "Generic hubs don't work"
https://github.com/aspnet/SignalR/issues/2390. Turns out we're not properly encoding hub names when they are expressed in the query string.

[2018-05-30 15:28] yigitgursoy opened #115 "OnConnectedAsync missing some of the connections"
I'm creating 10 clients in a loop. Almost all the time, a few of these clients don't trigger the OnConnectedAsync method when they connect to the hub. These clients don't throw any exceptions when they start a connection using the connection.StartAsync() or when the connection.On handler is registered. Which makes it hard to diagnose any problems.

Fiddler traffic displays 10 client/negotiate, 10

[2018-06-02 01:27] xscript commented on #115
@yigitgursoy Could you give me the name of your instance? Also, which region is it in?
You can email the instance name to `kevinzha at microsoft.com`.

[2018-06-02 08:16] davidfowl commented on #115
Unrelated:

You should be using the access token provider to set the bearer token.

[code]

You don't need to cast this:

var playerId = ((System.Security.Claims.ClaimsIdentity)Context.User.Identity).Claims
			.First(p => p.Type == "PlayerId")
			.Value;

It's already a ClaimsIdentity.

[2018-06-02 10:51] yigitgursoy commented on #115
Thanks @xscript. I've sent you an e-mail with the details.

[2018-06-05 13:41] mjrousos opened #118 "Feature Request: Ability to join groups in serverless/no-hub scenarios"
Being able to implement serverless SignalR scenarios (as in [this sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/RealtimeSignIn)) is a very useful feature of Azure SignalR.

One missing feature, though, is the ability to add users to groups (since a server-hosted hub is needed for that). It would be useful to have a mechanism for grouping connections so that SignalR mes

[2018-06-06 01:38] xscript commented on #118
@mjrousos Thanks for proposing this feature request!
We actually have been discussing this internally. However this is not of high priority due to our limited bandwidth. I will bring up this again within our team.
We will update here if there is any progress.

[2018-06-06 23:01] JoshuaDTester opened #119 "Clients.All.SendAsync throwing 'Index out of range' Exception"
Net Core version: 2.1
Application type: Web API
Server being used: IIS Express, locally
Operating System: Windows 10
Client browser: Chrome

Good day! I am experiencing strange behavior with Clients.All.SendAsync("MethodName", "test").
I can call it from an Angular 5 application with a working connection but when the API goes to call Clients.All.SendAsync it throws the following error:

"errorMess

[2018-06-07 03:01] xscript commented on #119
`It works on Azure` means it works when you only use Azure SignalR Service instead of local SignalR server?

Also, the dependency injection is not correct. You should only call `.AddAzureSignalR()` when you are using Azure SignalR Service, otherwise you should comment it out (or check the environment before calling it).

[2018-06-07 03:37] davidfowl commented on #119
Yes the application needs the same if statement in ConfigureServices. We need to improve the error here though.

[2018-06-07 06:55] JoshuaDTester commented on #119
Okay so when I chain the call servies.AddSignalR().AddAzureSignalR() it works **only** in Azure and not locally.  If I do services.AddSignalR();  **or** services.AddAzureSignalR() they work in the respective environments.  I did not realize you needed a check for the environment and all the demos I have seen chain the calls.  Thanks for clarifying this for me!  Appreciate the help.

[2018-06-07 06:58] davidfowl commented on #119
Np!

[2018-06-08 08:22] xscript opened #121 "More friendly error message when `UseAzureSignalR` is not called with `AddAzureSignalR`"
More context is at #119 .
After calling `AddAzureSignalR`, if user calls `UseSignalR` instead of `UseAzureSignalR`, we should throw exception with better error message to tell user what is wrong.

[2018-06-08 08:53] xscript commented on #115
@yigitgursoy We found the root cause of this issue. It is an edge case and only happens on `Free` tier. We have fixed it and will update here once it is deployed.

[2018-06-11 12:47] sonumalik1990 opened #122 "unable to call azure signalr hub method using azure signalr rest api"
I have created a sample .net core app with azure signalr service and hosted at local iis.

i) I am using below url in postman to call hub method: http://azuresignalr:5002/api/v1-preview/hub/:NotificationHub

ii) calling with postman with below body:

{ "Message": { "target": "BroadcastMessage", "arguments": [ "test method" ] } }

iii) My c# class :

public class NotificationHub:Hub {

public strin

[2018-06-12 01:01] xscript commented on #122
I think there are some misunderstanding about the use of REST API in Azure SignalR Service.

1. Only `HTTPS` is allowed to access the REST API.
2. You can only send message to clients through REST API. As I am seeing from your description, you are trying to invoke the hub method on your server.

[2018-06-12 06:17] sonumalik1990 commented on #122
Can you please provide some documentation or running demo to implement this.

[2018-06-12 06:21] xscript commented on #122
You can refer to the [real-time sign-in sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/RealtimeSignIn), which describe the pattern of using Azure SignalR Service REST API.

[2018-06-12 08:43] sonumalik1990 commented on #122
Thanks

This link is really helpful.

in SignInFunction.cs

await signalR.SendAsync("signin", "updateSignInStats", stats.TotalNumber, stats.ByOS, stats.ByBrowser);

Can you please help me in understanding definition/use of "signin", "updateSignInStats", as I haven't found any hub "signin" with method  "updateSignInStats".

[2018-06-12 09:52] sonumalik1990 commented on #122
How we can fetch the sent message at client side??

Please suggest.

[2018-06-13 08:45] chenkennt opened #123 "Support standard https port (443)"
It may be more user friendly to expose SignalR service in standard HTTPS port (443), especially the client endpoint, considering some clients may have special network configuration (e.g. behind firewall).

[2018-06-13 09:17] sonumalik1990 commented on #122
Its Done.

Thanks for your help.

[2018-06-13 12:10] sonumalik1990 commented on #122
@xscript

Can you please help me in this.

https://github.com/Azure/Azure-Functions/issues/839

[2018-06-14 19:28] SqweeeRyan opened #124 ""Message is incomplete" error"
Hello! I just tried turning on the Azure SignalR Service and am running into an issue with large messages being sent from the server to the client. I am getting the following JS error message:

[code]

I added a console.log to that TextMessageFormat.parse method to see the input, and I see that it is a C# object that is being broken into half. That is, the first message is of length 2,049 characte

[2018-06-15 02:37] xscript commented on #124
Thanks for reporting this issue. I am looking into it.

[2018-06-15 03:44] xscript commented on #124
@SqweeeRyan I've tried to reproduce your issue from my side. So I sent some messages with length of ~10k. It works with no error.
I saw your connection is using `WebSockets` transport. Could you capture the problematic data frame and send it to me? My email address is `kevinzha_at_microsoft.com` (replace `_at_` with `@`).

[2018-06-15 04:05] vicancy commented on #101
- [ ] 1. Service side
  - [ ] Reconnect doesn’t work, we need to figure out what to do here. Do we indeed reconnect or do you return a non 200 status code so the client doesn’t reconnect.
  - [ ] We need to do message framing on the way in and on the way out (this one needs a bit more explanation)
  - [ ] Negotiate settings are hard coded, how do we want to handle the fact that settings set by the

[2018-06-15 06:51] xscript opened #125 "Message size over 32 KB will cause server connection closed"
Same issue as https://github.com/aspnet/SignalR/issues/2483 . Azure SignalR Service use the default transport buffer size setting.
For now we should document this limitation. Maybe we can make it configurable when provisioning a new service instance, but definitely need more discussion and testing before making any decision.

[2018-06-15 08:34] davidfowl commented on #124
We have to ensure that we’re sending full messages to the client. I’ll see if something stands out later tomorrow

[2018-06-15 11:57] sonumalik1990 commented on #122
@xscript

Sorry for commenting in closed issue, but can you please suggest how unification(sending message to particular client not all client) of message can be done using rest api.

As upto now we broadcast the message to all client but if we have to send message to single client in a hub, how we can achieve that using azure signalR rest apis ??

Please suggest.

[2018-06-15 12:28] xscript commented on #122
You can use [this API](https://github.com/Azure/azure-signalr/blob/dev/docs/swagger.json#L8) to send message to a specific user.
You are required to provide a `NameIdentifier` claim when generating the access token for each client. Azure SignalR Service will use this claim to find the user you specify in the API.

[2018-06-15 19:02] SqweeeRyan commented on #124
@xscript I just sent you an email to follow up...thanks!

[2018-06-17 02:52] xscript opened #126 "Consider adding `ConnectionStrings` in the fallback path when loading default connection string from environment"
Azure Web App has a "Connection Strings" section specifically for secret connection strings. We should consider adding it into the fallback path when loading default connection string from environment, to optimize the experiences in Azure Web App.

[2018-06-17 04:08] davidfowl commented on #126
There’s a pattern we infer for this, take a look at the environment variable configuration provider

[2018-06-17 15:32] xscript commented on #126
@davidfowl are you talking about [AddEnvironmentVariables() API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.environmentvariablesextensions.addenvironmentvariables?view=aspnetcore-2.1#Microsoft_Extensions_Configuration_EnvironmentVariablesExtensions_AddEnvironmentVariables_Microsoft_Extensions_Configuration_IConfigurationBuilder_System_String_)?
What I mean is we

[2018-06-18 03:00] davidfowl commented on #126
Yes https://github.com/aspnet/Configuration/blob/2177cdf37ab22b766f70e6f0dbf3a486a0955fb4/src/Config.EnvironmentVariables/EnvironmentVariablesConfigurationProvider.cs#L21

I believe we read the environment variables from app service and we project them as a ke.

[2018-06-18 16:08] thdotnet opened #127 "Use Azure SignalR with MVC 5"
Hi,

I would like to use Azure SignalR with .net framework / mvc 5. How can I specify the connection string / secrets?

[2018-06-19 01:37] xscript commented on #124
@SqweeeRyan I have replied your email. Have your tried Chrome to get the problematic data frame?

[2018-06-19 01:47] xscript commented on #127
You mean you want to host your hubs in MVC 5?
Right now Azure SignalR Service only support [ASP.NET Core SignalR](https://github.com/aspnet/signalr). #101 is tracking the support of [ASP.NET SignalR](https://github.com/signalr/signalr). Working is in progress.

If you app is already using ASP.NET SignalR. You can follow up on #101 .
If you plan to start using SignalR, we recommend to migrate to .N

[2018-06-19 07:48] xscript commented on #124
Looks like the root cause is from [here](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/HubHost/ServiceConnection.cs#L469-L475). A complete message is split into multiple service messages being sent to service. Digging more on it.

[2018-06-19 07:56] #109 closed

[2018-06-19 22:18] stephenweaver commented on #124
It appears that I'm also running into this issue. Seems to be slitting the messages across several frames. Most of the frames are being slit at ~2048 bytes, but some are larger.

[2018-06-19 23:17] davidfowl commented on #124
@xscript its likely on the service side as well. I have a simple fix in mind, but it means we won't be able to reuse the ConnectionDataMessage type here.

[2018-06-19 23:22] davidfowl commented on #124
Actually the fix is easier than that, we just need to change ConnectionDataMessage to take a `ReadOnlySequence<byte>` instead of a `ReadOnlyMemory<byte>`. The multi writing can happen in side of the ServiceProtocol implementation itself.

[2018-06-20 00:27] xscript commented on #124
@davidfowl Yes, i was thinking about the same.
The only concern is `ConnectionDataMessage` will not be consistent with the other service message types because the payload type is not the same. But I didn't find any API to convert from `ReadOnlySequence<T>` to `ReadOnlyMemory<T>` without breaking into segments.
As `ConnectionDataMessage` is only used internally now, I think we can live with the inc

[2018-06-20 00:29] davidfowl commented on #124
@xscript I sent a PR. Writing a few tests now.

[2018-06-20 05:16] #124 closed

[2018-06-20 05:29] davidfowl commented on #124
The SDK side fixes are in, we still need to fix the service itself.

[2018-06-20 05:42] davidfowl commented on #124
Actually there might not need to be any fix on the service side at all.

@SqweeeRyan and @stephenjordan would you be willing to try out a ci build of the SDK to help us verify this fixes your applications?

[2018-06-21 03:07] #126 closed

[2018-06-21 13:10] stephenweaver commented on #124
@davidfowl do we know if the service needs to be updated? Not sure if you meant to tag the other stephen or not, but I'd be happy to test it out a CI build. What's the package source? (I checked aspnetcore-dev and netcore-dev to see if it was there, but I didn't the package there.)

[2018-06-21 13:22] xscript commented on #124
I've tested that this issue is fixed with the current service runtime. You can double confirm with your application.
You can use this feed https://www.myget.org/feed/azure-signalr-dev/package/nuget/Microsoft.Azure.SignalR . The latest version is `1.0.0-preview1-10012`.

[2018-06-21 17:29] stephenweaver opened #132 "AddAzureSignalR() seems to be causing all results to be null in the response frames"
Hi, I'm seeing a strange issue that wasn't happening a couple days ago when I started using azure-signalr.

Whenever I append .AddAzureSignalR() to services.AddSignalR() in ConfigureServices, all the frames of the incoming messages have null in the result.

The other day this was working, and I could see responses from both hubs (even posted screen shots on ticket 124). Currently though, neither h

[2018-06-22 03:11] xscript commented on #132
@stephenweaver I saw serveral issues in your case.

- You can't call `UseSignalR` and `UseAzureSignalR` in a mixed way. `AddAzureSignalR` will replace the underlying dependencies, so `UseSignalR` won't work.
- I saw you have sent message with size larger than 32 KB. Right now we have a limit when you send message from server to clients. The largest size is 32 KB. You can send message with size > 3

[2018-06-22 08:47] denismaster commented on #118
It would be a good feature. Also it would be great if there was an ability to send messages to clients directly without broadcasting using their connectionId.

[2018-06-22 09:47] xscript commented on #122
Close this issue because there is no response for a week.

[2018-06-22 09:47] #122 closed

[2018-06-22 11:28] sonumalik1990 opened #134 "to provision Azure singalR service using ARM templates in Visual studio"
Can any one please help me in creating/deploying  Azure singalR service using ARM templates with VSO.

I am not getting much help from google.

[2018-06-22 13:50] stephenweaver commented on #132
@xscript

- Thanks, I didn't realize that you couldn't use both.

- Is this the payload and error that you'd expect to see if a single message size if over 32 KB?

- Is there any configuration to allow a larger message size? Or at least not cause the connection to close?

[2018-06-22 15:24] xscript commented on #132
Yes. This error is caused by server connection close. We will improve the error message.

Not for now. The limitation of message size is at service side. Right now we don't plan to increase it or allow custom configuration. We need some discussion and more testing to help us decide.

Also we have planned a change in Service SDK to check the size of each message before sending to service. Exception

[2018-06-22 15:56] stephenweaver commented on #132
@xscript It doesn't look like the default is 32KB. I've been using payloads larger than that for years without any issues and without overriding anything.

[code]

Just ran a simple test to confirm as well. It eventually failed at 18MB, due to taking to a  Server timeout elapsed error.

[code]

[2018-06-22 16:08] xscript commented on #132
Yeah, it gets tricky when using Azure SignalR Service.

In ASP.NET Core SignalR, you can observe the limitation from client. It means you can't send a message larger than 32KB from client to server. But you can send message larger than 32KB from server to client.
The reason is server has a pre-defined buffer size (default value is 32KB) to receive message. When message from client exceeds the buff

[2018-06-22 16:18] stephenweaver commented on #132
@xscript I see, so the server to client limitation is new. I guess I've never needed a very large payload from client to server. Thanks for the explanation. Do you seen that limit ever changing? If not, we're going to start investigating moving away from signalr, since we've been having issues with 1006 errors ever since we moved to .net core (https://github.com/aspnet/SignalR/issues/2150). We wer

[2018-06-22 16:35] davidfowl commented on #132
The limit from the server to the service can be easily fixed and we should fix it.

I'm curious, you were using ASP.NET SignalR before and saw no problems right? I have 2 a couple of guesses on what you might be experiencing if that's the case.

[2018-06-22 16:47] stephenweaver commented on #132
@davidfowl

That would be awesome!

Correct, we were running ASP.NET SignlaR on this particular application for about a year without any issues. Now were seeing the 1006 error about ~1000 time per day. Would love to hear your couple of guesses.

[2018-06-22 17:09] davidfowl commented on #132
I've been discussing this with @anurse for a bit and now I'm thinking that the issue is ANCM (The ASP.NET IIS Module). The fact that it's out of process and there's an outbound connection from w3wp.exe to dotnet.exe for each client websocket connection may be causing issues.

[2018-06-22 18:11] stephenweaver commented on #132
@davidfowl,

That does seem plausible, but do you think this theory holds up with what @anurse has mentioned? It seems a little bit suspicious that an issue with ANCM wouldn't be on present on VM's or Azure SignalR Service (though I don't know what stack the Azure SignalR Service is running on).

Are there any logs from ANCM that would be able to confirm this  theory?

Is this a quick fix that cou

[2018-06-22 18:18] davidfowl commented on #132
Yes. Those tests were done without IIS.

The Azure SignalR Service does *NOT* use IIS (it's not even hosted on windows 😉).

HMMM, maybe http.sys logs but I'm not sure how much app service gives away. The right fix *is* to use the Azure SignalR service though.

@chenkennt and @xscript would know better how long it takes fixes to be deployed but the fix hopefully isn't too bad. I'll discuss.

[2018-06-22 18:23] stephenweaver commented on #132
👍

Kinda figured that. 💯

That's plan A.

Great, thanks!

[2018-06-23 01:43] xscript commented on #118
Some update on this:

We are considering exposing a new REST API to add a specific user to a group. Instead of passing the connection Id, you pass the user's unique Id in your HTTP request. The reason to use user Id instead of connection Id is, in server-less scenario, server code (in Azure Functions or other places) can't get the connection Id. But user Id of each client can be passed to Azure Si

[2018-06-23 01:46] xscript commented on #118
@denismaster You can use [this API](https://github.com/Azure/azure-signalr/blob/dev/docs/swagger.json#L8) to directly send messages to a user. Prerequisite is including a `NameIdentifier` claim in the JWT token for each client, so that Azure SignalR Service can find target connections by user Id.

[2018-06-23 08:37] denismaster commented on #118
@xscript You saved my life! Thank you very much!

[2018-06-25 01:42] juniwang commented on #134
Hi @sonumalik1990,  please read this [post](https://docs.microsoft.com/en-us/azure/vs-azure-tools-resource-groups-ci-in-vsts?toc=%2fazure%2fazure-resource-manager%2ftoc.json) as a reference about how to deploy service to Azure using ARM with VSO.   And you can find example ARM templates for Azure SignalR service in this [repository](https://github.com/juniwang/azure-signalr-arm-example/tree/master

[2018-06-26 02:06] chenkennt commented on #134
So you're looking for a way to programmatically get connection string? Then you can use Azure CLI, some samples can be found here:
https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-cli-samples

[2018-06-26 02:40] juniwang commented on #134
I believe these is no way that one resource can read the output of another resource in single ARM deployment. That means you cannot read the SignalR connection string and apply it to Function in the ARM.  You have to read and apply the connection string in other ways than ARM.

You can deploy SignalR and Azure Function(with default or blank SignalR connection string) in one ARM, then configure Azu

[2018-06-26 07:17] sonumalik1990 commented on #134
@juniwang / @chenkennt

Can we get "primaryKey" connection string inside ARM template, actually I am using single ARM to deploy both SignalR service and Azure function. I am using below line in appsetting section of Azure function:

 "SignalRServiceUrl": "[reference(resourceId('Microsoft.SignalRService/SignalR', parameters('serviceName'))).primaryKey]"

[2018-06-26 07:39] juniwang commented on #134
I'm sorry you cannot.  For security reasons,  connection string/access keys operations must be separated APIs. They won't be included in SignalR service meta.

[2018-06-26 09:41] sonumalik1990 commented on #134
azure cli is not installed on my build/release agents, So can I use powershell code to perform above operation.

Please suggest as I am not getting much help from google regarding reading signalR service connection string from powershell.

[2018-06-26 11:46] sonumalik1990 commented on #134
When I am using below command on VSO agent's task, then every time it told to execute "az login" to set up account.
az signalr key list --name <SignalRServiceName> --resource-group <ResourceGroup>

How its possible to set up an account while running task on VSO agent.

On local, I can do that by putting code in browser and start executing the commands.

Please suggest.

[2018-06-28 04:07] chenkennt commented on #132
@stephenweaver we have decided to remove the size limit for sending from server to client. But you should expect poorer performance and longer latency when the message size goes bigger. This change is going to be rolled out later next week. I know you're in a very tight schedule, so please let me know whether this time works for you.

[2018-06-28 11:25] mikesitch opened #135 "Failing to connect via WebSockets from SPA (Firefox & Safari)"
Hi,

We use Azure SignalR service from our angular SPA (using node package @aspnet/signalr) client, server is a DotNetCore 2.1 app using NuGet package 1.0.0-preview1-10011.

Everything works fine in Chrome and Edge and we connect to AzureSignalR service using WebSockets.  However we get a 401 from Firefox and Safari (latest versions) and so fall back to server sent events.

Is this a known issue.

[2018-06-28 15:57] xscript commented on #135
It shouldn't happen. Could you capture a HAR file from Firefox?

[2018-06-29 02:55] xscript commented on #135
@mikesitch Confirm this is a bug in service run-time. We will fix it and deploy in the coming deployment,

[2018-06-29 07:22] mikesitch commented on #135
Thanks for confirming.  Will wait for Preview1.

[2018-06-29 07:31] xscript commented on #135
We have planned a release next week. But it is not guaranteed because a lot of changes are going on. Will update here once the deployment is done.
BTW, which region are you in?

[2018-06-29 12:00] mikesitch commented on #135
Good news.  West Europe (until UK South becomes available).

[2018-06-29 16:03] davidfowl commented on #127
Closing this as there's another issue tracking the work

[2018-06-29 16:03] #127 closed

[2018-06-29 16:04] davidfowl commented on #125
Upgraded to bug

[2018-06-29 16:05] davidfowl commented on #87
@xscript @chenkennt we need to make sure this is the case before GA. No acks actually need to come back to the application. It can be done all on the service side itself.

[2018-06-30 03:19] xscript commented on #87
Yeah, this is the next issue I plan to fix. But my fix requires a new message type to send ACK back to application. Let's sync offline about your idea.

[2018-07-03 02:37] #121 closed

[2018-07-03 03:35] xscript commented on #134
Close old issue.
@sonumalik1990 Feel free to reopen it if you have further questions.

[2018-07-03 03:35] #134 closed

[2018-07-03 09:33] sonumalik1990 commented on #134
Its Done

Thanks

Sorry for commenting in close issue,

Can you please help me in syncing azure search with Azure sql db.

I have done this using SQL Integrated Change Tracking Policy, but it updates the azure search in some time for ex 3 to 4 minutes.

In my scenario, I have to update Azure search asap(without manual running of indexer).

Is it possible to update automatically in few seconds, if

[2018-07-03 15:11] xscript commented on #134
@sonumalik1990 I am afraid we don't have the expertise in Azure SQL Server or Azure Search. You may leave you questions at Azure SQL or Azure Search's documentation page at https://docs.microsoft.com/azure. Then the document owners will follow up with you.

[2018-07-05 21:49] johlrich commented on #118
Huge 👍 here for endpoints to manage group membership by user id. Group membership is the only thing I need a hub context for today.

[2018-07-09 19:02] Hypnobrew opened #140 "SignalR Azure does not seem to use provided id from custom IUserIdProvider"
Hi

I first opened an [issue](https://github.com/aspnet/SignalR/issues/2602) in [aspnet/signalr](https://github.com/aspnet/SignalR) repository, but the problem seem to be related to the library `Microsoft.Azure.SignalR` on top of SignalR.

Experienced issue:
Using a custom user id provider implementing `IUserIdProvider` does not seem to work. I can see it hitting my breakpoint, but does not use my

[2018-07-10 07:32] surabhshah commented on #134
@sonumalik1990 ,

In case you are still stuck with getting SignalR access key in ARM template, you can get the primary key as below.

[code]

Complete template could be found [here](https://github.com/surabhshah/ARMTemplates/blob/master/SignalRDeploy.json)

Hope it helps!

Surabh

[2018-07-10 07:48] juniwang commented on #134
@subbarayudukamma Good to learn that!

[2018-07-11 13:14] mariomeyrelles commented on #123
Yes, this is very important to be usable on corporate scenarios. I think this is urgent and should be prioritized.

[2018-07-12 06:14] cristoffer-andersson-stratsys commented on #140
My user id is created something like this in my `IUserIdProvider` implementation:
[code]

[2018-07-12 06:16] cristoffer-andersson-stratsys commented on #140
Also tried with a dummy value `ABC123` in my implementation, and still only matches with the `NameIdentifier` claim on my User.

[2018-07-12 07:05] Hypnobrew commented on #140
My user id is created something like this in my IUserIdProvider implementation:

[code]
Also tried with a dummy value ABC123 in my implementation, and still only matches with the NameIdentifier claim on my User.

[2018-07-12 07:09] xscript commented on #140
Ah, I think I get your question.
Yeah, this is the expected behavior for now, because we use `NameIdentifier` in the service runtime to identify each connection. This is a gap right now to honor custom `IUserIdProvider` in service runtime. Let me think a bit to find out a fix for this.

[2018-07-12 07:10] davidfowl commented on #140
Right i was going to suggest sticking the resolved id in a claim on the sdk side that flows to the service.

[2018-07-12 13:20] Hypnobrew commented on #140
Great, thanks!

[2018-07-17 08:57] xscript opened #141 "Validate endpoint from connection string"
From https://github.com/MicrosoftDocs/azure-docs/issues/11680 .
It is possible that the connection string is messed up when it is copied around. SDK can validate the endpoint to be a valid URI and display error message to help troubleshoot.

[2018-07-18 08:19] xscript commented on #141
Fixed by #142

[2018-07-18 08:19] #141 closed

[2018-07-26 09:59] AjitBhosale opened #149 "Azure SignalR client disconnect with error - Message rate reaches limit."
Using Azure SignalR service.

Message rate - 1 messages per 100 milliseconds.

Getting error in C# client which send message to Azure SignalR service.

connected successfully and able to receive and send messages but after some time(5 seconds) getting error on sender side continuously - "The server closed the connection with the following error: Message rate reaches limit."

Trying to reconnect in

[2018-07-27 02:07] xscript commented on #149
What's the size of your message? I guess they are over 10 KB?

[2018-07-31 14:13] pizerg opened #150 "WebSocket connection gets disconnected"
I'm trying to connect to Azure Signalr directly using WebSockets with Java (as the Java client is not ready yet), I manage to get a WebSocket connection with a successful handshake but after a few seconds the server closes the connection (error code: 1000). During the time the connection is open, if I send a message (to the same hub) using the REST API I receive an InternalServerError as a respons

[2018-08-01 01:39] xscript commented on #150
@pizerg Could you provide more details to help us troubleshoot? For example, the frames going through the WebSocket connection.

The `InternalServerError` might be another issue. We have fixed it and the fix is being deployed across all regions. Is it convenient for you to provide your instance name so that we can confirm from our side?

[2018-08-01 01:42] xscript commented on #149
Use this issue to track the work of updating message rate limit. The fix is ready and will be rolled out in the next deployment.

[2018-08-01 07:39] pizerg commented on #150
@xscript Here's the log when I enable DEBUG mode on the websockets lib:

[code]

Regarding the instance name, provide me with an email or something to send it privately

[2018-08-01 08:37] xscript commented on #150
You can send your instance name to `kevinzha<at>microsoft.com` (replace `<at>` with `@` ). Thanks!

[2018-08-02 08:42] nithinkd-geon opened #151 "web socket connection not working for long query string"
we are facing  similar issue in azure signalr service that is referenced below
https://github.com/aspnet/SignalR/issues/1747

when we try to connect with smaller query string by reducing hub name length it start working in wss in other cases it downgraded to sse

[2018-08-02 09:13] pizerg commented on #150
@xscript I managed to connect and send/receive messages, thank you for your help! Also I can confirm that the InternalServerError seems to be gone.

I'm closing the issue.

[2018-08-02 09:13] #150 closed

[2018-08-03 08:30] xscript commented on #115
@yigitgursoy  Fix has been deployed to all instances. Please try again to double confirm.

[2018-08-03 08:30] #115 closed

[2018-08-03 08:31] xscript commented on #125
Fix has been deployed to all instances.

[2018-08-03 08:31] #125 closed

[2018-08-03 08:31] xscript commented on #135
@mikesitch Fix has been deployed to all instances. Please try again to double confirm.

[2018-08-03 08:31] #135 closed

[2018-08-03 08:32] xscript commented on #132
@stephenweaver  Fix has been deployed to all instances. Please try again to double confirm.

[2018-08-03 08:32] #132 closed

[2018-08-03 08:54] vicancy commented on #151
Thanks for reporting the issue. We will take a look and get back to you.

[2018-08-03 09:29] cyrilmestrom commented on #123
Very much needed here as well. Users opening our app on some public networks have no SignalR enabled

[2018-08-07 04:56] vwxyzh commented on #151
@nithinkd-geon how large is you request line?
Is it limited by browser (IE is 2K, [see most browsers URL length limit](https://stackoverflow.com/questions/812925/what-is-the-maximum-possible-length-of-a-query-string))?
We will increase the [max request line size](https://github.com/aspnet/KestrelHttpServer/blob/release/2.2/src/Kestrel.Core/KestrelServerLimits.cs#L92) to 16K (current limit is 8K),

[2018-08-08 06:39] nithinkd-geon commented on #151
@vwxyzh
currently we are using serverless method mentioned in the below example https://github.com/aspnet/AzureSignalRsamples/tree/master/samples/Serverless

building the hub url  from service and passes that into javascript client then client makes the connection

[2018-08-09 01:34] KyleKorndoerfer commented on #118
What about sending a message to a group from an Azure Function? Sample use case would be invoking a Function that validates a move in a game (like chess) and if it is a valid move informs all connected clients of the current game (joined to a SignalR Group) of the outcome. Or a record in CosmosDB being updated and a Function gets invoked to notify client connected to a group about the update.

Whe

[2018-08-09 02:31] xscript commented on #118
@KyleKorndoerfer Have you checked the response body when you met Bad Request error? The error message should tell you which part of your request is invalid.

[2018-08-09 06:58] vwxyzh commented on #151
@nithinkd-geon how large is your request line in web socket?
For web socket, your hub name and claims are parts of query string. 8k is enough for normal case, but if your hub name is very long, or your client has many claims, the request line will be exceeded.

[2018-08-09 08:42] xscript opened #156 "Unable to connect, No server available"
Copied from https://github.com/aspnet/SignalR/issues/2772

[2018-08-13 15:57] xscript commented on #156
@DibranMulder After looking at our backend logs, we've identified it was caused by intermittent connection issues to the Redis backplane. It should happen very rare. We are working on a fix right now.
The work around for now is to restart the the problematic app server to re-establish connections between your app server and SignalR Service.

[2018-08-14 01:55] cnlogistics opened #160 "Hub Messages occasionally don't arrive"
Hello
I utilize an Azure SignalR Service on Standard S2 App Service Plan and the service itself on Standard price tier.

My Hub is hosted in an Asp.Net Core 2.1 (netstandard20) Api App in Azure.

I invoke the Hub action methods with the .Net Client v.1.0.2 from inside an Http Trigger Azure Function.

I frequently notice that my messages are properly sent ro the Hub but don't be transmitted to my W

[2018-08-14 02:27] vicancy commented on #160
Hi @cnlogistics , you can set `EnableDetailedErrors = true` from the App Server side (https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.1#configure-server-options), and also configure logging through `HubConnectionBuilder().ConfigureLogging` from client side (https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.1#configure-logging)

[2018-08-14 06:07] ericbrunner commented on #160
Hi @vicancy

 l asume that I loose messages from my Hub on the way to the Azure SignalR Service. I have already enabled `EnableDetailedErrors = true`.
I don't use groups. From my WebApp client I currently only invoked a Join method in the Hub and then form my Azure Function I trigger the SendDirectMessage (e.g. via browser for test purposes). And here I see that the Azure Function with the SignalR

[2018-08-14 07:11] DibranMulder commented on #156
Ok thanks for the information. Please keep me posted with release schedules etc..

[2018-08-14 08:13] vicancy commented on #160
Hi @ericbrunner
Based on your description, I draw a diagram of your current workflow, is it correct?
![image](https://user-images.githubusercontent.com/668244/44078806-031c2e44-9fda-11e8-9d30-324cad8e6343.png)

Does it mean that you see "SignalR-Message-Sent" event logged from the *Azure WebApp* side?

Does it mean that sometimes *WebApp Client* does receive the message?

Could you also turn on cl

[2018-08-14 11:02] ericbrunner commented on #160
@vicancy

Here a first intermediate result of exception:

Azure Web App (hosting the Hub)

![image](https://user-images.githubusercontent.com/6480047/44087944-b1c2f3b0-9fc1-11e8-97ad-b154cd3980e6.png)

Application Insights export of those server side exceptions
[TruckerWebAppHubApiApp_query_data.xlsx](https://github.com/Azure/azure-signalr/files/2286617/TruckerWebAppHubApiApp_query_data.xlsx)

Azu

[2018-08-14 12:15] ericbrunner commented on #160
Hi again @vicancy
Until yesterday my App Service Plan ran only on 1 instance. I configured an auto-scaler to increase to 2 instances (VMs) when CPU load raises above 70%. Yesterday midday the autoscaler increased the instances from 1 to 2. The Azure Function App had ARR disabled. So it can be that that was the root cause. So maybe the initial connect request was on the 1st instance (VM#1) and afte

[2018-08-14 13:05] ericbrunner commented on #160
Hi @vicancy
Currently I had that case that I didn't get the SignalR messages in my deployed (in azure) **Web App Client**.

Steps for Reproduction

1. I startet the **Azure Function** project on `localhost`
2. I startet the **Api App** project (with SignalR hub) on `localhost`
    That **Api App** on `localhost` is connected to the **same Azure SignalR Service** as my deployed **Api App** in azure

[2018-08-14 18:27] KyleKorndoerfer commented on #118
@xscript I couldn't get the body of the response in the stack trace but after a few attempts through Postman I was able to deduce what the error was in the requests and it appears to have sent a valid message through (2xx response). My next step is to validate everything end-to-end with connected clients to ensure the message arrives. Thanks for the nudge!

[2018-08-15 03:41] vicancy commented on #160
Hi @ericbrunner
Thanks for your investigation, your explanation about "those users are not there and the request goes in empty space" makes pretty much sense to me that it caused the original issue.

Any concerns preventing you from using `Clients.User(userid).SendAsync()`?

For your latest problem, I assume it is the same case as the "auto-scaling" case before that there are 2 App instance runnin

[2018-08-15 03:57] cnlogistics commented on #160
Hi
Regarding

Any concerns preventing you from using Clients.User(userid).SendAsync()?

I use that in my hub. What do you mean?

Regarding localhost development:
Well I don't agree on that. Because when I stop the localhost debug session the messages appear in my deployed Web App Client. Anyway, what would you suggest?
From my point of view 1 have 2 options
Oprion1: Create a 2nd Azure SignalR Serv

[2018-08-15 04:10] cnlogistics commented on #160
For me it seems that only one same Hub can be connected to Azure SignalR Service and that First Come First Serve Policy takes place in Azure SignalR Service. So any message deliveries are only sent to that Hub that registered first in the endpoint. If the first hub disconnects (my localhost hub) the other one (remote hub in azure) is used

[2018-08-15 04:38] vicancy commented on #160
Hi @cnlogistics ,

I mean why not sending to user directly using `Clients.User` instead of `Clients.Client` in https://gist.github.com/ericbrunner/1b1b75d8593dca416ccfa6a975e26d9f#file-truckerwebapphub-cs-L106

No it's not. Azure SignalR Service supports multiple App Servers( in your case, an Azure one, and a localhost one), and it uses Redis Service for routing and scaling. You can try a "broadca

[2018-08-15 06:39] ericbrunner commented on #160
Hi @vicancy

What's the difference between `Clients.User` and `Clients.Client` in **my case**.

To be honest, it's hard to describe in text what is going on. I will try to record a screencast and post it here. Another option would be to establish a Remote Session with you (e.g. LogMe).

[2018-08-15 07:32] vicancy commented on #160
Hi @ericbrunner , a screencast can be helpful. Have you tried `Clients.All.SendAsync`? Is that working?

With `Clients.User`, Azure SignalR service will find all the connections related to the user (the info is maintained globally in Azure Redis so it is shared across App Servers, in your current case, the info in memory is per App Server only) for you.

So here is my understanding to what happens

[2018-08-15 07:58] ericbrunner commented on #160
Hi @vicancy

1. Thank you for your support. I really appreciate it 👍
2. My way with the `ASPNETCORE_ENVIRONMENT=DevelopmentLocalhost` (see last [comment ](https://github.com/Azure/azure-signalr/issues/160#issuecomment-413115602)from me) works as expected 👍
3. The key statement in your last comment is:

That's was what I ment with **First Come First Serve**.

4. Me [screencast ](https://screencast-

[2018-08-15 08:27] vicancy commented on #160
@ericbrunner Thanks for your patience, I will close the issue.
Clarify some gaps though:
1. Azure SignalR Service randomly picks one server only when client tries to connect, for traffic load balance purpose, once it is connected, Azure SignalR Service will guarantee that the client traffic *always* goes into the that particular App Server.
2. It is not "Clients.User finds all the connections and

[2018-08-15 08:27] #160 closed

[2018-08-15 08:50] davidfowl opened #161 "Preserve the request path on the HttpContext"
We made changes to preserve the QueryString and Headers but we don't preserve the request path. This affects frameworks that rely on the path data to make decisions (like server side blazor).

[2018-08-15 15:51] anurse commented on #160
Regarding `Clients.User`, see our documentation on [Users and Groups](https://docs.microsoft.com/en-us/aspnet/core/signalr/groups?view=aspnetcore-2.1) for more information. Once you've enabled authentication as described in our [Authentication and authorization](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.1) docs, you can send to all connections associate

[2018-08-15 18:56] gynet opened #162 "Does azure-signalrs support WebProxy?"
Does azure-signalrs support WebProxy and How?

[2018-08-15 19:14] gynet commented on #123
Also can azure-signalr support custom WebProxy?

https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx

[2018-08-16 17:26] gynet opened #166 "Connection 979e5f03-b7d5-4c21-9776-c94baf463e7b to the service was dropped."
fail: Microsoft.Azure.SignalR.ServiceConnection[4]
      Connection 979e5f03-b7d5-4c21-9776-c94baf463e7b to the service was dropped.
System.Net.Http.WinHttpException (0x80072EE2): The operation timed out
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.Compi

[2018-08-17 00:46] gynet opened #167 "The connection count on Azure Portal is Incorrect"
I just use 2 clients locally for testing, started and stopped them multiple times, but the portal logged the connection number as around 55 which is definitely incorrect.

[2018-08-17 00:47] vicancy commented on #166
Hi @gynet, when did you experience this error? Is it happening all the time or just occasionally? Did messages get lost within that period?

This error can happen due to network issues, and SignalR SDK handles such case with auto-reconnet logic.

[2018-08-17 00:48] gynet commented on #167
Since the count number is incorrect, it will cause issues with the costing

[2018-08-17 00:52] gynet commented on #166
It happened occasionally this morning, and now it just has gone.

[2018-08-17 00:53] vicancy commented on #162
Hi @gynet, with WebProxy, are you talking about https://docs.microsoft.com/en-us/dotnet/api/system.net.webproxy?redirectedfrom=MSDN&view=netcore-2.1 specifically or https://en.wikipedia.org/wiki/Proxy_server in general?

Also, would you mind giving us a more detailed description on your needs and user scenarios using WebProxy?

[2018-08-17 00:58] gynet commented on #162
Hi Vicancy,

Yes, I am talking about https://docs.microsoft.com/en-us/dotnet/api/system.net.webproxy?redirectedfrom=MSDN&view=netcore-2.1

Does the SDK support webproxy for the ws connection between clients and Azure?

https://docs.microsoft.com/en-us/previous-versions/aspnet/web-frameworks/jj918125(v=vs.111)

We have customers have very restricted networking environment and they want to use a pro

[2018-08-17 01:01] gynet commented on #162
@vicancy

[2018-08-17 01:03] gynet commented on #162
Usually, an SDK should expose a WebProxy as configuration for customization settings

[2018-08-17 05:27] cnlogistics opened #169 "StartAsync() returns 404 from Azure SignalR Service"
Please see all details there:

https://github.com/aspnet/SignalR/issues/2791#issuecomment-413609478

[2018-08-17 06:54] vicancy commented on #169
Thanks @cnlogistics for reporting the issue. I will take a look from the service side and get back to you.

[2018-08-17 07:19] vicancy commented on #169
@cnlogistics as your log screenshot indicates, the timestamp is *Local Time*, could you provide the *UTC time* for the *Local Time* `2018-08-15T12:07:28` for me to narrow down the log?

With a first glance, it looks like the `WebSockets` connection fails to start, according to the log.
![image](https://user-images.githubusercontent.com/668244/44253010-b72b5380-a230-11e8-8bac-4134e5861162.png)
![im

[2018-08-17 07:44] ericbrunner commented on #169
Just subtract 2 hours than you are on UTC time. UTC+2 is my local time in Vienna / Austria.
![image](https://user-images.githubusercontent.com/6480047/44254132-305f8200-a202-11e8-9c96-175d6b684f4a.png)

[2018-08-17 07:47] ericbrunner commented on #169
@vicancy If helpful here the AI Analytics query from 5 minutes before the 404 and 5 minutes after and the new CSV as ZIP

[code]

[query_data (1).zip](https://github.com/Azure/azure-signalr/files/2296401/query_data.1.zip)

[2018-08-17 07:51] zackliu commented on #167
Where did you see the connection count number, in overall page or in metrics(preview) page. If in metrics page, you need to make sure `Time granularity = 1 minute`. It's just a bug of showing metrics and the background statistics is accurate.

[2018-08-17 08:43] vicancy commented on #169
1. Client side: on `2018-08-15T10:07:28.753Z` 404 response with SSE request `?hub=hubname&id=xGk...`
2. Service side: on `2018-08-15T10:07:28.7598884Z` an Handshake error occurs:
[code]

This error happens when the `HttpConnectionContext.Transport.Input` `IsCompleted` before handshake request message completed. Code logic similar to
[code]
![image](https://user-images.githubusercontent.com/668244/

[2018-08-17 08:47] ericbrunner commented on #169
@vicancy maybe related to that https://github.com/aspnet/SignalR/issues/2791#issuecomment-413790378

[2018-08-17 09:08] ericbrunner commented on #169
@vicancy Regarding

Where can I see that Azure SignalR Service log messages. Would somehow help. Even help you when I could provide that with an issue? I Azure Portal I see only that, but it is not ready and shows wrong metrics.

![image](https://user-images.githubusercontent.com/6480047/44257923-ce0c7e80-a20d-11e8-86a2-66ecc3e69cf4.png)

[2018-08-17 16:41] gynet commented on #167
I saw that on the overall page.

[2018-08-17 16:53] gynet commented on #162
Thank you Vicancy. I will have a try

[2018-08-20 18:46] gynet commented on #167
Also, it's having issues on the metrics page, if I chose the default granularity, it goes above 1k+, even if I chose granularity as 1 minute, it still shows around 55.

[2018-08-20 18:52] gynet commented on #162
I tried to set up a proxy and looks like the traffic for Azure went through the proxy server.

[2018-08-21 01:48] vicancy commented on #169
@ericbrunner Currently Azure SignalR Service log messages are not exposed to the portal. We are considering publishing error/warning logs to portal, however that would be after GA. cc @chenkennt For now, you can provide the time range and your instance ID, and we can help getting service logs for you.

[2018-08-21 02:49] xscript commented on #108
The fix is ready and on the way to be deployed to production.
A workaround is you can add the room id in a custom claim. We have an option called [ClaimsProvider](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/ServiceOptions.cs#L38). The default behavior is we will get `HttpContext.User.Claims` to generate the access token, which will be used to authenticate with Azure

[2018-08-21 09:44] chenkennt commented on #123
Quick update for the progress so far:

Standard https port (443) will be supported in 1.0 (the release date is not finalized, hopefully in a month or two). This requires a major update in both SDK and service runtime. You'll need to upgrade to latest service SDK to use the new port. Service runtime will be automatically updated and no change to the client code.

Current port (5001/5002) will be re

[2018-08-21 13:31] maxiptah commented on #108
Do you have an estimation as to when this fix is going to be deployed?
I'm trying to pass an auth0 token to the hub method. This is normally passed as a bearer token in authorization header. However as stated in this [post](https://stackoverflow.com/questions/15528221/passing-token-through-http-headers-signalr), custom header is not possible because of limitations of JS websocket client which does

[2018-08-22 06:53] xscript commented on #108
I can't give you a concrete time when the deployment is finished. Deployment is not a one-day job. We have to update multiple regions and also thousands of existing instances.
An optimistic estimate is that it will be ready in production at next week (week of 2018/8/27). But it is not guaranteed. I will update here once the deployment is completed.

After the fix is in production, you will be able

[2018-08-22 07:00] davidfowl commented on #169
@ericbrunner I was looking at your azure function and it looks like you're initializing a shared instance of the hubConnection (it's static) without locking. That might explain some of the weird behaviors you're seeing.

[2018-08-22 07:26] ericbrunner commented on #169
@davidfowl you are propably right. I will surround my own SendAsync method invocation with a SemaphoreSlim wait lock (only 1 concurrent invocation allowed) or what's much better than locks, I start the hubConnection only ONCE and invoke hubConnection.StartAsync ONCE. Only in case of an exception that occurs on hubConnection.SendAsync I would attempt to invoke hubConnection.StartAsync until it succ

[2018-08-22 10:27] ericbrunner commented on #169
@davidfowl  Maybe you consider making StartAsync and StopAsync thread safe in future. Analog to HttpClient thread safe methods

[2018-08-22 11:22] ToniaDemchuk opened #172 "Connection closed with an error. Unknown error"
Web socket connection to Azure services returns error after trying to connect from several browser tabs:
[code]
Several tabs succeed to connect to sockets and receive mesages, but most of connections returned this type of error. I have no clue what is going wrong because no error description returned.

I am using Azure services on Free plan, but dashboard shows that all is under the message/connec

[2018-08-22 13:52] davidfowl commented on #169
The client is thread safe but that’s not your issue. You start and stop the connection from overlapping requests. You have a shared state problem.

Why do you stop the connection after sending?

[2018-08-22 14:32] ericbrunner commented on #169
You can close that issue. I described 2 way of code improvements above. Why I close? Well that was the first code draft and playing around with Az Fx and SignalR.

[2018-08-23 02:49] #169 closed

[2018-08-23 07:46] Mishu opened #173 "Getting "Invalid Target" response when trying to send a message from Postman"
Hey guys,

I have this setup:
1. ASP.Net Core web app
    - using package Microsoft.Azure.SignalR to enable SignalR
    - I have the service defined in Azure
    - I have a hub class defined in the Web App
    - sending messages from the web app hub works perfectly
2. I have an Azure Worker Role I want to send message to the web app by it's SignalR connection id.
To do this, I've built a class to

[2018-08-23 09:29] chenkennt commented on #173
Which API are you using? We currently only support send to hub/group/user in REST API.

[2018-08-23 09:52] Mishu commented on #173
Yeah, sorry about that I forgot to add the REST API call...

`https://{endpoint}.service.signalr.net:5002/api/v1-preview/hub/{hub}/user/{connectionId}`

[2018-08-23 14:58] xscript commented on #172
Could you send your service instance name to me via email? My email address is `kevinzha<at>microsoft.com` (change `<at>` to `@`).

[2018-08-23 15:06] xscript commented on #173
Could you try to put your payload in below format?
[code]

[2018-08-23 15:17] Mishu commented on #173
Thanks for you reply, @xscript !

Now it says `202 Accepted` but the message still doesn't get delivered to the client.
I've added `Message` object because of an error received when using Postman from the SignalR Azure Server...

[2018-08-23 17:51] gynet commented on #167
Synced with your team offline, I think this issue can be closed now

[2018-08-24 01:28] xscript commented on #173
When sending to a specific use, you need to:
- Add a `nameid` claim (`ClaimTypes.NameIdentifier` in C#) in the access token of each client, so that SignalR Service knows to which how to find each user.
- In the REST API call, use the same value of `nameif` claim as the user id. In your case, you are using `connectionId`, which is not right. Because `connectionId` and `userId` is not the same.

[2018-08-24 01:29] #167 closed

[2018-08-24 07:50] Mishu commented on #173
I've added the `nameid` claim type and it is the same as the `userid` parameter.
How can I get the user Id?
If I use `Context.UserIdentifier` instead of `Context.ConnectionId` I get a `null` value.

Also when sending messages from the Web App hub I'm using the `connectionId`.
I'm using the method `T Client(string connectionId);` from the `IHubContext<T>` instance which works fine.

[2018-08-24 07:57] xscript commented on #173
Do you have a custom `IUserIdProvider` implementation? The default implementation of `IUserIdProvider` will get the `NameIdentifier` claim as `UserIdentifier` (see [here](https://github.com/aspnet/SignalR/blob/release/2.2/src/Microsoft.AspNetCore.SignalR.Core/DefaultUserIdProvider.cs#L17)).

[2018-08-24 08:57] xscript commented on #172
@ToniaDemchuk I didn't see any unusual errors in our backend logs. But I do noticed that quite a lot of connections are closed right after receiving the handshake request.
Have you turned on `debug` log in your server code? I want to confirm whether server code is closing the client connection.

[2018-08-28 13:13] xscript commented on #172
It is not normal. Each client connection shouldn't have impact on the others. It sounds like the underlying connection between your server and SignalR service is broken. Then all client connections running on top are closed too.
Could you share more details such as debug logs from your app?

[2018-08-31 08:44] xscript commented on #108
Update:
Production deployment has completed. Use [the latest Service SDK](https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.0.0-preview1-10200) and you will be able to access `HttpContext.Request.Headers` and `HttpContext.Request.QueryString`.

[2018-08-31 08:45] xscript commented on #113
Fix has been deployed to production. Generic hub is supported now.

[2018-08-31 08:47] xscript commented on #149
@AjitBhosale  We have removed the message rate limit in production. Please help check from your side.

[2018-08-31 08:49] xscript commented on #161
Fixed in [the latest Service SDK](https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.0.0-preview1-10200).

[2018-08-31 08:49] #161 closed

[2018-08-31 08:49] #113 closed

[2018-08-31 08:51] xscript commented on #162
@gynet Looks like everything works. Can we close this issue?

[2018-08-31 08:51] xscript commented on #166
It looks like a network issue. Does it happen again? Can we close this issue?

[2018-08-31 08:52] xscript commented on #87
Fixed in [the latest Service SDK](https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.0.0-preview1-10200).

[2018-08-31 08:52] #87 closed

[2018-08-31 16:31] gynet commented on #166
@xscript  it's gone. It does not happen again, I think we can close this issue

[2018-08-31 16:31] #166 closed

[2018-08-31 16:32] gynet commented on #162
I tried and it works, closed

[2018-08-31 16:32] #162 closed

[2018-09-04 10:06] birynk opened #189 "Azure App Service with Authentication/Authorization enabled failed because of redirect response"
We are using Azure SignalR and SignalR js library (1.0.0) in the client.

The backend is a ASP.Net Core Web APP deployed in a Azure App Service with Authentication/Authorization activated and configured to use the Azure AD for validation.  We have deactivated CORS configuration in the AZURE portal as found here [https://github.com/aspnet/SignalR/issues/2095](https://github.com/aspnet/SignalR/issue

[2018-09-09 06:42] alexiordan opened #191 "Preserve client IP address in Context.HttpContext"
How can I see client remote IP address?

`Context.GetHttpContext().Connection.RemoteIpAddress` is null

In asp.net Core SignalR it worked.

[2018-09-09 06:50] alexiordan opened #192 "MapHub configureOptions"
In asp.net Core SignalR MapHub method provides means for configuration:
[code]

Azure SignalRService only has
[code]

So one cannot state which transport protocols to be binded for each hub like it used to be an asp.net Core version:
[code]

How can transports be specified for each Hub in Azure SignalR Service?

[2018-09-09 21:56] phil0007 commented on #101
How is this issue tracking. What is the ETA for Azure SignalR support on .NET Framework?

[2018-09-10 02:00] xscript commented on #191
For now, you can't. When using Azure SignalR Service, the `HttpContext` is not the `"real"` one but a logical one.
The `"real"` HttpContext is maintained in SignalR Service. The one you can access is rebuilt in your app with limited information.

Could you elaborate more how you'd like to use the client IP? We want to understand more about your scenario.

[2018-09-10 02:28] xscript commented on #149
Close this issue as there is no response for over a week.

[2018-09-10 02:28] #149 closed

[2018-09-10 02:28] xscript commented on #108
Close this issue as there is no response over a week.

[2018-09-10 02:28] #108 closed

[2018-09-10 02:47] xscript commented on #172
@ToniaDemchuk Is this still an issue?

[2018-09-10 02:47] xscript commented on #173
@Mishu Is your issue resolved? Can we close this issue?

[2018-09-10 04:29] alexiordan commented on #192
Free, Shared and Basic App Service plans have a finite number of websocket connections. Therefore if one needs to limit those to specific areas that configuration was a possibility.

However, if client requests a specific transport the server will honour that, right?

[2018-09-10 04:39] xscript commented on #192
When you use Azure SignalR Service, client doesn't establish persistent connection (ws/sse/long-polling) with your app server. Client will only establish connection with Azure SignalR Service. Is that what you worried about?

Yes, you can force a client to use a specified transport. Refer to [here](https://github.com/aspnet/SignalR/blob/release/2.2/src/Microsoft.AspNetCore.SignalR.Client/HubConnec

[2018-09-10 05:09] alexiordan commented on #192
I thought that since websocket connections are limited on some plans it is higher value resource (TCP connection) and therefor could be more wisely used.

SignalR Service has no limitations regarding  this (similar with one's from App Service plans)?

[2018-09-10 05:30] davidfowl commented on #191
@xscript yep, I didnt mean roundtrip from the application, it would be sent like how we handle headers.

[2018-09-10 06:02] alexiordan commented on #191
Maybe is related to this: https://github.com/Azure/azure-signalr/issues/25

[2018-09-10 06:04] alexiordan commented on #192
OK. One more question:
Can more than 1 App use a SignalR Service?

[2018-09-10 06:40] xscript commented on #192
Yes. You can have multiple app service instances connected to the same Azure SignalR Service.

[2018-09-10 06:44] alexiordan commented on #192
And they can be sepparate AppServices with different hubs, right?
Thank you!

For the initial issue I only see the reason for providing means to specify transport as an easy transition to/from in-AppService SignalR hosting to SignalR Service.

[2018-09-10 06:52] xscript commented on #192
Yes.

You can also limit the available transport types in [`AddSignalR`](https://github.com/aspnet/SignalR/blob/release/2.2/src/Microsoft.AspNetCore.SignalR/SignalRDependencyInjectionExtensions.cs#L49). That is a global setting for all hubs. It won't impact the use of Azure SignalR Service.

[2018-09-11 00:08] gavilanch opened #194 "Cannot send dependency to Configure that depends on IHubContext"
An error is thrown when passing a custom service to the Configure method of the Startup class when using AddAzureSignalR service. This is in ASP.NET Core 2.1. My code:

[code]

[code]
Where ChatHub is a class the inherits from Hub (no constructor on this class). If I run the app, I get the following error:

The issue goes away if I remove the IHubContext dependency from the SqlDependencyService cl

[2018-09-11 06:26] xscript commented on #194
We will check whether `UseAzureSignalR` is called in methods of `HubLifetimeManager` instead of constructor.

[2018-09-11 06:27] vicancy commented on #189
Hi @birynk,
According to your 302 response:
[code]
It looks like the token is not working and it fails login. Is `validjwtToken` fetched and contain valid value when calling `var connection = new signalR.HubConnectionBuilder() .withUrl('https://app_host/hub_name', { accessTokenFactory: () => validjwtToken}) .build();`?

To help us narrow down the issue, could you help to check if Authentication wo

[2018-09-11 08:03] ToniaDemchuk commented on #172
Thank you for reply.
I cannot reproduce it anymore. Debug logs don't show any suspicious items.

[2018-09-11 08:08] xscript commented on #172
Then it is probably just intermittent network issue.
I will close this issue for now. Feel free to reopen it or create another issue if you have further questions.

[2018-09-11 08:09] #172 closed

[2018-09-11 08:10] davidfowl commented on #194
@xscript That would be much cleaner. We do a similar thing in redis (https://github.com/aspnet/SignalR/blob/adc5706bcb2b3cb85e98e303999eb9a778426f7c/src/Microsoft.AspNetCore.SignalR.Redis/RedisHubLifetimeManager.cs#L490)

[2018-09-11 12:14] birynk commented on #189
Hi @vicancy,

The token is valid.

I have tried also with the core SignalR in the Web APP and the same behaviour happens with Redirect for OPTIONS call.

On a second look, I believe the reason why it is failing on our side is the OPTIONS request send before POST /negotiate. POST /negotiate contains the token and is accepted by the Azure Auth Layer. But the OPTIONS does not contain the token thus t

[2018-09-11 14:52] Mishu commented on #173
@xscript I'm sorry I didn't got the time to test this yet... I'll get on it tomorrow (my time).
Thank you for your assistance!

[2018-09-13 07:33] hempe opened #198 "The 'User-Agent' header must be modified using the appropriate property or method."
I'm using Microsoft.Azure.SignalR 1.0.0-preview1-10200, Target platform net461.

When i try to use AzureSignalR I see the following error in the logs, and it seems no connection to the hub is established.

[code]

[2018-09-13 09:39] davidfowl commented on #192
We should document these gotchas

[2018-09-13 12:14] Mishu commented on #173
@xscript I've updated the code to include a custom implementation (get a custom claim)... the response is 202 but I don't get any messages in the client. When using this approach I don't get messages even if I send them from the web api where the hub is defined... Any thoughts on that? (the client is an Angular 6 app, using @angular/signalr library)

[2018-09-13 14:52] xscript commented on #173
Where did you put the `nameid` claim? It should be included in each client's access token like described [here](https://github.com/Azure/azure-signalr/blob/kevinzha/doc/docs/rest-api.md#user-related-rest-api).

[2018-09-13 15:05] xscript commented on #198
@davidfowl Is this because `ClientWebSocket` in .net framework doesn't allow set `User-Agent` header [this way](https://github.com/aspnet/SignalR/blob/release/2.2/src/Microsoft.AspNetCore.Http.Connections.Client/Internal/WebSocketsTransport.cs#L48)?

[2018-09-13 15:35] hempe commented on #198
@xscript @davidfowl

Seems like it:
From: [WebHeaderCollection.cs](https://referencesource.microsoft.com/#system/net/System/Net/WebHeaderCollection.cs,127b05c42eb27cc6)
[code]
And from: [_HeaderInfoTable.cs](https://referencesource.microsoft.com/#system/net/System/Net/_HeaderInfoTable.cs,bfb2597634963745)
```new HeaderInfo(HttpKnownHeaderNames.UserAgent,          true,   false,  false,  SinglePars

[2018-09-13 15:56] davidfowl commented on #198
Yes. We don't set the user agent in ASP.NET SignalR either. It's a bit unfortunate though. We'll need to leave it out for now.

[2018-09-13 16:14] xscript commented on #198
@davidfowl  Right. We may have to use another custom header.

@hempe It is interesting that you are trying to use Azure SignalR Service in .net framework. Would you like to share more about why you are doing this and how it goes for now?

[2018-09-13 16:48] michaelpaulus commented on #198
@xscript I am having this issue as well, I want to use the new service but can't fully switch over to .net core because of the lack of the accessToken on the sql client for the .net standard version, I understand this will be added in 2.2, but need to use 4.7.1 until that time.

[2018-09-13 17:13] Mishu commented on #173
I’m using Azure Converged Application to get users logged in into the angular app, I’m using the acquiretTokenSilent method to get a token for signalR hub and backend web api. I’m using the `preferred_name` claim to get the user UPN from Azure Ad. Is that correct or should I use the `nameid` claim? I’m sending the token when creating the connection, I’m using `accessTokenFactory`. Am I on the righ

[2018-09-13 20:10] hempe commented on #198
@xscript We are currently migrating a lot of things in our production code from net461 to standard (but not core). The application where i want to use this is a windows service loading a lot of plugins and we are trying to make a smooth (non breaking) transition, so i can't just switch to netcore.

But... can you even have a windows service in .net core?

[2018-09-14 01:39] xscript commented on #173
You should add a `nameid` claim with the value of each client's user id. This is the claim SignalR Service will use to identify each connection.

[2018-09-14 01:59] xscript commented on #198
Thanks guys for sharing with us how you are using SignalR Service! This is very helpful to us. 😄

@hempe Have you checked out [hosting ASP.NET Core in a Windows Service](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-2.1)?

[2018-09-14 02:12] xscript commented on #151
We have increased the limit of request line size from 8 KB (default value) to 12 KB. It will be deployed soon.

[2018-09-14 03:18] nithinkd-geon commented on #151
thank you..!

Regards.
*Nithin KD*

On Fri, Sep 14, 2018 at 7:42 AM Kevin Zhao <notifications@github.com> wrote:

[2018-09-14 06:39] Mishu commented on #173
@xscript Yes it works! I was setting the incorrect value when using the SignalR API... The Azure AD JWT token has a `nameidentifier` claim.

👍 for Azure SignalR service! Very nice how you can send messages from the API!

Thank you for all the help!

[2018-09-14 07:18] xscript opened #202 "Return 400 when query string in negotiate request has `access_token` parameter"

[2018-09-14 07:32] xscript commented on #202
Looks like we can handle it in service runtime.

[2018-09-14 07:32] #202 closed

[2018-09-14 08:44] xscript commented on #173
Glad to help. Can we close this issue now?

[2018-09-14 11:12] hempe commented on #198
@xscript Haven't seen that. Thanks for the info. Might be useful in the future.

[2018-09-14 15:36] #173 closed

[2018-09-14 22:17] anurse opened #203 "[AspNet] ServiceHubDispatcher throws if UserIdProvider returns null"
If the `UserIdProvider` registered in the app returns `null` for a user, the `ServiceHubDispatcher` will throw an `ArgumentNullException`:

[code]

This can happen in Owin Self-Host environments. In System.Web apps, the `context.Request.User` property is initialized with a non-null Name even when the user is not authenticated, but that's not true in a self-hosted app.

The value from the UserIdPro

[2018-09-19 03:47] PinkPanda17 commented on #101
Is there any update?

[2018-09-19 12:11] nithinkd-geon opened #208 "failed: Error during WebSocket handshake: Unexpected response code: 404"
when trying to connect azure signalr service from javascript client with url and access token it some times(frequently) throws error saying "failed: Error during WebSocket handshake: Unexpected response code: 404",we just enabled client log trace and below are the details of trace logs

Debug: Starting HubConnection.
Utils.js:158 Debug: Starting connection with transfer format 'Text'.
Utils.js:158

[2018-09-19 23:26] vicancy commented on #101
We will have this feature public preview in Azure Service late this month. The announcement https://blogs.msdn.microsoft.com/webdev/2018/09/17/the-future-of-asp-net-signalr/ have some more details of the timeline.

[2018-09-20 07:45] vicancy commented on #203
Fixed

[2018-09-20 07:45] #203 closed

[2018-09-20 07:49] vicancy commented on #208
Hi @nithinkd-geon , thanks for reaching out to us. Could you send me `lianwei@microsoft.com` your resourece name and subscriptionId so that I can dig into the service log to see if anything abnormal is happening?

According to your description, is it that only `WebSockets` encounter this 404 error? What happens when it falls back to `ServerSentEvents`? is it still 404 or it gets connected?

[2018-09-20 21:50] mike7ang1rdz opened #212 "No Connection on 1.0.0-preview1-10200 (stateless service, service fabric)"
we are  currently working with (service fabric 6.3.162.9494) and with the previous version (**1.0.0-preview1-10015** )  working fine with stateless service. with the update to the version (1.0.0-preview1-10200) it stopped working.

It seems that the connection is well stablished  (no errors) but  if  we override the onconnected method it doesn't connect

[2018-09-21 01:30] vicancy commented on #212
Thanks for reporting a issue. Could you share more details about how you **override the onconnected method**, a minimum code snippet to repro the issue would be appreciated.

[2018-09-24 02:52] PinkPanda17 commented on #101
Thanks For this :)

[2018-09-26 02:03] xscript commented on #198
Fixed with the latest Service SDK (1.0.0).

[2018-09-26 02:03] #198 closed

[2018-09-26 10:12] castics commented on #118
Any new about this feature? I really wait for the grouping in Azure SignalR Service...

[2018-09-26 12:16] johlrich commented on #118
@castics I noticed there was a line saying this was supported in the [GA announcement blog post](https://azure.microsoft.com/en-us/blog/azure-signalr-service-now-generally-available/). Have not had a chance to try it yet over here.

[2018-09-26 12:39] xscript commented on #118
@castics @johlrich A new REST API has been added to enable adding user to group. It is documented at [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#add-user-to-group).
You can create a new instance to try it out.

And we are still working in progress to refresh all existing instances. So it might not work in existing instances in some regions.
We will update here once all

[2018-09-27 13:02] castics commented on #118
Great, tested, it works like a charm!

But, one question about group memberships expiration, what is the algorithm when and with what condition does it happen?

[2018-09-27 16:10] alexiordan opened #218 "[Question] Do internal ping messages count for Azure plan limit"
Currently, the Free Plan has a limit of 20K messages/day/unit.

Do internal ping messages count too?

For one client, if enables ping to server each 15 seconds:
2 / minute => 120 / h => 2 880 / day one way.

So both ways for a client will be about 6 000 messages only for the infrastructure...

[2018-09-28 03:06] xscript commented on #156
Fix has been deployed to all regions. Close this issue.

[2018-09-28 03:06] #156 closed

[2018-09-28 03:07] xscript commented on #151
Fix has been deployed to all regions. Close this issue.

[2018-09-28 03:07] #151 closed

[2018-09-28 03:09] xscript commented on #123
With the latest Service SDK and the new connection string format, all traffic will go through 443 port now.

[2018-09-28 03:09] #123 closed

[2018-09-28 04:48] xscript commented on #118
@castics
LRU (least recently used) algorithm will be used to clean up groups which are not used recently, when storage is under pressure. So the exact timing depends on how you use the service.

The best practice is explicitly adding/removing user to/from the group with the two REST APIs at [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#add-user-to-group).

We will conside

[2018-09-28 04:49] xscript commented on #118
We have updated all instances in all regions to the latest, meaning all instances support this feature now.
Close this issue.

[2018-09-28 04:49] #118 closed

[2018-09-28 04:50] xscript commented on #140
The latest SDK (version 1.0.0) has supported custom `IUserIdProvider`.
Close this issue.

[2018-09-28 04:50] #140 closed

[2018-09-28 05:34] xscript commented on #191
With the latest Service SDK (1.0.0), remote IP address is available.
Close this issue.

[2018-09-28 05:34] #191 closed

[2018-09-28 05:55] xscript commented on #192
Documented at [here](https://github.com/Azure/azure-signalr/blob/2929468848954e1561e5692c376e9456f739479a/docs/faq.md#configure-transports).

[2018-09-28 07:53] xscript commented on #192
#217 is merged. Close this issue.

[2018-09-28 07:53] #192 closed

[2018-09-29 06:46] vicancy commented on #208
Hi @nithinkd-geon , according to the log, `/negotiate` and following requests are **NOT** routed to the **same** server so 404 returns.

 We rely on `Cookie` of the incoming request to determine which machine the request should be routed to. Technical detail is, for an incoming request, if `SIGNALRROUTE` cookie is found, we route based on the value; if not, we generate a value and `Set-Cookie` for

[2018-09-29 06:48] pksorensen commented on #118
@xscript If you are using LRU to clean up, how do i know if you magicly removed a user from a group or removed a group?

Can i rely on, after added the user to a group that I can send a message to this group ? or do i need to periodic add users to groups to be sure? (little confused here about your statement ).

[2018-09-29 07:59] xscript opened #220 "Provide a separate NuGet package for REST APIs"
Right now it is not trivia to call REST APIs of SignalR Service.
It might worth providing a separate NuGet package to make it easier.

[2018-09-29 08:03] davidfowl commented on #112
This should just be documented and then we can close the issue.

[2018-09-30 01:56] vicancy commented on #208
One possibility is **third-party cookies** is blocked in the browser. https://stackoverflow.com/questions/13953908/cors-cookie-with-domain-field-is-setting-only-in-firefox-using-jquery-ajax/16634887#16634887

![image](https://user-images.githubusercontent.com/668244/46252124-1ff42580-c497-11e8-9dde-1ff7d469e991.png)

[2018-09-30 02:42] zackliu commented on #218
Yes, the ping message is counted now. We didn't realize the amount is so huge and we're now investigating a better solution.

[2018-09-30 07:46] alexiordan commented on #218
Thank you for the acknowledge. Would you please update this issue when you have new information?

I believe this is an issue for the Standard Plans too, so I might suggest to have that in mind too.

[2018-09-30 11:53] alexiordan opened #221 "Same hub name in multiple AppServices behavior"
AppService no. 1 - Hub name: "myHub"
AppService no. 2 - Hub name: "myHub"

If both AppServices share the same SignalR Service, which seems to be a supported scenario: https://github.com/Azure/azure-signalr/issues/192#issuecomment-419804810 , AppService no.2 does not receive its own messages, but receives AppService no.1's :-)

Maybe in the mapping service AppService address could be taken into con

[2018-10-01 10:02] vicancy commented on #221
No, it is not supported. We do consider using hub’s FullName as the unique hub name in the future, however for now, we are using hub’s type Name as the unique identity for that hub, that is to say, if there are same hub names in multiple app servers, we consider them as same hub with multiple instances. So if the same hub name is shared by different app servers, the result is undetermined.

We rec

[2018-10-03 03:31] nithinkd-geon commented on #208
@vicancy   will do the same once we face the problem again

[2018-10-03 17:00] gynet opened #222 "The SDK having issue to reach out to Azure SignalR - The connection is not active, data cannot be sent to the service."
I am having a signalR service to be used send message to a group of clients. So basically, I was testing with only one client connecting to the server overnight,.

The server instance running overnight, in the morning, I try to push a message to a group client again, it failed and I saw this issue  on the sever side, it's having this error multiply times.

-----------------------------------------

[2018-10-03 17:54] gynet commented on #222
On the signalr client side, if I reconnect to our server.  it got error:

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at SignalRExperimentClient.Program.Init() in D:

[2018-10-04 16:57] gynet commented on #222
I retried yesterday with three clients and had the same issue.
Server side:
System.InvalidOperationException: The connection is not active, data cannot be sent to the service.
   at Microsoft.Azure.SignalR.ServiceConnectionBase.WriteAsync(ServiceMessage serviceMessage)
   at Microsoft.Azure.SignalR.ServiceConnection.ProcessOutgoingMessagesAsync(ServiceConnectionContext connection)
fail: Microsoft.

[2018-10-04 23:54] vicancy commented on #222
According to the error message, there is no server connection available because server is not receiving heartbeat from Azure Service. Could you provide your instance name and time when the issue took place through email for us to take a look at the service log?

[2018-10-05 20:31] NArnott opened #223 "NameClaimType not honored"
I have a sample ASP NET Core web app that I'm hooking up to Azure SignalR. For authentication, I'm using an existing Identity Server. When the initial login authentication occurs, the claim type for the user's name is "name" (the JWT claim type name). When adding AddOpenIdConnect, I set x.TokenValidationParameters.NameClaimType = "name";

This works, and when I call HttpContext.SignInAsync(User),

[2018-10-08 02:52] vicancy commented on #222
The service log shows that the Azure service aborts the server connection as it believes the server connection times out. We are investigating the root cause and will give you an update as soon as we have the answer and a remedy for it. cc @vwxyzh

[2018-10-08 03:34] vicancy commented on #223
I believe this is a bug that `x.TokenValidationParameters.NameClaimType` info is not passed through service to server and when creating the `User` the `NameClaimType` is reset to default https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/HubHost/ServiceConnectionContext.cs#L53

[2018-10-08 14:01] maxiptah commented on #222
We have the same here. Occasionally a web app backed up by Azure SignalR would throw this:

`ERROR|CentralExceptionHandler|Central exception: The connection is not active, data cannot be sent to the service.
   at Microsoft.Azure.SignalR.ServiceConnectionBase.WriteAsync(ServiceMessage serviceMessage)
   at Microsoft.Azure.SignalR.ServiceConnectionManager`1.WriteAsync(ServiceMessage serviceMessage)

[2018-10-08 14:42] vicancy commented on #222
@maxiptah Can you check if the ping messages are successfully sent to service by switch server side log level to `Debug` mode when the error happens? https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.Common/ServiceConnectionBase.cs#L401
It is possible that **threadpool starvation** took place on the app server side, that [TrySendPingAsync](https://github.com/Azure/azure-s

[2018-10-08 15:02] vicancy commented on #222
You can also capture a dump following https://github.com/aspnet/KestrelHttpServer/issues/2284#issuecomment-427551094

[2018-10-08 15:05] maxiptah commented on #222
@vicancy This server is in developent and does run at debug logging level. If I understand it right, in this case I would see "Failed sending a ping message to service." in my logs, but that's not the case, the message does not appear in the logs for the day when error occured.

[2018-10-09 01:33] vicancy commented on #222
@maxiptah no, not “Failed sending ping”, but PingSent **on time**. So what we are looking for is PingSent log during that period when error occurs and check if the log time is every 15 seconds.

[2018-10-09 02:06] xscript commented on #118
@pksorensen Right now the whole group will be removed if there is no activity on this group, which is not correct. We are actively fixing this behavior. The fix will only remove a user if there is no connected clients for some time.
For now, if you have added a user to a group, you can send a message to this group. The best practice is to call **ADD** and **REMOVE** in sequence and in pair. This w

[2018-10-09 07:18] maxiptah commented on #222
@vicancy ok, got it. Found out that Microsoft logs were turned off in our project, so cannot give you feedback. I've enabled these logs now, have a lot of "pinging" going on. I'll keep an eye on it for a couple of days and report back when/if the error occurs again.

[2018-10-09 07:46] pksorensen commented on #118
Thanks for the update, sounds like a good adjustment.

[2018-10-09 10:27] Jaternius commented on #194
We've been struck by this issue as well. We need to perform some calls as part of the startup of our service after the IoC container was set up, but before the webhost has been started (by building the webhost, creating service scope, and resolving the required services from it). Somewhere down the line, a singleton is required which in turn requires an `IHubContext<>`. This is merely injected tho

[2018-10-10 02:48] vicancy commented on #221
Hi @alexiordan I am closing the issue, if you have any other concerns, feel free to reopen it.

[2018-10-10 02:48] #221 closed

[2018-10-10 02:50] vicancy commented on #212
Hi @mike7ang1rdz any updates?

[2018-10-10 03:05] vicancy commented on #101
2.4.0 preview for ASP.NET SignalR is released, which contains the support for Azure SignalR Service, please have a try.
https://blogs.msdn.microsoft.com/webdev/2018/10/04/announcing-asp-net-signalr-2-4-0-preview-1/

[2018-10-10 03:05] #101 closed

[2018-10-10 03:12] vicancy commented on #189
I am closing the issue as it is now work with Azure SignalR Service properly.

[2018-10-10 03:12] #189 closed

[2018-10-10 08:40] jamesatgithub opened #226 "'System.IO.InvalidDataException' in Microsoft.AspNetCore.SignalR.Protocols.Json.dll"
the signalr service hub works ok with js client, but when I tried to connect with a .net client, no message received and with this output:
Exception thrown: 'System.IO.InvalidDataException' in Microsoft.AspNetCore.SignalR.Protocols.Json.dll

also it seems once this .net client connected, the hub seems in a wrong state and the js client cannot receive message till the .net client disconnected

the

[2018-10-11 05:15] vicancy commented on #226
Could you share the detailed stacktrace of your `'System.IO.InvalidDataException'`? Is it working when you are not using Azure SignalR service but using self-hosting SignalR? Looks like your .net client is not sending out valid hub messages.

[2018-10-11 06:53] #223 closed

[2018-10-11 07:51] jamesatgithub commented on #226
problem resolved:
1. signalr client version should match to server version
2. the hub method name is case-sensitive

[2018-10-11 07:51] #226 closed

[2018-10-14 22:19] lbargery commented on #218
Hi, I've just deployed azure signalr (and did it late at night to make sure didn't affect too many users if it went wrong at all). Only 300 clients are connected at this time but I've already used up almost 70k messages. Is this the internal pings? I don't think anyone will actually be interacting with the hub at this time. Just a bit worried about hitting my limits! Have attached photo of the azu

[2018-10-16 13:45] maxiptah commented on #222
@vicancy  So finally I could get some logs (the problem occured 8 times in 7 days on a constantly running development server) - see attached file. Yes, it looks like SignalR cannot reach the server after 30 seconds. But what do I make of it? All application logs surrounding the error seem fine (e.g. performance middleware logs REST API calls times well under 1 second). After some time SignalR logs

[2018-10-16 22:53] grahamehorner opened #232 "remove a group"
I'm looking at the API and can't find away that I can force a removal of a group; can you please advise if this is possible with the current version v1.0.0 of the service and/or if explicit removal of a group is planned or in progress

[2018-10-17 02:30] vicancy commented on #232
With **the API**, do you mean the REST API https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#api?

Can you have some more detailed description about **removal of a group**? For what scenarios do you want **removing a group**?

[2018-10-17 02:49] vicancy commented on #222
Hi @maxiptah

The first exception is not expected, it generally indicates that the app server side is experiencing thread-starving(can happen when thread-pool threads are all blocked) or timer queue busy(can happen when `HttpClient` is not disposed) or other issues. Could you capture a dump file for that server so that we can take a deep look why the *ping message* is not sent on time, following h

[2018-10-17 07:20] maxiptah commented on #222
Hi @vicancy
Capturing a dump is complicated, because I see these exceptions in logs, when everything is already running normally. The app is using HttpClientFactory so this should not be a problem. We had some starving situations when lots of long running REST requests were coming, but that had a totally different pattern: everything was getting slow and app didn't recover. What I see now is that

[2018-10-17 07:30] zackliu commented on #218
A good news is we start to stop counting ping message (server -> client or client -> server). But it's won't apply to your existing service immediately automatically. A quick way to approach that is to deploy a new signalr service or you can wait for us updating all the existing services.
@lbargery according to you client count, I thinks it's ping message. You can try the practice above. (Now avai

[2018-10-17 07:52] grahamehorner commented on #232
@vicancy yes, sorry the rest api should have been more explicit; example is an eventing notification where a device/user is interested is updates for an event, the user/devices subscribers to the event (which is a signalr group) and receives messages; the event is close/finished and the group removed terminating/disconnecting the clients. other example would be a chat group where the group is kick

[2018-10-17 09:05] davidfowl commented on #232
You can't "kick" a group. It's an ephemeral grouping of users/connections.

[2018-10-17 09:15] grahamehorner commented on #232
@davidfowl so to remove all uses in a group, you would therefore need to send a group message to all users/connections to disconnect from the group; and have the client then remove its user/connection  from that group ? as this can’t be done server/service side?

[2018-10-17 09:19] grahamehorner commented on #232
@davidfowl and the same would be needed to remove a user/connection from all groups ?

[2018-10-17 14:49] davidfowl commented on #232
Yes

[2018-10-18 08:33] lbargery commented on #218
@zackliu Thanks this seems to be fine now!

[2018-10-18 08:36] lbargery commented on #222
@maxiptah I'm getting similar exceptions go off every so often. I get one that looks the same as yours and one slightly different one. Both exceptions below:

1.
The connection is not active, data cannot be sent to the service.
Type
`InvalidOperationException`
Stack Trace
[code]

[2018-10-18 15:05] Zaixer opened #234 "What counts toward connections?"
In metrics there are server connections and client connections listed. When is each of these types of connection made? I'm trying to predict how many units will be needed.

[2018-10-18 21:45] jeremywww opened #235 "Access token no longer includes user claims"
After updating to 1.0.1, none of my claims are being included in the access token that is generated in the negotiate request. Here's the token I'm getting now:
[code]

With 1.0.0 the access token would contain all of my claims, with the only difference being an additional `aud` pointing to the SignalR service.

[2018-10-18 22:45] gynet commented on #222
Hi Liangying @vicancy,

Looks like other ppl have similar issue too, is there any update from your team about this issue?

George

[2018-10-19 03:38] zackliu commented on #234
When you start your app server, each hub will start 5 server connections by default. And client connection will be made after it negotiate with app server and redirect to service.

[2018-10-19 03:41] #235 closed

[2018-10-19 04:00] vicancy commented on #222
This kind of error message happens when service side fails to receive the ping message within 30 seconds. Different cases can lead to such errors.

Hi @lbargery , could you capture a dump file as I suggested in https://github.com/Azure/azure-signalr/issues/222#issuecomment-430470729 so that we can identify what caused the *exception number 1*? *Exception number 2* looks like the websocket channel

[2018-10-19 07:13] Zaixer commented on #234
Ok thanks! So each app server in a server farm will start five connect per hub and each client will start one connection per hub?

[2018-10-19 08:54] lbargery commented on #222
@vicancy Sure happy to capture this! How do i do that on my azure web app? They go off on our production and demo servers every day at some point so should be easy to capture.

[2018-10-19 12:25] cyrilmestrom opened #241 "Receiving 429 - Connection count reaches limit."
Connection count:
Server: 30 - Client: 0

Even when scaling up..

[2018-10-19 20:10] mahpour commented on #123
When will this new SDK be available to use on Azure SignalR services?

[2018-10-22 03:10] zackliu commented on #241
When you scale up, there is a DNS cache pointing to the old free tier service. So, wait a few time and then the quota will change.

[2018-10-22 14:15] lbargery commented on #222
@vicancy Thanks will do this. Does it need to be done pretty much straight away after the exception goes off? Slightly hard to do since I can't force the exception, it just seems to happen sporadically during the day.

[2018-10-22 23:17] steve-79 commented on #234
I have one single hub, but each time I start my program in visual studio, Azure SignalR uses 20 server connections.  Then if I stop debugging and try to debug again, this number jumps to 30 and maxes out the free plan, so then I receive the "Connection count reaches limit."

I have to completely exit visual studio and close all of the tabs I'm debugging in and wait a couple minutes to restart visu

[2018-10-23 01:50] chenkennt commented on #123
It's already released:
https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.0.2

[2018-10-23 01:55] mahpour commented on #123
Yes released on Nuget not as a service in the portal. How do we use this latest version in the portal as a service?

[2018-10-23 01:59] chenkennt commented on #123
Service is already updated to support port 443. Check out our GA announcement:
https://azure.microsoft.com/en-us/blog/azure-signalr-service-now-generally-available/

[2018-10-23 02:28] steve-79 opened #242 "Closing server connection when debugging"
I have one single hub, but each time I start my program in visual studio, Azure SignalR uses 20 server connections.  Then if I stop debugging and try to debug again, this number jumps to 30 and maxes out the free plan, so then I receive the "Connection count reaches limit."

I have to completely exit visual studio and close all of the tabs I'm debugging in and wait a couple minutes to restart visu

[2018-10-23 02:54] zackliu commented on #242
When you stop debugging, visual studio should close the app server and server connections will be closed immediately. I can't reproduce the problem you mentioned. Maybe the visual studio you're using doesn't close the dotnet.exe when stop debugging. You can go to Task Manager -> Details and end dotnet.exe manually.

[2018-10-23 05:30] vicancy commented on #222
@lbargery No need to right after the exception, one after the exception and before the App server restart can be useful

[2018-10-23 08:40] Zaixer commented on #234
Nice, I close this then.

[2018-10-23 08:40] #234 closed

[2018-10-23 08:44] lbargery commented on #222
@vicancy This dump is from just after the exception went off yesterday. Let me know if haven't got this right or you need more.

https://accurx-my.sharepoint.com/:u:/p/laurence/ERHs0SA0scZCtBTp03Vq5xIBwmpakksRRDBUN1FnO0cc7g?e=ZyYxZX

[2018-10-23 11:54] mahpour commented on #123
I created multiple instances and still don’t see the new port in effect. Is there anything specific we should be doing to get the right one?

[2018-10-23 20:05] mahpour commented on #123
As an update, I was able to use the service on port 443, the problem is that connectionInfo object provided is still showing port 5001 but I used port 443 and it worked.

[2018-10-24 01:50] chenkennt commented on #123
The Azure function binding is still using the old port, we're working on an update right now. For now you can manually update the url before return the connectionInfo object.

[2018-10-24 05:44] vicancy commented on #222
@lbargery I am not able to Debug Managed Memory because the garbage collection was in progress. 😿
![image](https://user-images.githubusercontent.com/668244/47408638-c67bcf80-d792-11e8-9b72-dda076731918.png)
Could you have another try? You can open the dmp file directly from Visual Studio, and select "Debug Managed Memory" action to view the managed heap.
![image](https://user-images.githubusercont

[2018-10-24 06:06] davidfowl opened #243 "Add support for configuring multiple SignalR service instances"
This solves a couple of problems:
- Ability to increase the scale by adding more Azure SignalR instances and distribute messages across those instances
- Ability to support multi-region fan out

There are 2 major pieces to this:
- Supporting multiple connection strings
- Selecting a single connection string on negotiate based on the incoming request (user extensible)

The negotiate payload will by

[2018-10-24 07:10] cyrilmestrom commented on #241
That didn't help but last Friday afternoon this suddenly stopped and all was working again.

[2018-10-24 07:10] #241 closed

[2018-10-24 10:49] lbargery commented on #222
Sure! Will try again when it goes off today/tomorrow

[2018-10-25 04:52] chenkennt opened #244 "Support client ping message in serverless mode"
ASP.NET Core 2.2 version of SignalR starts sending ping message from client. This will break service in serverless mode as there is no server to handle the message. Need to add some special logic at service side to handle ping messages when no server is connected.

[2018-10-25 09:00] lbargery commented on #222
Hi @vicancy have tried again. Here the first dump is 3 mins after crash then took one 10 mins after that. Hope this works this time! https://accurx-my.sharepoint.com/:f:/p/laurence/EnMgQiJbNFhDk6tTIr4JSS0BZzQaU-oCFmEXChDmgxX7cg?e=bVpAah

[2018-10-25 14:56] bmargula commented on #123
Yeah, figured, the same problem here.

[2018-10-25 14:57] lbargery commented on #222
Also am seeing occasionally the signalR service going completely down for a long time. I did raise a ticket originally with azure about this but not sure best place to chat on it. Have attached screenshot

![image](https://user-images.githubusercontent.com/5844039/47509754-a4577f80-d86e-11e8-9951-231e0f26b182.png)

[2018-10-25 16:03] cyrilmestrom opened #245 "The connection was aborted"
We noticed many _The connection was aborted_ exceptions, and getting reports from clients there were no updates. All this when having 250 connections and 5 standard units. When scaling out to 10 the connections instantly moved to 481..
Now still seeing these exceptions...

[2018-10-29 10:35] lbargery commented on #222
@vicancy Not sure why our GC would be any different to normal, we're just using a normal azure web app. We had 3 days just now when no clients could connect to the hub. On the advice of someone at Azure we then scaled down to free and back up to paid. This then meant that the server also lost connection to the hub. We then changed the connection string to the secondary key which seemed to fix thin

[2018-10-30 03:07] vicancy commented on #222
Hi @lbargery Clients unable to connect should be another issue, could you email me `lianwei<at>microsoft`(`<at>` to `@`) your instance name for me to have a check?

[2018-10-30 10:19] lbargery commented on #222
Done, thanks!

[2018-10-30 17:33] gynet commented on #222
@vicancy I am trying to reaching out to Asimov team to investigate, but at the same time, I wonder if there any clue to indicate the httpclient leaking issue causing by the logging tool, or if it's possible it could be caused by the Azure SignalR SDK since it is always trying to reconnect to Azure? Our service and some other teams have been using the tool for a while and we do not see any issue ab

[2018-10-31 02:19] vicancy commented on #222
@gynet no, we don't create `HttpClient` for server side connections.

[2018-10-31 02:25] vicancy opened #246 "Remove server side heartbeat to service side"
Several customers report #222 .

Server side heartbeat mechanism sounds fragile as it is highly dependent on server side user code and running environment.

Server side heartbeat was originally added for such scenario: when app servers are in Service Fabric Container and upgrading app server took place, app server `A` was offline, however the server connection was not closed. As a result, clients

[2018-11-01 16:14] grahamehorner commented on #232
@davidfowl do you think/feel that this should be functionality with-in the #SignalR clients? IMHO I think this should be baked into the client as my gut feel it that this would cover a large number of use cases, and having everyone create their own client functions to kick/remove a connection from a group or a connection from all group should be avoided where possible; also thinking that the clien

[2018-11-01 23:30] grahamehorner commented on #232
Yeah, thinking that the protocol should support the server termination of a client from a group, and/the termination of the user connection(s)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Fowler <notifications@github.com>
Sent: Thursday, November 1, 2018 11:21:49 PM
To: Azure/azure-signalr
Cc: Grahame Horner; Author
Subject: Re: [Azure/azure-signalr

[2018-11-01 23:58] davidfowl commented on #232
There’s no concept on a group in the protocol. That’s the point. It’s a purely server side construct used to send data to a group of connections. I don’t really understand the request.

[2018-11-04 16:42] Jos1k commented on #222
In fact we have the same issue ("The connection is not active, data cannot be sent to the service") when try to send message to the user group:
![last_load_signalr](https://user-images.githubusercontent.com/8057480/47966964-3a9e5900-e058-11e8-86a3-d3d4c5657c33.png)

In addition I receive an error during the client (angular) is trying to connect:
First time client is trying to connect receives such

[2018-11-05 17:06] Jos1k commented on #235
I think after this change new bug appear, currently I'm using JWT token as auth mechanism for my SignalR and also using aud claim for internal purposes (I'm setting it to All). So internal validation passed and negotiate request to Azure Service has merged version of claims with 2 aud claims ('All' and with requestUrl)

previously (in version 1.0.1) was only one aud, and no error on negotiate requ

[2018-11-05 17:08] Jos1k opened #249 "Failing negotiate request with 403 when JWT token is too long"
I think fixing [this issue](https://github.com/Azure/azure-signalr/issues/235) caused new bug.

Currently I'm using JWT token as auth mechanism for my SignalR and also using aud claim for internal purposes (I'm setting it to All). So internal validation passed and negotiate request to Azure Service has merged version of claims with 2 aud claims ('All' and with requestUrl)

due to [documentation ](

[2018-11-06 08:15] sandipbhavsar opened #250 "Exceptions in azure signalr service connection"
Microsoft.Azure.SignalR.ServiceConnection|ERROR|Error receiving handshake response. System.OperationCanceledException: The operation was canceled.
   at System.Threading.CancellationToken.ThrowOperationCanceledException()
   at System.IO.Pipelines.Pipe.GetReadResult(ReadResult& result)
   at System.IO.Pipelines.Pipe.GetReadAsyncResult()
   at System.IO.Pipelines.Pipe.DefaultPipeReader.GetResult(In

[2018-11-06 08:25] sandipbhavsar opened #251 "Microsoft.Azure.SignalR.ServiceConnection"
Microsoft.Azure.SignalR.ServiceConnection|ERROR|Service timeout. 30000.00ms elapsed without receiving a message from service.

[2018-11-06 14:35] Jos1k commented on #249
Ok, after investigation, was found, that problem appears not because of multiple aud, but because of too long JWT token. After reaching some length - it's just returns 403 net::ERR_CONNECTION_CLOSED

Is there any way to increase the max length of headers?

[2018-11-06 18:13] davidfowl commented on #245
What's the exception message you see?

[2018-11-07 03:01] vicancy commented on #235
Thanks @Jos1k for reporting the issue. Yes, that is a regression we should fix. For your case, are you expecting `aud` `All` get passed to server? When using SDK 1.0.1, `aud`= `All` is overwritten by ours, is that OK for your auth mechanism?

[2018-11-07 05:41] davidfowl commented on #244
@chenkennt Any ideas when this will be implemented?

[2018-11-07 06:13] Simke11 opened #253 "ASP.NET Core client InvokeAsync throws exception - The server closed the connection with the following error: No server available"
We have an ASP.NET Core API where we create Azure SignalR client on API startup. The client invokes Hub method to subscribe to a group. Our code looks like:

[code]

Code to generate client URL and access token is based on [https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/Serverless](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/Serverless)

We have a webhook

[2018-11-07 08:33] Jos1k commented on #235
Thx for fast response @vicancy, for me it's OK, our auth mechanism tolerates multiple aud claims.

In fact bigger issue in personal my case was a restriction in header length. I described it at this [comment](https://github.com/Azure/azure-signalr/issues/249#issuecomment-436273466), down to the [issue ](https://github.com/Azure/azure-signalr/issues/249)

[2018-11-07 09:34] vicancy commented on #222
Hi @Jos1k please open another issue for us to track it.

[2018-11-07 09:41] vicancy commented on #253
Message count sampling rate is per 100 messages, so if you are sending less than 100 messages, it is not shown on the metrics.

*No server available* can be caused by:

https://github.com/Azure/azure-signalr/blob/dev/docs/faq.md#no-server-available.

Any server side log available during that period, were server connections disconnected at that moment?

[2018-11-07 09:45] vicancy commented on #250
This error can happen when network issue took place.

Could you edit the issue with more detailed descriptions to help us identify the issue, with:
1. Versions of the SDK
2. Frequency and time range when the exception took place
3. The status of your app server during that period, or anything abnormal that worth noting
4. Any other valuable information is appreciated

[2018-11-07 09:46] vicancy commented on #251
I am closing this issue as it contains little information for us to trouble shoot the issue. Could you please update the issue in detail inside https://github.com/Azure/azure-signalr/issues/250 for us to investigate?

[2018-11-07 09:46] #251 closed

[2018-11-07 09:49] vicancy commented on #249
How long is the token when it returns 403? Is it happening when `/negotiate` with token inside the header? What is the total size of your header?

[2018-11-07 09:50] vicancy commented on #242
I am closing the issue, if you have additional concerns, please feel free to reopen it.

[2018-11-07 09:50] #242 closed

[2018-11-07 10:10] Jos1k commented on #249
@vicancy it's about 6kb. Yes, it's happening during /negotiate request with the header inside.

So full scenario looks like that -> my web App using JWT auth, so after auth token validation passed, it creates an identity with claims (we are saving role access in claims, so it could be up to 100 key-value pairs). As I see,  azure signalR SDK sends my claims from identity + own ones (like aud, asrs.

[2018-11-07 10:20] Simke11 commented on #253
Thanks for your quick reply.

We are sending less than 100 messages, so that explains it.

As for logs, do you mean signalr logs on azure? In our use case, client initialization is the very first thing that happens, as it is part of our api Startup() pipeline.

Also issue is specifically with line
`
connection.InvokeAsync("Subscribe", "TESTGROUP").Wait();
`
If that is removed there are no client c

[2018-11-07 11:57] vicancy commented on #253
Just noticed that you are using "serverless" mode. In Serverless mode, client are in **LISTEN** mode and is now by design **NOT** allowed to send messages to service. Please refer to https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#serverless for details.

[2018-11-07 12:04] vicancy commented on #249
There is a [ClaimsProvider](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/ServiceOptions.cs#L38) for you to customize the claims you want to pass into service then to server.

[code]

[2018-11-07 15:59] Jos1k commented on #249
Thanks, this is a more elegant way to reduce the length of my headers ;)

Still, maybe it's great to mention somewhere about this "headers length restriction".

[2018-11-07 16:55] steve-79 commented on #242
Sorry for such a delayed reply, you are correct.  Visual Studio doesn't appear to be closing the dotnet.exe when stopping debugging.  For anybody else having issues like this, when you publish your web app from Visual Studio, make sure to exit Visual Studio in order to close the connections and not use any connections from the live app you just published.

[2018-11-07 16:59] steve-79 opened #254 "Server connection count vs client connection count"
What is the max number of client connections I could have with 1 unit?  I know it says 1000 connections, but how does that work with the server connection count?

In other words, will the automatic 5 server connections per hub sustain more than 5 client connections?  Or do I have to make changes to my code to enable a single hub (with the 5 server connections) to serve 1000 client connections.

My

[2018-11-07 20:48] Simke11 commented on #253
Meaning that Invoke() should not be working at all now? Are there any code samples for ASP.Net Core client that don't use serverless mode? This was the only example of ASP.NET Core client that I could find.

[2018-11-07 23:19] Simke11 commented on #253
Also, looking at C# client example for Core SignalR [https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-2.1](https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-2.1)

Connection is intialized with internal server URL, like
[code]
And in our example instead of using our web API url, we use url of our Azure SignalR service instance.

[2018-11-08 01:43] vicancy commented on #253
Here is the server side change for enabling Azure SignalR https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoom

The **only** change required to switch from self-host SignalR to Azure SignalR is the **server side** change. **No change** needed for C# client. So you are still initializing the connection with your web app server URL, e.g. `http://localhost:53353/ChatHub`.

Unde

[2018-11-08 02:11] zackliu commented on #254
First, the quota contains the server connections and client connections, so if you need to guarantee 1000 client connections, 2 units is a better choice.
Then, one hub with 5 server connections can handle 1000 client connections. But please note, one client connection will be routed to a specific server connection, and once the server connection abort somehow, all client connections routed to this

[2018-11-08 06:49] Simke11 commented on #253
Ok, so the question is - if I use the URL https://our_azure_signalr_instance.service.signalr.net/client/?hub=messaginghub as a paramter to `.WithUrl()`, should `InvokeAsync()` work or not?
As I'm understanding it, using this URL would mean we are running in serverless mode, and as such doing `InvokeAsync()` on client should NOT work?
Behavior I'm seeing at the moment is the opposite - this is curr

[2018-11-08 06:58] Simke11 commented on #253
Also, in our use case we have to create a client in our API startup pipeline. Trying to use API url as parameter to `.WithUrl()` throws 'Task was cancelled' error on trying to `.StartAsync()`, presumably due to timeout as it sits there for a while before failing.

I have moved client connection to after `UseAzureSignalR()` to make sure hub route is set up (even though we don't want new client conn

[2018-11-08 13:34] Harween64 opened #256 "Groups management issue"
Hi,

We are using signalr core and azure signalr service in a data synchronization scenario between user devices (ios, android, desktop, etc...) to notify user devices to initiate a synchronization process.
To avoid unnecessary code on clients to exclude his own notification, we decide to use groups combined with user id, and notify all **other** devices that they can synchronize.

The asp.net cor

[2018-11-08 15:12] ramjbe27 opened #257 "Asp.net Azure SignalR Service- server responded with a status of 500 (Internal Server Error)"
Hi ,

I tried to use azure signalR Service in Asp.net Mvc application and for that i have created a SignalR service in Azure and tried to use from the code as told in the code sample  **AzureSignalR-samples-master\aspnet-samples\ChatRoom** .
But i found that auto generated  SignalR hub script is not created and it is throwing error as attached in the image.

![asp net mvc - azure signalr service](

[2018-11-08 21:57] gynet opened #258 "Response status code does not indicate success: 429 (Too Many Requests)."
I am using Azure signalR 1.0.0, on the client side i received this error

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at SignalRExperimentClient.Program.Init() in D:

[2018-11-08 21:58] gynet commented on #258
Is the server connection number count as the total?

[2018-11-08 22:10] gynet opened #259 "Scale out causing server connections drop to 0"
![capture](https://user-images.githubusercontent.com/2174522/48230465-f1a01a80-e35f-11e8-9af3-5d91f3d8cb13.PNG)

Logs on the sever side:
----------------------------------------------------------------------

ail: Microsoft.AspNetCore.Server.HttpSys.MessagePump[0]
      ProcessRequestAsync
System.UriFormatException: Invalid URI: The hostname could not be parsed.
   at System.Uri.CreateThis(String

[2018-11-08 22:17] gynet commented on #259
![capture3](https://user-images.githubusercontent.com/2174522/48230786-0b8e2d00-e361-11e8-84e1-f659678af4fd.PNG)
![capture4](https://user-images.githubusercontent.com/2174522/48230787-0c26c380-e361-11e8-88cf-0db39f7cbc6a.PNG)

[2018-11-08 22:32] gynet commented on #259
Azure ticket filed as 118110821002927

[2018-11-09 02:17] vwxyzh commented on #258
Yes.

[2018-11-09 03:06] vicancy commented on #253
I think you misunderstand the SignalR usage and your code above shows that you are mixing SignalR server and client together.

So for SignalR we have **server side** and **client side**, the concept is the same as a normal web app https://developer.mozilla.org/en-US/docs/Learn/Server-side/First_steps/Introduction#What_is_server-side_website_programming. *App server* is where you have your logic to

[2018-11-09 03:17] vicancy commented on #257
Can you share your MVC `Routing` code? SignalR first requests for `<your server url>/signalr/hubs` to get the proxy file but looks like it fails. It hasn't yet talk to Azure. Is it working when not using AzureSignalR?

Your web.config looks good to me.

[2018-11-09 03:46] Simke11 commented on #253
In our scenario, our Web API is both server and the client.

Hub logic is in the API.
Webhook that receives a request which triggers sending of messages to the client is a controller in the API.
The client which receives messages is instantiated in the Startup() pipeline of the API, and listens for messages for as long as the API is running.

We use Azure SignalR for system-level messaging in our

[2018-11-09 03:47] vicancy commented on #256
* Your usage looks good to me
* cc @davidfowl how about a "Send to User except connection id" api?

For this specific `Context.UserIdentifier`,
1. what happens when `Clients.Group(Context.UserIdentifier).SendAsync("SynchroIsNeeded")`? Is it working?
2. Does the issue persist when `Context.ConnectionId` changes?

[2018-11-09 08:00] vicancy commented on #257
500 means server throws error. Could you break when CLR exceptions throw and also disable "Just My Code" (Debug=>Options) to see what throws? Doubt if it is assembly version related issues.
![image](https://user-images.githubusercontent.com/668244/48250219-87a77400-e438-11e8-8e32-1b364f6c0c26.png)

![image](https://user-images.githubusercontent.com/668244/48250126-30a19f00-e438-11e8-9cc8-b224c04a1

[2018-11-09 14:41] Harween64 commented on #256
Hi @vicancy,

We have published app today with the code back to the groups usage, and guess what? now it is working well for everyone.
I really don't understand why this happens with this user and not others...
Maybe a publish issue, but I suspect deployment slot issue: To search the issue, we have scaled out down our app to one instance, and later scaled out to two instances. So we had a new fres

[2018-11-12 06:46] Joyw1 opened #260 "Create SignalR service: The SignalR service is in Failed status"
I have test created the SignalR service via portal and powershell, the deployment always takes long time, and gets a deployment failed error.

![failde](https://user-images.githubusercontent.com/36072422/48330934-6db0a000-e689-11e8-8599-69da5253d4f6.PNG)

But I can see the SignalR in the portal with a `The SignalR service is in Failed status`.

![sigae](https://user-images.githubusercontent.com/36

[2018-11-12 11:30] mikesitch opened #261 "Failing to create SignalR service via ARM template"
Hi,

ARM template was working fine until today when I now receive the following error:

"Bad Request. You must include the api-version parameter in your URI query segment"

        {
            "type": "Microsoft.SignalRService/SignalR",
            "name": "[variables('signalRServiceName')]",
            "apiVersion": "2018-10-01",
            "location": "[parameters('signalRRegion')]",

[2018-11-13 17:14] mikesitch commented on #261
Working again.

[2018-11-13 17:14] #261 closed

[2018-11-13 17:49] steve-79 commented on #254
That sounds great thank you for your response!  Also, what constitutes a message in the message count?  Because I'm sending a JSON object which seems to be counted as around 100 messages.  Is there a better way I could package this to be a smaller number of messages?  Because right now with only about 10 clients connected, I've hit 152k messages in the span of a few hours.

[2018-11-15 16:55] unsafecode opened #264 "Connection lost on Docker container"
We're running a ASP.NET Core 2.1 Web API which proxies outbound notifications to Azure SignalR, running on a Docker Container on AKS.

Sometimes throughout the day, we get the following exception:

[code]

And then the only way to recover is to kill the container and restart it.

**Is there a way to make the HubContext recover and reconnect automatically?**

[2018-11-15 16:59] gidifede commented on #264
Same issue here.
Anyone can help?

[2018-11-15 17:11] #256 closed

[2018-11-19 05:03] vicancy commented on #264
What is your version of the SDK?
The latest SDK changes the behavior to always reconnect https://github.com/Azure/azure-signalr/releases/tag/v1.0.3
Please have a try and let us know if there are any issues/concerns/suggestions

[2018-11-19 22:43] alexiordan opened #266 "OnDisconnectedAsync does not get called everytime"
Found following error in log.
[code]

Any ideas?

[2018-11-19 23:30] unsafecode commented on #264
@vicancy Thanks, we'll look into take and update this issue ASAP

[2018-11-20 02:24] wolfet opened #267 "ASP.NET SignalR KeepAlive Time"
Using the SignalR 2.4.0 Nuget package along with Microsoft.Azure.SignalR.AspNet 1.0.0-preview1-10259, the keep alive message time does not change when set on GlobalHost.Configuration.KeepAlive. It appears to be fixed at roughly 15 seconds when connected with websockets. Is this intentional or is there another way to set the KeepAlive message time?

Here is the applicable C# code in Startup.cs with

[2018-11-20 08:30] vicancy commented on #267
This is not yet configurable.

[2018-11-20 14:30] unsafecode commented on #264
Looks like the latest release was at least beneficial, since we are not noticing so many exceptions.

[2018-11-20 14:30] #264 closed

[2018-11-20 19:24] scottaddie opened #269 "Make expectations of AddAzureSignalr() known in IntelliSense"
Nothing in IntelliSense indicates that the [parameterless `AddAzureSignalR` method](https://github.com/Azure/azure-signalr/blob/0db3813273fa2cbf12a00f8a250234e070114f29/src/Microsoft.Azure.SignalR/DependencyInjectionExtensions.cs#L23) expects to find the SignalR Service connection string in _Azure:SignalR:ConnectionString_. Thoughts on specifying this requirement in a `<remarks>` element within th

[2018-11-21 02:41] vicancy commented on #266
`WriteAsync(String partitionKey, ServiceMessage serviceMessage)`, this is a group related message, this message always goes into the same server-connection, the error can take place when this server-connection is not in a health mode, e.g. reconnecting...
We need to improve this to make it more robust.

[2018-11-21 03:01] vicancy opened #270 "Check if the server connection is healthy before sending message to this connection"
Related issues #266

Currently, we don't check if the server connection is in `connected` mode or not before sending messages to this connection:
1. For group related messages, messages are always round-robined to one specific connection (because we want to preserve the order the group actions), so if this connection encounters any network issue, messages are lost in the recovering period
2. For `

[2018-11-21 15:52] lbargery commented on #222
Hey @vicancy - any progress on this? We still see our hub drop all its connections and get the same errors documented above a couple of times a day. Will be pushing out version 1.0.3 of the SDK to prod over next few days but main changes looked like re-connect?

[2018-11-21 16:13] cyrilmestrom commented on #245
All seems fixed with a new instance

[2018-11-21 16:13] #245 closed

[2018-11-22 08:51] vicancy commented on #222
Hi @lbargery We are working on several fixes to reduce the chance of meeting this kind of issue, you can update to the latest SDK to see if it helps.
1. The latest SDK makes the change to always re-connect, this might be helpful to your case. The server connection will always try to reconnect. Before that, if handshake fails, that server connection is dead.
1. https://github.com/Azure/azure-signal

[2018-11-23 09:04] vicancy opened #274 "Consider extend the default JWT token's lifetime"
Currently the default value of JWT token's lifetime is 1 hour.
For ASP.NET Core SignalR, when it is using WebSocket transport type, it is OK.
For ASP.NET Core SignalR's other transport type, SSE and longpolling, this means the connection can at most persist for 1 hour.

For ASP.NET SignalR, the client sends a `/ping` KeepAlive request to the service from time to time, when the `/ping` fails, the c

[2018-11-26 17:55] rhux opened #275 "Error response from Azure SignalR Service with too large of header"
I don't know if this is the right forum for this potential bug.

We've noticed that when we are trying to connect to the Azure SignalR service with an access token that is 14k (don't ask) the XhrRequest response returns an error.  It appears to work with access tokens that are 5k or less.  We know that access tokens are not supposed to be that large, but we are dealing with a legacy system and use

[2018-11-27 05:20] vicancy opened #276 "Is it possible to notify client of server error with CloseConnectionMessage?"
For ASP.NET SignalR, when initializing the connection fails, it returns a `CloseConnectionMessage` with error message, https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.AspNet/Infrastructure/ServiceConnection.cs#L142, however this error message is ignored in the service side, and only the `Close` action works. Thus, what client experiences is an abnormal disconnection how

[2018-11-27 07:57] vicancy commented on #275
For HTTP/2, the max length for a single header is 4K, so if you are using browser to access Azure service, you will encounter this limitation with `ERR_CONNECTION_` error.

For HTTP/1.1, or c# clients, the max URI length is 12K, max header length is 16K.

So in general, we suggest the access token under 4K.

There is a [ClaimsProvider](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.

[2018-11-27 14:54] tomasmcguinness opened #279 "ASP.Net "No server available" error"
I have a simple SignalR setup on ASP.Net (.Net 4.6.2). When using a local SignalR server, my JS client connects without issue.

However, when I change from app.MapSignalR() to app.MapAzureSignalR(GetType().FullName) I can't seem to get my JS client connected at all. Here is a screenshot of the output from console.

![image](https://user-images.githubusercontent.com/302741/49088237-b901ab80-f250-11

[2018-11-28 01:51] vicancy commented on #279
"No server available" indicates that your app server has trouble connecting to Azure service. You can enable tracing from the app server side with the following to see if any error throws.
[code]
A sample here: https://github.com/Azure/azure-signalr/blob/dev/samples/AspNet.ChatSample/AspNet.ChatSample.SelfHostServer/Startup.cs#L19

If you are local debugging the server side, you can also uncheck "

[2018-11-28 08:34] tomasmcguinness commented on #279
Thanks for the quick reply. I've debugged locally and caught some exceptions when opening the webpage with the SignalR client.

Here are the ones I caught:

System.Security.Authentication.AuthenticationException: "A call to SSPI failed, see inner exception."
     - (inner) "The function requested is not supported"

System.ObjectDisposedException: 'Safe handle has been closed'

System.Net.WebExcept

[2018-11-28 08:43] vicancy commented on #279
Azure Service only support TLS1.2 for security concerns.
Please add following code to your Startup:
[code]

[2018-11-28 08:53] tomasmcguinness commented on #279
Thank! I tried that myself and it has solved it.

I thought ..NET 4.6 defaulted to TLS 1.2, so I got that wrong.

Thanks!

[2018-11-28 08:53] #279 closed

[2018-11-29 16:32] gbauso opened #281 "Connection Problems ( Instabillity )"
Hi guys,

I have been using the service with .NET Framework 4.6.1 ( with Version 1.0.0-preview1-10264 ) and JS library 2.4.0 and sometines I had problems with the connection ( "No server avaliable" ) and I had to restart the server and it is back working.

![image](https://user-images.githubusercontent.com/15365659/49236467-11bd7980-f3f4-11e8-9e45-2e92e7e6dcf0.png)
![image](https://user-images.git

[2018-11-29 16:46] gbauso commented on #281
More Informations:

- Our app is hosted on Azure.
- When I start my local application, the service strangely back to work.

![image](https://user-images.githubusercontent.com/15365659/49237512-429eae00-f3f6-11e8-8cad-dc01650b9e53.png)

[2018-11-30 08:03] alexiordan opened #283 "Server side instability"
Today between 02:16 and 02:42 (UTC) server was unstable.

In my scenario I have several clients that are always on and connected to server.

During the period mentioned above all clients kept being disconnected from server. Then reconnected back and so on.
Below are logs from a disconnect-connect moment seen from both server and client side.

1. Could you please tell me why happened?
2. What can I

[2018-12-03 03:16] vicancy commented on #283
Thanks for providing the detailed trace. Could you email me `lianwei<at>microsoft.com` (`<at>` to `@`) your instance name and region? I will take a look at the service side log to see what happend.

[2018-12-03 08:30] vicancy commented on #283
Before the error took place, is there any logs like `Service timeout. 30.00ms elapsed without receiving a message from service.` from the app server side?

[2018-12-03 10:51] alexiordan commented on #283
No, there is no "`Service timeout. 30.00ms elapsed without receiving a message from service.`" all day.
Not even a "`timeout`"  ...
I looked in the same log file from where I took the server side log above.

[2018-12-04 06:14] vwxyzh commented on #244
Service has supported ping message.

[2018-12-04 06:14] #244 closed

[2018-12-04 15:32] vicancy commented on #283
According to the service side log, the 7-layer load balancer experienced several configuration reload which caused the load balancer to restart, as a result, the persistent connections through the load balancer were dropped. We are investigating the root cause for the config change, will get you updated once we have progress.

From application’s perspective, it is possible that persistent connecti

[2018-12-04 18:59] alexiordan commented on #283
1. Thank you for your client side reconnect advise.
I already have such logic in place:
``` 2018-11-30 04:16:43.116 +02:00 [Debug] Starting HubConnection. ``` is the result of it.

2. I'll wait then for updates on the root cause.

3. On the other hand such things are supposed to happen?
I'm not talking about one seldom disconnect (let's say once a day), but this kind of instability for almost half

[2018-12-06 07:24] realwanpengli opened #286 "Add support for managing client connections through SignalR service directly"
# Client connection Manager SDK

## Description

### Background

To use Azure SignalR service in serverless mode, the only option is to call REST api for now. User has to build request oneself. To support better experience for this, we plan to provide SDK to support managing client connections through SignalR service directly. (P.S. User also can use it in server)

To minimize the effort to migrat

[2018-12-07 01:08] vicancy commented on #283
We plan to fix it in next service update cycle, which will start roll out in 12/17 and take effect to all the regions on 12/21 . Is the time frame OK for you?

[2018-12-08 23:33] imsam67 opened #290 "Clients.User(connectionId).SendAsync() not working"
I'm using Azure SignalR service with my ASP.NET Core 2.2 app and trying to send messages to individual clients in a private chat app.

When I use `Clients.User(connectionId).SendAsync("new_message", message);`, the message is not getting through to users and no one is receiving the message.

When I tried `Clients.Groups("chat_room_1").SendAsync("new_message", message);` and `Clients.All.SendAsync(

[2018-12-10 05:11] vicancy commented on #290
Could you try https://jwt.io/ to decode your access_token and share with us your decoded payload? By default, it uses the value of `ClaimTypes.NameIdentifier` as the user id, and use the custom one inside `asrs.s.uid` if it is defined.

[2018-12-10 14:48] BrennanConroy commented on #290
`Clients.User(...)` takes a user identifier. Your parameter is `connectionId` which is a different concept and used with `Clients.Client(...)`. Is `connectionId` in your case the id from the connection or the user id?

[2018-12-10 16:57] martindjerf opened #294 "Microsoft.Azure.SignalR.ServiceConnectionManager`1.WriteAsync(ServiceMessage serviceMessage) Index was out of range. Must be non-negative and less than the size of the collection. Parameter name: index"
Net Core version: 2.2
Microsoft.Azure.SignalR : 1.0.4
Application type: Web API

Hi, we are experiencing a strange scenario when we are using Azure SignalR 1.0.4. We have different groups that we create for different types of messages that needs to be sent out to the clients that subscribe to these groups. They usually get them but then some times they stop getting the messages but we can still se

[2018-12-10 22:13] vladkol opened #295 "REST API - cannot add user to a group with valid name"
I use REST API to add user to a group named '**u_YWM3ZGRmNjYtYzFlNi00MGJjLThjODAtYjFjZjAxM2FlZmJhOmdpdGh1Yi5jb20vbWljcm9zb2Z0L2NzZQ**'.

As per swagger, the group name only contains alphanumeric characters and underscore, and starts with an alphabetic character.
The request returns BadRequest with Body "Invalid group name".

[2018-12-11 03:31] vwxyzh commented on #295
Group name should be less than or equals to 64 characters.

[2018-12-11 03:37] vicancy commented on #294
Could you share how you use the Azure SDK? Could you provide some pseudo code?
Have you customized the `ConnectionCount` in [ServiceOptions](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/ServiceOptions.cs#L32]?

[2018-12-11 08:06] vwxyzh commented on #294
Do you get the instance of `HubLifetimeManager<WorkerHub>` from DI context (e.g. Controller) then send messages?

[2018-12-11 08:24] martindjerf commented on #294
Yes, except I am using the `IHubContext<WorkerHub>` and not the `HubLifetimeManager`

[2018-12-11 08:39] vwxyzh commented on #294
@martindjerf in controller?

[2018-12-11 08:49] martindjerf commented on #294
@vwxyzh I have followed the example given in this example:
https://github.com/aspnet/AzureSignalR-samples/blob/master/samples/FlightMap/FlightControl.cs

[2018-12-11 09:05] vwxyzh commented on #294
We find a defect for this case, we will fix it soon.
Thank you for your report this issue.

[2018-12-11 09:08] martindjerf commented on #294
Great! Thank you. Will you let me know when it has been fixed?

[2018-12-11 23:00] vicancy commented on #208
We’ve updated the sticky session algorithm that it now no longer has dependencies to cookies, please try with the latest SDK 1.0.4.

[2018-12-13 14:14] Mishu opened #298 "Negotiation net::ERR_CONNECTION_CLOSED"
Hello,

I have a recent issue with Azure SignalR. I'm getting this error `net::ERR_CONNECTION_CLOSED` when it's sending a negotiation request to the Azure SignalR service.
The OPTIONS request works with no issue.
I'm using Microsoft.Azure.SignalR 1.0.4 in the .Net Core 2.1 Web Api project and on client side Angular 6 with "@aspnet/signalr": "^1.1.0".
The negotiation link is `https://<azureSignalRS

[2018-12-14 04:19] vicancy commented on #298
Probably caused by long access token. see https://github.com/Azure/azure-signalr/issues/275#issuecomment-441961901

[2018-12-14 04:20] vwxyzh commented on #294
@martindjerf we will release the fix in next Friday.

[2018-12-14 08:09] Mishu commented on #298
Yeah, that was the issue, I've added the user's group membership from ADAL and the token was way bigger.
Thanks!

[2018-12-14 08:09] #298 closed

[2018-12-14 14:58] gbauso commented on #281
Hi Vicancy,

I followed your advice, and changed my Startup and it backs to work, but when we put in production we continue to handle with instability.

This is the line that I've added on Startup.

`app.MapAzureSignalR(this.GetType().FullName);`

And in my connection strings section I added the line as it described on this repo tutorial and the value was copied from azure service.

`<add name="Az

[2018-12-14 18:40] steve-79 opened #299 "Question - How is the message count determined?"
Thank you for the great work you've done - I just have a question on what determines the message count in Azure?

It seems like I'm having a very high message count (like 152 thousand messages) in a span of just a few hours with a very small number of connections (less than 20).  I just want to make sure I can optimize my code to have a smaller number of messages sent/received if possible because

[2018-12-16 23:25] himalpatel81 opened #300 "InvalidOperationException while using AzureSignalRService with MultiTenant class in Hub"
I've created a sample application which uses multi tenancy using Saaskit Multitenancy. and inject the multi tenant class as dependency injection in Hub.

Project works fine when Azure SignalR Service isn't used. but while using Azure SignalR Service it doesn't work. and gives following error in few seconds after signalR service gets connected.

signalr.js:1881 Error: Connection disconnected with e

[2018-12-17 02:34] realwanpengli commented on #286
Pr [289](https://github.com/Azure/azure-signalr/pull/289)

[2018-12-17 10:09] vicancy commented on #281
Is there any abnormal log from your server side?

[2018-12-17 10:16] zackliu commented on #299
We only count the outbound messages and ignore the ping messages between clients and servers. Any message that larger than 2KB will be counted as multiple messages of 2KB.
E.g. You have 3 clients and 1 app server. One client send one message to let server broadcase and each message is 4KB. The message count will be 8 (1 from service to app server and 3 from service to clients, and each message wil

[2018-12-17 18:47] steve-79 commented on #299
That's perfect, thank you!

[2018-12-17 18:47] #299 closed

[2018-12-17 18:48] steve-79 commented on #254
#299

[2018-12-17 18:48] #254 closed

[2018-12-17 23:20] dmitrysamuylovpharo opened #301 "Is there a way to check if a group has any open connections?"
I would like to be able to check if a group I am about to send a message to has any open connections and possibly how many. I see this information is available internally on the client hub in the `lifetime manager > client connection manager` but i don't see any of this exposed in any way. The reason I want to perform this check is to decide if I should send a SignalR message to the connected clie

[2018-12-19 19:22] scottaddie commented on #269
@vicancy Can this issue be closed now? Looks like it was addressed in the linked PR.

[2018-12-20 05:07] #269 closed

[2018-12-20 15:44] AndyDalton commented on #274
We've just ran in to this problem with ASP.NET SignalR. It would be great if there was a way the token would auto-renew as our usage means connections will be open for long periods of times and we really want to migrate To Azure SignalR.

[2018-12-21 01:15] vicancy commented on #300
I am afraid this third-party package `SaasKit.Multitenancy` to handle multi-tenancy is not supported when using Azure SDK with its current way dealing with DI.

Under the hood, this `SaasKit.Multitenancy` actually registers a HTTP middleware, and when a new HTTPrequest comes in, it registers the object to DI if necessary, according to https://andrewlock.net/loading-tenants-from-the-database-with-s

[2018-12-21 01:21] vicancy commented on #301
No, there is not. The internal client manager does not maintain group info. Groups are maintained in the Service side through Redis pub-sub channels currently.

You may need to store/maintain the info by your own. A globally available storage is needed if you have multiple app servers.

[2018-12-21 13:36] dmitrysamuylovpharo commented on #301
@vicancy but as I said, I can inspect the private properties of the client hub and under `lifetime manager > client connection manager` i see a list of connections and as my client connect or disconnects this list of connections is in fact updated, it seems to me that this list of connections would just need to be exposed publicly? Am I missing something?

[2018-12-24 02:52] vicancy commented on #301
We maintain internally a list of client connections, however:
1. *what groups these connections belong to* is not stored there but maintained in ASRS side.
2. these connections in `client connection manager` are local info, which means they are client connections connected to **this** app server. If you have several app server instances, you still need a globally available storage to maintain thes

[2018-12-24 07:38] vicancy commented on #246
Released in 1.0.5

[2018-12-24 07:38] #246 closed

[2018-12-24 07:38] vicancy commented on #253
The latest 1.0.5 SDK mitigated the issue, please have a try.

[2018-12-24 08:00] vicancy commented on #253
Hi @Simke11 sorry for the late reply.

I reviewed all your response and I believe the root cause is as follows:

When your app server starts, `UseAzureSignalR` tries to establish *server connection* to ASRS, while the client side `new HubConnection` also tries to connect to ASRS and it connects so quickly that none of the *server connections* are yet established. So ASRS take this client connectio

[2018-12-24 08:02] vicancy commented on #294
1.0.5 contains the fix, please have a try.

[2018-12-24 08:02] #294 closed

[2018-12-24 08:39] vicancy commented on #276
Done.

[2018-12-24 08:39] #276 closed

[2018-12-26 13:55] dmitrysamuylovpharo commented on #301
@vicancy Ok, point taken, question still stands, how to get this information, i am using ASRS (if by that you mean Azure SignalR Service), if it manages all this information for me, how can i get this info back? What good is it's managing this info for me if I can't retrieve it and do something with it? Wouldn't it make sense to have this functionality available and exposed through the Azure Signa

[2018-12-27 17:11] kaiokot commented on #222
Hi, any updates?
I'm getting this error today on my production environment "The connection is not active, data cannot be sent to the service."
I'm using Microsoft.Azure.SignalR 1.0.5;
Tks

[2018-12-28 02:49] vicancy commented on #222
HI @kaiokot this error can happen when the server connection is closed, due to for example network issue. Is the error persistent or the app server recovered? Do you have any other log indicating what happened to the server connection?

I am going to close this issue as the original issue created by @gynet is resolved.
Please open new issue to track if you encounter similar issue.

[2018-12-28 02:49] #222 closed

[2018-12-29 13:10] lilraft opened #310 "MapHub exception "Type T contains generic parameters""
I'm getting "Type T contains generic parameters" exception when trying to register a hub with generic method and parameter T. Using Microsoft.Azure.SignalR 1.0.4 and Microsoft.AspNetCore.SignalR 1.0.4 . Is there any way to use generic methods in the hub?

[2019-01-02 02:39] zackliu commented on #310
Could you give an example how did you use generic method.
I tried the code below
[code]
And register with
[code]
And seems it doesn't throw exceptions

[2019-01-02 05:13] #270 closed

[2019-01-02 07:06] lilraft commented on #310
I'm trying to use generic method

`public class Chat : Hub
{
     public void BroadcastMessage<T>(string name, T message)
     {
         Clients.All.SendAsync("broadcastMessage", name, message);
     }
}`

[2019-01-02 08:45] torhovland commented on #283
Hi, @vicancy!

We are connecting to Azure SignalR Service from an Azure Web App as well as from an Azure Function App. We are getting a lot of exceptions as shown below. Is this the kind of issue that should have been fixed by the deployment on 12/21? Has the fix been delayed?

[code]

[2019-01-02 09:15] vicancy commented on #283
Hi @torhovland does the error persist or did it recover very soon? What is the time frame when the error took place. There are some cases when the connections can drop such as when deployment took place or network issues or internal errors. We have reconnect logic from the server SDK side so the issues are expected to be recovered automatically.

[2019-01-02 09:52] torhovland commented on #283
@vicancy We are getting quite a few of these, i.e. about 200 over the last 7 days, on a development environment with little usage. They can happen anytime during the day or night, sometimes once every hour, sometimes with many hours in between. It always seems to be the same 5 connection IDs that are dropped. We do not run deployments as often as this. The Web App is set to Always On. The Function

[2019-01-03 06:50] vicancy commented on #283
@torhovland thanks for the info, it is probably caused by the same load balancer issue. We did a hot fix for @alexiordan's case. (The normal service update was frozen for holiday season). Could you email me(`lianwei@microsoft.com`) your resource name so that we can do a hot fix for you?

[2019-01-07 10:30] YoupHulsebos opened #324 "Azure SignalR Service Connection is not active - 1.0.0-preview1-10264"
I updated our signalr packages from 2.4.0 and added RunAzureSignalR instead of RunSignalR. Added this code in de Startup.cs

`app.Map("/signalr", map =>
{
    var hubConfiguration = new HubConfiguration
    {
        EnableDetailedErrors = true
    };
    map.RunAzureSignalR(typeof(Startup).FullName, hubConfiguration, options =>
    {
        options.ConnectionString = AppApiSettings.SignalRServic

[2019-01-08 03:21] vicancy commented on #324
Could you enable trace as similar to
https://github.com/Azure/azure-signalr/blob/ea2823c0897289e33fe2b3b3059194bf156e5101/samples/AspNet.ChatSample/AspNet.ChatSample.SelfHostServer/Startup.cs#L21
to see if any error reported when establishing server connections?

[2019-01-08 06:44] YoupHulsebos commented on #324
Sure thing. The complete log is attached here: [log.txt](https://github.com/Azure/azure-signalr/files/2735440/log.txt)

Seems it does error on making the connection to the signalr service:
Failed to start connection. Error starting transport 'WebSockets'.
Microsoft.AspNetCore.Http.Connections.Client.HttpConnection Error: 11 : Exception thrown: 'System.Net.WebSockets.WebSocketException' in Microsof

[2019-01-08 07:44] YoupHulsebos commented on #324
Thanks! Turns out it was the exect same error: TLS2.1 was not enabled on my .net472 solution. The same solution in that ticket fixed my issue. Maybe an idea to add this to the docs as an reminder for people on .net framework.

[2019-01-08 07:44] #324 closed

[2019-01-10 23:19] brread commented on #294
I'm confused by the resolution of this issue. It looks like the code change that @vwxyzh  pushed in just gives a more descriptive error message.

What does "The Service Connection Is Not Connected" mean?

Is this related to using DI on the `IHubContext`? (Or the `HubLifetimeManager`). Does something about this method affect the Service connection?

[2019-01-11 02:18] vicancy commented on #294
@brread For this issue, it happens when server does not yet connected to Azure SignalR Service however DI gets the `IHubContext` and tries to send message to Azure SignalR Service, so it is a right behavior to throw an exception in such case.

[2019-01-11 03:34] vicancy opened #335 "Fail early when connecting to ASRS fails at the first place."
Currently we start the server-service connections silently in the background.
https://github.com/Azure/azure-signalr/blob/a02423318ad979f4dca800c3bddf026d4e20cb11/src/Microsoft.Azure.SignalR/HubHost/ServiceHubDispatcher.cs#L59

When the remote service is unreachable or wrongly configured, the SignalR function just fails silently. To diagnose the issue, user has to enable logging and dig into logs

[2019-01-11 18:51] robynt34 commented on #243
Is there an update on this feature?

[2019-01-17 02:16] zackliu commented on #310
Generic method is not supported in SignalR as far as I know

[2019-01-17 04:08] JialinXin commented on #123
From January 2019, Azure SignalR Service is retiring 5001/5002 port and move to 443 completely. Please follow the steps below to ensure your service working normally.

## Azure SignalR Service SDK
Update to a newer SDK version = [v1.0.5](https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.0.5) and update Azure SignalR `ConnectionString` to latest version with `Version=1.0` assigned.

## Azure

[2019-01-17 12:55] ebashmakov opened #345 "Allow UUID as a group name"
UUIDs should be allowed to be used as a group name since it's a very common scenario.

The current [limitation](https://github.com/Azure/azure-signalr/blob/dev/docs/swagger/v1-preview.json#L143) is the following:

_source_: https://github.com/MicrosoftDocs/azure-docs/issues/20988

[2019-01-18 07:15] vicancy opened #346 "Add some query string like asrs.request.id in the url to do sticky session"
Currently, our SDK relies on the signature part of `access_token` to make all the requests for one connection sticky to the same SignalR Service pod. The issue with `access_token` is that user can have high possibility of having his own `access_token` auth mechanism. So by chance, our load balancer might consider his own `access_token` as the one we need and relies on that user's `access_token`. A

[2019-01-18 08:33] vicancy opened #348 "Use app name as a prefix to hub so that different apps with same hub name can share the same Azure SignalR"
Quote from our user:

[2019-01-22 08:16] realwanpengli commented on #286
Pr #351

## Exception

All exceptions for Microsoft.Azure.SignalR.Management inherit `AzureSignalRException`.

### Exception Message Format
$"Response Error: {Status code} {Reason phrase}. {Detailed reason}. Request Uri: {Request Uri}"

#### Authorization Exception

##### Exception Name

AzureSignalRAuthorizationException

##### Exception message

$"Response error: 401 Unauthorized. Authorization

[2019-01-24 17:43] BrennanConroy commented on #310
We have an issue tracking making the error nicer https://github.com/aspnet/AspNetCore/issues/6949

[2019-01-24 17:44] robynt34 commented on #243
Thank you!

From: Liangying.Wei <notifications@github.com>
Sent: Thursday, January 24, 2019 1:26 AM
To: Azure/azure-signalr <azure-signalr@noreply.github.com>
Cc: Robyn To <Robyn.To@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-signalr] Add support for configuring multiple SignalR service instances (#243)

@robynt34<https://nam06.safelinks.protection.outlook.com/?u

[2019-01-25 20:54] OlympicLarry opened #364 "Lost all Server connections (@3 AM)"
All server connections were lost around 2:30 AM. I'm not sure what to look for to see what the problem is. Any help would be appreciated. This is an ASP.Net 4.6.1 web application. I am updating the SDK now to version 1.0.0-preview1-10317 to see if that helps.

![image](https://user-images.githubusercontent.com/10212320/51771808-72d99480-20a7-11e9-918a-6037c7f17552.png)

SDK Version: v1.0.0-preview

[2019-01-26 03:13] yasin-uohyd opened #365 "Hosting Hub as part of Azure SignalR Service - Serverless arch"
Hi Team,

We would still need Hosting Service to Host the Hub along with Azure SignalR Service, Is it possible to host the my hub without any Host. I would just specify set of server side methods that can be called by clients? In my case, the clients are Mobile Apps they only interact with SignalR Service, no other Azure Service.

If it is not possible, what is the best approach to host my Hub?

[2019-01-29 09:00] siuhleung7 opened #372 "Suddenly cannot connect to signalr service, failed to respond"
Any issue?

2019-01-29T08:56:01.157 [Information] Executing 'Functions.chat-messaging' (Reason='This function was programmatically called via the host APIs.', Id=2b71b6e1-271d-422d-b679-0116e73adabc)
2019-01-29T08:56:22.518 [Error] Executed 'Functions.chat-messaging' (Failed, Id=2b71b6e1-271d-422d-b679-0116e73adabc)
A connection attempt failed because the connected party did not properly respond a

[2019-01-29 09:09] siuhleung7 commented on #372
It is a problem in southeast site

[2019-01-30 01:57] jsheetzati commented on #283
Just curious, has this hotfix been deployed?

[2019-01-30 03:37] vicancy commented on #283
@jsheetzati Yes it has. All the current Azure instance should be updated.

[2019-01-30 04:39] vicancy opened #373 "Improve the log when server-service connection is dropped"
As server-service connection is WebSocket persistent connection, when there is network instability or service side Pod switch, the server-service connection can drop and reconnect.

Currently users can see the connection exceptions with callstacks although they can do little to help.

As the server-service connections always try to reconnect when it drops, there is no need to print errors with cal

[2019-01-30 15:47] johnjbateman commented on #125
@xscript @davidfowl So when you say this has been deployed to all instances and closed the bug, exactly how can we change the default transport buffer size in Azure SignalR?

In SignalR Core, we could do this:

[code]

In Azure SignalR, there are no "options" available.  Can you help?

[code]
![image](https://user-images.githubusercontent.com/34578771/51993241-66c14e80-247c-11e9-87a5-8138ff6e365c.

[2019-01-30 17:21] davidfowl commented on #125
What exactly are you trying to change? This issue was about sending data between the server and service. The client still can’t send more than 32K today to the service. There’s currently no workaround for that (as there at security implications).

There’s need to be an option on the portal to increase the limit.

[2019-01-30 17:33] johnjbateman commented on #125
We were trying to increase the ApplicationMaxBufferSize so that we can send documents back and forth.  However, we just refactored our code to not send the doc data through SignalR.  So we worked around the limitation.

This would be great!  Would love to be able to toggle that.

[2019-01-30 19:46] jsheetzati commented on #283
We are seeing some very inconsistent connection issues. In our beta environment, connections continually connect and disconnect immediately, whereas our staging environment, may take up to 5 disconnects/reconnects before it establishes the connection. Our test environment works fine 100% of the time, and we do not seem to be having issues over there..

Are you able to look at our logs if I email y

[2019-01-30 20:41] davidfowl commented on #125
@johnjbateman I'd suggest opening another issue on that. We're also adding support for client streaming in the next version of SignalR.

[2019-01-31 05:08] siuhleung7 commented on #372
Executed 'Functions.messages' (Failed, Id=18300480-5556-4b44-b070-490199c8ace1)
[31/01/2019 04:59:20] System.Private.CoreLib: Exception while executing function: Functions.chat-messaging. System.Net.Http: Operation timed out. System.Private.CoreLib: Operation timed out.

[2019-01-31 05:18] vicancy commented on #283
@jsheetzati You can open a ticket and our support will contact you soon. If they are not able to solve the issue, the issue will be transfered to us.

Of course you can also email me the issue directly.
In the email, please provide the following info for us to identify the issue efficiently:
1. the instance name of your Azure SignalR
2. the time range of the issue,
3. the logs from the server side

[2019-01-31 08:02] alexiordan commented on #283
@vicancy,
I am again experiencing some disfunctionalities right now.
Clients got disconnected and even if they retry to connect, they do not succed.
They are still offline now!

Server side only states:
[code]
Client side (please note, that they are in descending order by date):
[code]

I have replaced some identification information from connection URL. The subscription is the same as for the ini

[2019-01-31 09:46] vicancy commented on #283
@alexiordan 5001 port is obsoleted and is now disabled, please use the updated connection string from the portal in your server side code, or update to the latest SDK, as tracked in this issue: https://github.com/Azure/azure-signalr/issues/123

[2019-01-31 13:17] chenkennt commented on #372
Are you using the Azure Function binding? Which version are you using? We recently officially retired port 5001/5002 so if you're still using the old port your code won't work.

[2019-01-31 13:42] alexiordan commented on #283
@vicancy, I am using the 1.0.5 SignalRService SDK in my appservice...

[2019-01-31 13:59] alexiordan commented on #283
So it worked!
I had to restart the client, but it worked. Sorry for for disturbing.

[2019-02-01 04:08] siuhleung7 commented on #372
Thank you, updated to 10025 version and now working!

[2019-02-01 04:08] #372 closed

[2019-02-05 11:34] TobySanders opened #375 "SignalR Service Platform features"
Most azure components offer a wide range of platform features out of the box which can make integration much quicker and easier such as the managed identities and authorization features which would make securing the service, especially the REST API; for example the JWT token that needs to be generated to communicate with the REST API could be managed in the background as it can be with web app to

[2019-02-07 12:37] ferronsw commented on #365
@yasin-uohyd I think the function you are looking for is already in preview.
You can set a SignalR Service to Serverless:

![image](https://user-images.githubusercontent.com/19926383/52411886-7c1e2480-2add-11e9-8fde-ac24e9e0e5d2.png)

[2019-02-07 12:48] ferronsw opened #376 "Split claimprovider for server and SignlarR Service"
Hello,

I've seen multiple issues regarding the length of the bearer token like #275 and #249.
I'm using some claim values within the SignalR Hub OnConnect and OnDisconnect methodes.
In certain scenarios the claim is to big to be used for the SignalR service.

These custom claims (claim-identity) are not required for the SignalR Service, but I can't specify a ClaimsProvider for the Hub (within my

[2019-02-07 15:55] johnrutherford opened #377 "WebSocket connections occasionally fail with 404"
We've started using the Azure SignalR Service in our test environment and we are seeing occasional failures to establish a WebSocket connection. The WebSocket connection fails with a 404, but then the client falls back to SSE and that appears to work.

Here are the console messages from the client:
[code]

We are using version 1.1.0 of the JS client.

These are the versions on the server side:
Mic

[2019-02-08 05:57] vicancy commented on #377
With #346, there should be 2 query string or headers with name “access_token” in your request URL, a quick workaround is to rename yours to another name.

[2019-02-08 14:20] johnrutherford commented on #377
@vicancy Hmm... well there aren't two `access_token` query string variables or headers.

In the negotiate request, the access token is sent as an Authorization header. And then it's put in the query string for the WS request.

So I guess the problem is something else.

[2019-02-08 16:09] vicancy commented on #377
Could you send a HAR file with /negotiate and following 404 requests to me throug email if you don’t mind?

[2019-02-08 19:20] johnrutherford commented on #377
@vicancy I just sent you the email.

[2019-02-08 22:28] RamYadlapalli opened #378 "Is there a SDK available to use AzureSignalR in Node.JS Express App?"
All the examples and samples talk about using Azure SignalR with .net core and .net apps, is there a SDK available for Node.JS Express application to user this service?

[2019-02-09 01:35] daltonks opened #379 "When using a custom protocol, a client receives a message from a hub a multitude of times, and the server doesn't receive messages at all."
I am attempting to write my own `IHubProtocol` that uses Protobuf for `InvocationMessages`.

The problem is that in my test projects, the client receives a multitude of the same message from the server (when it is only sent once upon connecting), and the server is not receiving a message from the client (which is invoked right after `StartAsync`).

I tried updating `Microsoft.AspNetCore.SignalR.Cl

[2019-02-09 02:36] BrennanConroy commented on #379
Very cool! Glad you're trying out your own protocol.

One thing I noticed by glancing at the code is that you never modify the `ref input` in `ParseMessages`. https://github.com/daltonks/Unofficial-SignalR-Protobuf/blob/master/Unofficial.SignalR.Protobuf/ProtobufProtocol.cs#L125

You need to modify it up to the point you've used it otherwise the outer loop that is calling `ParseMessages` will keep

[2019-02-09 03:29] daltonks commented on #379
Thank you for taking a look @BrennanConroy !
Oh wow, I never would have thought to do that. I will give that a try 🙂

[2019-02-09 04:01] daltonks commented on #379
Spot on, that was exactly the issue. I am now receiving one message on the client and one message on the server.

You are a godsend, thank you.

[2019-02-09 04:03] BrennanConroy commented on #379
I'll make a note on the docs issue that that is something to point out when we write a doc.

[2019-02-09 14:01] yasin-uohyd commented on #365
thanks for update @faandrei .

Not, I was looking for creating a Hub and I do not have any App Server to Host. Is there anyway, I can host my custom hub logic without using App Server?

[2019-02-11 17:22] dmitrysamuylovpharo opened #381 "Hourly disconnects across all clients"
We are seeing consistent disconnects almost on the dot every hour across multiple clients (windows desktop apps). I saw there were some issues with load-balancing that were affecting all azure signalR instances as mentioned here [Issue# 283](https://github.com/Azure/azure-signalr/issues/283) Could this still be affecting our Azure SignalR instance as well? Same as the person in Issue # 283, we hav

[2019-02-11 22:27] OlympicLarry commented on #364
To anyone reading, after reviewing server logs, I determined that there was a app service outage which caused the connections to drop to 0. However, the service did come back online 1 hour later but the connections never restarted.

I think we can close this for now and if anything weird happens again I will open a new issue.

[2019-02-11 22:27] #364 closed

[2019-02-13 16:07] adamra-msft opened #387 "Allow group names longer than 64 characters"
The group name length limitation of 64 characters is somewhat restrictive. For example, ideally we would like to use group names an order of magnitude larger (say 512-1024 chars), or else we have to resort to hashing to reduce the size of group names.

In addition, it would be nice if there were additional allowed characters in the group names. Right now, there are only 63 distinct characters allo

[2019-02-15 21:49] jsheetzati opened #395 "Connection closed with an error. Internal Server Error"
We are seeing disconnects between our React client and Azure SignalR service. The same code and same configuration is running in all our environments yet we only experience the issue in a couple environments.

This is the error that I see on the client inspecting the websocket traffic. No server side logs from our ASP.NET Core 2.2 App Service where the hub is hosted.
[code]

Here are the client co

[2019-02-18 09:42] vicancy commented on #381
Such frequent disconnects are not expected. Could you email me your instance name and subscription id for me to check from the service side?

[2019-02-18 10:04] vicancy commented on #377
Thanks @johnrutherford and sorry for the late reply. We are investigating the issue with high priority, looks like the load balancer was not working properly at that moment. Will let you updated once we have any findings.

[2019-02-18 21:30] alexiordan opened #396 "SignalR Service client cannot receive messages after re-connect"
I have a strange behavior that I don't know what to do next..

I have a SignalRService connected to my appservice.
I also have several clients (UWP app) that connect to SignalRService.

From those clients ~one~ **some** have this strange behavior.
After the restart of the appservice, it succesfully connects to SignalRService and receives all the _application messages_ sent by appservice.
But if it

[2019-02-18 23:14] alexiordan commented on #396
In server logs it seems I can only see received messages, not sent ones, except from ping ones.
If this is incorrect, please advice on how cand I find the message requested by appservice to be sent to the clients.

[2019-02-18 23:28] alexiordan commented on #396
@vicancy , Would you please take a look?

[2019-02-19 03:02] vicancy commented on #396
By default, SignalR Service switches to Serverless mode when no app server connected. So in your case, it might be that in that moment when all server connections were dropped, the client connected to SignalR service automatically fallback to Serverless mode and not connected to the app server.

You can change the behavior to `Default` mode to enforce Azure SignalR to disable Serverless mode. When

[2019-02-19 03:50] vwxyzh commented on #345
We will change the limitation to less than 256, allow any character, like space, emoji.
* Following cases are invalid:
  * *Empty*
  * LongLong...LongString (>256)
* Following cases are valid
  * `1234`
  * *GUID*
  * `1 2 3`
  * `123-456`
  * `~!@#$%^&*()_+=[]{}\|;:'",./<>?`
  * :smile: *emoji*

If your group name contains spiecal characters, for rest API, you should encode the group name (like [

[2019-02-19 05:00] ebashmakov commented on #345
@vwxyzh great news! I'm looking forward to it. Do you have ETA? What do you mean by "It will be release by service."?

[2019-02-19 05:48] alexiordan commented on #396
It is set to Default.
However is the client that when reconnects no longer receives messages. Appservice was not restarted in this interval.
To be more clear here are the steps below:
1. Restart AppService to be o a fresh ground.
2. Connect UWP Client
3. UWP Client is connected and everything works well.
4. Restart the UWP Client (or just reconnect)
5. UWP Client no longer receives _application me

[2019-02-19 09:20] vwxyzh commented on #345
About 11 March, release to all regions may be one week.
This limit is in SignalR service side, we will update service, so no SDK changes.

[2019-02-19 09:20] vwxyzh commented on #387
#345

[2019-02-19 13:15] dmitrysamuylovpharo commented on #381
@vicancy thank you for the reply, emailed the info to your Microsoft email

[2019-02-19 19:18] alexiordan commented on #396
UPDATE no. 2
It still happened soI decided to toggle the Service Mode.

- From Default to Serverless
- From Serverless to Classic
Now I don't encounter the issue anymore.

However I am deeply worried about this silent way of not working... AppService restart did not fix it.
1. Would you please take a look and see why this happened?

2. Regarding ServerMode: Default means Classic I presume, right?

[2019-02-20 03:27] vicancy commented on #283
Close the issue as it should be fixed.

[2019-02-20 03:27] #283 closed

[2019-02-20 03:37] vicancy commented on #377
@johnrutherford We've identified the root cause (which is a bug in our external dependencies) and have mitigated this issue for your subscription. We will roll out a complete fix soon.

[2019-02-20 08:20] vicancy commented on #396
We have a not-yet-fixed display bug in portal that the initial state of "Default" behaves like "Classic". So you need to toggle ServiceMode to another and then toggle it back to "Default" to make it work.

[2019-02-20 09:01] alexjebens commented on #365
+1

@ferronsw What exactly does this feature Flag do?

[2019-02-20 09:19] alexiordan commented on #396
OK, but please take a look at what happened there. Because my client did not received any messages. Besides it didn't know it need to reconnect. Given somehow reconnects, still did not fix the issue...

[2019-02-20 20:28] alexiordan opened #399 "Client and server receive Connected event at different moments"
Can be seen in my subscription.
With SignalR Service set in Classic mode

ConnectionID: NVrjPjcM2Br0lT3BBQz2lQ
Client reported connected at 07:04:53 (UTC)
Server reported that received the connection at 16:25:19 (UTC)

9 hours delay!

It is the same client that caused trouble in #396

[2019-02-21 03:19] vicancy commented on #396
No, toggling ServiceMode is a hot reload that it does not restart the SignalR Service.

This only happens when the client enters Serverless mode, and the client should still be able to receive "broadcast" messages from server using `m_Hub.Clients.All.SendAsync`. Is that true in your case? Group broadcast messages are not able to be received by this client who entered Serverless mode because this c

[2019-02-21 03:20] vicancy commented on #399
Would you mind sharing me your instance name?

[2019-02-21 03:29] vicancy commented on #253
Please reopen it if https://github.com/Azure/azure-signalr/issues/253#issuecomment-449699588 does not solve your issue.

[2019-02-21 03:29] #253 closed

[2019-02-21 05:08] vicancy commented on #378
When using AzureSignalR, there are 2 parts, client and server.
For server which specifies `RunAzureSignalR`, it only supports .net core and .net apps.

For client, the SignalR client can be seamlessly used. Current SignalR client supports multiple languages, such as JavaScript, TypeScript, Java, .net, please refer to https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms?view=asp

[2019-02-21 05:38] vicancy commented on #381
The service side log shows that, for some client requests, the client initiated the request and established connection with the service, however the service didn't received any handshake messages from client for 15 seconds time out and so service cancelled the connection after the timeout.

What version of SignalR client are you using? Is it possible for you to repro the issue and capture the clie

[2019-02-21 06:58] alexiordan commented on #396
1. It is still unclear to me if the Default is one of the other 2 or not. I do not understand why you suggest to put it back on Default. Classic mode isn't what I need (since I use an appservice)?
2. Is the client informed that will be connected to a serverless instance? How can I track that?

[2019-02-21 07:17] ferronsw commented on #365
@alexjebens  I couldn't find what it does exactly. I would create a separate issue if you want to know.

[2019-02-21 08:56] vicancy commented on #396
No, Classic mode is actually a mixed mode. You need 'Default' mode which prevents the Service from switching automatically to Serverless mode.

No. "Default" mode helps to prevent that silent switch.

[2019-02-21 09:17] vicancy commented on #399
The service side log shows that the `/negotiate` request happened on 2019-02-20T16:25:18, and shortly after that the connection with connectionID `NVrjPjcM2Br0lT3BBQz2lQ` was created.

Could you share how client report it is connected?

[2019-02-21 10:22] alexiordan commented on #399
I've answered on e-mail

[2019-02-21 19:20] johnrutherford commented on #377
Yeah, we're not seeing the issue anymore. Thanks!

[2019-02-21 19:20] #377 closed

[2019-02-21 19:28] johnrutherford opened #401 "Missing required property 'type'"
We are regularly receiving the following error in our logs. Several times a second.

[code]

I'm not positive, but it seems like it has to do with the Azure SignalR Service because as far as I can tell, all clients are including the 'type' property in all JSON messages. We are only seeing this in one of our subscriptions/environments.

Versions:
JS client: 1.1.0
Microsoft.AspNetCore.SignalR: 1.1.0

[2019-02-21 19:41] johnrutherford opened #402 "Connection to Azure service drops and cannot automatically recover"
Yesterday our web applications had connections to the Azure SignalR service dropped. We got several errors like this:

[code]

It looked like one application instance dropped all connections and the other only dropped one.

Then we got several thousand of these errors:

[code]

Then several thousand of these:

[code]

This went on for over an hour until the web applications were manually restarted

[2019-02-22 06:16] vwxyzh commented on #402
Are there many logs like `Failed to connect to the service`?

[2019-02-22 14:12] johnrutherford commented on #402
@vwxyzh I did find a few more error messages buried in the logs. There were 8 of each of these. So it looks like it tried to re-connect and then gave up.

[code]

[code]

[2019-02-23 22:08] OlympicLarry commented on #402
This has been happening to me daily and I had to switch back to local signalR today.

[2019-02-24 11:36] tehmas opened #404 "Server frequently loses Azure SignalR connection [Azure SignalR Service is not connected yet Error]"
My ASP.NET Web API (target framework: .NET Framework 4.6.2) project frequently loses connection with Azure SignalR service (**free tier**). I have followed the example as shown in **aspnet** ‘chatroom’ [example][1].

My client application is based on Angular JS. Messages are being sent to the clients but after a few hours, the server connection with Azure SignalR service is lost and is not establi

[2019-02-24 15:05] tehmas commented on #404
Just to add, Azure SignalR service is in North Europe.

[2019-02-25 02:46] vicancy commented on #404
We've identified an issue for ASP.NET that SDK does not reconnect after disconnect. There is a nightly build that contains a fix to this problem:
`install-package Microsoft.Azure.SignalR.AspNet -Version 1.0.0-preview1-10325 -Prerelease -Source https://www.myget.org/F/azure-signalr-dev/api/v3/index.json`

The fix is planned to be released this week.

[2019-02-25 06:26] tehmas commented on #404
Thanks, @vicancy. I'm also interested in why the service is frequently disconnecting from the server in the first place. Is there a document available regarding this?

[2019-02-25 09:00] vicancy commented on #399
There is only service log for `NVrjPjcM2Br0lT3BBQz2lQ` on `2019-02-20T16:25:18`.
Is it possible that the time clock for the client machine is not accurate?
Is it a common case for your client/server or this connectionId is the only one? Are you able to repro the issue?

[2019-02-25 09:13] vicancy commented on #404
"Frequent disconnecting" is not expected. There should be either something wrong inside the service, or exceptions from the app server side. Can you see any abnormal logs/CPU usage from app server side?

[2019-02-26 00:17] fabiano commented on #402
We are having the same errors here. Checking the Metrics page, we saw that at the same time of the errors the number of connections drops.

![connections](https://user-images.githubusercontent.com/2686/53377832-2f8e7200-3942-11e9-948c-1bb74ec70f49.png)

These are some of the error messages:

[code]

[code]

[code]

[code]

Versions:

- JavaScript client: 1.1.2
- Microsoft.AspNetCore.SignalR: 1.1.0

[2019-02-26 08:26] sffamily opened #414 "Adding REST API for delete user from groups"
To support some use case scenarios that at times customer want to have a clean start by ignoring all previous/existing user-group mappings, so that they can make sure no unwanted messages got sent.

request to implement the REST API with DELETE /v1/hubs/<hub_name>/users/<user_id>
behavior will be remove all existing user-group map for user_id.

e.g. the sequence
PUT /v1/hubs/h1/groups/g1/users/u1

[2019-02-26 08:55] vicancy commented on #404
The latest v1.0.0-preview1-10330 version of ASP.NET should fix the issue.

[2019-02-26 08:55] #404 closed

[2019-02-26 09:17] vwxyzh commented on #402
@johnrutherford

* Following exceptions are logging server connection dropped.
[code]

* Following exceptions are logging client connection dropped, so if you have several thousand clients on the dropped server connections, several thousand is a reasonable count.
[code]

* Following exception is a bug, we didn't remove the clients on dropped server connections, it will throw forever, we have a PR

[2019-02-26 18:20] dmitrysamuylovpharo commented on #381
@vicancy There are some client connections that fail sometimes after trying to reconnect, I see these failures after 15 seconds and our application logic re-tries to reconnect and eventually successfully connects. This is not the issue I am trying to track down and resolve. After the initial connection is made by a client, the server disconnects that client after exactly 1 hour, all subsequent re-

[2019-02-27 02:10] vicancy commented on #381
It sounds like the token expires. https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#403-returned-for-client-requests

[2019-02-27 08:04] tehmas commented on #404
Thanks, @vicancy for the fix. I would like to report that the connections were successfully being established for a longer period of time. However, after this, the following error is frequently occurring on the client side:

![image](https://user-images.githubusercontent.com/9120583/53474364-b51f3880-3a8e-11e9-80fb-87bd8a4af37a.png)

Logged error stack:
![image_2019_02_27t06_47_21_470z](https://us

[2019-02-27 09:32] vwxyzh opened #416 "SDK cannot detect some clients dropped when ASRS instance crashed."
Condition:
* ASRS instance crash.
* The ASRS instance for client connection is different from the instance for server connection.

Problem:
1. These clients will send ping, and app server do not notify offline for these clients.
2. No error will be throw.
3. These clients can be removed when server connection stopped.

[2019-02-27 14:09] dmitrysamuylovpharo commented on #381
@vicancy yes! this sounds EXACTLY like what is happening, thank you! I will try this out but I already am almost 100% sure this is the issue. I'll update here once I've confirmed this workaround fixes my issue. Thanks again.

[2019-02-27 14:24] tehmas commented on #404
**Update**

This again occurred after a deployment today:
![image](https://user-images.githubusercontent.com/9120583/53497079-31cd0980-3ac5-11e9-8663-15dc38a7eafb.png)

[2019-02-27 15:00] alexiordan commented on #399
I am pretty positive that clock is alright since I log a specific message
at a specific hour and that has the correct timestap.
It is the only time that happened.
However what the appservice logs tell? I will take a look myself also.

It did not reproduce afterwards - I did not do anything intentionally to
make it reproduce.
So the current normal operation of the system did not bring this issue
an

[2019-02-27 20:38] dmitrysamuylovpharo commented on #381
@vicancy I added the configuration change to increase the lifespan of the token to `options.AccessTokenLifetime = TimeSpan.FromDays(6);` and updated the `Microsoft.Azure.SignalR` Nuget package to version 1.0.7, but I see no change in the disconnect behavior, it still consistently disconnects exactly 1 hour after the connection is established on the client. Anything else you could think of that cou

[2019-02-27 22:46] urbanspr1nter opened #418 "Getting disconnected while trying to connect: The server disconnected before sending a handshake response."
For some reason today, establishing a connection seems pretty unstable. I am unable to connect properly to the SignalR service at times. This started happening today. I am simply just establishing a connection to my hub as normal with

`await _hub.StartAsync();`

Sometimes this works, but other times it fails with the following exception thrown:

`System.InvalidOperationException: The server disco

[2019-02-27 23:58] urbanspr1nter commented on #418
Looks like it is working now. The issue was on my end. Didn't realize that I had messed up my own code to ignore the completion of StartAsync() before continuing onto my next operation.

[2019-02-27 23:58] #418 closed

[2019-02-28 05:26] anilrp opened #419 "Azure SignalR Service is ignoring custom AuthorizeAttribute"
I am using **`.Net Framework 4.7.1`** " and **NOT .Net Core**

[code]

Following is written in owin startup.cs file -

[code]

`MapAzureSignalR` method is coming from `Microsoft.Azure.SignalR.AspNet`

And hub is having authorize attribute -
[code]

.net Client code is here which trying connect to signalr hub -

[code]

Azure SignalR Service is ignoring `AuthorizeClaimsAttribute` on Hub and connect

[2019-02-28 07:18] vicancy commented on #381
Any special configs from your app server side? Are there any events logged in the Azure Website, e.g. website restart? Are there any abnormal messages logged in the client side when it disconnected?

I checked your service side log, it shows no error with the websocket connections, the last-for-1-hour websocket connections are just closed normally without error. Looks like it is the client that cl

[2019-02-28 07:25] vicancy commented on #404
Hi @tehmas From the connection metrics, there was no server connection from 11AM to 12AM, is it expected? Are there any error logs from service side about connection failures?

"Azure SignalR Service is not connected yet" error happens when there is no app server connected to the Azure Service. As the metrics shows, the error should happen between 11AM and 12AM.

The client side error should be re

[2019-02-28 09:54] tehmas commented on #274
We are using ASP.NET SignalR with Azure SignalR. We are facing the same problem. Maybe a way to determine if the token is valid can remedy the problem.

[2019-02-28 13:49] dmitrysamuylovpharo commented on #381
The `ConfigureServices` looks like this but i don't see anything that should be affecting this that stands out to me:

        public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => true;
                options.MinimumSameSitePolicy = SameSiteMode.None

[2019-02-28 14:17] johnrutherford commented on #402
@vwxyzh thank you for the explanation. That makes sense.

When can we expect a new version to fix the bug with not removing the dropped connections?

And what about the 502 error when our application tried to reconnect to the service?

[2019-02-28 21:16] fabiano opened #420 "Connections dropping every day"
I'm creating this new issue because I'm not sure if it's the same problem happening on the issue https://github.com/Azure/azure-signalr/issues/402.

Two or three times per day our logs are flooded with error messages related to the Azure SignalR service.

Checking the Metrics page, we saw that at the same time the number of connections drops. Then the connections begin to increase again.

![533778

[2019-03-01 02:42] vicancy commented on #381
Noticed that your client requests are going through a proxy. Could you try the client without the proxy to see if the connections are influenced by the proxy?

Some proxies might have issue supporting WebSocket, *since WebSocket connections are long lived, as opposed to the typical short‑lived connections used by HTTP, the proxy needs to allow these connections to remain open, rather than closing

[2019-03-01 03:49] vicancy commented on #420
Could you email me your instance name and subscription id for me to check the service side log?

[2019-03-01 09:59] vicancy commented on #419
Reproed, should be a bug in https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.AspNet/ServerConnections/ServiceConnection.cs#L135 that when `Authorize` fails, it throws and thus fails to close the client connection.
![image](https://user-images.githubusercontent.com/668244/53630760-c5c8dd80-3c4b-11e9-934a-91be8aa7b362.png)

@JialinXin Would you mind taking a look?

[2019-03-01 11:19] JialinXin commented on #419
Sure. Will take this.

[2019-03-01 14:13] dmitrysamuylovpharo commented on #381
@vicancy that's a great suggestion, we arrived at the same suspicion a day ago and tried disabling the proxy for client requests connecting to our signalR instance and these hourly disconnects went away, what a crazy wild goose chase, but glad we finally figured it out, thank you for all your help in trying to figure this out!

[2019-03-01 14:24] kaiokot commented on #222
Hi, What was the solution?

[2019-03-01 15:22] alexiordan commented on #396
@vicancy, it happened again.
Client report that connected. Server reported client connected.
However client doesn't receive any commands from the server.
What could cause the server to switch again to the _non-Default_ state?

[2019-03-01 16:24] fabiano commented on #420
@vicancy Just sent to you the email

[2019-03-01 18:21] jsheetzati commented on #420
We are also seeing this error in our app service logs. I will email our app instance name if you do not mind taking a look at it too, @vicancy

[2019-03-01 22:12] kroymann commented on #348
A feature like this would be extremely useful to me.  Our service has multiple different parallel environments (prod, test, staging, etc.).  In the prod environment we use Azure SignalR to handle connection capacity, but none of the other environments have enough concurrent users to warrant paying the additional money for each one to have it's own dedicated Azure SignalR instance.  Given that we c

[2019-03-04 02:34] vicancy commented on #396
If *Server reported client connected*, then client is connected to the server, it does not enter `serverless` state.

[2019-03-04 02:37] vicancy commented on #222
Hi @kaiokot This can happen when server connection drops. Server connections will automatically reconnect, so in general you don't have to do anything. Server connection drops can happen when for example, network issues, service machine relocate, etc. If you see such connection drops too often, that is abnormal, please open a ticket for us to take a look.

[2019-03-04 05:40] vwxyzh commented on #402
@fabiano yours is a different case. We will trace it in your issue.

[2019-03-04 05:44] vwxyzh commented on #402
@johnrutherford we are testing the new version, we will at you when we published.

[2019-03-04 05:54] alexiordan commented on #396
This kind of commands did not reach the client:
[code]

[2019-03-04 06:24] vicancy commented on #396
Where is the join Group take place? Is it just before the group.SendAsync? In current implemenation, group related messages should happen in the same app server to guarantee the order, a general practice is similar to:
[code]

[2019-03-04 08:49] alexiordan commented on #396
1. AddToGroupAsync is called on Hub.OnConnectedAsync();
2. Then the connectionId is stored for further refence until OnDisconnectedAsync() occurs from that connection. At that moment the connection is RemoveFromGroupAsync().
3. Whenever application needs (can be any time afterwards: 30 minutes, 2 hours etc.) calls SendAsync on that group.

Calls are in the same appserver.
However, I believe the lo

[2019-03-04 11:28] MrPipa commented on #420
I have a web application in production and cannot suddenly connect to our SignalR service at all.
Wonder if this could be related?

[2019-03-05 13:24] Rtalos opened #425 "Possible to get an ETA on stable version of Microsoft.Azure.SignalR.AspNet?"
Hello

I don't know if this is the right channel to ask; but I was wondering if there is a possibility to get an ETA on when there might be a stable version of Microsoft.Azure.SignalR.AspNet?