[2021-02-17 13:41] brechtvhb commented on #745
I am also receiving this error. Even with no load on the server.

Here's the stack trace:

System.TimeoutException: Ack-able message Microsoft.Azure.SignalR.Protocol.JoinGroupWithAckMessage waiting for ack timed out.
at Microsoft.Azure.SignalR.ServiceConnectionContainerBase.WriteAckableMessageAsync(ServiceMessage serviceMessage, CancellationToken cancellationToken)
at Microsoft.Azure.SignalR.Multi

[2021-02-18 01:45] vicancy commented on #1200
Fixed in v1.7.1

[2021-02-18 01:45] #1200 closed

[2021-02-18 12:23] arek-avanade opened #1219 "Using ServiceTransportType.Persistent in Management SDK breaks enum serialization"
I'm using Management SDK in Azure Function to send messages back to our SignalR clients. Recently we switched to `ServiceTransportType.Persistent` (websocket) in the SDK to improve performance, but then messages arriving on the client side had Enums serialized as integers rather than strings, despite our Newtonsoft.Json settings. When using `ServiceTransportType.Transient` transport everything was

[2021-02-19 07:51] wanlwanl commented on #1219
Could you provide the version of Management SDK and the function app project?
The .csproj file is better.

[2021-02-19 13:07] arek-avanade commented on #1219
I cannot share the entire project file but here's an excerpt. We're running on .NET Core 3.1.
[code]

[2021-02-20 03:38] wanlwanl commented on #1219
the json serializer is changed to System.Text.Json in function v3 and .Net Core 3.1, please use:
`using System.Text.Json.Serialization;`
and then add `JsonStringEnumConverter` like this:
[code]

[2021-02-20 19:35] arek-avanade commented on #1219
I'm not using output binding but `Microsoft.Azure.SignalR.Management` nuget. The reason is actually that I don't want to use System.Text.Json.Serialization, but rather Newtonsoft.Json. I can see in the code below that in the Transient transport mode the nuget is actually using Newtonsoft.Json through `RestHubLifetimeManager` and `RestClient`classes:
https://github.com/Azure/azure-signalr/blob/9e90

[2021-02-22 05:48] vwxyzh opened #1221 "Add metrics for ASRS SDK"
### Add metrics for ASRS SDK

We should provider following metrics:

* [ ] Current client connection count
* [ ] New client connection count per second
* [ ] Disconnected client count per second
* [ ] Read message count per second
* [ ] Written message count per second
* [ ] Current bytes to parse
* [ ] Current bytes to send

See [event counter](https://docs.microsoft.com/en-us/dotnet/core/diagnos

[2021-02-22 06:31] wanlwanl commented on #1219
Persistent transport reuse `Microsoft.Azure.SignalR` package, it uses `System.Text.Json` by default.
Plan to expose the configuration of JSON serialization in the future, then you can configure the System.Text.Json or Newtonsoft.Json.
For now, Management SDK doesn't support it. How about keep using Transient mode for now? I will update here when the JSON configuration is exposed.

[2021-02-22 07:15] arek-avanade commented on #1219
Yeah, for now we switched back to Transient mode. It'd be great to get JSON configuration exposed moving forward. Looking forward to it!

[2021-02-22 08:42] brechtvhb opened #1225 "Ack-able message Microsoft.Azure.SignalR.Protocol.JoinGroupWithAckMessage waiting for ack timed out."
### Describe the bug
when adding a user to a group I get this error:

[2021-02-22 08:37:04Z WRN] Failed to send message null.
System.TimeoutException: Ack-able message Microsoft.Azure.SignalR.Protocol.JoinGroupWithAckMessage waiting for ack timed out.
at Microsoft.Azure.SignalR.ServiceConnectionContainerBase.WriteAckableMessageAsync(ServiceMessage serviceMessage, CancellationToken cancellationToke

[2021-02-25 13:43] brechtvhb commented on #1206
I keep getting 403 exceptions about half of the time, even though the credentials match with the info in the azure portal.
It happens on the server and in the service that sends messages throug the management SDK.

Here's the server errror:
[25/02 13:27:51 - ERR]Failed to connect to '"(Primary)https://xxxx.service.signalr.net"', will retry after the back off period. Error detail: "The server retur

[2021-02-26 10:04] terencefan commented on #1218
Acknowledged, problem reproduced, and currently working on this.

[2021-03-01 16:33] alexeymarkov commented on #969
If you do not need the Upstream functionality there is a simple emulator project I created a year ago:
[https://github.com/alexeymarkov/AzureSignalRServiceSimulator](https://github.com/alexeymarkov/AzureSignalRServiceSimulator)

[2021-03-02 05:12] lovettchris opened #1233 "SendAsync not working on authenticated user"
### Describe the bug
I have ASP.NET web site with authenticated user and a html client.  The html client receives SignalR messages if I use this method:
[code]
but **not** if I use this method:
[code]

### To Reproduce

See https://github.com/clovett/AspNetStreamingLogs

Change the "AzureAd" in appsettings.json and setup user-secret for your SignalR service.

Then run it and click the "Ping" butto

[2021-03-02 07:01] standsed commented on #301
It seems that these APIs (like check if any connections in group, check connection exists) are still missing in Management SDK.
Are you still planning to add them?

[2021-03-05 06:18] Y-Sindo commented on #1233
Hi @lovettchris, we have already reproduced your scenario successfully. We are actively working on the fix and will keep you updated.

[2021-03-05 08:15] clovett commented on #1233
Cool, thanks!

[2021-03-05 10:23] Y-Sindo commented on #1233
We finally concluded that this is not a bug with Azure SignalR Service, but the default behavior of SignalR not compatible with Microsoft Identity Web App. From the perspective of SignalR, you have two solutions:

##### Solution 1
Change from `_hubContext.Clients.User(User.Identity.Name)` to `_hubContext.Clients.User(User.FindFirst(ClaimTypes.NameIdentifier).Value)`

##### Solution 2
Implement you

[2021-03-05 16:31] crackalak commented on #1151
I was suprised when this didn't work, can this be fixed please? 😃

[2021-03-05 18:07] clovett commented on #1233
Thanks so much, that works now!  Perhaps it should be added to some docs or samples someplace.

[2021-03-08 03:23] Y-Sindo commented on #1233
Here is a related doc:  [users-in-signalr](https://docs.microsoft.com/en-us/aspnet/core/signalr/groups?view=aspnetcore-5.0#users-in-signalr). It is a topic of [SignalR](https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-5.0), the underlying library of **Azure SignalR Service**. We will try to add a link to this doc in the Azure SignalR Service documents where appropr

[2021-03-08 18:06] clovett commented on #1233
Thanks I found my way to "[authentication and authorization](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-5.0)" since I figured it would be related to that, but alas that page says "_SignalR can be used with ASP.NET Core authentication to associate a user with each connection. In a hub, authentication data can be accessed from the HubConnectionContext.User p

[2021-03-08 18:09] BrennanConroy commented on #1233
The next sentence in that paragraph links to the `users-in-signalr` doc.

[2021-03-08 18:11] lovettchris commented on #1233
yep but I was already 3 pages deep in documentation, so I didn't explore deeper...  only so much one can read in a day... just a tiniest hint would have helped, "note: the userid is not User.Identity.Name" would have been enough.
________________________________
From: Brennan <notifications@github.com>
Sent: Monday, March 8, 2021 10:09 AM
To: Azure/azure-signalr <azure-signalr@noreply.github.com>

[2021-03-09 06:15] bjqian opened #1236 "/poll requests spike when switching from self-hosted SignalR to Azure SignalR [AspNet]"
### Describe the bug
Azure SignalR SDK  returns 200 for SignalR path requests[ reconnect, poll... requests with valid token].
It should fail because those requests should be handled by SignalR service.

### To Reproduce
1.	Use a **AspNet** SignalR Client to connect to a self-hosted SignalR server, setting the protocol to long-polling
2.	Stop the self-hosted SignalR server. Then the client would tr

[2021-03-09 06:16] bjqian commented on #1236
Fix PR:
https://github.com/Azure/azure-signalr/pull/1228

[2021-03-09 07:47] mnirck opened #1237 "Not able to specify client id of managed identity"
The set-up is as followed :

We have an AKS cluster and a Signal-R resource configured in our environment. We have several micro services within the AKS cluster that need to contact Azure Resources outside the AKS Cluster.
For authentication we use the aad-pod-identity for using managed identities in the Azure Active Directory. For each resource that we connect from the AKS Cluster to a Azure Reso

[2021-03-09 11:32] andrem0 opened #1238 "Can't track reason for "Error when processing messages.""
- .NET Framework 4.7.1
- jQuery-signalR-2.4.1
- Microsoft.Azure.SignalR.AspNet 1.7.1

I am getting this error every time I'm trying to send messages:
`Microsoft.Azure.SignalR Error: 0 : [Microsoft.Azure.SignalR.AspNet.ServiceConnection]Error when processing messages. Id: 0cb6304d-88de-42d2-a8ad-3ddee974b975`

The error occurs in Microsoft.Azure.SignalR.AspNet.ServiceConnection:
https://github.com/

[2021-03-10 02:37] JialinXin commented on #1151
If multiple places(configure of `Azure:SignalR:Enabled` and `AddAzureSignalR`) are working, it's leads to a problem of which one has higher priority. Customer may be confused that code of `AddAzureSignalR()` is called but not work as expected.

[2021-03-10 07:25] vicancy commented on #1151
@davidfowl, any thoughts?

[2021-03-10 08:52] vicancy commented on #1238
If it is locally repro-able, you can follow this tip to catch the exception thrown: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#troubleshooting-guide

[2021-03-10 11:37] andrem0 commented on #1238
Great, thanks for that tip. Not sure if it is an optimal way of doing debugging - I still think the underlying cause should be more available.

For me the problem was System.Threading.Channels.
Microsoft.Azure.SignalR.AspNet 1.7.1 depends on System.Threading.Channels 4.6.0. I am also using StackEchange Redis (2.1.58) which depends on System.Threading.Channels 4.7.1.

An assembly redirect solved my

[2021-03-10 14:57] topochan opened #1239 "Handshake happens when protocol is malformed"
### Describe the bug
We are using a custom implementation for Unreal4 of SignalR, we saw an issue when start the handshake protol **we sent "Json" with the J capital as the protocol**. and the Handshake was succeed, ping was working but no message was received from SignalR. We tried to debug and we only had user error metrics. I understand that the is not an official SDK from SignalR but we had no

[2021-03-10 17:04] BrennanConroy commented on #1239
If you got a successful handshake response that very likely means the protocol is supported.

It's very likely that you implemented something wrong after the handshake that's causing issues.

At least in the case without using Azure SignalR, "Json" or "json" works:
https://github.com/dotnet/aspnetcore/blob/c646e20f7597a3913b1103d6f426666f183a6602/src/SignalR/server/Core/src/Internal/DefaultHubProt

[2021-03-11 07:47] terencefan commented on #1237
Sorry for haven't supported the user assigned identity yet, we're working on it, and it will be released in the next version of our server SDK.

[2021-03-11 12:49] nicolasVaneberg commented on #1237
thanks @terencefan , I'm a collegue from @mnirck , any supposed timeline to support it? we have a client that would like to have this.

[2021-03-11 14:21] topochan commented on #1239
I will try to make a example to reproduce it with Azure SignalR

[2021-03-11 14:26] topochan commented on #1239
The only thing I changed was the handshake from "Json" to "json" (with tolower( ) in c++ ) and started to receive messages other than pings.

[2021-03-16 03:39] vicancy commented on #1239
Are you using SignalR or Azure SignalR?

[2021-03-16 18:47] mmulhearn opened #1252 "Full stack Application Insight tracking using serverless SignalR"
### Is your feature request related to a problem? Please describe.
We are using application insights from the client (web browser) up and through our middleware.  Out of the box, there doesn't seem to be a way to correlate dependency X from the client corresponds to request Y to the middleware when it goes through SignalR serverless.  Our setup is what is suggested in documentation (Azure Function

[2021-03-17 11:35] NoahStahl opened #1257 "Missing release tag for 1.8.0"
Nuget is showing a new package version of 1.8.0 but there is no associated tagged release with change notes in this repo. Please add so users can evaluate upgrading.

It would also be nice if a CHANGELOG file were added to consolidate change history for the same purpose.

[2021-03-18 02:23] vwxyzh commented on #1236
Fixed in 1.8

[2021-03-18 02:23] #1236 closed

[2021-03-18 07:32] vicancy commented on #1257
Thanks for pointing this out. https://github.com/Azure/azure-signalr/releases/tag/v1.8.0

[2021-03-18 07:32] #1257 closed

[2021-03-18 13:08] topochan commented on #1239
@vicancy The scenario is similar:
UE4 client -> SignalR -> Grid Event -> AzureFunction (where we send the message).

I tested with the same client using "Json" in the handshake and "json" and in the first one message was not received.
I also tested using SignalR Rest API to send messages to Connection and to user and neither of them worked.

The issue I imagined is like you described,  but sendToC

[2021-03-25 15:57] brechtvhb commented on #1225
Any progress on this? Still having this issue with version 1.8.0.

Let me know if you would need more info.

[2021-03-25 21:51] laszlozold commented on #745
I started seeing these errors right after I switched my solution from dotnet core 3.1 to .net 5. I also upgraded Microsoft.Azure.SignalR from 1.6.1 to 1.8.0. Turned out, when I downgrade the package version back to 1.6.1 it starts working again. I did not try any version between the two though. So my solution was to go with 1.6.1 as it works fine.

[2021-03-27 08:17] avialonn opened #1260 "Context.User.Identity.Name is null"
Hi there,
Ive just switched from server hosting signalr to azure managed  signalr service and for some reason I get null in the Context.User.Identity.Name. I do get the userId and all other props but not the name.
Im using .net 5 and angular based app.
Will appreciate any help on this.
Thanks
aa

[2021-03-28 17:14] alejandromario commented on #969
Hi, I'm having problems with the emulator and the output binding [SignalR(HubName = "...")] after updating the Microsoft.Azure.WebJobs.Extensions.SignalRService package to version 1.3.0 in my azure functions, has someone else had this same problem? Deployed in azure continues to work but locally I'm no longer receiving the messages in my client applications.

[2021-03-28 19:22] alexeymarkov commented on #969
No problems since I run my own emulator 😂

[2021-03-29 04:47] Y-Sindo commented on #1260
Can you try the solution here https://github.com/Azure/azure-signalr/issues/1233#issuecomment-791325949 ?

[2021-03-29 06:41] avialonn commented on #1260
Thanks for the reply!
But correct me if I'm wrong, this solution will set the name as the main identifier which can actually be conflicted with other users.
What Im trying to achieve is to keep things as default and still be able to fetch the user's name easily.
I added it into a designated claim but it feels just a (simple) hack.
Thanks

[2021-03-29 07:55] Y-Sindo commented on #1260
Configuring the `Context.User` is out of SignalR's scope. If you want to make `Context.User.Identity.Name` contain the user id , you may want to refer to this doc: [identity-options](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-5.0#identity-options) to check your `UserIdClaimType`.

[2021-04-06 14:28] higginsddh opened #1261 "Troubleshoot Dropped Connections"
I'm having SignalR clients frequently drop and hoping I could get some guidance on how to troubleshoot.

My application server is on ASP.NET Core v5 and hosted on an App Service.  I'm using Azure SignalR set to Default mode.

We've gotten reports from our users that real time updates are frequently breaking for them.

From our client side logging, we're seeing connections frequently close.  We're

[2021-04-06 16:20] BrennanConroy commented on #1261
Are your users using Chrome and putting the tab with the signalr connection in the background?

[2021-04-06 16:32] higginsddh commented on #1261
@BrennanConroy At least some of the users reporting it are using Chrome but not sure about all of them.  Also not sure if they've put the tab in the background but I could add logging to see if that's happening based on page visibility toggling.

Is it expected that the signalr connection is dropped when the tab is in the background?

Thanks for the suggestion!

[2021-04-06 16:34] BrennanConroy commented on #1261
Chrome recently added "timer throttling" which is causing the server to close clients after a few minutes if the chrome tab isn't active.

We're currently exploring fixes in the client library to workaround this.

[2021-04-06 16:40] higginsddh commented on #1261
That makes sense.  There may some changes I can do on my reconnection logic to workaround it as well.  Appreciate the info!

[2021-04-07 16:28] npalmiusfutr opened #1262 "SignalR Emulator adds \u001e character to messages sent to upstream endpoint"
### Describe the bug

The SignalR Emulator appears to be adding a `\u001e` character to the end of the body sent to the configured upstream endpoint. This causes issues with JSON parsing of the body data. Logging out incoming message bodies, they appear as follows, where the `{ ... }` is the expected body:

[code]

The extra character is included in the `Content-Length` header.

This was first rep

[2021-04-07 16:31] npalmiusfutr commented on #969
I am also noticing the issue that @mmulhearn describes above - I have raised #1262 for this.

[2021-04-12 06:54] swiftinitdotcom opened #1264 "Azure SignalR Service is not connected yet, error many times for blazer app"
Azure SignalR Service is not connected yet, error many times for blazer app

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- Your Azure SignalR SDK version
- Your Server ASPNETCORE version or Assembly version of `Microsoft.AspNetCore.SignalR`
- Your SignalR Client SDK version

[2021-04-14 02:42] vicancy commented on #1262
Should be fixed in https://github.com/Azure/azure-signalr/commit/ed87e3096a1ecbae3c419d7ef34af611a0c0d48c

[2021-04-14 02:49] vicancy commented on #1264
Is it a persistent error or a transient error?
`Azure SignalR Service is not connected yet` means the blazer app is not connected to the service, here contains detailed info and troubleshooting guidance for such error: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#500-error-when-negotiate-azure-signalr-service-is-not-connected-yet-please-try-again-later

[2021-04-14 03:41] swiftinitdotcom commented on #1264
Its for few days now, before it was working nicely, now I had to move to onpremise because of this... until this gets resolved

[2021-04-14 03:42] swiftinitdotcom commented on #1264
Strange thing is same published app works just fine on on premise and when I publish on azure this signal r error....

[2021-04-14 05:56] vicancy commented on #1264
Consistently repro? Any exceptions from the app server side? Can it be reproed from localhost?

[2021-04-14 05:57] swiftinitdotcom commented on #1264
yes it posts back and does not behave like blazer app in azure due to signarr error, works just fine on server iis

[2021-04-14 06:22] vicancy commented on #1264
If it can be repro-ed consistently from localhost, could you try this: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#troubleshooting-guide

[2021-04-14 07:27] npalmiusfutr commented on #1262
That's great, many thanks @vicancy! I will test this later on today and get back to you.

[2021-04-14 18:43] hasandogu commented on #1151
Are there any updates on this issue? We would love to be able to disable SignalR through Azure:SignalR:Enabled. Should we just remove the call to AddAzureSignalR()?

[2021-04-15 02:17] JialinXin commented on #1151
@hasandogu Yes, remove the call to `AddAzureSignalR()` will work.

If you're working on netcoreapp3.0+, you're able to switch between local SignalR and Azure SignalR by the simple configuration `Azure:SignalR:Enabled`. This is the usage for this configuration. See steps below.

Code in `startup.cs`
1. ConfigureService like:
[code]
2. Configure like
[code]
3. Add Azure SignalR assembly startup in l

[2021-04-15 13:11] npalmiusfutr commented on #1262
Apologies for the delay in gettting back to you @vicancy - all working perfectly now, thank you again for getting this fixed so quickly.

More generally, I also want to say just how useful this emulator is to have, so thank you for all your work on it!

[2021-04-15 13:11] #1262 closed

[2021-04-19 16:02] andrew-tevent opened #1265 "App Service Graceful Shutdown / Migrate Connections help"
Framework: .net5.0
Microsoft.Azure.SignalR: v1.8.0

I have an Azure App Service which I am using as the "Hub Server" in "Default Mode" and I deploy to a staging slot on the service to then swap in the new version.

I have found the documentation on [Graceful Shutdown](https://docs.microsoft.com/en-us/azure/azure-signalr/server-graceful-shutdown) and also read the settings documentation around [Gra

[2021-04-20 02:10] terencefan commented on #1265
I'll see if it works well, sorry for any inconvenience.

[2021-04-20 07:52] andrew-tevent commented on #1265
I should have mentioned that I added the checks for the migration feature into the Hub OnConnectedAsync/DisconnectedAsync:

[code]

But nothing gets logged.

[2021-04-23 22:45] KKhurin opened #1266 "Add REST API for closing all connections for user/hub/group"
### Add REST API for closing all currently open connections for user/hub/group
Azure SignalR service already provides REST API [for closing one connection based on its ConnectionID](https://github.com/Azure/azure-signalr/blob/dev/docs/swagger/v1.md#delete-close-the-client-connection). However this is not very convenient in some cases as it requires users to keep track of all connection IDs and the

[2021-04-27 01:15] MikhailVasiliev commented on #874
in my case, the problem was incorrect/expired access_token here

[code]

[2021-04-27 09:20] zackliu commented on #1096
@mmulhearn @shankarmohannamakkal We've already worked on it and overcome some critical issues. I can't give the ETA of auto-scaling but we can provide a smoother (no connection drops) scaling experience first.

[2021-04-27 14:54] mmulhearn commented on #1096
@zackliu when is that expected to release?

[2021-04-28 04:03] zackliu commented on #1096
If you want to try the new scaling experience, please create new resources in EastUS or WestUS2 and have a try. It's still in preview in limited regions and haven't been announced.
In the new scaling experience, the scaling is very fast even from unit 1 -> 100. Connections won't drop immediately during scaling. We can guarantee that we won't drop connections when you're in high server load. So if

[2021-04-28 07:41] bjqian opened #1271 "[RCA]Azure SignalR breaking change introduced in release(2021.4.26) [Recovered]"
# RCA
### Describe the issue
The latest release introduced a breaking change. For customers who use **serverless mode** and call restapi  to **add user to group**   would get a different response. The response status code is changed to **200** from **202**. If customer tries to add a user that doesn't exist to a group, the response body will contain an error message "'User id not found".
### Impac

[2021-04-28 08:34] shankarmohannamakkal commented on #1096
@zackliu Tried creating a new SignalR resource in EastUS. Is there an option for switch on the auto-scaling or by default this auto-scale will work?

[2021-04-28 11:28] drfbwilliams opened #1272 "Error on Negotiate with token"
Hi - I am trying to implement a function with negotiate, passing in a token.

I have tried 80 ways and consistently get the following error:

`System.Private.CoreLib: Exception while executing function: negotiate. Microsoft.Azure.SignalR.Management: Method not found: 'System.ValueTuple`4<System.String,System.String,System.String,System.Nullable`1<Int32>> Microsoft.Azure.SignalR.ConnectionStringPar

[2021-04-28 14:02] drfbwilliams commented on #1272
Looking through the dependencies, i didnt see Microsoft.Azure.SignalR.Management referenced by any signalR libraries - added that and now through this error. This probably needs to be added to a nuget package somewhere

[2021-04-28 14:02] #1272 closed

[2021-04-28 14:28] zackliu commented on #1096
@shankarmohannamakkal No, there's no auto scaling now. What we have currently is a new scaling experience, which is smoother and faster. The auto scaling must base on a smoother scaling experience. Thus, we're testing the new scaling experience and add auto scaling feature once it's mature.

[2021-04-29 05:53] drfbwilliams opened #1273 "System.IO.InvalidDataException"
Scenario:

I have a working implementation of broadcast to all clients. I am trying to send a message to a specific authenticated client

The exact error is:

`System.IO.InvalidDataException
  HResult=0x80131501
  Message=Invocation provides 1 argument(s) but target expects 0.
  Source=Microsoft.AspNetCore.SignalR.Protocols.Json
  StackTrace:
   at Microsoft.AspNetCore.SignalR.Protocol.JsonHubProt

[2021-04-29 17:53] drfbwilliams commented on #1273
So - firstly, my target value was incorrectly set in the message. The error still appears but only if I have strict data break points on the error type, otherwise it manages to execute past it and indeed sends the message correctly to the authenticated subscribed userId.

[2021-04-29 17:53] #1273 closed

[2021-05-03 16:23] mpalese opened #1275 "System.MissingMethodException : Method not found: 'Microsoft.Azure.SignalR.Management.IInternalServiceHubContext Microsoft.Azure.SignalR.Management.IInternalServiceHubContext.WithEndpoints(System.Collections.Generic.IEnumerable`1<Microsoft.Azure.SignalR.ServiceEndpoint>)'.at async"
When i call in the Azure function
await signalRMessages.AddAsync(
                    new SignalRMessage()
                    {
                        Target = "Broadcast",
                        Arguments = new[] { msg }
                    });
i receive System.MissingMethodException : Method not found: 'Microsoft.Azure.SignalR.Management.IInternalServiceHubContext Microsoft.Azure.SignalR.Mana

[2021-05-04 14:11] lampersky commented on #1193
I'm closing this issue.

Orchard core doesn't support **IHostedService**, that's why **HeartBeat** service is registered but not started, and this is why we can observe missing keep alive message.

https://github.com/OrchardCMS/OrchardCore/issues/8409#issuecomment-831963537

[2021-05-04 14:11] #1193 closed

[2021-05-06 07:18] brechtvhb commented on #745
@laszlozold Oh my god! The issue is indeed fixed by reverting to 1.6.1.

@JialinXin Is this a known issue at microsoft and is there being worked on a fix?
I reported the issue nearly 3 months ago as a seperate bug but nothing happens with it:
https://github.com/Azure/azure-signalr/issues/1225

Some communication about this issue would be really welcome.

[2021-05-07 03:48] zackliu commented on #745
@brechtvhb @laszlozold Is there any special usage when you're meeting the exception? I mean does the `Groups.AddToGroupAsync` in a `OnConnectedAsync` or just in normal method? Are there any other methods like send to group or broadcast together with join group operations? What's the frequency you're meeting the timeout exception? After you downgrade to 1.6.1, the exception is totally disappeared o

[2021-05-07 06:03] brechtvhb commented on #745
@zackliu

I am calling the AddToGroupAsync from the OnConnectedAsync method, other than that I don't do anything related to signalR in that method. I tried with and without cancellation token but I do receive the error on both cases.
I do an (async) database call to fetch a user object from the database right before calling the AddToGroupAsync method.

Most users are part of multiple (on average 6

[2021-05-07 06:32] zackliu commented on #745
The frequency is unbelievable high. A simple test code is great for us to investigate. I tried in a relative high load but didn't reproduce.

[code]

[2021-05-07 10:22] brechtvhb commented on #745
Here's an isolated test case that causes the error on 1.6.1 and not on 1.8.1

[code]

Error:
[code]

Base docker image is mcr.microsoft.com/dotnet/aspnet:5.0-alpine3.12.
Running on AKS in EU-West

[2021-05-07 20:34] marzoukali commented on #1122
I have the same issue

[code]

[2021-05-10 04:37] zackliu commented on #745
@brechtvhb It's very weird that I can't reproduce the exception in neither 1.8.1 nor 1.6.1. I checked some code changes in SDK between 1.6.1 and 1.8.1, could you have a test in both 1.7.0 and 1.7.1 and verify whether they will throw exceptions. Also, please give provide the ResourceId and the time you met exceptions so that we can check more logs in service side and find out what was happening.

[2021-05-10 08:33] Y-Sindo commented on #1275
We're sorry that "Microsoft.Azure.WebJobs.Extensions.SignalRService" 1.3.0 are not compatible with "Microsoft.Azure.SignalR.Management" 1.8.1. A workaround is downgrade "Microsoft.Azure.SignalR.Management" to 1.8.0.  We will release a new function extension version to fix this problem.

[2021-05-12 08:25] Y-Sindo commented on #1275
`Microsoft.Azure.WebJobs.Extensions.SignalRService` v1.4.0 has been released and could be used with "Microsoft.Azure.SignalR.Management" v1.8.1.

[2021-05-15 12:03] urbanantics opened #1278 "Azure Signalr Service running on ASP.NET Core within a container fails to connect with 401"
### Describe the bug
Azure Signalr Service running on ASP.NET Core within a container fails to connect with 401

### To Reproduce

Sample code and instructions to reproduce: https://github.com/urbanantics/signalr-container-issue

The code in this repo was created based on the Microsoft Azure Signalr quickstart https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-dotnet-core

Ens

[2021-05-15 19:44] umar-ulabs opened #1279 "Service timeout. {ServiceTimeout:0.00}ms elapsed without receiving a message from service"
Once every day, we will get the following errors and then application hangs and there is no way to recover except to restart the app  service:

**Packages**
-Asp.Net Core 3.1
- Microsoft.Azure.SignalR (1.8.1)

**Errors**
- Service timeout. {ServiceTimeout:0.00}ms elapsed without receiving a message from service.

- while sending message to the service, the connection carrying the traffic is droppe

[2021-05-16 20:53] urbanantics commented on #1278
It seems like this error was related to some kind of local machine issue.

After a system restart, I am no longer seeing the error and am able to connect.

Closing ticket, thanks

[2021-05-16 20:53] #1278 closed

[2021-05-17 02:14] vicancy commented on #1279
How about the app server side CPU usage and Memory Usage?

[2021-05-17 06:08] umar-ulabs commented on #1279
The CPU has been below 18% and Memory Usage has been stable at 450 MB.

[2021-05-17 08:34] vicancy commented on #1279
Server connections are expected to be automatically recovered.

Does the old version contain the same issue or does this issue happen only with the latest version? What are the logs between "Service timeout" and "Microsoft.Azure.SignalR.Common.ServiceConnectionNotActiveException: "? There should be messages when the server connection is trying to reconnect.

[2021-05-17 08:44] umar-ulabs commented on #1279
Sure, will send you dump files, thanks

[2021-05-17 08:49] vicancy commented on #1279
Thanks for the support! Also could you share with me more details about:
1. Does the old version contain the same issue or does this issue happen only with the latest version?
2. What are the logs between "Service timeout" and "Microsoft.Azure.SignalR.Common.ServiceConnectionNotActiveException: "?

[2021-05-17 09:38] #1173 closed

[2021-05-17 18:56] umar-ulabs commented on #1279
1. There was not any older version used. It is a new application.
2.  Application task failed.","Exception":"Microsoft.Azure.SignalR.Common.AzureSignalRException: Cancelled running application task, probably caused by time out.\r\n   at Microsoft.Azure.SignalR.ServiceConnection.ProcessIncomingMessageAsync(ClientConnectionContext connection)

[2021-05-17 19:32] brechtvhb commented on #745
@zackliu Tomorrow I have time to test with 1.7.0 and 1.7.1. Will send you the resource ID after that so I can provide you with a timeframe of where we had failures.

[2021-05-17 23:31] umar-ulabs commented on #1279
Sent dump files over the email. Thank you

[2021-05-17 23:41] umar-ulabs commented on #1279
While debugging CPU dump file in VS. There are some "Blocked" threads, not sure what it means.
![Capture](https://user-images.githubusercontent.com/29075597/118569424-ec4d9300-b747-11eb-9f1d-aad5ad148e3d.PNG)

[2021-05-19 09:48] gyanex commented on #909
Microsoft.Azure.SignalR.Common.AzureSignalRNotConnectedException: Azure SignalR Service is not connected yet, please try again later.
   at Microsoft.Azure.SignalR.ServiceConnectionManager`1.WriteAsync(ServiceMessage serviceMessage)
   at Microsoft.Azure.SignalR.ServiceLifetimeManagerBase`1.<>c__DisplayClass22_0`1.<WriteAsync>b__0(T m)
   at Microsoft.Azure.SignalR.ServiceLifetimeManagerBase`1.Wri

[2021-05-19 14:30] brechtvhb commented on #745
Hi. I don't seem to have the issue in 1.7.0. I do have the issue starting from 1.7.1.
I sent you the resource ID by e-mail.

[2021-05-19 19:51] bizmonger opened #1281 "Azure SignalR InvokeAsync hangs when attempting to establish Group connection"
Calling InvokeAsync on a connection hangs.

I'm referencing the following [document][1] to configure a group connection in Azure SignalR.

**Client:**

    var negotiateJson = await _client.GetStringAsync($"{host}{"negotiatefn"}");
    var negotiate     = JsonConvert.DeserializeObject<NegotiateInfo>(negotiateJson);

    var connection = new HubConnectionBuilder()
        .AddNewtonsoftJsonProtocol

[2021-05-20 07:10] #1271 closed

[2021-05-20 07:21] zackliu commented on #1281
Your function is not correct to handle message. You need to add a function with `SignalRTrigger` to handle `connection.InvokeAsync("JoinGroup", sessionId)`
Please refer document https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-trigger?tabs=csharp and sample https://github.com/aspnet/AzureSignalR-samples/tree/main/samples/BidirectionChat

[2021-05-21 13:58] elias-rod opened #1282 "Many errors while starting connections concurrently"
**DESCRIPTION**
We know about Crankier but we created a custom tool to test our platform with SignalR on loads that we expect to have. When we try to start the connections for 2.4k clients there are at least two kinds of exceptions for 30% of the requests and we need to connect up to 4k clients. We configured the service with 5 units and our tool is a NET 5 worker that we intend to run in containe

[2021-05-24 06:11] vicancy commented on #1282
1. The server disconnected before sending a handshake response
    This one looks like your app server-side failed to return back the handshake response. Could you check your app server side CPU usage during that time?

2. System. Net.Http.HttpRequestException: Response status code does not indicate success: 429 (Too Many Requests) .
    What is the request per second for the client to start the c

[2021-05-24 06:20] vwxyzh commented on #1281
and please set the upstream correctly.

[2021-05-24 20:25] bizmonger commented on #1281
You mean do this?
`connection.InvokeAsync("JoinGroupFn", sessionId)`

[2021-05-25 18:51] ModernRonin opened #1284 "[Question] How to specify MessagePack settings using the management API"
When using the management API - like
[code]
how can I tell it which MessagePack settings to use?

I understand that it automatically activates the MessagePack protocol, but I require specific configuration for MessagePack, how can I do that?

Thanks,
MR

[2021-05-26 08:14] wanlwanl commented on #1284
In Persistent mode, we use [ServiceProtocol](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.Protocols/ServiceProtocol.cs) to let server communicate with service.
In Transient mode, actually we send http request to call REST API.
Messagepack is already supported.
I guess what you need to configure is on your client: https://docs.microsoft.com/en-us/aspnet/core/signalr/m

[2021-05-26 10:12] ModernRonin commented on #1284
Hi & thanks @wanlwanl ,

so, just to make sure I understand you correctly:

if I setup the `serviceManager` with
[code]
and then use it like this
[code]

and on the client I add my messagepack settings into the `.AddMessagePackProtocol()` call, then it should just work?

[code]

[2021-05-26 15:37] elias-rod commented on #1282
Thanks for your answer! Regarding the 429 (Too Many Requests) error, we didn't find any documentation about that limitation and the [closest one](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-performance) didn't mention that. Where can we find more information about that 400 concurrent start connection request limitation?

About the handshake error, we are getting the URL an

[2021-05-27 05:29] vicancy commented on #1282
Here is a doc mentioning that behavior but yes we need to improve the doc to include the algorithm detail. https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#too-many-negotiate-requests-at-the-same-time

Actually, when your app server starts, it starts several server connections to the service. When the client connects to Azure SignalR and sends out the handshake

[2021-05-27 09:10] wanlwanl commented on #1284
I see, you not only need to add `AddMessagePackProtocol`, but also have custom options on it. We don't support it in Management SDK.

[2021-05-27 10:35] ModernRonin commented on #1284
Is this something with any likelihood to change in the near future (let's define near as within the next 1-2months) or not?

[2021-05-27 10:41] ModernRonin commented on #1284
alternatively, if, without doing any special configuration, with the default setup, I send a `byte[]`, will this be sent over the wire in binary format (so the serialized size equals the length of the array) or will it be serialized to JSON (so the size would be many times the length of the array)?

[2021-05-27 11:21] wanlwanl commented on #1284
No, we don't have a plan to change, since we also have a feature of upstream, when client send mesaage with special hub protocol, the signalr service cannot understand the special protocol. And we have no plan to support uploading it for now.

Thanks,
Wanpeng Li

________________________________
From: ModernRonin ***@***.***>
Sent: Thursday, May 27, 2021 6:35:15 PM
To: Azure/azure-signalr ***@***.

[2021-05-27 11:27] wanlwanl commented on #1284
Signalr service will only count outbound message (message that is go out of signalr service) for the protocol of client. So you can add message pack protocol to your client to avoid increasing billing (serialized to JSON for your client).
________________________________
From: ModernRonin ***@***.***>
Sent: Thursday, May 27, 2021 6:42:13 PM
To: Azure/azure-signalr ***@***.***>
Cc: Wanpeng Li ***@*

[2021-05-27 11:35] wanlwanl commented on #1284
In default config, the management sdk calls rest api, which will serialize to json, but it will not impact the billing since it is inboind message.
But it can be slower. Suggest to use Persistent mode in WithOptions(...), it will create a websocket to signalr service to.communicate later, and use messagepack protocol inside, it is faster than the default one (transient mode) https://github.com/Azu

[2021-05-27 12:20] ModernRonin commented on #1284
thank you, Wanpeng Li, I will look into that!

[2021-05-27 15:46] zwymer commented on #933
Please implement this functionality. It is horrible that we cannot use something so basic.

[2021-05-28 13:26] hmrc87 opened #1285 "netcore 3.1 & SignalR 1.8.1 -> Microsoft.AspNetCore.App', version '3.1.0' was not found."
Hi,
I have an application which build on top of  the "mcr.microsoft.com/dotnet/core/aspnet:3.1-focal " Docker Image

In my dotnetcore 3.1 Project I then target Microsoft.Azure.SignalR in version 1.8.1.

However whenever I start debugging with docker-compose I get this error

`-------------------------------------------------------------------
You may only use the Microsoft .NET Core Debugger (vsdb

[2021-05-28 16:30] elias-rod commented on #1282
Thanks! That troubleshooting guide is excellent, we will investigate our API behavior more thoroughly although we haven't seen peaks in that period in a shallow inspection.
Regarding the limitation, do the other tiers have different concurrent start-connection limitations? If so, would you please share them with us? This is because we are planning to scale the service even further.

[2021-05-28 18:16] kzu commented on #1122
Same issue here, against production SignalR service, tried both approaches (class and trigger), as explained in https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-trigger?tabs=csharp#with-class-based-model

[2021-05-31 02:33] zackliu commented on #1122
@stemixreal If you're using class-based model. You need to use non-static method. And the method name should be **OnConnected** rather than FunctionName. Please refer to https://github.com/aspnet/AzureSignalR-samples/blob/9c16f7cc98ef38b8433251b2466ecd5bd0746418/samples/BidirectionChat/csharp/Function.cs#L37

[2021-05-31 02:49] zackliu commented on #1122
OnConnected is not easy for troubleshooting. Please set a method like broadcast in Azure Function and **invoke** it from client. You should get an error from browser console. The status code you get comes from the invoke between service and your function. And I suggest you enabling Diagnostic Log in the service. You can see the reason why the invoke is failed.

[2021-05-31 07:43] #1285 closed

[2021-05-31 07:44] hmrc87 commented on #1285
I was using SignalR Reference in a Project that does not build on top of the web-sdk

[2021-05-31 22:44] umar-ulabs commented on #1279
I have noticed, when our app restarts and azure signalr connection is dropped, until azure signalr is reconnected, the application is in hang state.  Can the follow cause the app hang in the startup or during the normal request/response times if connection is not established with azure service?
`  app.UseAzureSignalR(routes =>
            {
                routes.MapHub<AgentHub>("/AgentHub");

[2021-05-31 22:50] umar-ulabs commented on #1279
After Application has started => "Timestamp":"2021-05-31T22:31:43.7944090+00:00","Level":"Information","MessageTemplate":"### Application has started."}
{"Timestamp":"2021-05-31T22:32:55.6969746+00:00","Level":"Error","MessageTemplate":"Error receiving handshake response. Id: {ServiceConnectionId}","Exception":"System.InvalidOperationException: Service disconnected before sending a handshake respo

[2021-06-01 02:29] vicancy commented on #1279
@umar-ulabs By ` the application is in hang state`, do you mean the application is not able to handle any other web requests, or do you mean the application is not able to handle SignalR requests? Could you describe more about the "hang" symptom?

[2021-06-01 02:30] #1261 closed

[2021-06-01 02:31] vicancy commented on #1261
Please feel free to reopen it if you still have any concerns about it.

[2021-06-01 02:31] vicancy commented on #1233
Please feel free to reopen it if you still have any concerns about it.

[2021-06-01 02:33] vicancy commented on #1099
Please feel free to reopen it if you still have any concerns about it.

[2021-06-01 02:34] vicancy commented on #1002
Please feel free to reopen it if you still have any concerns about it.

[2021-06-01 02:34] #1002 closed

[2021-06-01 02:34] vicancy commented on #982
Please feel free to reopen it if you still have any concerns about it.

[2021-06-01 02:34] #982 closed

[2021-06-01 02:34] vicancy commented on #972
Please feel free to reopen it if you still have any concerns about it.

[2021-06-01 02:34] #972 closed

[2021-06-01 02:38] vicancy commented on #1032
Sorry for the late response, looks like this issue is completed missed. Is this still an issue for you?

[2021-06-01 02:39] vicancy commented on #968
Please feel free to reopen it if you still have concerns about the issue.

[2021-06-01 02:39] #968 closed

[2021-06-01 02:39] #965 closed

[2021-06-01 02:41] vicancy commented on #958
Here are the possible 404 reasons: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#404-returned-for-client-requests

[2021-06-01 02:41] #958 closed

[2021-06-01 02:42] #627 closed

[2021-06-01 02:42] vicancy commented on #627
Should be resolved.

[2021-06-01 02:44] vicancy commented on #710
Here explains the cases when server connections can drop and reconnect: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#server-connection-drops

[2021-06-01 02:44] #710 closed

[2021-06-01 03:24] vicancy commented on #1178
Do you mean the data structure for payload parameter https://github.com/Azure/azure-signalr/blob/dev/docs/swagger/v1.json#L939? Actually, payload parameter can be in any type, what error message did you see with different payload parameters?

[2021-06-01 05:03] umar-ulabs commented on #1279
That's correct. The applications starts and does alot of initialization it needs to do before hostbuilder.run(starting the app) is called. Then it seems until the azure service is not connected back to the app, the app doesn't handle any requests. It just hangs all http requests. I am wondering if azure signalr setup needs to be in a specific spot in the startup.cs to avoid hang (it would connect

[2021-06-01 05:41] umar-ulabs commented on #1279
I just tested a scenario. If the application is down for maintenance or restarted, if the shut down and start happens within a minute, then the application does not hang and there is no connection drop between app and azure signalr and all works fine quickly and no error logs(as above). If the restart takes lets say 2 or 5 minutes and when app starts, the azure signalr service has timeout i guess

[2021-06-01 07:02] vicancy commented on #1279
@umar-ulabs I don't think Azure SignalR connections would block the rest of your app server. All the server connections are established in the background, SignalR-negotiate requests would fail when none of the server connections is established, but no requests would get blocked.

Could you share a little bit more of your repro steps?

[2021-06-01 07:02] vicancy commented on #617
It is thread-safe.

[2021-06-01 07:02] #617 closed

[2021-06-01 08:20] vwxyzh commented on #1282
@elias-rod
| unit size | connections per second* | time for connecting all connections |
|:--:|:--:|:--:|
| Free | 20 | 1 second |
| 1 ~ 10 | 400 | 2.5 seconds ~ 25 seconds |
| 20 | 600 | 33.3 seconds |
| 50 | 2000 | 25 seconds |
| 100 | 8000 | 25 seconds |

\* we might scale the instance automatically, sometime the limitation will exceed this value.

[2021-06-01 10:58] tvsmk commented on #1032
Hi @vicancy,

That's okay, this was a while ago now so I can't remember too much about the process. It seems that I stopped using a static hub context as that was preventing the clients from receiving broadcasted messages. In my now working code, it passes in the context to the method that calls `context.Clients.All.someMethod(...)`.

I also no longer use JavaScript to invoke the `TestInvoke` meth

[2021-06-01 13:52] elias-rod commented on #1282
Awesome, with these numbers you provided we can properly configure the service for our next events, thanks!

[2021-06-01 13:52] #1282 closed

[2021-06-01 17:26] umar-ulabs commented on #1279
Following is the Startup.cs
			//ConfigureServices in Startup.cs
					services.AddSingleton(Configuration);
					services.AddHttpClient();
					services.AddAutoMapper(typeof(Startup));
					  services.AddJwtConfiguration();
					services.AddControllersWithViews(options =>
					{
						options.Filters.Add<GlobalExceptionFilter>();
						options.Filters.Add(new ValidationFilter());
						options.Con

[2021-06-01 17:27] #1233 closed

[2021-06-02 02:48] vicancy commented on #1279
No the azure signalr SDK should not hang any requests.
To confirm that:
- One way is to remove the `UseAzureSignalR` part of the app server to see if requests are still hung when app server restarts.
- Another way is to get a dump when the requests are hung, we can see if the request call stack is azure signalr related or not

[2021-06-02 02:49] vicancy commented on #1032
Thanks for the details. Please feel free to reopen the issue if you meet that again.

[2021-06-02 02:49] #1032 closed

[2021-06-02 02:59] vwxyzh commented on #1099
BTW, you can also use msi, if your hub server is running in azure app service.
Followings are the samples of connection string with msi:
* System assigned:   `Endpoint=<your endpoint>;AuthType=aad;Version=1.0`
* User assigned:  `Endpoint=<your endpoint>;AuthType=aad;ClientId=<your client id>;Version=1.0`

[2021-06-02 03:27] #1099 closed

[2021-06-02 04:37] umar-ulabs commented on #1279
I tried by removing signalr part from the app, and there was no delay. It was super fast to respond and stabilized quickly.
Then I tried putting back the signalr and at the following exceptions the app again in hang state. As soon as the azure signalr is back "back online" and clients start connecting, all is fine. The CPU goes crazy too upto 100% during the errors.

{"Timestamp":"2021-06-02T04:25

[2021-06-02 05:49] umar-ulabs commented on #1279
The Azure Signalr service side-  Availability And Performance
![gapture](https://user-images.githubusercontent.com/29075597/120430182-9a5e5d00-c344-11eb-8df5-6274349c473e.PNG)

[2021-06-02 06:31] vicancy commented on #1279
How many server connections for one app server? I see ~300 connections in the metrics.

[2021-06-02 06:34] vicancy commented on #1279
Could you share the dump when the hung happens?

[2021-06-03 07:00] gjdonkers commented on #745
@zackliu I'm having the same issue. In 1.8.1. I'm seeing the same issue as @brechtvhb but when downgrading to 1.6.1 the error is gone. If you need more details please let me know.

[2021-06-04 08:26] KKhurin commented on #745
This (and #1225) seems to be not reproducible in every environment.
@gjdonkers, @brechtvhb, would you be willing to run an instrumented private (with more logs and cross checks) and share the logs once you repro it?

[2021-06-04 09:39] gjdonkers commented on #745
@KKhurin I am willing to do that. At what e-mailadres can I contact you the best?

[2021-06-05 07:02] KKhurin commented on #745
Thank you for offering help with figuring this out. You can contact me at <my github alias>@microsoft.com

[2021-06-07 06:55] #933 closed

[2021-06-07 11:19] aelij opened #1288 "Migrate from AppAuthentication to Azure.Identity"
The `AppAuthentication` library has been superseded by `Azure.Identity` (see [notice](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-to-service-authentication)), which provides a much wider range of auth provides.

I think the `ServiceEndpoint` class should just expose a `TokenCredential` property instead of relying on connection string parsing. It also provides better discover

[2021-06-07 19:06] PTC-JoshuaMatthews commented on #249
@vicancy I believe I am running into this issue with my .net framework application. Do you have any suggestion for how to filter claims in .net framework signalr?

[2021-06-08 03:01] vicancy commented on #249
@PTC-JoshuaMatthews try this:
[code]
https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#solution

[2021-06-08 03:35] terencefan commented on #1288
We'll consider adding a constructor for `TokenCredential` in the future release.

Thank you for mentioning us.

[2021-06-08 03:35] #1288 closed

[2021-06-08 14:02] aosyatnik opened #1297 "SignalR serverless mode Ping timeout"
### Describe the bug
I think we have some similar issues as https://github.com/Azure/azure-signalr/issues/1279 and https://github.com/Azure/azure-signalr/issues/710.

We have signalR Standard tier with 1 unit:
![image](https://user-images.githubusercontent.com/8158404/121194348-f5c1ab00-c86e-11eb-884c-40d32d19fed1.png)

We are sending quite a big amount of messages, e.g. 85k per day:
![image](http

[2021-06-08 15:57] aosyatnik commented on #1297
Ah, got it again and made a screenshot:
![image](https://user-images.githubusercontent.com/8158404/121218414-011ed180-c883-11eb-9bd8-f7c929908498.png)

Looks like it happened now on reconnect call.

[2021-06-09 04:52] vicancy commented on #1297
Could you share a typical client HAR file for like 5 minutes? Not necessarily when the issue takes place, (HAR when the issue takes place would be nice but not necessary), would like to understand the client logic through the network trace. https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-method#how-to-view-the-traffic-and-narrow-down-the-issue

Also could you send m

[2021-06-09 07:54] aosyatnik commented on #1297
Sent dump files over the email. Thank you

[2021-06-10 02:55] vicancy commented on #1297
The HAR shows the client fails to send out ping messages on time when it is busy handling the incoming messages.

[2021-06-11 19:30] brechtvhb commented on #745
I am available for help.
Already had contact @zackliu about this too.

[2021-06-14 03:23] #1275 closed

[2021-06-14 16:21] BrennanConroy opened #1302 "Azure App service sticky session"
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @Zquiz.

---

_From @Zquiz on Thursday, June 10, 2021 6:53:05 PM_

Hello,
I hope someone can help or just tell me that's how it works. But we have moved our Blazor Serverside project from an on-premise hosted environment to using Azure App service.

If we try and use these settings

Autoscale when the memory hit x % usage (works)

[2021-06-14 16:21] BrennanConroy commented on #1302
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @BrennanConroy.

---

_From @BrennanConroy on Thursday, June 10, 2021 8:02:23 PM_

What is a browser fan? What version of Blazor are you using?
Are you saying that if you enable ARR affinity cookies the issue doesn't happen after 10-15 minutes?

[2021-06-14 16:21] BrennanConroy commented on #1302
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @Zquiz.

---

_From @Zquiz on Thursday, June 10, 2021 8:09:11 PM_

It happens in all browsers that the users have available. So that's Chrome, Edge, Firefox all fully updated.
We're using the .NET 5 version of Blazor and all package is updated

Edit.
Yes with ARR affinity cookie enabled the user will only disconnect if I restart

[2021-06-14 16:21] BrennanConroy commented on #1302
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @BrennanConroy.

---

_From @BrennanConroy on Thursday, June 10, 2021 8:19:43 PM_

Can you gather client side logs to see why the client disconnected

[2021-06-14 16:21] BrennanConroy commented on #1302
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @Zquiz.

---

_From @Zquiz on Friday, June 11, 2021 11:31:09 AM_

Yeah sure.
Just the from SignalR or everything happen up to when the user disconnect?

[2021-06-14 16:21] BrennanConroy commented on #1302
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @BrennanConroy.

---

_From @BrennanConroy on Friday, June 11, 2021 5:05:25 PM_

Ideally SignalR only, but we can probably parse out the other logs if it's not too bad. Also, debug or trace logs please.

[2021-06-14 16:21] BrennanConroy commented on #1302
---
**Issue moved from dotnet/aspnetcore#33440**
- Please respond to @Zquiz.

---

_From @Zquiz on Monday, June 14, 2021 3:25:10 PM_

Sorry for the late delay.
not that easy to collect a live log while in the middle of moving from on premise to Azure and learn how to dump logs and so on.
Had to use the Live trace tool in Azure SignalR Service
![SignalRTrace002](https://user-images.githubuserconten

[2021-06-15 05:52] JialinXin commented on #1302
@Zquiz when you're using Azure SignalR service, App Service side "ARR affinity" and "Web Socket" settings are not required.

And if you're enabling auto-scale, when server is scale-down, related clients will be affected and disconnected. So it's likely to be an expected behavior. Please check if these things were happening together when you found the issues.

[2021-06-15 07:12] terencefan commented on #1237
It has already been supported.

Simply add this property in our connection string and it will work.

Endpoint=https://sr-tst-nmtm-01.service.signalr.net;AuthType=aad;**clientId=******;tenantId=******

[2021-06-15 07:12] #1237 closed

[2021-06-15 12:25] Zquiz commented on #1302
Thanks for the reply.
Thanks for the clarification. Both in production and on our test environment is it happening after the auto scale has happened.
Even if I have set the scale out to 2 manual in test and wait 15 min afterward is it happening

[2021-06-16 04:42] Zquiz commented on #1302
Silly question. Can this behavior be because of the healthcheck in the app service?

[2021-06-16 05:32] JialinXin commented on #1302
It's not related to app service health check.

Client disconnect is by design if related server connection is dropped, like due to auto-scale or some server side connectivity issue. Basically with client auto [reconnect](https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-5.0&tabs=visual-studio#automatically-reconnect) logic enabled, the impact in client would be min

[2021-06-16 05:58] Zquiz commented on #1302
Okay. However this bahavior happens when no auto scaling is happening, but when the instans is higher than 1.
So I set this up for a test on our test app service to test if it was due to out scale down. But it wasn't

Setup
![image](https://user-images.githubusercontent.com/25593927/122164869-ad5e4a80-ce77-11eb-995c-caa56eff4ee2.png)
Waited 30 mins to make sure both instance was on and double chec

[2021-06-16 06:08] JialinXin commented on #1302
The settings are for local hosted SignalR. When using Azure SignalR service, clients are connect to Azure SignalR service directly, so the ARR/Web sockets settings is not in use.

Would you share me your resourceId to let me(jixin[at]microsoft.com) have a further check?

[2021-06-16 09:52] Degusto opened #1306 "Resource based authorization in SignalR"
I have web API with custom policies and authorization handlers.
I wanted to reuse authorization handlers but HttpContext is null when attribute is used on signalr's hub.

For example this is my controller.
[code]
And this my my authorization handler. I can extract "chatId" from HttpContext and then use my custom logic to authorize user.
[code]
However this won't work with Azure SignalR because I d

[2021-06-17 06:21] vwxyzh commented on #1102
Hub service will not return 429 normally, unless your app add a middleware to return it.
429 should return from service side, like connections exceed limit, or too many request in a short time.

The problem is we do not give any information about unit size from service runtime.
Currently, only service resource provider can return it, it should be an issue.

[2021-06-18 02:42] vicancy commented on #1297
Caused by a bug in SignalR JS client https://github.com/dotnet/aspnetcore/issues/33629

[2021-06-18 10:03] vicancy commented on #1306
Can you get `chatId` when negotiate? If yes, you can set `chatId` in `ClaimProvider` and pass that into the policy:

In Startup.cs:
[code]

In the `ChatParticipantRequirementHandler`:
[code]

[2021-06-18 10:28] andrew-tevent commented on #1265
@terencefan Did you validate that this is working.

In the last couple of days I've started to see Connections with the *same* ConnectionID as previous connections come into the OnConnectedAsync.  These are possibly related to server events, but I can't be sure.  But still, the `IConnectionMigrationFeature` is returning `null` so I can't tell whether this is related to migration or not....

[2021-06-18 11:20] andrew-tevent commented on #1265
Example of same Connection ID being used - see highlighted

![image](https://user-images.githubusercontent.com/78795042/122553409-89456980-d02f-11eb-9276-dac804950685.png)

[2021-06-18 13:29] Degusto commented on #1306
It works but I have endpoint where my parameter is unknown during negotation phase("participantId").

[code]

[2021-06-18 14:17] cdemi opened #1312 "Azure SignalR disconnect and connect every second"
### Describe the bug
We have recently setup 3 .NET pods on AKS that make use of Azure SignalR. Without any clients even connected to the SignalR socket, the apps disconnect and connect to Azure SignalR every second.

### Logs:

[code]

The logs for these apps are filled with these logs, literally every second. The apps are pretty barebones for now as they are just a using SignalR with Azure Signal

[2021-06-18 14:41] andrew-tevent commented on #1265
I've upgraded to Microsoft.Azure.SignalR: v1.8.2 but still seeing issues:

1. `IConnectionMigrationFeature` is always `null` so never informs me of anything being migrated.
2.  On shutting down my staging environment it now triggers a Disconnect and Connect (not always in that order, mind you) - presumably with the **same** connection ID _by design_ BUT, the client is then additionally disconnecte

[2021-06-18 22:25] cdemi commented on #1312
Oops my bad. I figured it out. The Connection being references is an HTTP Health Check connection that fires every minute and is not related any way to Azure SignalR 🤦‍♂️🤦‍♂️

Sorry everyone!

[2021-06-18 22:25] #1312 closed

[2021-06-21 02:53] vicancy commented on #1306
Could you explain with self-host SignalR where to fetch `participantId`?

[2021-06-21 10:37] Degusto commented on #1306
Lets assume those are my models
[code]
And this is my client
[code]
My updated hub
[code]
I have modified my hub - replaced "ParticipantIsTyping" to "ParticipantHasBeenBanned".

So as you can see, I have "chatId" but "participantId" is provided dynamically and we don't know which participant has been banned because chat can have more than two participants.

Please let me know if this is sufficient

[2021-06-21 11:19] hmrc87 opened #1316 "Is it possible to use Azure SignalR Server in a non-webapp .net core project?"
Is it possible to use Azure SignalR in a non-webapp .net core project like a standard console application? I only managed to get it working using a mvc project where Azure SignalR gets wired in Startup.cs

[2021-06-21 12:38] Y-Sindo commented on #1316
Please take a look at [Azure SignalR Service Management SDK](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md).
And we'll also release a new set of APIs in Management SDK soon, to provide more functions.
Please let us know if this satisfies your need.

[2021-06-22 01:47] vicancy commented on #1316
What functionalities do you want using a standard console app?

Azure SignalR has a `serverless` mode that your clients connect to the service and you can have the console application sending messages to the connected clients as @Y-Sindo shares above, is that enough for your scenario?

[2021-06-22 01:56] vicancy commented on #1306
Not sure if I understand it. Are we still discussing the Policy usage? So when using self-host SignalR instead of Azure SignalR, how Policy can help you get "which participant has been banned"? Your sample shows that `participantId` is a parameter for the `ParticipantHasBeenBanned` method, I don't think you can get the `participantId` from HTTP context though....

[2021-06-22 02:21] vicancy commented on #1306
So your client `GetChat` first to get the `participantId`, and then it calls `JoinChat`. You can pass the `participantId` to your chat hub when client connects:

Client:
[code]

In your server you can pass this info into claims:
Server:
[code]

Then you can get the participantId from Policy.

The concern here is: is it secure for the client to determine the participantId and pass it to the server

[2021-06-22 03:39] wanlwanl commented on #1316
add sample here https://github.com/aspnet/AzureSignalR-samples/tree/main/samples/Management for quick start

[2021-06-22 08:18] hmrc87 commented on #1316
Thanks, this helps a lot. One quick question: I am using Azure-SignalR in my Web Startup.project and then in my controllers. I want to use the same Hubcontext in a console application in the same solution. Is this possible?

[2021-06-22 09:11] Degusto commented on #1306
Policy is used to authorize that user is a chat member. Guids are unique but not random, so I want to ensure that user can execute action. I can't pass "participantId" as claims because I can ban any member of chat but I have to authorize that action - for example admin can't ban admin etc.

I will try go with ClaimsProvider and put as many claims as I can("IsAdmin" etc) because I don't see any wa

[2021-06-22 11:15] ajbeaven opened #1318 "Make DefaultCloseTimeoutMilliseconds configurable"
I operate a chat app that involves maintaining a list of active users. When a user connects they are added to this list of active users, and when they disconnect they are removed. All clients are notified when a user is added to or removed from this list.

Here's some simplified code showing the disconnect:

[code]

It's a bit more involved than this as the server side needs to deal with many comp

[2021-06-23 02:19] vicancy commented on #1306
Thanks for the confirmation, please feel free to reopen the issue if you still have other concerns.

[2021-06-23 02:19] #1306 closed

[2021-06-23 03:51] Y-Sindo commented on #1316
Yes, these two projects should have no conflicts. Do you have more specific concerns on this?

By the way, we'll release new APIs to build the `ServiceHubContext` directly instead of creating it from `ServiceManager` in a few weeks. The new APIs will support more features such as closing connections, checking if a connection/user/group exists. See [ServiceHubContextBuilder](https://github.com/Azur

[2021-06-24 08:28] vicancy opened #1325 "Detect and disable ServerSentEvents transport when using Azure SignalR"
### The issue:
Some of the customers’ clients go through proxies that don’t support WebSocket and SSE. A client experiences like below:
1.	Client starts with WebSocket, the proxy swallows “upgrade: WebSocket” header, service returns 401
2.	Client fallback to SSE, the proxy just never returns the SSE response to the client, and as a result, the service never gets SignalR handshake request and abort

[2021-06-25 04:55] vicancy commented on #1318
With a rethink, I think leaving applicationTask running makes more sense.

[2021-06-25 05:37] ajbeaven commented on #1318
Thanks a lot for working on this @vicancy, it's really appreciated. So you're thinking you won't cancel the ProcessApplicationTaskAsyncCore() task at all? Do you think you'll still end up exposing the clientTimeout?

[2021-06-25 06:02] vicancy commented on #1318
Yeah, I think we need to be consistent with the self-host SignalR which does not cancel the application task. So I'd like to fix the issue by not canceling the application task instead.

[2021-06-25 06:10] ajbeaven commented on #1318
Either one works for me!

[2021-06-25 09:16] vicancy commented on #1318
Just realized why we have this timeout is because client connection lifetime impacts the auto-reconnect of the server-connection. When a server-connection drops, it first clean up all the existing client connections, waiting for the client connections to complete their lifetime, and then restart another server-connection. If there is some malformed code inside one client hub, it can impact the who

[2021-06-25 09:37] ajbeaven commented on #1318
I suppose that makes sense. The production code actually uses IHostApplicationLifetime to supply a cancellation token for Task.Delay; I'd have expected something like that would be used to avoid the sorts of issues you mentioned but no trouble.

Thanks for that code :) This approach will mean some funky exception handling but I should be able to make it work.

[2021-06-25 11:35] ajbeaven commented on #1318
The fire and forget nature of this solution has made things pretty messy in my non-simplified code. If you ever do end up exposing the clientTimeout, please update this issue as I think that's probably preferable to me at this stage.

Re: not exposing the clientTimeout - is there a risk of instability with ASRS if this were to be make configurable or is this just a use case you don't want to suppo

[2021-06-27 19:31] BrennanConroy opened #1329 "Microsoft.Azure.SignalR.HeartBeat: Value cannot be null. Parameter name: provider"
---
**Issue moved from dotnet/aspnetcore#33893**
- Please respond to @JasonKleban.

---

_From @JasonKleban on Sunday, June 27, 2021 6:35:45 PM_

### Describe the bug

The seemingly cleaner way to supply configuration values to SignalR is failing at startup with `Invalid host services.  ... Lifetime: Singleton, ImplementationType: Microsoft.Azure.SignalR.HeartBeat Value cannot be null. Parameter n

[2021-06-28 05:47] JialinXin commented on #1329
@JasonKleban Function binding has its own logic to resolve connection string and it's not working with Azure SignalR server SDK. So this is not correct to add this <s>`builder.Services.AddSignalR().AddAzureSignalR()`</s>.
The correct way to use customize key names is like below:
[code]
And the value can be set in Configuration settings or even KeyVaults refer to [this](https://docs.microsoft.com/e

[2021-06-28 11:13] JasonKleban commented on #1329
Thank you!  This can be closed.

[2021-06-29 01:37] #1329 closed

[2021-06-30 11:37] ilya-git opened #1335 "AddToGroupAsync method throws an exception if transport type is transient"
### Describe the bug

I use latest version of Microsoft.Azure.SignalR.Management to connect to Azure SignalR service.

I first create a hub context with transient transport type and then call this:

`hubContext.Groups.AddToGroupAsync(connectionId, groupName)`

The result is this error:

If I use persistent transport type the error does not happen

### Exceptions (if any)

Unhandled exception. Syst

[2021-06-30 11:41] #1335 closed

[2021-06-30 11:41] ilya-git commented on #1335
It seems I have messed something up and it works if the connection id exists

[2021-07-07 02:35] vicancy commented on #1318
Hi @ajbeaven, please try the latest package 1.9.1 which no longer cancel the application task

[2021-07-07 05:43] ajbeaven commented on #1318
Thanks @vicancy, that seems to have fixed it. Thanks heaps!

[2021-07-07 05:43] #1318 closed

[2021-07-08 12:17] SebastianBienert commented on #1219
Hi @wanlwanl any updates on progress of message serialization settings?

[2021-07-08 14:17] Dewaldf opened #1345 "Question : Multiple Instances of Azure Signal R"
Hi,
Reading through the [documentation ](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-multi-instances) on scaling the azure signal r service to more than one instance, we require this because we are looking at supporting > 100k users .

My understanding of the documentation is I just add an additional connectionstring.
[code]

Do I have to implement a custom router, or

[2021-07-09 03:55] Y-Sindo commented on #1219
@SebastianBienert We have added a method to customize the message serialization for both two modes. But the method is not public now. Will make it public for the next release.
https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.Management/ServiceManagerBuilder.cs#L55

[2021-07-09 05:16] Y-Sindo commented on #1345
The default router handles this for you. The [document](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-multi-instances#default-behavior) already contains a section about the behaviour of the default router. Do you have more detailed questions about the routing behaviour?

[2021-07-12 06:03] JialinXin commented on #1302
Offline synced that the issue is not applied to default Blazor Server template created project and should be related to customer's server side logic. So close the issue.

[2021-07-12 06:03] #1302 closed

[2021-07-12 11:22] standsed opened #1346 "DetectedLongRunningApplicationTask warning on each websocket connection"
### Describe the bug
All connections (using only websockets) to Azure SignalR hub causes DetectedLongRunningApplicationTask warning.
Looks like it was introduced with https://github.com/Azure/azure-signalr/pull/1332.

### To Reproduce
Repro with server and client here https://github.com/standsed/SignalRRepro
Please change ConnectionString in Startup.cs to your Azure SignalR instance.

### Exceptio

[2021-07-12 12:15] hora7ce commented on #1096
Any updates on this?  How is the preview going? any plans for GA?

[2021-07-12 15:41] zackliu commented on #1096
@hora7ce It's internal testing. We're integrating with [Azure Autoscale](https://docs.microsoft.com/en-us/azure/azure-monitor/autoscale/autoscale-overview) and you can have a consistent autoscale experience among Azure. For the public preview date, I will keep updating here once I can give that.

[2021-07-12 15:44] zackliu commented on #1096
By the way, for the new scaling experience I mentioned before, we've enabled in all regions. For all the newly created resource, scaling is seamless. Which means no connection drop during scaling.

[2021-07-14 07:36] vicancy commented on #1346
Thanks for reporting the issue, investigating...

[2021-07-15 07:00] #1346 closed

[2021-07-15 07:25] #1219 closed

[2021-07-15 11:28] JakubHolovsky opened #1355 "Upgrading System.IdentityModel.Tokens.Jwt to version higher than 6.10.0 the signalling stops working"
### Describe the bug

We are using hosted SignalR on Azure. We recently encountered an issue which I double verified today that when we upgrade the dependency SignalR has - System.IdentityModel.Tokens.Jwt to version higher than 6.10.0 (so even 6.10.1) it breaks the signalling and no signals are arriving.
Today I tried upgrading  System.IdentityModel.Tokens.Jwt to version 6.11.1 and the issue still

[2021-07-16 15:29] vicancy commented on #1346
Fixed in 1.9.2, thanks!

[2021-07-19 09:21] carlbm opened #1356 "Seemingly random failures"
### Describe the bug
I have a blazor server app hosted on an Azure App Service, using Azure SignalR, and also a SignalR client running.
This has been working fine for about 8 months. This morning I'm getting random connection issues with SignalR.
The response from the server is 500, and digging into the Azure diagnostics this is the only thing that looks relevant

![image](https://user-images.gith

[2021-07-20 01:22] vicancy commented on #1356
Is the issue persistent?

Could you email me `lianwei(at)microsoft.com` your instance id and the time stamp when the error happened for me to take a look?

`NoAvailableServerConnection ` and `ServerConnectionClosed ` generally mean the app server side fails to connect to the Azure SignalR Service. It can be a transient network issue, or sometimes Azure SignalR service doing its regular maintenance

[2021-07-20 03:20] vicancy commented on #1355
Could you provide a mini-repro project? I tried a simple project referencing both packages but failed to repro the issue.
Or could you share with me the exception you see? Follow these steps to get the exception: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-troubleshoot-guide#troubleshooting-guide

[2021-07-21 09:34] terencefan opened #1361 "AAD auth flow doesn't work when Network access control is configured."
It is common to allow only `Server connection` and `Client connection` if you don't want others to access your `REST API` from the public network.

However, our aad auth workflow depends on a REST API to get `AccessKey` to signing `AccessToken` when doing the negotiation.

In this scenario, you will get a 401 unauthorized error while starting the server, and the negotiation will also fail due to t

[2021-07-22 09:37] bjqian opened #1362 "[RCA] Azure SignalR outage on 2021.7.21 [Recovered]"
# RCA
### Describe the outage
On 2021.7.21, Azure SignalR Service had an outage.  About 10k free resources and about 1k standard resources were impacted. The request to SignalR service would get 504 error or timeout. The management operation also may fail during that period.
### Impact regions
     All regions on Azure Cloud except South Africa north are impacted. Mooncake and Fairfax are not infl

[2021-07-25 00:41] atx-barnes opened #1364 "404 (Not Found) when Unity C# client tries to negotiate with SignalR serverless resource"
### Describe the bug
Following [this Microsoft tutorial](https://docs.microsoft.com/en-gb/learn/modules/connect-iot-hololens-azure-digital-twins-unity/8-visualize-signalr) on using SignalR with Azure Digital Twin the Unity C# client that is using 5.0.0 SignalR assemblies and has a script in the project shown below that passes negotiate function Url ex. `https://yourfuncappf5g64t6.azurewebsites.net

[2021-07-25 01:14] atx-barnes commented on #1364
Oops, I was using the full endpoint to the actual function `https://yourfuncappf5g64t6.azurewebsites.net/api/negotiate` when I removed `/api/negotiate` from the end of the URL it worked.

[2021-07-25 01:14] #1364 closed

[2021-07-28 05:55] #1325 closed

[2021-07-28 12:04] yigitgursoy opened #1367 "EndpointMetrics.ClientConnectionCount and Name fields don't show correct values"
### Describe the bug
endpoint.EndpointMetrics.ClientConnectionCount and endpoint.Name fields don't return correct values.

### To Reproduce

[code]

I've opened 100 connections to the hub and I can see 100 lines in Application Insights logs.
However, incorrect values are logged as shown in the image below:

![Logs](https://i.imgur.com/cRwWQ6K.jpeg)

### Exceptions (if any)
No exceptions

### Furth

[2021-07-29 03:00] JialinXin commented on #1367
The `Name` property is coming from the `ServiceEndpoint`. It's decided by how you set the endpoints.

From the snapshot, it seems the **aux** and **base** are set like
[code]
And the empty ones are set like this without `Name` assigned and regard as empty name, which probably comes from some default secret stores you doesn't aware, like secret.json or appsettings.json.
[code]

Another easy way to

[2021-07-29 08:40] yigitgursoy commented on #1367
@JialinXin thanks for pointing that out. However, I still don't see ClientConnectionCount being updated for every connection request. Please check the image below:

![Logs](https://i.imgur.com/GL0G3NX.png)

[2021-07-29 10:42] andrew-tevent commented on #1265
Is there any chance of an update on this?

I've had to turn off the Migration stuff because it doesn't seem reliable or to be working correctly.

I'm now fighting with an issue with `OnDisconnectAsync` not appearing to be called, possibly during a deployment of a new version of my server - which may or may not be due to me shutting down the staging environment?

[2021-07-30 02:16] JialinXin commented on #1367
The delay is expected because the value is get updated by round-trip pings between server-service whose interval is 10 seconds.

[2021-07-30 06:51] yigitgursoy commented on #1367
Thanks @JialinXin

[2021-07-30 06:51] #1367 closed

[2021-08-02 07:42] JakubHolovsky commented on #1355
@vicancy Hello, sorry for getting back to you a bit late on this. Today I ran again to the issue when someone updated System.IdentityModel.Tokens.Jwt > 6.10.0 which broke the signalling again. I went through some of the steps but so far I have been unlucky getting the exception (however the problem still persists for us). I will try to enable server side logging for SignalR and see if that catches

[2021-08-05 06:13] junedans opened #1374 "In using ASRS Migration Feature I found that Context?.GetHttpContext()?.Features?.Get<IConnectionMigrationFeature>() object is always null"
### Describe the bug
While testing the migration feature of ASRS I always find that Context?.GetHttpContext()?.Features?.Get<IConnectionMigrationFeature>() object is null

### To Reproduce
Create 2 sample Hub with Azure SignalR SDK that supports migration feature. Have them both connect to same ASRS endpoint. Connect a client to hub1 and hit ctrl+c to initiate shutdown for hub1 and see the client

[2021-08-05 06:15] terencefan commented on #1374
#1373

[2021-08-05 06:24] junedans commented on #1374
Thanks for the quick turn around!

[2021-08-05 06:24] #1374 closed

[2021-08-12 05:17] #1362 closed

[2021-08-19 14:49] lenhatnguyen commented on #888
I also had the same problem. Could you please guide me to solve your problem ?

[2021-08-20 01:16] JialinXin commented on #888
@lenhatnguyen, you can enable [diagnostics logs](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-diagnostic-logs) for a rough check on the service connection logs, including connection close reasons. The issue for the original case is due to sharp connection drops triggers our connection rebalancing, and it doesn't have much impact.

If you are still not able to find out much in

[2021-08-20 14:49] lenhatnguyen commented on #888
Thank, I will enable diagnostics logs to check the problem, if i can't resolvce it , i will send mail to you .

[2021-08-23 06:20] viswanathan1693 opened #1398 "SignalR negaotiate CORS Issue"
### Describe the bug
I got negotiate error on every time I am running the web client(ASP.Net MVC ).

This negotiate error clears only  when I am clearing the browser cache.

API : http://localhost:7071/api/negotiate?negotiateVersion=1.

Access to XMLHttpRequest at 'http://localhost:7071/api/negotiate?negotiateVersion=1' from origin 'https://localhost:44305' has been blocked by CORS policy: Respons

[2021-08-24 06:55] wouterjanssens commented on #1096
Is re-creating our existing SignalR service the only way to get the smoother experience? If so we will need to plan a maintenance window for that. An upgrade script would be a better solution. Any idea on that?

[2021-08-24 07:55] qetza opened #1404 "Add support for more AAD auth credentials"
### Is your feature request related to a problem? Please describe.
Currently the AAD auth only support `ClientSecretCredential`, `ClientCertificateCredential` and `ManagedIdentityCredential` providers but the Azure.Identity library allows for more providers which are usually used during local development like Azure CLI or Visual Studio providers.

### Describe the solution you'd like
Allow develop

[2021-08-24 08:03] terencefan commented on #1404
#1389 We've provided a new constructor for `ServiceEndpoint` in this PR.
This change will be included in our 1.10.0, which is already in preview.

[2021-08-24 09:06] andrew-tevent opened #1407 "Upstream retries"
I'm occasionally seeing these errors in my SignalR logs for the upstream calls

I am at a loss as to why - because I am not seeing any other downtime on the destination URLs or any failures in that destination server etc..  (Any suggestions as to why this is failing?)

**But it got me thinking that the Upstream should really have retries on failure?**

I know that the EventGrid integration stuff h

[2021-08-24 14:34] zackliu commented on #1407
Retry makes sense when the request is totally failed. Like socket failure and we don't get any http response. That can be put on our roadmap.

[2021-08-24 22:35] f9analytics opened #1411 "SignalR Service Message Limit Error"
### Describe the bug
Getting a message error limit on message size 199kb. Azure SignalR Services explicitly states no message limit.

Please explain?

[2021-08-24 22:44] f9analytics commented on #1411
{"type":3,"invocationId":"1","error":"The property value exceeds the maximum allowed size (64KB). If the property value is a string, it is UTF-16 encoded and the maximum number of characters should be 32K or less.\nRequestId:c2518331-0002-0085-7039-993277000000\nTime:2021-08-24T22:43:30.3745938Z\r\nStatus: 400 (Bad Request)\r\nErrorCode: PropertyValueTooLarge\r\n\r\nContent:\r\n{\u0022odata.error\

[2021-08-24 22:46] f9analytics commented on #1411
[https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-messages-and-connections#:~:text=Azure%20SignalR%20Service%20has%20no%20size%20limit%20for,splitting%20and%20assembling.%20No%20developer%20efforts%20are%20needed.](url)

[2021-08-24 22:46] f9analytics commented on #1411
Azure SignalR Service has no size limit for messages.

[2021-08-25 01:51] Y-Sindo commented on #1411
The error is not returned from Azure SignalR and is the method invocation result. I searched "PropertyValueTooLarge" error and found similar result from Azure Storage Table. Do you use it?

[2021-08-25 13:25] andrew-tevent commented on #1407
I think standard practice is failed responses, and specific Http Status Codes as per the [Polly Transient Error retry policy](https://github.com/App-vNext/Polly.Extensions.Http/blob/master/src/Polly.Extensions.Http/HttpPolicyExtensions.cs) - it includes `HttpResponseException` and then the specific status codes.

[2021-08-25 14:20] f9analytics commented on #1411
That is correct. We noticed it after the post. Thank you.

[2021-08-25 14:20] #1411 closed

[2021-08-27 02:14] ShrenikOne opened #1416 "BlazorServer with AAD Auth - The server which the client is sticky to is not found."
Application develop using AspNetCore 3.1 and Blazor Server App. Utilizing Azure SignalR Service. When App Server authentication with Azure SignalR service using "AccessKey" then everything works fine, but if use Application's ClientId, ClientSecret it result in exception message on browser as {"error":"The server which the client is sticky to is not found."}.

Application had been given SignalR A

[2021-08-29 08:22] qetza commented on #1404
Hi @terencefan,
When creating a ServiceManager with transient transport type i'm getting an error because only the connection string is supported with this transport type and my ServiceEndpoint with my custom TokenCredential is not used.
Do you plan to support custom TokenCredential when using transient transport type?

[2021-08-30 03:21] Y-Sindo commented on #1404
@qetza Transient transport type needs ` SignalR Service Owner` role,  which has REST api access. We have just updated the [doc](https://docs.microsoft.com/en-us/azure/azure-signalr/authenticate-managed-identity), but the doc is not released by far.

[2021-08-30 06:09] qetza commented on #1404
Hi @Y-Sindo,
Thanks but my issue is not on the role needed or the documentation but that when I want to create a `ServiceManager` instance using transient transport I must use a connection string (`ServiceManagerOptions.ValidateOptions`) and when using a connection string there is no way to pass my own instance of `TokenCredential`. The `TokenCredential` is created by the `ConnectionStringParser.P

[2021-08-31 03:35] Y-Sindo commented on #1404
@qetza Sorry it is a bug. We will fix it in the next release.

[2021-08-31 10:39] ZhiqingWan opened #1421 "When OnDisconnect is invoked, there is no Exception passed through."
### Describe the bug
When that OnDisconnect method is called, it appears as though there is no Exception passed through, so there's no way to differentiate between a user that has just closed their browser, or a user that has been experiencing connectivity issues. SignalR for .NET Framework would pass through a boolean informing the server that it was as a result of a timeout.

### To Reproduce

#

[2021-08-31 16:22] keremkambur opened #1422 "ASP.NET Core SignalR messages are stalled for hours and lost"
### Bug Description
We are using SignalR to communicate between servers. We have an individual API that sends messages using group connection and if the destination API couldn't update a reference table that it received the message based on an identifier we pass, we establish a direct connection to that specific destination.

However, in some instances API that sends the messages doesn't respond f

[2021-09-01 06:50] Y-Sindo commented on #1033
Will be supported in the next release.

[2021-09-01 06:50] #1033 closed

[2021-09-01 11:56] #1422 closed

[2021-09-02 05:53] terencefan commented on #1416
@ShrenikOne There will be a service deployment next week, which is expected to be done by the end of Sep 17th. So I think the preview version could be released on Sep 22th (Tue), stable version will release a week later than the preview version.

[2021-09-02 05:58] terencefan commented on #1265
https://github.com/Azure/azure-signalr/pull/1376
The bug is fixed in `1.10.0`.
It was broke by one of our latest changes that allowed the application task to stand alone for a while after the connection has been closed.

[2021-09-02 05:58] #1265 closed

[2021-09-02 05:59] terencefan commented on #1218
This feature should have been fixed in `1.10.0`
#1376

[2021-09-02 05:59] #1218 closed

[2021-09-03 17:50] jassent opened #1428 "Does IsServiceHealthy work?"
This [page](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md#create-service-hub-context) shows the features in Microsoft.Azure.Signalr.Management

This is using Azure Signalr Service in serverless mode and the code is running in an Azure Function using .Net 5.0

[code]

Other calls into the service manager seem to work:

`var x = await serviceHubContext.ClientManager.Co

[2021-09-06 07:39] terencefan commented on #1421
I'll see if `SignalR` protocol could support this.

[2021-09-06 08:10] Y-Sindo commented on #1428
`IsServiceHealthy` can be used in any mode. There is a bug and will be fixed in next release.

[2021-09-06 08:12] #1428 closed

[2021-09-07 08:04] ilya-git opened #1433 "No documentation on how to connect using aad in management API"
### Describe the bug
[This](https://github.com/Azure/azure-signalr/releases/tag/v1.10.0) migration guide mentions a new constructor for `ServiceEndproint` that allows for add connection (I assume `DefaultAzureCredential`), but there is no documentation that I could find that mentions on how to use that with management api.

Maybe it's not implemented at all and that's why I cannot find it? It woul

[2021-09-07 08:30] ilya-git opened #1434 "Wrong error message when missing proper access while using `DefaultAzureCredential`"
### Describe the bug
I have used management api to connect to signalr service with `DefaultAzureCredential`. I have a service principal set up in the env variables. I have forgotten to give "SignalR Service Owner" role access to that SP and the error that I got when trying to connect was this:

This is a quite misleading error as the real error should be Forbidden/Unauthorized somewhere deep.

###

[2021-09-07 08:53] terencefan commented on #1434
Have you seen other error messages in your log?

A role assignment may take up to 30 minutes to take effect, could you try this later?

[2021-09-07 08:57] ilya-git commented on #1434
This happened before I did the role assignment @terencefan , I may have not been very clear. After I assigned the role it did indeed take some time, but it started working just fine.

So this is just a the error message / exception that is not very clear. Otherwise everything works as expected.

[2021-09-07 09:05] terencefan commented on #1434
I see.

A 401 unauthorized exception is expected to be raised while creating server connections in `Server SDK`.
Not sure whether a server connection will be created while using `Management SDK`.
I'll try to reproduce this and see if we could add some proper log for this scenario.

[2021-09-07 10:49] Y-Sindo commented on #1433
Yes you are right, `ServiceEndpoints` option can be used, but 1.10.0 management SDK still has an issue with transient transport type (the default transport type) preventing from using `ServiceEndpoints`. The issue will be fixed in 1.11.0 version which will be released in this week. We'll also provide detailed document in the future.

If you want to try the `DefaultAzureCredential` now, you can swi

[2021-09-08 00:56] ajbeaven commented on #1421
How'd you get on with this @terencefan?

My use case is a chat app. If two users are chatting and one closes the browser, the OnDisconnectAsync method is called and the chat is marked as stopped. OnDisconnectAsync is also fired if a user is experiencing connectivity issues - in those cases I don't want to mark the chat as stopped as the client will attempt to reconnect and the chat can be continue

[2021-09-08 05:10] Y-Sindo commented on #1434
`AzureSignalRNotConnectedException` with error message "Azure SignalR Service is not connected yet, please try again later.“ is thrown because every negotiation will check whether SignalR Service is connected in version 1.10.0. This behaviour is initially designed for multiple SignalR Service instances scenario where we can choose the healthy SignalR instance for users. But it was also introduced

[2021-09-08 06:54] ilya-git commented on #1433
Thanks a lot! This approach does work and luckily enough I was already using persistent transport type, as I suppose it is more efficient.

[2021-09-12 18:04] genifycom opened #1441 "Run Code clean up on these projects"
It would be really nice if code clean up was run on these github projects to remove all of the useless using statements.

Using statements provide developer guidance on dependencies that are ACTUALLY used.

In Visual Studio it is a one step process. Select the solution and use Analyze and Code Cleanup.

It makes source code smaller and more relevant.

Please!

[2021-09-12 18:13] genifycom opened #1442 "Code style"
Please can someone explain why they would write 4 lines of code instead of one?

Example:

        if (keepAlive == null || !metadata.Connection.SupportsKeepAlive)
            {
                return false;
            }

This is 4 lines, an if clause, an open block, a return clause and a close block.

This should be a single readable statement i.e. an if and a single simple result.

        if (

[2021-09-12 18:56] genifycom opened #1443 "New TransportManager type proxiedWebSockets?"
I need to add a new TransportManager and I am looking for some ideas for naming.

This transport manager will receive an HTTP request which includes the message and the WebSocket connection id.

KeepAlive will be false.

The response will be a PostToConnectionAsync (an AmazonApiGatewayManagementApiClient function).

This is currently specific to the AWS environment where the HTTP requests are prox

[2021-09-13 03:35] terencefan commented on #1442
The link is for C, C and C# are not the same, thus they followed different coding conventions.

[C# layout conventions](https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/coding-conventions#layout-conventions)

[2021-09-13 03:35] #1442 closed

[2021-09-13 03:40] terencefan commented on #1434
#1435

1.11.0 released

[2021-09-13 03:40] #1434 closed

[2021-09-13 03:41] #1433 closed

[2021-09-13 03:53] terencefan commented on #1441
#1444

[2021-09-13 03:53] #1441 closed

[2021-09-13 05:07] vicancy commented on #1266
A similar approach for webpubsub is here : https://github.com/Azure/azure-rest-api-specs/pull/15907/commits/40a3903f9529d1c852f2b92d03802f90fd5ae060

[2021-09-13 17:32] genifycom commented on #1441
Does this mean that it will get done? Or it is to be ignored?

[2021-09-13 17:41] genifycom commented on #1443
Perhaps in Transportmanager

`        /// <summary>
        /// Initializes a new instance of <see cref="TransportManager"/> class.
        /// </summary>
        /// <param name="resolver">The default <see cref="IDependencyResolver"/>.</param>
        [SuppressMessage("Microsoft.Reliability", "CA2000:Dispose objects before losing scope", Justification = "Those are factory methods")]
        publi

[2021-09-13 23:49] vicancy commented on #1443
This sounds more SignalR related instead of Azure SignalR related. Could you try opening a design proposal in aspnetcore repo https://github.com/dotnet/aspnetcore/issues/new?assignees=&labels=design-proposal&template=40_design_proposal.md instead?

[2021-09-13 23:49] #1443 closed

[2021-09-13 23:53] vicancy commented on #1443
A SignalR frame is not necessarily a WebSocket frame, so one challenge for a serverless scenario is that how you guarantee message stickiness to your backend "serverless" app.

[2021-09-14 11:24] AndersRod opened #1455 "Allowing custom URI scheme for CORS allowed list"
### Is your feature request related to a problem? Please describe.
I am trying to add 'ionic://localhost' to the CORS allowed origin list of the Azure SignalR resource, but this is getting blocked by the validator (both on the Portal and through AZ CLI as well).

### Describe the solution you'd like
Custom URI schemes for CORS allowed origin list to be allowed.

### Additional context
I am working

[2021-09-14 16:28] sodablue commented on #1151
I think it would fundamentally make sense to have an Azure:SignalR:Enabled configuration item that would work even if you have AddAzureSignalR().   The documentation pretty clearly indicates for local dev we should bypass this, but offers no way to do this, absent writing our own conditional configuration code.   I tried omiting the connection string, and it throws an exception.   Then I found thi

[2021-09-15 20:07] genifycom commented on #1443
Hi Vicancy,

In AWS, the Websockets API Gateway manages the sticky connection for us. We only have to deal with the connection id passed by the API Gateway.

Now the AWS Websockets API Gateway only manages Websockets, so yes there would be no backdown to long polling or SSE.

[2021-09-15 21:13] genifycom commented on #1443
I have create the design doc. Thanks for the info :)

[2021-09-16 09:04] vicancy commented on #1443
So you have to make sure messages for one connection id always go to your same backend server otherwise your backend server might receive a partial message frame and failed to parse it using SignalR protocol

[2021-09-16 10:56] sboutsis commented on #809
Hi @sffamily. Are there any news regarding this upcoming feature?

[2021-09-23 05:00] terencefan commented on #1416
SDK `1.11.0` has already been released, but it still requires our Runtime deployment, which is in progress and is expected to be completed by the end of this month.

[2021-09-23 23:42] Nico-VanHaaster opened #1459 "Unable to access SignalR service. Error while copying content to a stream."
### Describe the bug
Using Managed Identities we are recieving the following error.

[code]

The managed identity we have created is a standalone managed identity through Kubernetes AAD Pod authentication. NMI logs show the identity was matched.

[code]

The identity has been assigned the correct "SignalR App Server (Preview)"

### Further technical details
- Your Azure SignalR SDK version:  1.11.

[2021-09-25 21:00] clovett commented on #751
Instead of closing the issue can the SignalR team provide an official SignalR client, I also want to be able to send and receive messages to my SignalR service...  I can do it in C#, why not python also?

[2021-09-27 00:05] vicancy commented on #751
Hi @clovett Here is the issue for Python client FYI https://github.com/dotnet/aspnetcore/issues/5331#issuecomment-813911542

[2021-09-29 01:32] filmar25 opened #1462 "Connection aborted. Reason: Application server closed the connection. Server reported error: Specified argument was out of the range of valid values. Parameter name: i"
Hi,

We have an ASP.NET MVC 5 application that run perfectly with SignalR 2.4.2 locally with Sql Server.

At the moment I switch to use Azure SignalR, browser got intermittent disconnection. F5 on the same page has different behavior. Most of the time, after page loaded, the page got connected but became disconnected immediately. The "Live Trace Tool" is displaying this message :

Connection abort

[2021-09-30 07:17] monderino opened #1463 "Azure SingalR Service connection ended without reason on Blazor Server App"
We have a Blazor Server App which is connected to the Azure SignalR Service. More or less randomly we get a disconnect and our clients need to reload to establish the connection again. I added logs to the client and server side to find the reason, but the logs of the SignalR Service tells me only 'Connection ended. Reason: '. Have anyone an idea when this can happen?

All my configurations should

[2021-10-06 07:27] Meetsch commented on #486
The solved the disconnection issue when scaling, according to https://github.com/Azure/azure-signalr/issues/1096#issuecomment-878387639

And for the auto-scaling feature they are working on it, and in the mean-time here are 2 ways of doing so:
* Using Powershell function https://gist.github.com/mattbrailsford/84d23e03cd18c7b657e1ce755a36483d
* Using Logic App https://staffordwilliams.com/blog/2019

[2021-10-11 03:39] vwxyzh commented on #1462
Your app server throwed argument exception when invoking a hub method.

[2021-10-11 10:10] Y-Sindo opened #1465 "Management SDK would hang on the program exit if not disposing the `ServiceHubContext` on .NET 5.0 and below runtime"
### Describe the bug
Environment:  .NET 5.0 or .NET Core 3.1 (This won't be reproduced on .NET 6.0 )
If not dispose the `ServiceHubContext` or `IServiceHubContext` instance, the console app hangs on exit.

### To Reproduce
Create a `ServiceHubContext` instance with `serviceManager.CreateHubContextAsync` and not dispose it with `using` or `context.DisposeAsync()` :
[code]

Then the app would hang.

[2021-10-13 16:42] harikrishna1902 opened #1466 "Azure Signalr REST API - Get all users in a group"
Hello,

I am using the Azure Signalr Service with REST API in a Java application. My webpage needs to display the list of active users who are currently connected to a Hub (Similar to "Who is Online" in a Chat application). One way I can do this is to add the users to a group. However I do not see a service to list all the users in a group. There is an end point to check if a user is present in a

[2021-10-17 09:36] MikhailVasiliev commented on #874
as I said, I just used code above and checked accessToken, it was wrong, I put correct one and it worked for me

[2021-10-19 02:31] bjqian opened #1467 "[RCA]Azure SignalR outage in ChinaNorth2 on 2121.10.14 and 2021.10.15 [Recovered]"
# RCA
### Describe the issue
    China North2 experienced a region level outage on 2021.10.14  16:00 to 2021.10.15 13:00 UTC+8 .
### Impact during the outage
    Customers' creating operation would fail. And the SignalR service would get 503 service unavailable.
### Impact time
    China North2: Started: 10/14/2021, 11:52:12 AM UTC
### Recovery
    At 2021.10.15 13:00, the issue was fixed.
### Roo

[2021-10-19 07:59] KKhurin commented on #745
Unfortunately we still can not repro this locally and the efforts to instrument the code so the logs would contain enough information about the culprit have stalled due to having too many possible areas to add the logs.
To narrow down possible area of instrumentation, could anyone please try running the code that adds to the group in the following wrapper and report if you can still repro the time

[2021-10-19 10:31] surexxx commented on #745
@KKhurin using your wrapper I get this error: System.InvalidOperationException: 'AsyncFlowControl object must be used on the thread where it was created.'
![image](https://user-images.githubusercontent.com/18722513/137892410-4f21981f-c9b8-4c43-b838-a2d39d5a3781.png)

[2021-10-19 10:38] andrew-tevent opened #1468 "Serverless changing DateTimeOffset value timezones"
### Describe the bug
When sending messages from a Functions backend to SignalR serverless, which contain `DateTimeOffset` timestamps, the messages are arriving at the Client having had their Offset changed.

![image](https://user-images.githubusercontent.com/78795042/137893276-b22c43af-42a0-48c2-b6c3-277a28e2a931.png)
(Am seeing the +8 hr timezone, which is not a timezone that any of my Function o

[2021-10-20 05:08] KKhurin commented on #745
Re: `"AsyncFlowControl object must be used..."` - yeah, you'd have to avoid using await inside `SuppressFlow` and perhaps use some other mechanism (e.g. TaskCompletionSource) to return back the task from `AddToGroupAsync` to the original caller.

[2021-10-22 05:36] #1465 closed, assigned to nobody

[2021-10-22 13:03] marmagni opened #1475 "Negotiate token life time"
Hello,

I'm using signalR in serverless mode, for teste purpose, I configured the "TokenLifetime" with 30 seconds, so I expected client connections be closed after this time. How can I expire user connection?

[2021-10-25 11:59] #1475 closed, assigned to nobody

[2021-10-27 05:17] zhiweiv opened #1476 "Microsoft.Azure.SignalR.Management has dependency on AspNetCore"
I created a .net 5.0 console app, it uses the SDK to send messages to SignalR clients(Serverless Mode). After added Microsoft.Azure.SignalR.Management to project, the target runtime was changed to Microsoft.AspNetCore.App automatically, I got following error while running.
[code]
Anyway to use the SDK in console app without AspNetCore runtime?

[2021-10-28 06:19] alteredtastes opened #1478 ""Token renewal operation failed due to timeout""
Hi there, our team is incorporating SignalR into two of our apps and we are running into some confusions and issues around authentication.

I have found examples where the options object provided as second argument to `withUrl` in the frontend SDK contains `accessTokenFactory: () => connectionInfo.accessToken;`, where `connectionInfo` is the response data from the negotiate endpoint.

After some t

[2021-10-28 22:23] #1478 closed, assigned to nobody

[2021-10-28 22:46] alteredtastes opened #1479 ""If you were using AccessKey, please check connection string and see if the AccessKey is correct.""
My negotiate endpoint is working and establishes a persistent web socket signalr connection with my React client. Now my React client needs to call a "Subscribe" endpoint which will add the user to multiple Signalr groups. When this Subscribe endpoint is called however, I get status code 500 and the following prints to my VS debug console for the function app
[code]

our keyvault contains AzureSig

[2021-10-29 00:11] #1479 closed, assigned to nobody

[2021-11-01 12:46] sanderaernouts opened #1486 "Can I ignore `ServiceConnectionNotActiveException` and/or `AzureSignalRUnauthorizedException` logged directly by the SDK?"
We recently deployed Azure SignalR Service in West Europe and we mostly see errors at night or over the weekend. I have inspected the source code on here on GitHub and it seems that the SDK logs these error messages directly as well as throwing an exception that can be handled by our code. We have retry mechanisms in place but since these errors are logged by the SDK directly it's hard to determin

[2021-11-01 22:34] ajbeaven commented on #1421
Any further updates on this one?

[2021-11-02 11:05] Y-Sindo commented on #1468
Root cause found: The Newtonsoft deserializer changes the time zone to the local time zone of your Azure SignalR server.

We know the best fix is to return to clients what you send, but it is a behaviour change and needs more inspection. If you don't need to preserve the origin offset, you could customize the deserializer in the client side as a mitigation.

We will continue to look at this issue.

[2021-11-02 11:25] andrew-tevent commented on #1468
@Y-Sindo Thanks for the update.

We aren't currently affected by it because we convert to the receiving client's timezone - but we will soon require preservation of the original timezone, otherwise we would have to send that in an additional property on the payload (as an integer/timespan) which isn't ideal as it means more data being sent.

[2021-11-03 17:29] monderino commented on #1463
Thanks for the help. Currently I didn't find a way to reproduce it locally. I let you know when I find a way.

[2021-11-05 12:50] robertlyson commented on #1225
Happening to me as well. Don't have reproduction but it's showing up from time to time in our logs.
.Net 5 with Microsoft.Azure.SignalR 1.12.0 installed.
We are running Azure SignalR standard with 1 unit.

[2021-11-05 15:39] robertlyson commented on #745
I'm experiencing the same issue (`waiting for ack timed out`) coming from my overridden `OnConnectedAsync`. At first, I thought it's because of using the free tier but upgrading to the standard didn't solve the issue.

[code]

Downgraded `Microsoft.Azure.SignalR` from `1.12.0` to `1.6.1` and issue is gone.

[2021-11-08 08:45] antongenis commented on #909
Make sure u register:
  app.UseAzureSignalR(route => { route.MapHub<SomeHub>(signalRConfigurationSettings.HubPath); });

before the instantiation of your class that uses the

IHubContext<SomeHub> someHub, in it constructor

I instantiate it like this
serviceProvider.GetService<ISomeClassThatUsesSomeHub>()

[2021-11-08 14:56] vicancy commented on #745
I am trying an approach to fix this issue according to the assumption from @KKhurin.
Could anyone try preview package `--version 1.13.0-preview1-10900`
[code]
 to see if it mitigates the issue?

[2021-11-08 21:34] robertlyson commented on #745
@vicancy I just gave it a try and seems like the issue is gone in `1.13.0-preview1-10900` will give it more testing tomorrow, thanks for looking into this, great work 👍

[2021-11-09 02:45] vicancy commented on #745
Keep it open for now.

[2021-11-10 02:03] vicancy commented on #745
We released 1.13.0 containing the mitigation.

[2021-11-10 02:03] #745 closed

[2021-11-11 12:07] dreamofmaks opened #1495 "Can not get request headers in Hub(Context.GetHttpContext) using Azure SignalR"
I am using Azure SignalR, and i can not get request headers in my hub class. I was trying to do that using Context.GetHttpContext() method. but it was not successful. Can anyone help me? Thank you.

[2021-11-15 05:35] vicancy commented on #1486
Message is lost in this case, so the error generally means the "message" was lost due to the connection is disconnected.

[2021-11-15 05:43] vicancy commented on #1476
Failed to repro.

The commands trying to repro:
[code]

The project is built successfully without Project SDK auto-changed.

[2021-11-15 05:51] vicancy commented on #1495
It should be in `Context.GetHttpContext().Request.Headers`.
![image](https://user-images.githubusercontent.com/668244/141729326-1aa2d8cb-a3d5-48b7-847c-f3574810856f.png)

Which header do you want? Are you using AspNetCore SignalR or AspNet SignalR?

[2021-11-15 05:51] #1467 closed

[2021-11-15 05:53] vicancy commented on #1486
For `AzureSignalRUnauthorizedException`, are you using AAD to connect?

[2021-11-15 06:19] sanderaernouts commented on #1486
We do retry these messages as long as an exception is thrown by the SignalR client. So if it is an transient fault that caused the  disconnect then the message might still arrive on a second or third try.

We use AAD to authenticate the user and we use AAD (a managed user identity with RBAC roles) to connect to SignalR service.

[2021-11-15 07:51] brechtvhb commented on #745
Fix tested & confirmed. Thank you!

[2021-11-15 09:07] zhiweiv commented on #1476
@vicancy
The problem is at [xxx].runtimeconfig.json under bin\Debug\net5.0, after you added this package the content of  runtimeconfig.json will be changed

from
[code]
to
[code]

[2021-11-15 09:09] zhiweiv commented on #1476
In .net 6.0, the content is below after added this package
[code]

[2021-11-16 01:42] vicancy commented on #1476
Thanks for the explanation, yes, reproed. I think the root cause is https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/Microsoft.Azure.SignalR.csproj#L35. @Y-Sindo could you check if we can get rid of this FrameworkReference?

[2021-11-16 01:47] vicancy commented on #1486
`ServiceConnectionNotActiveException` yes it should be transient, so if you do have retry logic, I think it would be safe to ignore this exception.

@terencefan could you confirm if seeing `AzureSignalRUnauthorizedException` when using AAD is expected and under which condition could it happen?

[2021-11-16 02:11] terencefan commented on #1486
@sanderaernouts Could you please share with us how you configured your AAD Auth?
1. The `TokenCredential` you are currently using in your code.
2. The `Role` you are currently using on Azure Portal.

[2021-11-16 07:50] sanderaernouts commented on #1486
We don't use a specific implementation of `TokenCredential` in our code. Instead we use a connection string with the following format `Endpoint=https://<signalR-service>.service.signalr.net;AuthType=aad;ClientId=<client-id>;version=1.0;`, where `<client-id>` is the `clientId` of our user managed identity.

We assign the `SignalR App Server (Preview)` role to the  user managed identity

✔️

[2021-11-16 22:10] ph-ict opened #1497 "Azure SignalR Service randomly drops connections immediately after successful connect"
### Describe the bug

We have 4 virtually identical Azure SignalR services and two of them are behaving badly. Using the same client and hub, I can connect to two of them without issues. The other two have been exhibiting a strange bug since about Thursday/Friday last week where the client will often connect (via the Hub) and then instantly disconnect with the error:

`Microsoft.AspNetCore.SignalR

[2021-11-20 20:29] harushi99 opened #1498 ".net framework client with azure signalr service"
I am new to using Azure signalR service and I am kinda confused about something.

The thing is I am using a .Net 4.8 client and a javascript client with a self-hosted hub.

For the .net client this is the code:
[code]

The hub startup file is implemented as follows:

[code]

And this is the hub file

using Microsoft.AspNet.SignalR;

[code]

**The code above is working just fine and I have no probl

[2021-11-20 21:53] #1498 closed

[2021-11-22 01:34] ph-ict commented on #1497
Strangely, this condition seems to have resolved itself over the weekend some time. While that's good, it's not very reassuring that we had two services go bad at the same time for a week and mysteriously resolve themselves. Would appreciate someone looking into this nonetheless please.

[2021-11-22 03:28] tonycoelho commented on #1096
@hora7ce any updates on this? When is this expected to be in private or public preview?

[2021-11-22 03:37] zackliu commented on #1096
Q1 2022 is the estimated time for public preview.

[2021-11-23 01:37] vicancy commented on #1497
Please email me `lianwei(at)microsoft.com` your bad instance name and some failure error logs with timestamps for me to take a look. Thanks!

[2021-11-29 06:35] zhiweiv commented on #1476
Any update?

[2021-11-29 12:16] amnezin opened #1501 "Use Microsoft.Azure.SignalR.Management in integration tests"
Hello,
Is it possible to use Microsoft.Azure.SignalR.Management in integration tests? The Azure SignalR Service I use shows client/server connections but for example serviceHubContext.ClientManager.GroupExistsAsync() is always false.
Similar code works fine in the real app.

[code]

![image](https://user-images.githubusercontent.com/18722254/143862695-49a36116-0b97-4b79-b508-923ebaadd394.png)

I u

[2021-11-30 08:33] Y-Sindo commented on #1501
@amnezin  I cannot build the code you show. Could you show a complete project to reproduce the problem?

[2021-11-30 08:51] Y-Sindo commented on #1476
@zhiweiv I don't think we can remove the framework reference as we depend on ASP.NET Core framework. However, you might want to try to publish your app as self-contained so that it doesn't depend on ASP.NET Core runtime even the .NET runtime. See [Publish self-contained](https://docs.microsoft.com/en-us/dotnet/core/deploying/#publish-self-contained) for more details.

[2021-11-30 08:57] Y-Sindo commented on #1476
@vicancy `Microsoft.AspNetCore.SignalR` is also in the list that are no longer published. I think `<FrameworkReference>` is the only way to reference API in ASP.NET Core API.

[2021-11-30 09:12] zhiweiv commented on #1476
In my use case, I referenced this library in our common library, any project in our company which uses the common library will be forced to run under asp.net core runtime, even if it doesn't use the SignalR part. There are a few solutions to avoid this, but all tricky.

Anyway since it is can't be fixed in this library, I will close this issue, thanks for the information.

[2021-11-30 09:12] #1476 closed

[2021-11-30 14:48] amnezin commented on #1501
@Y-Sindo I'm very sorry, it seems stat forgot to add SignalRClientHttpMessageHandler.
This is the link to the repo https://github.com/amnezin/signalr-management-test/tree/main/signalr-management-test, hope that will help.

[2021-12-01 05:52] Y-Sindo commented on #1501
I have reproduced your problem. The cause is that the hub that your clients connect to is `EchoHub`, however, the management SDK connects to `echo` hub.

[code]

The `Common.SignalRHubName` here only changes the route path, but doesn't change the hub name. The hub name in server SDK is decided by the class name of the hub type. Changing the value of `Common.SignalRHubName` to `EchoHub` will resolv

[2021-12-01 07:44] amnezin commented on #1501
@Y-Sindo it works, thanks a lot!

[2021-12-03 23:11] chrfin opened #1503 "Getting "Azure SignalR Service is not connected yet, please try again later." when upgrading Microsoft.AspNetCore.Http.Connections.Client to 6.0.0.0"
### Describe the bug
I have a classic ASP.NET MVC project targeting .NET 4.7.1 using SignalR and `Microsoft.Azure.SignalR.AspNet`.
If I upgrade `Microsoft.AspNetCore.Http.Connections.Client` from 5.0.12.0 to 6.0.0.0 I get the following error with status code 500 when the client calls `/negotiate`:

### To Reproduce
Create a classic ASP.NET MVC project and use the packages mentioned above.

### Exc

[2021-12-06 08:28] vicancy commented on #1503
Looks causing by https://github.com/dotnet/aspnetcore/issues/32307 that in 6.0 [ConnectionContext](https://github.com/dotnet/aspnetcore/blob/main/src/Servers/Connections.Abstractions/src/BaseConnectionContext.cs#L26) this `IFeatureCollection Features` is considered to be in assembly `Microsoft.Extension.Features`
![image](https://user-images.githubusercontent.com/668244/144812243-b78966d5-8704-4c7

[2021-12-07 05:59] vicancy commented on #1503
There is an on-going effort to fix this issue as tracked in https://github.com/dotnet/aspnetcore/issues/38699

[2021-12-07 12:23] Crimp opened #1507 "The Claim.Issuer value is lost during claims building process."
### Description
The Claim has an [Issuer](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim.issuer?view=net-6.0) parameter, which can be passed when you create a custom claim or from Google (like your e-mail address) and then the original issuer would be Google. That data can be processed by a custom logic.
When you add Azure SignalR connection to the application, you cannot

[2021-12-07 14:12] terencefan commented on #1507
Acknowledged.

You're right, `issuer` and `original issuer` won't be passed to server SDK since we didn't put these properties into the `OpenConnectionMessage`, which is used to generate connection context.

I'm not sure if it was intended, will discuss it with other team members later.

[2021-12-08 14:43] MichaelTawfik commented on #494
fuc*k signalr

[2021-12-14 11:09] rla-resengo commented on #1225
Had the same issue, see #754
Issue was fixed by updating Microsoft.Azure.SignalR to 1.13.0

[2021-12-14 15:28] vicancy commented on #1225
Please try 1.13.0..

[2021-12-14 15:28] #1225 closed

[2021-12-21 21:41] sravimohan opened #1512 "Frequent lost connections when Blazor Server deployed to Azure ContainerApps"
### Describe the bug
Frequent connections issues when connecting from a Blazor Server App deployed to the new Azure ContainerApps.  I am using Azure SignalR in standard mode.

[21:33:15 ERR] Failed to connect to '(Primary)https://****.service.signalr.net', will retry after the back off period. Error detail: The server returned status code '403' when status code '101' was expected.. The server retu

[2021-12-22 06:13] Y-Sindo commented on #1512
Please confirm that your connection string is correct. Additionally, did the issue only occur in the Azure Container Apps or it could be reproduced locally?

[2021-12-22 16:03] amnezin opened #1513 "Client connections can not be open during the sequential integration tests run"
Hello,
Faced an issue during playing with the SignalR:
When I run a single test multiple times manually, every time it passes
![image](https://user-images.githubusercontent.com/18722254/147119085-ee76ee2a-4db6-4a25-a946-a6f37776e49d.png)
But when I added the second (third etc) test, the client connection opening fails (randomly first and second) with the System.OperationCanceledException.
[code]

[2021-12-22 19:12] sravimohan commented on #1512
yes, can confirm. I am using primary connection string. Also it does work intermittently.

yes, I am not seeing the "Failed to connect to" errors in my local logs.

Additional error logs, https://gist.github.com/sravimohan/d43f45f49a21db069944e035f3ecb417

[2021-12-23 03:41] Y-Sindo commented on #1512
Could you send me your SignalR resource ID so that we could check the log in the back end for you? Email: zityang@microsoft.com

[2021-12-23 08:10] Y-Sindo commented on #1513
I reproduced your issues. The first test always passes, while the later tests are likely to fail. The reason is that during the client connection handshaking with service, the SignalR service routes the client connection to a non-existent server-service connection created in the last unit tests due to route table update latency, which causes the handshake timeout. Recommend you to use class fixtur

[2021-12-23 19:59] sravimohan commented on #1512
thank you, I will check out the troubleshooting methods.
I will email the resource id to you.

[2021-12-24 09:29] amnezin commented on #1513
Thanks for the advice!

[2021-12-24 09:29] #1513 closed

[2021-12-26 19:54] paburgos opened #1516 "DI Issues when using third-party libraries."
Hello,

I am using Finbuckle to convert my Blazor Server App into a multitenant. I am also implementing the Azure SignalR Service.

But as soon as I put to work both together I get this error:

I have a repo with the issue:
https://github.com/paburgos/SignalRFinbuckleIssue
To reproduce the error is just a matter to enable SignalR service logic in startup.cs, launchsettings.json, and appsettings.js

[2021-12-27 06:26] Y-Sindo commented on #1512
From the logs in the back end, you should be using AAD auth instead of access key. Error code "403" means the app doesn't have the correct role. The strange thing was that 403 only occurred on one IP address. Please confirm all your app instances have the correct role. Hope these information helps you.

[2021-12-27 07:40] Y-Sindo commented on #1468
@andrew-tevent The code to fix the issue in the service side is merged, but it will take about two months to be released. I will keep you updated in the future.

[2021-12-27 10:37] nikunj231991 commented on #1261
Any update on the fix? because I am facing the same issue.

[2021-12-28 02:29] recumbented opened #1517 "1.14.0 requires ’SignalR AccessKey Reader’ role despite server's Access Key is disabled"
### Describe the bug
1.14.0 requires AAD Role '’SignalR AccessKey Reader’ role'.
Azure SignalR services can configure to disable Access Key.
So it should be not mandatory.

### To Reproduce
Try negotiate with AAD credential to Access Key disabled Azure SignalR service.

### Exceptions (if any)
`Microsoft.Azure.SignalR.ServiceRouteHelper: Critical: Client negotiate failed: The given AzureAD identit

[2021-12-28 03:47] #1517 closed

[2021-12-28 05:38] recumbented opened #1518 "1.14.0 fails to acquire AccessKey with AAD auth"
### Describe the bug
1.14.0 fails to acquire AccessKey with AAD auth.

### To Reproduce
Configure .AddAzureSignalR with AAD auth.

### Exceptions (if any)
Microsoft.Azure.SignalR.AadAccessKey: Warning: Failed in authorizing AccessKey for 'https://REDACTED.service.signalr.net/', will retry in 3 seconds

System.NullReferenceException: Object reference not set to an instance of an object.
   at Micro

[2021-12-28 09:48] #1518 closed

[2021-12-30 00:27] Adrian10988 commented on #1001
Apologies for the necromancing but it was pretty difficult for me to find this thread and solve the same issue Arash was having. Thank you wanlwanl for the fix, I just wanted to point out the value `Persisent` is misspelled. I span my head around for a while trying to figure out why I was still receiving 413 from ASR and it turned out I just needed to spell it correctly. I guess copy paste is not

[2022-01-05 11:01] shatsu8 opened #1528 "[serverless] - AddToGroup is failing when using transient to init ServiceManagerBuilder"
### Describe the bug
getting an exception when calling `hub.Groups.AddToGroupAsync(id, groupName);` after creating the HubContext.

`var serviceManager = new ServiceManagerBuilder().WithOptions(option =>
{
option.ConnectionString = *******
option.ServiceTransportType = **ServiceTransportType.Transient;**

}).WithLoggerFactory(LoggerFactory.Create(builder => builder.AddConsole())).Build();`

### To

[2022-01-06 04:54] Y-Sindo commented on #1528
This is a known issue, fixed by #1519. Please wait for 1.15.0  release.

[2022-01-06 04:54] #1528 closed

[2022-01-07 10:06] r3wind commented on #961
Using K6 I was able to emulate the negotiate endpoint flow and web socket connection to Azure SignalR service, publishing hundreds of thousands of messages in a period of minutes without any mitigation available. Not only does this put significant load through to our Blazor Applications but it is huge risk in terms of Denial of Wallet.

We already has Azure Front Door in place for which the initia

[2022-01-07 14:45] Jonno12345 commented on #961
To some extent yes. There are a few new things since I made this issue, and we've done the following:

- Disabled access key authentication, using Azure AD for server side authentication
- Disabled public server connections, allowing server and rest API connections only through a private vnet. Client connections are still public
- Provided a 'ClientEndpoint' in the connection string that allows us

[2022-01-10 03:53] vicancy commented on #1516
Sorry for the late response.
When using AzureSignalR, blazor client requests are going through Azure SignalR to the server instead of triggering the server's HTTP middleware anymore. So the way that Finbuckle registers the per-tenant service inside the middleware https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/f02be2508e615a4a366b61fd06d5a9d40ec2372c/src/Finbuckle.MultiTenant.AspNetCore/In

[2022-01-10 14:45] r3wind commented on #961
@Jonno12345

Hello matey,

I sincerely appreciate you responding to my message, it's really good to see that you found a workaround to the problems you were facing.

I understand that you are using haproxy as an ingress into your Azure SignalR Service. I'm curious, how does this help in terms of rate-limiting the number of messages that can be sent through a single websocket connection? From what

[2022-01-10 14:53] Jonno12345 commented on #961
Hi Rich,

Apologies, not entirely my area - I believe it's OpenResty for this particular implementation with modules for regulating these, but I don't think it's an out-of-the-box solution, my colleague handles the mitigation side of things. I just handled the rest of the implementation around that 😁.

I'd hope there's a more consistent approach through Azure long term, so I think this topic still

[2022-01-10 16:02] dbContext commented on #961
@r3wind

I've linked a repo below, which will provide you a great starting block (with examples), to be able to piece together a LUA module upon OpenResty (or NGINX with LUA).

https://github.com/openresty/lua-resty-websocket#synopsis
https://github.com/openresty/lua-resty-websocket#restywebsocketclient

You can setup a WebSocket Server (first link), process the requests/messages and throttle/filt

[2022-01-12 02:13] vwxyzh opened #1531 "[RCA] Azure SignalR outage in East US on 2021.1.10 [Recovered]"
# RCA

## Describe the issue

[code]

## Impact during the outage

[code]

## Impact time

[code]

## Recovery

[code]

## Root cause

[code]

## Fix

[code]

[2022-01-12 16:35] Y-Sindo opened #1534 "Add tests on .NET framework"

[2022-01-13 19:40] wzoet opened #1536 "Connection dropped - kNWErrorDomainPOSIX error 53 (error 1006) - when switching to another app on iOS 15.2"
### Describe the bug
We are using Azure SignalR to connect to a web service we are running. This system is running for several years now without any issues. Recently we have begun to see 1006 disconnection errors on iOS. The error occurs when a user uses our software on an iPhone. Our software interacts with a 3rd party that sends an authorization request (push message) to another app on the same

[2022-01-14 10:23] wzoet commented on #1536
It seams that this issue is caused by changes in iOS as also mentioned in https://github.com/react-native-webview/react-native-webview/issues/2281. The solution as specified by nverwer to disable NSURLSession makes the issue disappear.

1. Open the Settings app
2. Scroll down and tap on “Safari”
3. Scroll down to the bottom and tap on “Advanced”
4. Tap on “Experimental Features” at the bottom
5. S

[2022-01-14 13:02] samushenkov opened #1539 "Unable to deliver messages to end users with Persistent connection configured"
Hey there!

### Describe the bug
We are using Azure SignalR service (serverless mode) in combination with Azure Functions (isolated process). Also we have a standalone service that uses ServiceManager to send some realtime information for end users. Clients do not receive any messages if ServiceManager is configured to use **ServiceTransportType** in **Persistent** mode. Switching it back to Trans

[2022-01-17 03:29] Y-Sindo commented on #1539
Is your client using MessagePack hub protocol?  Currently the message sent from Management SDK is in JSON format, and in `Transient` mode JSON is translating to MessagePack in Azure SignalR service side, but `Persistent` mode is more like server mode and doesn't have such a feature.

[2022-01-17 08:29] samushenkov commented on #1539
Thank you, @Y-Sindo! Disabling MessagePack on client side indeed solved an issue. Do you have any plans guys to make both these features work together? Didn't manage to find any information about such an incompatibility.

[2022-01-17 08:56] Y-Sindo commented on #1539
We will update the docs to remind users of the incompatibility.

We do have plans to support MessagePack in `Persistent` mode, but we are still considering the design. Do you think you will need to customize MessagePack serialization later? Your feedback is important to our decision. Thank you very much.

[2022-01-17 10:52] samushenkov commented on #1539
In our case we are planning to have a pretty big stream of realtime updates (quotes / orders / positions / balances and so on...). That is why we decided to use binany protocol (MessagePack) + dto serialization (protobuf). Looks like SignalR service sends our binary data as base64 string and it doesn't depend on used protocol (MessagePack vs JSON). So disabling MessagePack increases messages only

[2022-01-23 20:47] skystedt opened #1543 "Set StatusCode on HttpRequestException"
Today Azure SignalR creates HttpRequestException where it writes the status code as a part of the exception Message.

Since .NET 5, the HttpRequestException has a property for StatusCode.

I would propose the StatusCode property of HttpRequestException should be set. To allow for easier access to the status code.
To avoid having to do string parsing on the Message.

For example here: https://githu

[2022-01-24 19:59] brbarnett opened #1544 "Empty `IHubContext<THub, T>.Clients.Users(userIds)` `userIds` array throws `Argument cannot be null or empty. (Parameter 'userIds')`"
We run built-in SignalR locally, and Azure SignalR when deployed to Azure. Configuration:
[code]

Calling `IHubContext<THub, T>.Clients.Users(userIds).Method` locally with an empty `userIds` array succeeds. When called after `AddAzureSignalR` (like we do in our cloud environments), it throws a `Argument cannot be null or empty. (Parameter 'userIds')` exception.

I would expect that passing an empt

[2022-01-25 04:57] WilsonYesidRiveraCasas commented on #1096
Hi, I wrote this solution https://dev.to/wilsonyesidriveracasas/auto-scaling-azure-signalr-units-4e94

[2022-01-25 05:22] vicancy commented on #1543
In which case would you do string parsing to which Message?

Could you describe more about when would you create an HttpRequestException when using Azure SignalR?

[2022-01-25 05:37] vicancy commented on #1536
Looks like the WebSocket connection is closed by iOS. Since it is the SignalR client, I don't think there is much that Azure SignalR SDK can help with.

Can "re-start the connection" once 1006 is detected workaround this issue?  For example, with such approach: https://github.com/Azure/azure-signalr/blob/e6c3768de36d0c0edd260d867bb15916868ef3b4/samples/ChatSample/ChatSample.Net50/wwwroot/index.htm

[2022-01-25 20:45] robertlyson commented on #1497
I started to experience same issue last week. Don't see any errors in my app logs, haven't updated `Microsoft.Azure.SignalR` (1.13.0). Even if I remove all of the logic from my hub and leave it as follow
[code]

`The server closed the connection with the following error: Connection closed with an error.`error is showing up.

I have three instances (UKS region) of Azure SignalR standard and all of

[2022-01-25 20:58] ph-ict commented on #1497
Interesting. Unfortunately our issues resolved after a week or so before we could diagnose them fully, and investigation from the Microsoft team didn't reveal anything useful. It would be great if you manage to work out what is going wrong. I created a simple client that connected successfully to the working instance and failed connecting to the faulty one. If you send them timestamps perhaps they

[2022-01-25 21:07] robertlyson commented on #1497
@ph-ict many thanks for your update :+1:

[2022-01-25 21:19] robertlyson commented on #1497
Interestingly, I was able to reproduce the issue 100% times before 9PM UTC, now after 9:10PM UTC it's gone.

[2022-01-25 22:14] ph-ict commented on #1497
:o That is the same thing that concerned me - the issues started one day and stopped a week or so later without any changes :(

Any new Azure SingalR instance I created worked fine, as did one of the instances created at the same time that we hadn't started using yet, but the other two were failing. Then suddenly they both came right again at the same time. I'm convinced it's something on the Azur

[2022-01-25 22:18] ph-ict commented on #1497
Oh and for completeness, our instances were all in AU-East

[2022-01-26 21:23] skystedt commented on #1543
I updated the post, providing more information and a use case

[2022-01-27 18:15] #1316 closed

[2022-01-30 00:22] alanbucknum commented on #1084
Hi, we have the same error occurring right now. Using upstream Azure Functions on Serverless SignalR Service. Any update?

[2022-01-30 03:24] Y-Sindo commented on #1084
@alanbucknum This is a known limit of serverless protocol.

[2022-01-30 03:34] alanbucknum commented on #1084
Thanks, that makes sense. For now we are just modifying the list of role claims to a single role claim, which contains a pipe-delimited list of roles (e.g. "admin|superadmin|reportsconsumer"). Then our authenticating filter for SignalR parses the string back into a list of individual roles to check against allowed permissions.

[2022-02-09 07:30] wanlwanl commented on #1544
Hi @brbarnett the bug is fixed, please try https://www.nuget.org/packages/Microsoft.Azure.SignalR/1.15.1

[2022-02-09 14:23] brbarnett commented on #1544
Thank you, @wanlwanl!

[2022-02-10 14:17] arashcomsense opened #1552 "Azure Function V4 in .NET 6.0 does not seem to be working with the emulator"
### Describe the bug
Clone[ this repo](https://github.com/aspnet/AzureSignalR-samples/blob/main/samples/DotnetIsolated-BidirectionChat/Functions.cs) and configure the local.settings.json file to communicate with the emulator.  Nothing is working but the negotiation.

[2022-02-11 03:47] Y-Sindo commented on #1552
It works well when I test. Do you initialize the emulator upstream settings with `asrs-emulator.exe upstream init`?

[2022-02-11 12:35] arashcomsense commented on #1552
@Y-Sindo Yes I did initialize it. This is how the settings looks like:

[code]

[2022-02-14 09:03] #1544 closed

[2022-02-15 01:57] #1543 closed

[2022-02-15 03:32] Y-Sindo commented on #1552
What is the transport type you use? `Persistent` type doesn't work for emulator.

[2022-02-15 10:55] jojoman2 opened #1555 ""Request headers must contain only ASCII characters" in console when connecting to Azure SignalR Service"
### Describe the bug
When I try to run an ASPNET Core project using Azure SignalR on my local machine, I get the following message:
fail: Microsoft.Azure.SignalR.ServiceConnection[2]
      Failed to connect to '(Primary)https://xxx.service.signalr.net', will retry after the back off period. Error detail: Unable to connect to the remote server. Request headers must contain only ASCII characters.. I

[2022-02-15 12:12] arashcomsense commented on #1552
@Y-Sindo Yes, the transport type is `Persistent` per the following configuration:

[code]
Apparently that's why and we cannot use the emulator. Therefore the best way would be to use ngrok to have the SignalR Service's webhook divert the traffic to the local machine.

[2022-02-15 12:23] Y-Sindo commented on #1552
You could also try [Azure Relay](https://docs.microsoft.com/en-us/azure/service-bus-relay/relay-what-is-it#hybrid-connections) with this [local client tool](https://github.com/OfficeDev/microsoft-teams-tunnelrelay), which costs little and provides better GUI experience.

FYI: https://techcommunity.microsoft.com/t5/microsoft-teams-blog/introducing-tunnel-relay/ba-p/149990

[2022-02-15 13:05] #1552 closed

[2022-02-16 22:58] alteredtastes opened #1558 "No error thrown from AddAsync when ConnectionStringSetting is not provided for the C# function binding"
### Describe the bug

For a while, I was blocked trying to understand why SignalR service was not sending messages to my group, when negotiate and adding to the group were appearing to work fine.

Using examples from the docs ([here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-output?tabs=csharp)), I found that the `ConnectionStringSetting = <Signal R

[2022-02-17 07:05] Y-Sindo commented on #1558
The `ConnectionStringSetting` is not necessary. It has a default value of `AzureSignalRConnectionString`. You could check [this](https://github.com/Azure/azure-functions-signalrservice-extension/blob/dev/samples/simple-chat/csharp/FunctionApp/Functions.cs#L28) for a full sample. You might want to enable full logs to see what happened in your functions by adding the `logging` property in the top le

[2022-02-17 07:44] alteredtastes commented on #1558
I was doing this locally and in local.settings.json I did have...
[code]

Negotiate and adding to group worked, so perhaps they read the "AzureSignalRConnectionString" naming convention fine by default. Sending to the group afterwards however would not work without explicitly passing "ConnectionStringSetting" pointing to the string in local settings Values.

I've not rechecked with new log setting

[2022-02-17 08:40] Y-Sindo commented on #1558
I can't reproduce the problem. What's the SignalR extension version?

[2022-02-17 14:52] Arash-Sabet opened #1559 "Running Azure SignalR Emulator in docker"
### Is your feature request related to a problem? Please describe.
We have an application working in docker but it relies on an instance of an Azure SignalR Service hosted on cloud. Due to some business reasons, we want each instance of the docker image to use a segregated version of signalR service. Therefore, we want to embed the SignalR Emulator in it.

### Describe the solution you'd like
I'd

[2022-02-17 18:17] alteredtastes commented on #1558
<PackageReference Include="Microsoft.AspNetCore.SignalR" Version="1.1.0" />
<PackageReference Include="Microsoft.Azure.WebJobs.Extensions.SignalRService" Version="1.6.0" />

[2022-02-18 06:50] Y-Sindo commented on #1558
Version 1.6.0 works well in my tests. Could you provide a minimum project to reproduce the problem?

[2022-02-18 13:58] dkboon01 opened #1560 "can a blazor wasm client connect to azure signalr"
I know this will work if I put the hub class either in .net core application or in blazor server application or in azure function.  My question  can  a the blazor wasm client  connect directly  to azure signalr service?  Is there an example?

[2022-02-20 00:47] MarcusU commented on #1096
@zackliu I just noticed this article about the auto scaling setting, which is great news! However it mentions it's only available on the "Premium" pricing tier that is currently in public preview, but I can't find anything in the portal about switching to that tier, I only still see "Free" and "Standard".

https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-autoscale

Was the

[2022-02-21 03:04] vicancy commented on #1559
May I ask the reason for not using self-host SignalR?

[2022-02-21 03:15] vicancy commented on #1560
I think the way how a Blazor WASM client uses Azure SignalR service sounds the same as how a normal C# client uses the service. You can either have a hub server to host your hub logic or use the "serverless" mode of the Azure SignalR service, depending on your user scenarios.

[2022-02-21 10:54] asadmalik3 opened #1561 "Is there a way to configure multiple stand-alone instances of azure signal r service in multi-tenant application"
### Is your feature request related to a problem? Please describe.
I have a multi-tenant application where users can configure their own azure signal r service instance. During negotiation, on the basis of domain or some other parameter in the query string, I should return user details of customer's own endpoint.

### Describe the solution you'd like
Is there a way to achieve this? This comes clos

[2022-02-21 13:09] WilsonYesidRiveraCasas commented on #1096
@MarcusU , The free tier is limited, but there is a way to configure autoscaling in standard tier. [https://dev.to/wilsonyesidriveracasas/auto-scaling-azure-signalr-units-4e94](https://dev.to/wilsonyesidriveracasas/auto-scaling-azure-signalr-units-4e94)

[2022-02-22 03:31] vicancy commented on #1561
How do your customers configure their SignalR instances? Does your app server have the mapping between the user and the SignalR endpoint?

[2022-02-22 03:35] asadmalik3 commented on #1561
@vicancy Yes, we let users configure signal r endpoint through web app and store this end point in database for every customer separately.

[2022-02-22 03:44] vicancy commented on #1561
Do you have Hub logic in your app server? Do you know the list of SignalR endpoints that your customer can select beforehand?

[2022-02-22 03:48] asadmalik3 commented on #1561
@vicancy Yes, hub logic is in my app server. SignalR endpoints for customers are stored in the database and I can access those endpoints.

[2022-02-22 04:22] zackliu commented on #1096
Premium tier is not public released yet. We're preparing for that. It's expected to be public in March.

[2022-02-22 08:47] vicancy commented on #1561
Can these endpoints change when new customers come in?

If not, you can try this multi-endpoint approach https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-multi-instances#how-to-add-multiple-endpoints-from-code, and use this custom router logic https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-multi-instances#customize-routing-algorithm to route differ

[2022-02-22 08:52] asadmalik3 commented on #1561
@vicancy Endpoints can definitely change, customers can add/remove endpoints from web application.

I tried to write a custom routing algorithm, but it requires me to declare endpoints at the startup. My issue is that endpoints can be added/removed/changed by the user.

[2022-02-22 09:25] vicancy commented on #1561
The SDK actually did a lot of work to support dynamic endpoint hot-reload from configurations. The work is mainly to sync between multiple app-server instances to guarantee every app-server handles the same list of endpoints. So as this doc https://github.com/Azure/azure-signalr/blob/dev/docs/sharding.md#dynamic-scale-serviceendpoints points out, if you want to support dynamic endpoints, you can a

[2022-02-22 12:07] asadmalik3 commented on #1561
@vicancy This seems possible on paper, I will try it out and will update you. Thanks.

[2022-02-22 20:28] Arash-Sabet opened #1566 "Unable to add a user to a group in a Linux docker container dotnet-isolated process .NET 6.0 and Functions V4"
### Describe the bug
The code fails to add a user to a signalR group in a docker container despite the negotiation passes successfully.

The function's code is per the snippet below:

[code]
The following exception is thrown when calling this function by POSTMAN despite the function works fine out of the docker context e.g. VS 2022. Please note that there is a reverse proxy in place to accommodate

[2022-02-23 05:26] vicancy commented on #1559
Could you illustrate this more? I think the disconnection event is triggered by one Hub server only.

[2022-02-23 12:22] Arash-Sabet commented on #1559
The disconnection event will be caught and handled by all instances of the signalR client applications. We share docker images among developers which contains all tiers of our application (e.g. Azure Functions, ASP.NET app, etc.). Putting a SignalR emulator instance in our docker image rather than creating multiple services on Azure helps us have a more abstract environment.

[2022-02-23 12:34] Arash-Sabet commented on #1566
@Y-Sindo just wondering, is this a question that you may know the answer? Thanks.

[2022-02-23 19:32] alteredtastes commented on #1558
Sorry I've had quite a lot going on, will try to repro in a separate project soon.

[2022-02-23 19:36] alteredtastes commented on #1558
I will say however.. I find passing ConnectionStringSetting to be preferable. It is harder to know how the connection string is being referenced for SignalR when it is done implicitly via the default check and naming convention of "AzureSignalRConnectionString".

[2022-02-24 00:54] vicancy commented on #1559
Do you mean "disconnection" event for a SignalR client? one SignalR client disconnect triggers one "disconnection" event for this particular client.

Emulator is designed for easy local debug for the transient serverless scenario, I am a little concerned about the design limitation and code quality of the Emulator to meet the PROD usage bar. Anyway you can always install the Emulator using `dotnet

[2022-02-24 03:50] Y-Sindo commented on #1558
The `ConnectionStringSetting` itself has a default value `AzureSignalRConnectionString`, and all SignalR output bindings with the same connection string setting share a same SignalR hub context, so there should be no differences. I'll close this issue as it is unreproducible. Feel free to reopen it if you have new evidence.

[2022-02-24 03:50] #1558 closed

[2022-02-25 12:53] ahmad-hawklogix001 opened #1569 "Azure SignalR service not working with Azure app service website"
### Describe the bug

We are using Azure app service for our web application and we are using azure signalR service in this.

If we connect Azure signalR service with localhost (in local code visual studio) everything works fine but when we deploy the application on Azure App Service, websocket is not connecting and one interesting thing is if we run our local code using IIS Express and then run o

[2022-02-28 09:19] ahmad-hawklogix001 commented on #1569
We want to user AspNet SignalR.

[2022-02-28 13:40] ahmad-hawklogix001 commented on #1569
Issue has been resolved. That was the configuration issue. Thanks.

[2022-02-28 13:40] #1569 closed

[2022-03-02 16:53] Arash-Sabet commented on #1559
Yes

[2022-03-03 07:06] vicancy commented on #1559
Why "disconnection" event for one SignalR client will be handled by **all** instances?

[2022-03-04 07:37] Y-Sindo commented on #1566
Your function host didn't successfully connect to Azure SignalR Service. There might be some network issues in your container. You could [enable `Debug` log level](https://docs.microsoft.com/azure/azure-functions/configure-monitoring?tabs=v2#configure-log-levels) to check the logs when the host was trying to connect to SignalR Service to see why.

[2022-03-16 13:42] DaGrisa opened #1577 "Getting "500 - InternalServerError" when using REST API for groups (POST)"
### Describe the bug
On our Hangfire Service we use the Azure SignalR RESTful API for broadcasting messages to groups:
https://github.com/Azure/azure-signalr/blob/dev/docs/swagger/v1.md#post-broadcast-a-message-to-all-clients-within-the-target-group.

Since 10th or 11th of march last week this POST call does not work anymore, even in our production environment, where we didn't change anything.

Sa

[2022-03-16 16:15] DaGrisa commented on #1577
I found the problem, it was the encoding (Unicode produces the "Internal Server Error"):
[code]

[2022-03-17 00:48] KKhurin commented on #745
Folks who ran into this, could you please confirm that in all these cases you'd have to have multiple service endpoints to be able to repro the timeouts? We have found and fixed the culprit for them (see #1576), just wanted to confirm that there are no other unaddressed issues.

[2022-03-17 01:46] vicancy commented on #1577
Thanks for reporting the issue, this should be a regression bug from the service side. It should support UTF16 content

[2022-03-17 01:57] ajbeaven commented on #745
I was never able to reliable reproduce this in my environment and it was pretty rare (last received this 1 month ago). This seems to support the idea this is caused by a race condition. Yes we do have multiple service endpoints.

[2022-03-17 03:25] vicancy commented on #1577
We are working on a hotfix

[2022-03-17 04:09] Y-Sindo commented on #1577
@DaGrisa Can you send your resource ID to email zityang@microsoft.com ? We are going to apply a patch to your resource

[2022-03-17 06:28] DaGrisa commented on #1577
Thank you, our administrator will send you the resource IDs.

[2022-03-17 07:17] Y-Sindo commented on #1577
@DaGrisa I haven't received a related email yet.

[2022-03-17 07:38] DaGrisa commented on #1577
Now he sent it to you

[2022-03-18 04:15] Y-Sindo commented on #1206
@brechtvhb This seems like a different problem with the original one. Please open a new issue.

Are you using multiple endpoints with aad? We have detected a bug that multiple endpoints with AAD would fail to authenticate. The bug is fixed in the latest SDK.

What's your SDK version? Can the problem reproduce with the latest SDK?

[2022-03-21 10:49] RichardBurns1982 opened #1578 "ServiceManagerBuilder/HubContext Singleton, Transient or Scoped?"
We are using the Azure SignalR service from functions to send messages back to our UI and all is working without issue. But I can't find a definitive answer on how long lived the ServiceManager or HubContext should be.

At the moment each time we want to send a message to the UI we call a class we have written which does the following:

[code]

This all works fine, but we are creating a new Servic

[2022-03-23 09:40] Y-Sindo commented on #1578
You could dispose `ServiceManager` once you have created the `HubContext`. And the `HubContext` is safe to use as a singleton across multiple threads.

[2022-03-24 10:57] zackliu commented on #1096
Azure SignalR is supporting autoscale in Premium Tier.
Please refer to docs: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-autoscale

[2022-03-30 20:52] spencercap commented on #1536
i've had luck keeping some background task running in the webview like an interval or animation frame while the webview or browser is backgrounded like:
[code]
or
[code]

[2022-03-31 11:02] talksoft999 commented on #1468
@Y-Sindo We are still seeing the above issue in our environment. Can you confirm if the code has been released and if so what action is required on our part to see the fix.

[2022-04-01 05:27] Y-Sindo commented on #1468
@talksoft999 The code is reverted due to some problems in the last release. The problem is fixed now and hopefully, it can be released in this release cycle. I will notify you once it is really released.

[2022-04-02 03:16] vicancy commented on #1577
Should be resolved now.

[2022-04-02 03:16] #1577 closed

[2022-04-07 13:18] oatsoda commented on #733
Updated Link: https://github.com/Azure/azure-functions-signalrservice-extension/blob/wanl/update-doc/docs/use-signalr-binding.md#use-signalr-service-management-sdk-in-functions

[2022-04-08 07:46] oatsoda commented on #969
@vicancy Do you know if the emulator works with the Management SDK and the Persistent (websocket) Transport?

[2022-04-08 07:51] oatsoda commented on #969
Don't worry, I found my answer: https://github.com/Azure/azure-signalr/blob/dev/docs/emulator.md#azure-signalr-local-emulator

"Please also note that emulator only works for Transient transport type (the default one) and doesn't work for Persistent transport type."

Is this something that's likely to be added?

[2022-04-11 01:47] vicancy commented on #969
There is currently no plan to. The emulator is designed to make local debugging easier. Since the development experience for using Transient mode and Persistent mode should be the same, the emulator sounds already achieved its goal by supporting Transient mdoe.

[2022-04-28 07:23] oatsoda commented on #1468
@Y-Sindo This looks like it is fixed now, so assume this has been released?

![image](https://user-images.githubusercontent.com/3919587/165699227-3dc78a85-3e8d-47c8-97ac-b54a4510d7c0.png)

And just to confirm, does it do any processing on the Date at all?  Wondering if it might still be converting to UTC?

[2022-05-01 17:49] mhintzke opened #1602 "Initializing Azure SignalR using `UseAzureSignalR` doesn't facilitate examining Authorization metadata soon enough like `UseEndpoints` does."
### Describe the bug

Using `UseAzureSignalR` does not inspect the `Hub` objects for `AuthorizeAttributes` prior to making the `/negotiate` call like ASP .NET Core SignalR does. This results in Negotiation authorization to behave incorrectly. Authorization for Azure SignalR only takes place between the negotiate calls and the redirection to Azure SignalR, but if Authorization to `/negotiate` fails

[2022-05-03 00:13] mhintzke commented on #14
@davidfowl I know this is very old, but we ran into an issue today that we think is a bug, but I am starting to get second thoughts. Our application code is using `Microsoft.AspNetCore.Builder.AzureSignalRApplicationBuilderExtensions.UseAzureSignalR`, but when we did that I ran into #1602. I reproduced that "bug" in a forked repository but while I was doing it I realized that the sample applicatio

[2022-05-03 00:28] mhintzke commented on #1602
After further review (when reproducing in sample), I have realized that the expected behavior occurs when we using `IApplicationBuilder.UseEndpoints` instead of `IApplicationBuilder.UseAzureSignalR`. The former properly sets up the `IAuthorizeData` as endpoint metadata for the Authorization system to look at. The latter does not. So rather than being a bug, maybe this just needs to be deprecated?

[2022-05-05 02:16] vicancy commented on #1602
Sounds a bug to look into.

[2022-05-05 07:26] davidfowl commented on #1560
Yes it can, just like the JS Client.

[2022-05-06 22:27] profnimrod opened #1603 "Error when binding in WebJob"
I have a webjob using Microsoft.Azure.WebJobs 3.0.32.  It contains a function that is bound to a SignalR instance using Microsoft.Azure.WebJobs.Extensions.SignalRService 1.8.0.  This is dependent on Microsoft.Azure.SignalR.Management and Microsoft.Azure.SignalR.  This web job was running perfectly fine when I was using version 1.16.1 of these libraries.  After upgrading to 1.17.0 I started getting

[2022-05-09 08:10] joukevandermaas opened #1604 "AuthType=aad should default to DefaultAzureCredential"
### Describe the bug
When the signalr connection string says `AuthType=aad` and nothing else related to auth, it should use `DefaultAzureCredential`. This credential automatically figures out a lot of stuff and can be configured through environment variables etc.. It automatically works locally or in a managed identity context. It is the default for all other Azure services.

Somehow Azure SignalR

[2022-05-09 11:16] schotime commented on #1497
I've just been getting this today, and I think i've had it other times too. Did anything come of this?

[2022-05-09 12:19] schotime commented on #1497
Ok, turns out mine was that the message exceeded 32KB, and I had to turn EnableDetailedErrors on to find the actual error.

[2022-05-10 08:09] xingsy97 commented on #1602
Thanks for your detailed feedback. This issue will be solved by #1605 , which obsoletes `UseAzureSignalR `when .NET Core version >= 3.1.

We find that `UseSignalR` behaves same as `UseAzureSignalR` and your reproduce is still work with `UseSignalR`. `UseSignalR` follows global auth and doesn't support customized auth policy. So we choose to obsolete `UseAzureSignalR` rather than updating it.

Endp

[2022-05-11 11:55] ajbeaven commented on #1421
Has someone been able to look in to whether this can be supported on ASRS? If not, I really need some direction on how to differentiate on the server side between a disconnection that occurs due to the client closing their browser when using ASRS. @vicancy, is this something you could help with?

[2022-05-13 05:42] vicancy commented on #1421
Sorry for the late response.

When client "loses internet connection", SignalR hub leverages the SignalR client ping messages to determine if the client is still there, however SignalR swallows the OperationCancelledException https://github.com/dotnet/aspnetcore/blob/88ee825bca9978df7f1d8c8c09b71b6dffeeb53b/src/SignalR/server/Core/src/HubConnectionHandler.cs#L169 and as a result it fails to differ

[2022-05-16 06:17] Y-Sindo commented on #1468
@oatsoda The fix has been applied to all the regions.

[2022-05-16 06:17] #1468 closed

[2022-05-18 11:08] lbarberic1 commented on #1603
Did you find any solution to this problem?

[2022-05-18 18:02] profnimrod commented on #1603
Fraid not... surprised to not have had a response from the devs yet though.

[2022-05-18 21:06] josephsctan opened #1606 "UserNameClaimType changed from default to 'name', breaking authentication"
### Describe the bug
I am using Azure Signal  R on a Blazor Server side app. Everything had been working well for last 2 years in .net 5. Last week I upgraded the app to .net 6 and authentication broke.

After investigation, it is turns out that Azure SignalR is the likely cause - it changes the UserName Claim Type from `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name` to `name` - there

[2022-05-19 03:46] vicancy commented on #1603
caused by breaking change "internal set" removed https://github.com/Azure/azure-signalr/pull/1592/files#diff-e50d03937e2aa54893f89a4c129107f652bd180af87e5a4c32feb7c5c3438424L20

Needs a hotfix.

[2022-05-19 03:59] terencefan commented on #1604
@joukevandermaas Hello, it's not recommended to use `connection string` to set up AAD identity anymore.

https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-authorize-application#app-server

![image](https://user-images.githubusercontent.com/4176855/169201474-55120af0-faec-423f-9eb3-c057ae089220.png)

[2022-05-19 04:04] vicancy commented on #1606
Thanks for reporting the issue, we are actively investigating the issue.

[2022-05-19 06:01] microsoft-github-policy-service[bot] opened #1609 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 06:06] #1609 closed

[2022-05-19 07:13] joukevandermaas commented on #1604
@terencefan thank you for the reply. We have indeed settled on that solution.

However, the connection string is shown in Azure Portal. Currently it shows both the key and the AAD connection strings (as it does for other services).

Either way I think this is a very easy thing to fix and would help a lot. I can make a draft PR if you like to show how what I mean. It should not be a breaking change

[2022-05-19 13:55] vicancy commented on #1606
Is it possible to provide a minimum project that can repro the issue?

[2022-05-19 14:11] vicancy commented on #1606
Summarize issues described in SO thread:
Claims
[code]
are transformed to
[code]
after going through Azure SignalR.

Azure SignalR tries to preserve the original claim type but looks like the claim `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name` is **MISSING**. Instead we can see the claim called `name` holding the username value.

Another thing mentioned is with a fresh ASPNET 6 Blaz

[2022-05-19 21:39] josephsctan commented on #1606
Hi @vicancy

I am not actually using HttpContextAccessor for any business-critical logic but as a  sniff test to see if the system is healthy.

Also, to reproduce the behaviour in a fresh ASPNET 6 project is here https://github.com/josephsctan/CheckAuth.AzureSignalR.Debug

If it helps I can deploy it to Azure App Service so you can see it live.

[2022-05-20 01:02] vicancy commented on #1084
Should be fixed

[2022-05-20 01:02] #1084 closed

[2022-05-20 01:40] vicancy commented on #1606
Seems related to this issue https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/982
When using Azure SignalR, the SDK generates the JWT token with the user claims and then redirect to connect to the SignalR service as described in [service internals](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-internals#client-connections).

The SDK

[2022-05-20 02:34] xingsy97 commented on #1606
hi @josephsctan , [the reproducre repo](https://github.com/josephsctan/CheckAuth.AzureSignalR.Debug) you mentioned before is 404 for me. Could you give it a check? thx

[2022-05-20 02:35] josephsctan commented on #1606
That's cause its private .. I will invite @xingsy97  now...

[2022-05-20 02:54] vicancy commented on #1606
The thing that confuses me is why the failed project does not generate the "unique_name" claim though... Hi @josephsctan is it possible for you to capture the claims inside the outgoing request to Azure SignalR? that can help us quickly identify if the issue is from the SDK side or the service side.

How to capture the claims inside:
1. When the project is running, F12 to open the Network window,

[2022-05-20 03:07] josephsctan commented on #1606
@vicancy - you are right about the System.IdentityModel.Tokens.Jwt version having an effect. Here is some analysis I did:

My Fresh NET6 project uses System.IdentityModel.Tokens.Jwt  6.8.0.11012 : here are the claims:
[code]

My NET5>NET6 project uses System.IdentityModel.Tokens.Jwt  6.10.0.20330 and the 'name' claim is changed

[code]

I upgraded my NET5>NET6 project to the latest System.Identity

[2022-05-20 03:34] vicancy commented on #1606
Thanks for the investigation. So that it is the System.IdentityModel.Tokens.Jwt 6.10.0.20330 that is buggy. :(
No need to capture the outgoing traffic any more.

[2022-05-20 03:35] josephsctan commented on #1606
👍 👍

[2022-05-20 03:38] vicancy commented on #1606
@xingsy97 Let's try getting rid of `System.IdentityModel.Tokens.Jwt` package when generating the JWT token following how azure sdk for net does https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubAuthenticationPolicy.cs#L44

[2022-05-21 02:37] MaxxDelusional commented on #1495
I am seeing this too. I set custom headers when creating my hub connection in my Blazor WASM app.

[code]
But this custom header is not present in `Context.GetHttpContext().Request.Headers`.

[2022-05-21 20:34] profnimrod commented on #1603
Looks like 1.17.1 is now available in Nuget, and it fixes the problem I was seeing.  Many thanks!

[2022-05-23 03:09] terencefan commented on #1604
#1616 Hello, I've already created a PR to introduce a new type "azure" for fixing this. It should be in our next release.

[2022-05-23 07:40] vicancy commented on #1603
Thanks for the confirmation.

[2022-05-23 07:40] #1603 closed

[2022-05-23 13:12] roopeshreddy commented on #1455
Any luck on this issue?

[2022-05-24 02:58] vicancy commented on #1495
@MaxxDelusional I did a quick try and the headers are included in `Context.GetHttpContext().Request.Headers`.
C# client (tried both Microsoft.AspNetCore.SignalR.Client 3.1.25 and 6.0.5)
![image](https://user-images.githubusercontent.com/668244/169939186-96617d90-8869-45ac-a2c9-5a3746a22b04.png)
And server hub can get the custom header through `Context.GetHttpContext().Request.Headers`
![image](htt

[2022-05-24 12:25] MaxxDelusional commented on #1495
@vicancy where are you reading the headers in your hub? Are they available in OnConnectedAsync?

I believe the problem might be caused by web sockets. I am not sure that web sockets support custom headers.

[2022-05-24 17:35] filmar25 commented on #1462
I solve my problem long time ago.

Just let you know how to reproduce the instability :

1. Have an environment on Azure with 2 VMs
2. Have an application MVC 5
3. Have two development machine that regularly build/rebuild the code.
4. When start application and using MapAzureSignalR, use the same applicationName for Azure Environment and Development Environment

So the Azure Environment has his ow

[2022-05-25 09:48] vicancy commented on #1495
@MaxxDelusional It's indeed in OnConnctedAsync, but I am using a normal SignalR project instead of a blazor WASM project though. A minimum project that can repro the issue is very much appreciated.

[2022-05-30 04:58] xingsy97 commented on #1606
#1618  implement our own JWT token generator to get rid of package `System.IdentityModel.Tokens.Jwt`

[2022-06-04 15:27] wasabii commented on #1151
Another issue is enabling or disabling it based on Configuration provided by custom configuration sources. This Enabled key seems to only be searched for in the HostingEnvironment. It does not take into account custom configuration JSON, or other services that might deliver IConfiguration at runtime.

I would recommend the "on/off" functionality not be at the level of registration, but taken into

[2022-06-08 05:13] #1602 closed

[2022-06-17 07:40] #1578 closed

[2022-06-18 13:31] CharlieDigital commented on #14
@mhintzke Also curious about this.

There's generally a lack of documentation and samples with respect to using Azure SignalR outside of Functions use cases.

[2022-06-19 05:21] davidfowl commented on #14
UseAzureSignalR is deprecated.  Docs and samples are here https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-dotnet-core

[2022-06-24 02:29] vicancy opened #1632 "ServiceConnectionNotActiveException from ServiceConnection.ProcessOutgoingMessagesAsync"
### Describe the bug
When the server connection is closed, if the Hub level writes data into the client connection Application Input, since it fails to deliver messages out through the server connection, ServiceConnectionNotActiveException throws

### Details
ProcessOutgoingMessageAsync processes Application Input pipeline. When using AzureSignalR, messages such as GroupSend UserSend messages (act

[2022-06-24 02:46] bjqian opened #1633 "[RCA]Azure SignalR ServerLoad inaccurate [Resolved]"
### The impact
Customer may find the [Server Load metrics](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-performance#quick-evaluation-using-metrics) remains high even other metrics are showing the traffic is decreasing. This will impact the auto-scaling functionality if Server Load is used as a dimension. **The metrics will recover after several hours.**

### In what situati

[2022-06-28 02:59] #1632 closed

[2022-07-01 14:27] deepak-vanco commented on #1536
Any update on this issue?

[2022-07-01 19:00] wzoet commented on #1536
Unfortunately not. OSX and iOS have implemented this as experimental feature. And no workaround seems to be available. We advise turning this feature off as a workaround in our user manual.

[2022-07-04 23:14] RbsTechOnline opened #1640 "Is there a way to forward a claim/role from the negotiation header through to hub SignalRInvocationContext in serverless upstream"
Environment

- Azure signalr
- Serverless mode
- Isolated Azure Function Upstream

My problem is, i cant seem to find a reliable way to authorize a hub method after negotiation.

The use-case here, is i have connected clients authorized from the front end clients through a jwt token supplied azure B2C. I also have back-end MS Orleans Daemon services that push messages through to those clients.

I

[2022-07-05 08:58] zackliu commented on #1640
Claims in `X-ASRS-User-Claims` consists of claims in the accessToken. So, you just need to add your custom claims when generating access token in the negotiate method.

If you're using in-process C#, then you can easily use `ServerlessHub.NegotiateAsync` to pass in custom claims. But as you're using isolated process, you can also simulate the implementation in `ServerlessHub` to generate accessTok

[2022-07-05 10:04] Y-Sindo commented on #1640
In dotnet isolated process worker, you can also use the "IdToken" and "claimTypeList" properties in the `SignalRConnectionInfoInput` binding as follows to pass your customized claims. Specify the location of your jwt claim in the "IdToken", and the claim types you want to put into the user claims.

[code]
A payload sample of the required JWT token:
[code]

[2022-07-05 21:25] #1640 closed

[2022-07-06 08:35] josip8 opened #1642 "OnDisconnectedAsync not triggered"
### Describe the bug
OnDisconnectedAsync method is not triggering when internet is disconnected

### Exceptions (if any)
Sometimes can work, 5% of the time

### Further technical details
- Microsoft.Azure.SignalR v1.18.1 - Default mode
- .NET 6.0 - running in azure app service
- Client SDK version - @microsoft/signalr": "6.0.4"

[2022-07-06 14:29] #1642 closed

[2022-07-06 15:09] spencercap commented on #1536
this is definitely a spotty flow on mobile. especially on crowded LTE networks as well as device to device on firmware versions...

alas, we've had some luck keeping the thread alive by playing audio in the background (even a completely silent audio track) as demo'd in our algorand library here:
https://github.com/thencc/algonautjs/blob/65142a39bff51b49a2ce4924b8ec585dd3284f04/src/index.ts#L2301-L

[2022-07-07 11:20] BozeTadic commented on #943
Not related exactly to this old open issue, but a similar issue does exist where first ping message must be sent from client so the server is tracking timeout and firing the OnDisconnectedAsync(Exception exception).

Basically, if an abrupt disconnect is to happen in the first 15 sec (default keepAlive interval), the OnDisconnected won't be trigger for more than 15 minutes.

A manual mimic of the

[2022-07-08 03:03] vicancy commented on #943
Oh what version of the client library are you using? I just did a quick test and it did work with json protocol and 5.0 js client
[code]
<img width="305" alt="image" src="https://user-images.githubusercontent.com/668244/177908786-16b0fe26-76ef-4f29-9bda-7292d895f5ee.png">

[2022-07-08 07:41] oatsoda opened #1643 "[Feature] Remove required dependency on Microsoft.Azure.Core.NewtonsoftJson from Management SDK"
It would be great if the Management SDK did not have a [dependency on Microsoft.Azure.Core.NewtonsoftJson](https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR.Management/Microsoft.Azure.SignalR.Management.csproj#L14)

Instead, most other Azure/MS packages will ask you to add Microsoft.Azure.Core.NewtonsoftJson only when you need it, so that you can then supply an instance o

[2022-07-08 07:59] BozeTadic commented on #943
The client library version is "^6.0.4"
The change seems to be the renamed cachedPingMessage > _cachedPingMessage.

It works with the underscore. A simple oversight.

[code]

Thank you for helping.

[2022-07-11 22:50] RbsTechOnline opened #1644 "Guidance on upstream settings for an azure containerized function"
Due to operational constraints, we need to run the upstream function inside a container on AKS.

*Environment*
- Net 6
- Isolated
- Signalr Serverless mode
- Upstream
- Azure Containerized function
- AKS with workflow identity,
- Container has its own service principle.

The only thing i am unsure about is the upstream URL and its code

`<host>/runtime/webhooks/signalr?code=<API_KEY>`

The host is

[2022-07-12 03:36] Y-Sindo commented on #1644
Are you using [Azure Functions on Kubernetes with KEDA](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda)?

[2022-07-12 04:02] RbsTechOnline commented on #1644
@Y-Sindo Yeah the upstream singalr azure function is running in a container on AKS. the problem i am having in particular is the secret used in the upstream setting in the azure signalr service

http://host/runtime/webhooks/signalr?code=<secret>

I have progressed a little and figured that secret for  signalr is actually a system key which is found and backed by the AzureWebJobsStorage connections

[2022-07-12 05:13] Y-Sindo commented on #1644
If you confirm that you're using [KEDA](https://docs.microsoft.com/azure/azure-functions/functions-kubernetes-keda), then SignalR trigger is not supported according to [Supported triggers in KEDA](https://docs.microsoft.com/azure/azure-functions/functions-kubernetes-keda#supported-triggers-in-keda).

Implementing an HTTP trigger to handle SignalR requests might be a workaround, as the SignalR trig

[2022-07-12 05:16] RbsTechOnline commented on #1644
@Y-Sindo thanks for your help, yeah, i think i am pushing this too far up hill, for little benefit

[2022-07-12 05:16] #1644 closed

[2022-07-13 07:54] Y-Sindo commented on #1643
As we have supported Newtonsoft.Json as serialization library for transient mode at first, it is a breaking change to remove the support as default, and we don't have a plan to upgrade the major version. Users can always override the Microsoft.Azure.Core.NewtonsoftJson version by declaring the dependency in their csproj files, and we also always suggest users adding the dependency explicitly in [d

[2022-07-13 14:45] jcbrooks92 commented on #1633
@bjqian did the deployment reach Azure Government yet?

[2022-07-15 04:59] bjqian commented on #1633
@jcbrooks92 Not yet. The estimated time for ff will be this weekend

[2022-07-19 01:12] bjqian commented on #1633
The release has finished

[2022-07-19 01:13] #1633 closed

[2022-07-21 22:46] rachael-ross opened #1648 "Migrating from .NET Core 3.1 > 6.0 Can no longer connect to Hub Endpoint"
### Describe the bug
We've recently migrated from .NET Core 3.1 to .NET 6.0.5 on our web-based api. Our client SPA web app and our console test app can no longer connect to the configured endpoint within the api. I can't seem to figure out what's changed in how to configure the hub endpoint. All mentions of deprecated methods I've confirmed we're not using.

### To Reproduce

The configuration we'

[2022-07-25 05:49] JialinXin commented on #1648
Hi @rachael-ross , thanks for reporting the issue!

There's no breaking change in server SDK on Net6.0. I did a test following your shared code snippet except for the `app.UseCors("corspolicy");` as I don't know your cors policy. It looks everything is working well. Would you share more context behind your scenario? Or a mini repo project that repro your issue is welcomed. It would help us easier

[2022-07-25 18:19] rachael-ross commented on #1648
Sure, I'll work on that. Thank you, @JialinXin

[2022-07-26 21:32] MoaidHathot opened #1649 "Big number of requests made to SignalR Service using Managed Identities"
### Describe the bug
We are observing a big number of authentication (token generation) requests made to SignalR Service with Managed Identities.
Our services are hosted with Kubernetes, and we are using the `mcr.microsoft.com/oss/azure/aad-pod-identity/nmi:v1.8.0` image for one of our containers to associate pod identities.

Lately we noticed a huge number of requests made by our aad-pod-identity

[2022-07-30 21:22] Mike-E-angelo commented on #1606
I am incorporating Azure SignalR Service into my Blazor Server-side application and encountered this issue that has taken a few hours to track down.

`ClaimsIdentity.IsAuthenticated` is `true` while the `ClaimsIdentity.Name` is `null`.

[2022-07-31 22:16] Mike-E-angelo opened #1650 "Failed to connect to '(Primary)https://<name>.service.signalr.net', will retry after the back off period."
### Describe the bug
After a full day of successful operation, two of my three environments started throwing the following exception in multitude with my SignalR instance:

[code]

### To Reproduce
Not sure if I could if I wanted to. It just started happening and would not stop.

Some notes:
- I was able to access `https://<name>.service.signalr.net` from my local environment without issue.
- Crea

[2022-07-31 22:35] Mike-E-angelo commented on #1650
So this worked for one of the broken environments, but when I deployed the new connection string to the other environment, they both started throwing errors.  Looks like a namespace issue of some sort.  So weird because it was working just fine all day.

Additionally, the two environments having the trouble are on the same AppService in different slots: Staging and Production.  The environment tha

[2022-08-02 03:33] vicancy commented on #1649
@terencefan to take a look

[2022-08-02 06:33] vicancy commented on #1650
1. Does restart the app server work?
2. Any VNET/NSG settings in your app server
3. Any hints from your app server portal => "Diagnose and solve problems" => "Availability and Performance"?

[2022-08-02 06:59] Mike-E-angelo commented on #1650
HI @vicancy thank you for your review into this matter.

I spent some time complaining about this on Twitter and subsequently getting more information:
https://twitter.com/Mike_E_angelo/status/1553849819340410890

The excessive connections are apparently due to the number of hubs I have, of which there appears to be 5 created per hub.  That's 50 per environment which far exceeds the Free tier for

[2022-08-02 07:14] vicancy commented on #1650
So when you have different environments connecting to one Azure SignalR, you can configure different [ApplicationName](https://github.com/Azure/azure-signalr/blob/dev/docs/run-asp-net-core.md#applicationname) for different environments for them to share the same Azure SignalR instance.

Back to the issue described here "Unable to connect to the remote server.", it should not be related to the diff

[2022-08-02 07:25] Mike-E-angelo commented on #1650
Yes, there is a lovely Azure AppService limitation that ensures this to be the case:
https://github.com/MicrosoftDocs/azure-docs/issues/32922

I will configure this to see if I can get this working and/or if it makes a difference for this issue.  Also please consider my experience here where I had everything simply "just work" with Blazor Server-side but now here after upgrading to Azure SignalR t

[2022-08-02 07:57] vicancy commented on #1650
I mean from Azure SignalR's perspective of view, your production client traffic might be routed to your staging hub server. You can consider Azure SignalR as a proxy that routes messages from the client to your multiple server instances.

This is a nice catch, @Jialin shall we consider applying the Environment variable as the ApplicationName for Blazor apps (but sounds a breaking change), or maybe

[2022-08-02 08:16] vicancy commented on #1650
For the network connectivity issue I would suggest follow the Web App TSG https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration#troubleshooting to narrow down the issue。

[2022-08-02 08:20] Mike-E-angelo commented on #1650
I appreciate your continued dialogue here @vicancy 🙏

This issue wouldn't be nearly as bad for me if there was something that returned with the search results.  This seems like an obvious issue that should return results, but the results were empty, so I had to create an issue and spend 3 days (now) exploring it.  We're at the point now with this that hopefully, it will help others running into th

[2022-08-02 09:23] terencefan commented on #1649
@MoaidHathot Could you share us your `resourceId` so we could check the server log to see what happened at that time?

[2022-08-02 09:29] Mike-E-angelo commented on #1151
Any update on this seemingly very simple issue?  Why have this setting if it doesn't really do anything?  In my case I am attempting to disable/enable per environment and it is proving to be incredibly frustrating as basic configuration does not even seem to work with this product. 😖

[2022-08-02 09:51] Mike-E-angelo commented on #1650
Hi @vicancy does the `Azure:SignalR:ApplicationName` setting work?  I am attempting to set it in configuration and it does not seem to apply.  Checking here before I open another issue.  Thank you for any continued assistance.

[2022-08-02 10:18] vicancy commented on #1650
looks like there is a bug when reading from config... try using `Azure:SignalR:ApplicationName:`

[2022-08-02 10:37] Mike-E-angelo commented on #1650
Small victories, @vicancy that worked.  Is the same for `Azure:SignalR:ConnectionCount`?  It's unclear to me ATM where connections are created/emitted to verify.

[2022-08-02 11:15] vicancy commented on #1650
I don't think ConnectionCount is settable directly from Configuration though.

[2022-08-02 11:45] Mike-E-angelo opened #1652 "Configuration Issues"
### Describe the bug
In regards to https://github.com/Azure/azure-signalr/issues/1650

There appear to be two issues:
- `Azure:SignalR:ApplicationName` needs to be `Azure:SignalR:ApplicationName:`
- `Azure:SignalR:ConnectionCount` is not supported

Ideally, _all_ properties are configurable via configuration.  This is almost essential for multi-environment deployments.

Thank you for any considera

[2022-08-02 11:49] Mike-E-angelo commented on #1650
Doh @vicancy guess we're 1/2 there.  I have opened #1652 to track.

Setting `ConnectionCount = 1` solved my testing/staging problems so I can use the Free tier there for those two environments.
 I have also added Application names to my testing/staging environments for good measure, while production stays `null`/default.

So, really this issue is no longer a concern for me, nor do I want to spend

[2022-08-02 14:32] vicancy commented on #1652
Nice catch, also we should consider replacing ConnectionCount with InitialConnectionCount + MaxConnectionCount. cc @vwxyzh

[2022-08-02 14:38] vicancy commented on #1650
Do you have different configuration for PROD and Staging VNET settings? I would very much appreciate it if you could share with me your VNET setting steps and let me try to see if I can repro. Or if you could provide me with your web app instance names (through email) so that I could involve our web app support engineers to help check the network issue?

[2022-08-03 07:14] Mike-E-angelo commented on #1650
Sure thing @vicancy anything for the cause. :)  Note that I am not an Azure engineer and really plowed through the settings as default as possible to get things working.  My only intention was to get "a private network in the cloud" so nothing fancy (unless by mistake which is totally possible).

I see your email in your GitHub profile and I will contact you there with the requested information.

[2022-08-04 08:28] wanlwanl commented on #1125
Cleaning issues. Sorry there's no conclusion to this issue, but this issue is  too old, and the repro project is 404 now.
Please update the SDK to the latest one, it uses [ack message](https://github.com/Azure/azure-signalr/blob/master/src/Microsoft.Azure.SignalR.Management/WebsocketsHubLifetimeManager.cs#L64) which will wait for the service confirm the message is handled.

If you still get this i

[2022-08-04 08:28] #1125 closed

[2022-08-04 20:12] MoaidHathot commented on #1649
Hi @terencefan, is it safe to post here the ArmResourceId of the services? We have two SignalR Service, one primary and one secondary.
I can send you the Ids privately as well via Teams.

[2022-08-08 08:31] Mike-E-angelo commented on #1650
FWIW I have encountered this issue again this morning @vicancy

Interesting to note that this time the error message includes the hub name:

[code]

This has been working without issue for several days now and then all of the sudden these exceptions.

Resetting my environment resolved the errors this time, however.  This did not happen last time and the errors continued.  So no big deal, but still

[2022-08-11 14:58] bacobart opened #1655 "Azure SignalR doesn't process messages in order under high load"
### Describe the bug
SignalR messages sent to the client are processed in order (when sent from the same source to the same clients). This behaviour is observed when hosting signalr yourself. However when Azure SignalR is used then some messages are received out of order when there is a high volume of messages. I couldn't find anything about this in the docs, but according to @davidfowl this shoul

[2022-08-11 15:12] davidfowl commented on #1655
@vicancy Do we send messages over different connections from the same source https://github.com/bacobart/azure-signalr-out-of-order-repro/blob/8d2ba0012f9815c6ff3f32e92f1a320dab04adaa/SignalrSpamServer/SpamService.cs#L42? The code above shouldn't result in out of order messages

[2022-08-11 16:12] #1560 closed

[2022-08-13 07:44] KKhurin commented on #1655
@bacobart, your observations are correct. Currently the message order is only preserved when messages are sent from within the hub call (or its execution context) originated either from a client message or a client connected event. When the hub context is created via DI, the Azure SignalR SDK does not currently have the code to ensure that the order is always correct. We are aware of this problem

[2022-08-19 08:22] SergeyOsipenko opened #1660 "Microsoft.Azure.SignalR.Common.AzureSignalRException: Ack-able message Microsoft.Azure.SignalR.Protocol.JoinGroupWithAckMessage gets error ack status 4"
### Describe the bug
When adding a user to several groups I get this error:

System.AggregateException: One or more errors occurred. (Ack-able message Microsoft.Azure.SignalR.Protocol.JoinGroupWithAckMessage gets error ack status 4.)
 ---> Microsoft.Azure.SignalR.Common.AzureSignalRException: Ack-able message Microsoft.Azure.SignalR.Protocol.JoinGroupWithAckMessage **gets error ack status 4**.

[2022-08-19 08:33] SergeyOsipenko commented on #1660
I also found a place where it comes from:

https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-signalr%2Fblob%2Fdev%2Fsrc%2FMicrosoft.Azure.SignalR.Common%2FServiceConnections%2FServiceConnectionContainerBase.cs&data=05%7C01%7Cs_asipenka%40goodyear.com%7Cb29c4403418245c75fa608da811b1a71%7C939e896692854a9a9f040887efe8aae0%7C0%7C0%7C637964250696628559%7CUnkno

[2022-08-21 11:34] jassent opened #1661 "Azure Signalr Service - reducing claims impacts Blazor AuthorizeView"
The issue of the JWT size being too large in Azure SignalR Service is documented under [#249](https://github.com/Azure/azure-signalr/issues/249):

The proposed solution in the issue is to reduce the number of claims. For example:
[code]

The problem with this approach is that it breaks Blazor AuthorizeView components:
[code]

As well as ClaimsPrincipal checks such as:
[code]

I have tried the foll

[2022-08-21 16:27] chrfin commented on #1503
Update, as I just hit the same error again trying to update some dependencies:

The following three packages are required to be kept below v6.\*:
\* Microsoft.AspNetCore.Connections.Abstractions
\* Microsoft.AspNetCore.Http.Connections.Common
\* Microsoft.AspNetCore.Http.Connections.Client

The newest v5.\* as to date is 5.0.17 and does still work.

[2022-08-22 21:36] gagwithgaffer opened #1662 "Azure SignalR Service Management SDK IsServiceHealthy returns true when the connection string is no longer valid"
### Describe the bug
Hello,

I'm using the Azure SignalR Service Management SDK and trying to setup a mechanism whereby if the connection string has been changed *after* the hub connection has been initialized, then I want to perform an IConfigurationRoot)!.Reload() in order to pull the updated connection string down from Azure KeyVault into .NET Core

I've tired imlementing a .NET Polly Policy, a

[2022-08-23 05:44] vicancy commented on #1661
Looks like you need to still preserve your custom claims needed by your AuthorizeView policies.

Is such claim `(groups:MemberOfGroupX)` expected by your AuthorizeView or some other claims are also needed? Looks like `options.ClaimsProvider = context => context.User.Claims.Where(x => x.Type != "groups");` preserves such `groups `claim.

[2022-08-23 06:00] vicancy commented on #1660
4 is InternalServerError, this looks like SDK bug not covering the status code, should fix.

For the InternalServerError, could you also email me(`lianwei(at)microsoft.com`) your resource name and the timestamp list when the error throws for me to take a further look?

[2022-08-23 09:51] jassent commented on #1661
Thank you for your response and assisting with this.

Did you mean _removes_ such `groups` claim? The Where clause keeps every claim that isn't (!=) a `groups`.

I have an IClaimsTransformation that loads the custom claims from the database.  Sorry, I should have added this before.

The custom claims are added by IClaimsTransformation during each page/component load and then removed by options.Cla

[2022-08-24 06:05] vicancy commented on #1661
Sorry my bad. I mean you still need to preserve the `groups` claims. Internally Azure SignalR receives the claims and reconstruct the HttpContext for your components when the connection is established.

[2022-08-24 07:00] Y-Sindo commented on #1662
For `SendMessageToAllClients` method, `UpdateConnectionString(..)` won't be executed if `await hubContext!.Clients.All.SendAsync(methodName, message)` inside `retryPolicy.executeAsync` successfully sends the message. **Unless you make the SignalR Service instance that the `hubContext` connects to not working (such as deleting the resource)**, the `UpdateConnectionString(..)` would never be execute

[2022-08-24 09:49] jassent commented on #1661
Ahh...Then this is my misunderstanding of how it works. Thank you for reviewing and explaining. I will re-think using claims to control access to components. I changed the title of this issue to avoid future confusion.

[2022-08-24 09:49] #1661 closed

[2022-08-24 17:17] gagwithgaffer commented on #1662
Hello, thank you for your reply.

Sideline observation,  through my testing I found that changing the connection string sometime after the hubContext was already intilaized, the messages still go through to Azure. I'm wandering whether that is somthing to do with using websockets i.e. until the websocket has closed then the current connection will keep firing messages through the pipe, depsite the

[2022-08-25 10:05] Y-Sindo commented on #1662
That shouldn't be the case. In the code you provided, the `UpdateConnectionString` is never called as long as the original SignalR service is healthy. Even if `UpdateConnectionString` is called, the `hubContext` you use is still the one passed as a method parameter, see
[code]

The code sample cannot prove that changing connection string is not working. It might be different with the actual code y

[2022-08-25 22:53] gagwithgaffer commented on #1662
Hi, I created another, more simpler Net Core 6.0 Console app for some more tests. To keep things simple I configured the connection string first, then started up the app. So without trying to modify the connection string whilst its running, I've discovered that I can set a random access key and no errors are thrown when the app runs.

{
  "Azure": {
    "SignalR": {
      "ConnectionString": "Endp

[2022-08-26 16:39] Y-Sindo commented on #1662
Ah I thought the invalid connection string was because of bad format or invalid endpoint. Invalid access key with correct format does not affect the `IsServiceHealthy` API, because this API only tests if the SignalR Service is healthy, rather than if the connection to the SignalR Service is healthy.
And there is another note that passing `IConfiguration` cannot detect the change of access key curr

[2022-08-26 16:56] gagwithgaffer commented on #1662
Hi, yes that would ultimately be my aim, to stop all the previous connections and re-establish new connections when I rotate the key. As you advised in a previous comment that there is no magic way for the service to restart and adopt the new key by itself, I'd have to figure out the most practical way in doing this.

At least I understand better now what we have on the table to play with. Thanks

[2022-08-26 16:57] #1662 closed

[2022-08-29 16:26] RotateAt60MPH opened #1664 "Cannot deploy serverless signalR and upstream function app from pipeline"
### Describe the bug
Using a devops pipeline to deploy a serverless signalR resource with an associated upstream function app.  SignalR extension key not created in the Function App so cannot extract from function app and feed it into upstream rule in SignalR.

### To Reproduce
Use the SignalR bidirectional serverless sample in the samples repo.  Create a Azure Devops AzureCLI pipeline task that e

[2022-09-05 03:02] #1660 closed

[2022-09-06 02:56] zackliu commented on #1664
`signalr_extension` is generated when functions that contain `SignalRTrigger` are successfully deployed to the Function app. So can you confirm whether it's successfully deployed? Sometimes the deployment fails so that the key is not generated.

[2022-09-06 08:23] jiaming0708 commented on #1495
I am also using the SignalR in Blazor WASM, add custom header on client, in my expection, there should have `jimmy` in the header, unfortunate there have any custom header, do you have any idea to resolve?

my code
![image](https://user-images.githubusercontent.com/8855285/188583365-53c15c7f-8f78-4f49-92a4-9b68fdd8f893.png)

network request
![image](https://user-images.githubusercontent.com/885528

[2022-09-06 16:30] BrennanConroy commented on #1495
You can't set headers on WebSocket requests in the browser. This is a limitation of the browser and not something SignalR can fix. See https://github.com/whatwg/websockets/issues/16 if you're passionate about browsers supporting this.

[2022-09-06 21:08] maf1024 commented on #711
This is the only google result for the error. I too think that it would be nice to know _something_ about the resolution.

[2022-09-06 21:21] bentmar commented on #711
there was no resolution from what i remember. I ended up handling negotiations and publishing messages on an app hosted in an app service plan.

[2022-09-07 06:37] jiaming0708 commented on #1495
Thanks for your information, I think I should set the data on sending.

[2022-09-08 07:00] Y-Sindo opened #1679 "`HubConnectionContext.UserIdentifier` is null if negotiation with Management SDK and set user ID."

[2022-09-12 12:24] RileyZHOU opened #1680 "Can one azure signalr service instance be used by multiple web app services with same hostname"
Hi, Genius,

I wanted to know is if Azure SignalR (Default mode) can work with two web servers in a HA mode with following conditions:

**Two web servers are running independent of one another with different IPs on Azure, but their hostname are the same. e.g web server A ( **xxx.abc.com**, IP 10.10.1.1) & web server B ( **xxx.abc.com**, IP,10.10.1.2 ) configured on the AD DNS. There is an Azure ap

[2022-09-15 00:33] fernandosv76 commented on #1136
Hello, do you know when will this feature included?

[2022-09-15 02:08] vicancy commented on #1136
We are actively working on adding `DisconnectTimeout` options support to serverless mode configuration, it would be hopefully ready in the next 1 or 2 releases. I will let you know when the changes are ready.

[2022-09-15 10:26] vicancy commented on #1680
Since it is the web server that initiates server connection requests to Azure SignalR, I don't think web server hostname matters to Azure SignalR. What matters to Azure SignalR is that if different web apps connect to Azure SignalR using the same Hub name, Azure SignalR considers these apps are different instances of the same application so it by default randomly picks one server connection to rou

[2022-09-16 05:22] RileyZHOU commented on #1680
Hi Vicancy,

Thanks for your response. Your assumption is correct, the different web app connect  to Azure signalR with the same hub name. Regarding the HA mode, we have two web server (two Azure VMs with SharePoint Server 2016 installed) as a front end, which being placed behind the Azure application gateway with cookie-affinity enabled.

I wonder if there is a technical limitation for two web se

[2022-09-16 05:55] vicancy commented on #1680
Are these two web server considered as two different hub applications that have different hub logics in each? If they are actually different hub logic, you can set different ApplicationName to isolate these two web servers: https://github.com/Azure/azure-signalr/blob/dev/docs/run-asp-net-core.md#applicationname

If they are the same hub but just different running instances but you have a special s

[2022-09-19 18:46] maf1024 commented on #377
I'm similarly occasionally seeing 404s, is possibly this a resurfacing issue?

[2022-09-19 23:21] maf1024 commented on #377
...And I just noticed that [this documentation](https://learn.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-6.0&tabs=visual-studio#automatically-reconnect) actually encourages a multiple-attempt try-catch loop around `connection.StartAsync`. Hopefully that alleviates my problems.

[2022-09-20 09:56] emulic commented on #1486
Hi, we are also experiencing the same issue. Any updates?

[2022-09-21 02:02] vicancy commented on #1486
For AzureSignalRUnauthorizedException, it should be fixed by the latest release. (1.8.3)
For ServiceConnectionNotActiveException, some unnecessary ServiceConnectionNotActiveException exceptions are ignored with the latest release, some of such exceptions are expected, please provide me the details of the exception (call stacks, when did it happen) so I can do a further check.